{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% set serviceName = "Check if your organisation needs to register for the deposit return scheme" %}

{% block pageTitle %}
Check if your organisation needs to register for the deposit return scheme | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Deposit return scheme</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register for the deposit return scheme</li>
    </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: "Your organisation needs to register for the deposit return scheme"
        }) }}

        <p>Based on your answers, your organisation needs to register as a:</p>

        <ul class="govuk-list govuk-list--bullet">

            {% if 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] and 'yes' in data['obProducerImporter'] %}
            <li><strong>producer</strong> because it fills drinks containers with its own branded drinks, imports filled drinks containers from outside of the UK and had a turnover above £85,000 in its last financial year</li>
            {% elif 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] %}
            <li><strong>producer</strong> because it fills drinks containers with its own branded drinks and had a turnover above £85,000 in its last financial year</li>
            {% elif 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerImporter'] %}
            <li><strong>producer</strong> because it imports filled drinks containers from outside of the UK and had a turnover above £85,000 in its last financial year</li>
            {% elif 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] and 'yes' in data['obProducerImporter'] %}
            <li><strong>small producer</strong> because it fills drinks containers with its own branded drinks, imports filled drinks containers from outside of the UK and had a turnover below £85,000 in its last financial year</li>
            {% elif 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] %}
            <li><strong>small producer</strong> because it fills drinks containers with its own branded drinks and had a turnover below £85,000 in its last financial year</li>
            {% elif 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerImporter'] %}
            <li><strong>small producer</strong> because it imports filled drinks containers from outside of the UK and had a turnover below £85,000 in its last financial year</li>
            {% else %}
            {% endif %}

            {% if 'yes' in data['obRetailer'] %}
            <li><strong>retailer</strong> because it sells drinks in containers in England, Wales or Northern Ireland</li>
            {% else %}
            {% endif %}

        </ul>





        {% if 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] %}
        {{ govukDetails({
            summaryText: "What are my obligations as a producer?",
            html: "
            <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
            "
          }) }}
        {% elif 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerImporter'] %}
        {{ govukDetails({
            summaryText: "What are my producer obligations?",
            html: "
            <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
            "
          }) }}
        {% elif 'yes' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] and 'yes' in data['obProducerImporter'] %}
        {{ govukDetails({
            summaryText: "What are my producer obligations?",
            html: "
            <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
            ",
            attributes: "<a href=sadasd>safadfa</a>"
          }) }}
        {% else %}
        {% endif %}





        
        {% if 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] %}
        {{ govukDetails({
            summaryText: "What are my small producer obligations?",
            html: "
            <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual small producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
            "
          }) }}
        {% elif 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerImporter'] %}
          {{ govukDetails({
              summaryText: "What are my small producer obligations?",
              html: "
              <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual small producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
              "
          }) }}
        {% elif 'no' in data['obProducerTurnover'] and 'yes' in data['obProducerBrand'] and 'yes' in data['obProducerImporter'] %}
            {{ govukDetails({
                summaryText: "What are my small producer obligations?",
                html: "
                <p>As a producer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to pay an annual small producer registration fee</li>
                <li>to add a deposit to in-scope drinks containers</li>
                <li>to pay the deposit to the scheme administrator</li>
                <li>to add details about the deposit return scheme to the drinks container labels</li>
            </ul>
            <p><a href=https://gov.uk target=_blank>Find out more about registration fees (opens in new tab)</a>.</p>
                "
            }) }}
        {% else %}
        {% endif %}



        {% if 'yes' in data['obRetailer'] %}
        {{ govukDetails({
            summaryText: "What are my obligations as a retailer?",
            html: "
            <p>As a retailer, you’ll have the following obligations:</p>
            <ul>
                <li>to submit data about how many and which types of drinks containers you placed on the market</li>
                <li>to accept any in-scope drinks container returns to your store and to refund the deposit amount to customers</li>
                <li>to add the container’s deposit amount to the drink’s purchase price at the point of sale</li>
                <li>to clearly show the price of the drink and the drink container’s deposit amount in any pricing information</li>
            </ul>
            "
          }) }}
        {% else %}
        {% endif %}


        {% if 'yes' in data['obRetailer'] and 'yes' in data['obProducerBrand'] and 'yes' in data['obProducerImporter'] %}
        <p>You can register your organisation as a producer and a retailer at the same time.</p>
        {% elif 'yes' in data['obRetailer'] and 'yes' in data['obProducerBrand'] %}
        <p>You can register your organisation as a producer and a retailer at the same time.</p>
        {% elif 'yes' in data['obRetailer'] and 'yes' in data['obProducerImporter'] %}
        <p>You can register your organisation as a producer and a retailer at the same time.</p>
        {% else %}
        {% endif %}

        {{ govukButton({
            text: "Register for the deposit return scheme"
        })}}

        <p><a href="../epr/service-start">Return to GOV.UK</a></p>

    </div>
</div>

{% endblock %}