{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "#",
    text: "Manage account" 
    },
    {
    href: "#",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}
  {% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="./lp-landing-page.html">Home</a>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Your full packaging obligation for 2025 is 18,000 tonnes
      </h1>

      <p>
        This amount is based on the data you submitted when you reported your packaging data. It has been approved by the scottish regulator. 
      </p>
      <p>We calculated these numbers by assessing the amount and type of packaging materials you use, ensuring compliance with environmental regulations.


    
      </p>
  
      <p class="govuk-body">See your 
        <a href="#" class="govuk-link">packaging data history.</a></p>
     
      <h2 class="govuk-heading-m">Breakdown of your full packaging obligation</h2> 
      <p>Select a material for more information on how the data was calculated.</p>

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">  Breakdown of your packaging obligation:</caption>-->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Material</th>
            <th scope="col" class="govuk-table__header">Tonnage</th>
            <th scope="col" class="govuk-table__header">Tonnage fulfilled</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="paper-calculation.html" class="govuk-link">Paper</a></th>
            <td class="govuk-table__cell">4,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfilled
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Glass</a></th>
            <td class="govuk-table__cell">2,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfiled
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Glass re-melt</a></th>
            <td class="govuk-table__cell">2,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfilled
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Plastic</a></th>
            <td class="govuk-table__cell">7,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfilled
            </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Steel</a></th>
            <td class="govuk-table__cell">3,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfilled
            </strong></td>
          </tr>
          
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total tonnage for 2025</th>
            <td class="govuk-table__cell">18,000</td>
            <td class="govuk-table__cell">0</td>
            <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
              Not fulfilled
            </strong></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body">
      <a href="#" class="govuk-link">I have a problem with my obligation</a></p>

      <br/>
      <br/>
      <a href="what-to-do-next.html" class="govuk-link">  <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
            </button></a>
           



</div>
</div>


          
    


 
  

{% endblock %}
