{% set serviceName = "" %}

{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: ""
    }

  ]
}) }}
</div>
<div class="govuk-grid-column-one-third">
<p class="govuk-breadcrumbs"><a href="view-account-details/organisation-details" style="float:right;">View account details</a></p>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<style media="screen">
  .card {
  background-color: #f3f2f1;
  padding: 30px 30px 10px 30px;

}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">GREEN LTD</span>
    <h1 class="govuk-heading-xl">Current accreditations</h1>
    <p class="govuk-body-l">Select an accreditation to manage your PRNs, record your waste and submit your returns. </p>
</div>
</div>


<h2 class="govuk-heading-l">Paper/board</h2>

<h3 class="govuk-heading-m">Reprocessing</h3>
<div class="govuk-grid-row govuk-card__flex-container">

<div class="govuk-grid-column-one-third govuk-card__flex-item">
    <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                  <a href="reprocessing/manage-prn" class="govuk-heading-s">  <h3>23 Ruby St, London SE15 1LR</h3></a>
                  <p class="govuk-body">Usable waste balance: <strong>12 tonnes</strong></p>



              </div>



            </div>

            <div class="govuk-grid-column-one-third govuk-card__flex-item">
                <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                              <a href="reprocessing/manage-prn" class="govuk-heading-s">  <h3>156 Hamilton Rd, Norwood, London SE37 9SE</h3></a>
                              <p class="govuk-body">Usable waste balance: <strong>18 tonnes</strong></p>



                          </div>



                        </div>










          </div>

              <h3 class="govuk-heading-m">Exporting</h3>
              <div class="govuk-grid-row govuk-card__flex-container">

              <div class="govuk-grid-column-one-third govuk-card__flex-item">
                  <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                                <a href="reprocessing/manage-prn" class="govuk-heading-s">  <h3>23 Ruby St, London SE15 1LR</h3></a>
                                <p class="govuk-body">Usable waste balance: <strong>12 tonnes</strong></p>




                            </div>


                          </div>





</div>



<br>


<p><a href="previous-accreditations">View previous accreditations</a></p>

</div>

{% endblock %}
