{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="task-list?file-uploaded=yes&section-two-complete=yes" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                        <span class="govuk-caption-xl">Upload producer data for 2023</span>
                        File uploaded                    
                    </h1>

                    <p class="govuk-body"> You have successfully uploaded your file.</p>

                    <p class="govuk-body">It contains complete data for 200 producers.</p>

                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">If you need to make any changes, you can update your file and re-upload it.</p>

                    <p class="govuk-body">When the file is ready, you can submit it to the regulator. After that you cannot make any more changes.
                    </p>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">The deadline to submit the file is 23 April 2023.</p>

                       </div>
                  
                </fieldset>
            </div>


            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                  Go to dashboard
                </button>
              
                <a class="govuk-link" href="upload-csv.html">Upload file again now</a>
              </div>

        </form>

    </div>
</div>

{% endblock %}
