{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
EPR for packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "EPR for packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "#",
    text: "Manage account" 
    },
    {
    href: "#",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}
  {% endblock %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="./cs-landing-page-2.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage your recycling obligations</a>
    </li>
    <!--
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
    </li>
    -->
  </ol>
</nav>
{% endblock %}



{% block content %}
<!--aug 24-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full  ">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Manage your recycling obligations
      </h1>

      <p> Compliance scheme: COMPLIANCE LTD (EA)</br>
      Regulator: Environment Agency (England)</p>
  
  
      <p>You have until <strong>31 January 2026</strong> to meet your recycling obligations for 2025.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Your organisation may face enforcement action if the deadline is not met.
        </strong>
      </div>

</div>

</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Obligations outstanding</caption>
 
  <caption class="govuk-table__caption"><p>Your tonnage obligations will display once your 2024 packaging data is submitted and accepted by regulators. Any 
    PRNs and PERNs acquired by material and tonnage will appear when issued. Accept these until your obligations are fully met.</p></caption>
  <thead class="govuk-table__head">

    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" width="26%">Material</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">PRNs and PERNs awaiting acceptance</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="30%">Tonnage of PRNs and PERNs awaiting acceptance</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Remaining calculated tonnage </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Aluminium</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Glass</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Glass re-melt</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
    </tr>
    <th scope="row" class="govuk-table__header">Paper, board or fibre-based composite material  </th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Plastic</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"> Awaiting calculation</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Steel</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Wood</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">Awaiting calculation</td>
  </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">What to do next</h2>

<p class="govuk-body">You can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>submit your packaging data for regulator acceptance if you have not yet done so</li>
  <li>accept PRNs and PERNs against your own predicted tonnage calculations</li>
  <li>acquire any further PRNs and PERNs you may need against those predictions</li>
</ul>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full  govuk-!-margin-bottom-5">

     <div class="govuk-grid-row govuk-!-margin-bottom-7">

      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
  
              <h2 class="govuk-heading-m ">Check your 2025 obligations calculations</h2>
              <p class="govuk-body">Review a breakdown of your recycling obligations by material, plus track your progress in 
                meeting them.</p>
              <p class="govuk-body"><a href="../view-obligation-v2/compliance-scheme/your-member-will-have-an-obligation.html" class="govuk-link">View your recycling obligations</a></p>

          </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
  
              <h2 class="govuk-heading-m">Review your PRNs and PERNs</h2><br>
              <p class="govuk-body"> View and accept any issued PRNs and PERNs previously agreed on to meet your 
                obligations.</p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance-alt" class="govuk-link">Accept or reject PRNs and PERNs
                </a></p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance" class="govuk-link">Search PRNs and PERNs</a></p>
                <p class="govuk-body"><a href="#" class="govuk-link">Download an Excel list of all PRNs and PERNs</a></p>
          </div>
      </div>
      </div>

  
</div>
</div>


          
    


 
  

{% endblock %}
