{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
EPR for packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "EPR for packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "#",
    text: "Manage account" 
    },
    {
    href: "#",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}
  {% endblock %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="./lp-landing-page.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage your recycling obligations</a>
    </li>
    <!--
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
    </li>
    -->
  </ol>
</nav>

{% endblock %}



{% block content %}
<!--aug 24-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 ">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Manage your recycling obligations
      </h1>

      <p> Producer: Best Foods Ltd</br>
     Regulator: Environment Agency (England)</p>
  
      <p>You have until <strong>31 January 2026</strong> to meet your recycling obligations for 2025.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Your organisation may face enforcement action if the deadline is not met.
        </strong>
      </div>

</div>

</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Obligations outstanding</caption>
 
  <caption class="govuk-table__caption"><p>A view of  your calculated tonnage obligations. Any 
    PRNS and PERNs to accept against them will appear 
    when they are issued.</p></caption>
  <thead class="govuk-table__head">

    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header ">Material</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">PRNs and PERNs</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tonnage</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Aluminium</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
        in progress
      </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Glass</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
        in progress
      </strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Glass re-melt</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">15,000</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
        in progress
      </strong></td>
    </tr>
    <th scope="row" class="govuk-table__header">Paper and board</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">20,000</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
      in progress
    </strong></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Plastic</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">25,000</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
      in progress
    </strong></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Steel</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">30,000</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--light-blue">
      in progress
    </strong></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Wood</th>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"> <strong class="govuk-tag govuk-tag--turquoise">
      no obligation
    </strong></td>
  </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">What to do next</h2>

<p class="govuk-body">Negotiate PRNs and PERNs against the tonnages that 
  have now been calculated. </p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full  govuk-!-margin-bottom-5">

     <div class="govuk-grid-row govuk-!-margin-bottom-7">

      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
  
              <h2 class="govuk-heading-m ">Check your 2025 obligations calculations</h2>
              <p class="govuk-body">Review a breakdown of your recycling obligations by material, plus track your progress in 
                meeting them.</p>
              <p class="govuk-body"><a href="#" class="govuk-link">View your recycling obligations</a></p>

          </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
  
              <h2 class="govuk-heading-m">Review your PRNs and PERNs</h2><br>
              <p class="govuk-body"> View and accept any issued PRNs and PERNs previously agreed on to meet your 
                obligations.</p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance-2-materials" class="govuk-link">Accept or reject PRNs and PERNs
                </a></p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance-alt" class="govuk-link">Search PRNs and PERNs</a></p>
                <p class="govuk-body"><a href="#" class="govuk-link">Download an Excel list of all PRNs and PERNs</a></p>
            
          </div>
      </div>
      </div>

  
</div>
</div>


          
    


 
  

{% endblock %}