{% extends "layout.html" %}

{% set serviceName = " Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    <form method="POST" action="add-compliance-scheme">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Stop using compliance scheme
            </h1>
          </legend>
          <p>If you’re no longer working with a compliance scheme, you should remove it from your account. <br><br>

            This means your compliance scheme will no longer act on your behalf.<br><br>
            
            You’ll need to register and upload data yourself</p>

          

          
         
        </fieldset> 
        
      </div>
      {{ govukButton({
        text: "Remove compliance scheme"
      })}}
    </form>
  </div>
</div>


{% endblock %}
