{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
<a href="using-a-compliance-scheme.html" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    <form method="POST" action="confirmcs">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which compliance scheme operator are you going to use?
            </h1> 
             
          </legend>
          <div id="with-hint-hint" class="govuk-hint">
            Do not include personal or financial information like your National Insurance number or credit card details.
          </div>
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biffpack1" name="compliance-scheme-operator" type="radio"  value="operatorname-biffpack1">
              <label class="govuk-label govuk-radios__label" for="biffpack1">
                Biffpack (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="biffpack2" name="compliance-scheme-operator" type="radio"  value="operatorname-biffpack2">
                <label class="govuk-label govuk-radios__label" for="biffpack2">
                  Biffpack (Scottish Environment Protection Agency)
                </label>
              </div>
            
           
           <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Co2">
              <label class="govuk-label govuk-radios__label" for="operatorname-Co2">
               Co2 Compliance (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Co22">
              <label class="govuk-label govuk-radios__label" for="operatorname-Co2">
               Co2 Compliance (Scottish Environment Protection Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-compliancelink">
              <label class="govuk-label govuk-radios__label" for="operatorname-compliancelink">
                Compliance Link  (Scottish Environment Protection Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Comply">
              <label class="govuk-label govuk-radios__label" for="operatorname-Comply">
                Comply Direct (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Comply2">
              <label class="govuk-label govuk-radios__label" for="operatorname-Comply">
                Comply Direct (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Clarity">
              <label class="govuk-label govuk-radios__label" for="operatorname-Clarity">
                Comply with Clarity
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Clarity2">
              <label class="govuk-label govuk-radios__label" for="operatorname-Clarity">
                Comply with Clarity (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Complypak">
              <label class="govuk-label govuk-radios__label" for="operatorname-Complypak">
                Complypak (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Complypak2">
              <label class="govuk-label govuk-radios__label" for="operatorname-Complypak">
                Complypak (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Ecosurety">
              <label class="govuk-label govuk-radios__label" for="operatorname-Ecosurety">
                Ecosurety (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Ecosurety2">
              <label class="govuk-label govuk-radios__label" for="operatorname-Ecosurety">
                Ecosurety (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-Ecosurety3">
                <label class="govuk-label govuk-radios__label" for="operatorname-Ecosurety">
                  Ecosurety Scotland
                </label>
              </div>
           
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-WAYSTREME">
              <label class="govuk-label govuk-radios__label" for="operatorname-WAYSTREME">
                Enpack            
               </label>
            </div>
        
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-EPRUK">
              <label class="govuk-label govuk-radios__label" for="operatorname-EPRUK">
                EPR UK Ltd
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-EPRUK2">
              <label class="govuk-label govuk-radios__label" for="operatorname-EPRUK">
                EPR UK Ltd (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-ethical">
              <label class="govuk-label govuk-radios__label" for="operatorname-ethical">
                Ethical Compliance
              </label>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-KITE">
              <label class="govuk-label govuk-radios__label" for="operatorname-KITE">
                Kite Environmental Solutions 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-KITE2">
              <label class="govuk-label govuk-radios__label" for="operatorname-KITE">
                Kite Environmental Solutions (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-NIPAK">
              <label class="govuk-label govuk-radios__label" for="operatorname-NIPAK">
                NIPAK Ltd (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-WASTECARE">
              <label class="govuk-label govuk-radios__label" for="operatorname-WASTECARE">
                Packcare          
               </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-PAPERPAK">
              <label class="govuk-label govuk-radios__label" for="operatorname-PAPERPAK">
                Paperpak (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-PAPERPAK2">
              <label class="govuk-label govuk-radios__label" for="operatorname-PAPERPAK">
                Paperpak (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-TGBN">
              <label class="govuk-label govuk-radios__label" for="operatorname-TGBN">
                Pennine-Pack  (Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-TGBN2">
              <label class="govuk-label govuk-radios__label" for="operatorname-TGBN">
                Pennine-Pack  (Northern Ireland Environment Agency)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RECYCLE-WALES">
              <label class="govuk-label govuk-radios__label" for="operatorname-RECYCLE-WALES">
                Recycle Wales Ltd             </label>
            
           </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RECYCLE-PAK">
              <label class="govuk-label govuk-radios__label" for="operatorname-RECYCLE-PAK">
                Recycle-Pak (Northern Ireland Environment Agency)
                 </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RECYCLE-PAK2">
              <label class="govuk-label govuk-radios__label" for="operatorname-RECYCLE-PAK">
                Recycle-Pak (Scottish Environment Protection Agency)
                 </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RECYCLING-LIVES">
              <label class="govuk-label govuk-radios__label" for="operatorname-RECYCLING-LIVES">
                Recycling Lives Compliance Services 
                 </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RESC">
              <label class="govuk-label govuk-radios__label" for="operatorname-RESC">
                REPIC            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-RESC2">
              <label class="govuk-label govuk-radios__label" for="operatorname-RESC">
                REPIC NI         </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-scotpak">
              <label class="govuk-label govuk-radios__label" for="operatorname-scotpak">
                Scotpak (Scottish Environment Protection Agency)       </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-SMART">
              <label class="govuk-label govuk-radios__label" for="operatorname-SMART">
                Smart Comply (Environment Agency)       </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-SMART2">
              <label class="govuk-label govuk-radios__label" for="operatorname-SMART">
                Smart Comply (Northern Ireland Environment Agency)       </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-sustain">
              <label class="govuk-label govuk-radios__label" for="operatorname-sustain">
                Sustain Drinks Packaging Partnership         </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-sws">
              <label class="govuk-label govuk-radios__label" for="operatorname-sws">
                SWS Compak         </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-SYNERGY">
              <label class="govuk-label govuk-radios__label" for="operatorname-SYNERGY">
                Synergy CompliancE (Environment Agency)        </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-SYNERGY2">
              <label class="govuk-label govuk-radios__label" for="operatorname-SYNERGY">
                Synergy CompliancE (Northern Ireland Environment Agency)        </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-VALPAK">
              <label class="govuk-label govuk-radios__label" for="operatorname-VALPAK">
                Valpak (Environment Agency)             </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-VALPAK2">
              <label class="govuk-label govuk-radios__label" for="operatorname-VALPAK">
                Valpak (Northern Ireland Environment Agency)             </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-VALPAK3">
              <label class="govuk-label govuk-radios__label" for="operatorname-VALPAK">
                Valpak Scotland Limited (Scottish Environment Protection Agency)             </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-PROPERPAK">
              <label class="govuk-label govuk-radios__label" for="operatorname-PROPERPAK">
                Veolia    (Environment Agency)          </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-PROPERPAK2">
              <label class="govuk-label govuk-radios__label" for="operatorname-PROPERPAK">
                Veolia    (Scottish Environment Protection Agency)          </label>
            </div>

            
            
           <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-WASTEPACK">
              <label class="govuk-label govuk-radios__label" for="operatorname-WASTEPACK">
                Wastepack   (Environment Agency)        </label>
            </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-WASTEPACK2">
            <label class="govuk-label govuk-radios__label" for="operatorname-WASTEPACK">
              Wastepack   (Scottish Environment Protection Agency)        </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="operatorname" name="compliance-scheme-operator" type="radio"  value="operatorname-WASTEPACK3">
            <label class="govuk-label govuk-radios__label" for="operatorname-WASTEPACK">
              Wastepack UK (Scottish Environment Protection Agency)        </label>
          </div>
            
          </div>
       
        </fieldset>

        
          
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          My compliance scheme isn't listed
          </span>
        </summary>
        <div class="govuk-details__text">
         If your compliance schmeme isn't listed, it may be because they aren't on the public register.
        
         <br><br>
         You must work with a compliance scheme that's on the public register. 
        </div>
      </details>
      {{ govukButton({
        text: "Continue"
      })}}
    </form>
  </div>
</div>


{% endblock %}
