{% extends "layout.html" %}

{% set serviceName = "Check if your organisation needs to register as an obligated packaging producer" %}

{% block pageTitle %}
Check if your organisation needs to register as an obligated packaging producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Extended producer responsibility</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register as an obligated packaging producer</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: "You do not need to report your packaging data for 2022"
        }) }}

        <p>Based on your answers, the extended producer responsibility regulations do not apply to your organisation. This means you do not need to do anything.</p>

        <p>You should check again next year.</p>

        <p><a href="../epr/service-start">Return to GOV.UK</a></p>

    </div>
</div>

{% endblock %}