{% set serviceName = "Collection & Packaging Reforms (CPR) prototypes" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukBackLink({
            text: "Back to all CPR prototypes",
            href: "/index"
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Dashboard v1</h1>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">Prototype scenarios</h2>

        <dl class="govuk-summary-list">
          
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    September 2023
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <p>User has completed an initial obligation checker and determined they are obligated as both a 'producer' and a 'seller'. They've created a Defra Account before being transferred to the EPR landing page so they can register for the 2023 obligation year.<br><br><a href="https://www.sketch.com/s/bd9109ad-9f6e-4feb-95ec-69d7948f6559/a/8ybznbR/play" target="_blank">Prototype link</a></p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                    October 2023
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <p>User receives confirmation that their registration has been approved by the regulator, they return to the portal to complete the 'preparation' phase and choose their method for submitting data.<br><br><a href="https://www.sketch.com/s/bd9109ad-9f6e-4feb-95ec-69d7948f6559/a/528D38y/play" target="_blank">Prototype link</a></p>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                    March 2024
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <p>Registration for the 2024 obligation year is now open, plus the user is now able to submit their data for the 2023 obligation year.<br><br><a href="https://www.sketch.com/s/bd9109ad-9f6e-4feb-95ec-69d7948f6559/a/WKbZeb8/play" target="_blank">Prototype link</a></p>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                    February 2025
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <p>At this point in time, there are active actions for the user to complete across three reporting years. Registration for the 2025 obligation year is now open, the user is able to submit their data for the 2024 obligation year, and the first of their quarterly payments for 2023 obligation is now due.<br><br><a href="https://www.sketch.com/s/bd9109ad-9f6e-4feb-95ec-69d7948f6559/a/nRGwjG0/play" target="_blank">Prototype link</a></p>
                </dd>
            </div>


            <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Implemented changes
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Updated all screens to incorporate latest designs from the working prototypes</li>
                      <li>All in-service email comms sent by Defra</li>
                      <li>Review and payment of obligated fees completed within the Gov branded service</li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-bottom-6">
                    Known limitations and issues
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>placeholder</li>
                    </ul>
                </dd>
            </div>-->

        </dl>



        <h2 class="govuk-heading-l govuk-!-margin-top-8">Research</h2>
            
        <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Session dates
            </dt>
            <dd class="govuk-summary-list__value">
                Awaiting testing
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Participants
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Hypotheses
              </dt>
              <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                  <a href="" target="_blank"></a>
              </dd>
          </div>
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Insights
              </dt>
              <dd class="govuk-summary-list__value">
                  <a href="#" target="_blank"></a>
              </dd>
          </div>

        </dl>

    </div>
</div>

{% endblock %}