{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                    Check status of organisation details files
                </h1>

                <p class="govuk-body">The environmental regulator has updated the status of your organisation
                    details files.</p>

                <h2 class="govuk-heading-m govuk-!-margin-top-4">Status of your files</h2>

                <p> Your files have been rejected because:</p>

                <div class="govuk-inset-text">
                    Your address does match details on Companies House.
                </div>


                <div class="govuk-summary-card govuk-!-margin-bottom-1">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Files you've already submitted
                        </h2>

                    </div>

                    <div class="govuk-summary-card__content">
                        <table class="govuk-table govuk-!-margin-bottom-0">
                            <caption class="govuk-visually-hidden">Detail regarding the latest valid file submitted
                            </caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">File name</th>
                                    <th scope="col" class="govuk-table__header">Date and time submitted</th>
                                    <th scope="col" class="govuk-table__header">Submitted by</th>

                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell border-bottom-0">orgdetails.csv</td>
                                    <td class="govuk-table__cell">10 September 2023, 3:00pm</td>
                                    <td class="govuk-table__cell">Jane Doe</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell border-bottom-0">branddetails.csv</td>
                                    <td class="govuk-table__cell">10 September 2023, 3:00pm</td>
                                    <td class="govuk-table__cell">Jane Doe</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell border-bottom-0">partnerdetails.csv</td>
                                    <td class="govuk-table__cell">10 September 2023, 3:00pm</td>
                                    <td class="govuk-table__cell">Jane Doe</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

            </fieldset>
        </div>
        <p class="govuk-body">
            <a href="./task-list-view-pay-fees-completed" class="govuk-link">Return to the registration steps</a>
        </p>
    </div>


</div>
</div>

{% endblock %}