{% extends "layout.html" %}

{% block pageTitle %}
  Pay your registration fees | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Pay the obligated fees
        </h1>

        <h2 class="govuk-heading-m">Acme Org Ltd’s obligated fees</h2>
        <p class="govuk-body-l">&pound;101,421.49</p>



        <h2 class="govuk-heading-m">Bank details for Bacs payments</h2>
        
        <p>You should pay the Scheme Administrator by Bacs. It usually takes 3 working days to process.</p>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Your payment reference"
              },
              value: {
                text: 'SA123456'
              }
            },
            {
              key: {
                text: "Account name"
              },
              value: {
                text: "EPR Scheme Admistrator"
              }
            },
            {
              key: {
                text: "Sort code"
              },
              value: {
                text: "60 70 80"
              }
            },
            {
              key: {
                text: "Account number"
              },
              value: {
                text: "10010010"
              }
            },
            {
              key: {
                text: "International bank account number (IBAN)"
              },
              value: {
                text: 'GB12 PRSA 345678 10014411'
              }
            }
            
          ]
        }) }}

        <p><a href="/public/files/payment-information.pdf" target="_blank">Download invoice</a> (PDF, 500MB)</p>

        <div class="govuk-!-margin-top-8">

          <form method="POST" action="route-payment">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Have your obligated fees been paid? 
                  </h1>
              </legend>

              <p>You should wait until your payment has processed before proceeding.</p>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="field2" name="paymentChoice" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="field2">
                      Yes, my obligated fees have been paid 
                    </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="field1" name="paymentChoice" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="field1">
                    No, I still need to pay my obligated fees
                  </label>
                </div>
              </div>
              </fieldset>
            </div>
          
            {{govukButton({
                text: "Continue"
            })}}

          </form>

        </div>
        
    </div>
</div>

{% endblock %}