{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h1 class="govuk-heading-l">Uploading file and validating data</h1>

      <p class="govuk-body">This may take a few minutes. We'll refresh the page automatically until it is done.</p>

      <p class="govuk-body">Do not close the page and do not refresh it yourself.</p>

      <p>
        <img src="/public/images/spinner.gif" width="50px" alt="spinning wheel to show the file is loading">
      </p>


    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/loading-file-hard-validation-la.js"></script>
{% endblock %}



