{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
    <h1 class="govuk-heading-m">
      <span class="govuk-caption-m"></span></h1>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Test 10 - rerun</h1>

     
        <h2 class="govuk-heading-l">Operating costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           

          <div class="govuk-summary-list__row">
           
            <dt class="govuk-summary-list__key">
              England
              </dt>
            <dd class="govuk-summary-list__value">
              £25000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Wales
              </dt>
            <dd class="govuk-summary-list__value">
              £14000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          

        
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Scotland
              </dt>
            <dd class="govuk-summary-list__value">
              £17000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Northern Ireland
              </dt>
            <dd class="govuk-summary-list__value">
                £9000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            
            
            <dt class="govuk-summary-list__key">
              Total
              </dt>
            <dd class="govuk-summary-list__value">
              £65000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          


        </dl>
        
        

        <h2 class="govuk-heading-l">Local Authority preparation charge</h2>
        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          

         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £25000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               Change<span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         

         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £14000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>


         

       
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £17000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
             <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £9000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           
          <dt class="govuk-summary-list__key">
            Total
            </dt>
          <dd class="govuk-summary-list__value">
            £65000,00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
         


       </dl>



        <h2 class="govuk-heading-l">Scheme set up costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          

       
          


         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £25000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               Change<span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         

         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £14000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>


       
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £17000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £9000.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           
          <dt class="govuk-summary-list__key">
            Total
            </dt>
          <dd class="govuk-summary-list__value">
            £65000,00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
       </dl>




<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Bad debt</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    

 
   
   <div class="govuk-summary-list__row">
     
     <dt class="govuk-summary-list__key">
       Estimate
       </dt>
     <dd class="govuk-summary-list__value">
         6%
     </dd>
     <dd class="govuk-summary-list__actions">
       <a class="govuk-link" href="#">
         Change<span class="govuk-visually-hidden"> address</span>
       </a>
     </dd>
   </div>
   
 </dl>


 

<h2 class="govuk-heading-l">Communication costs</h2>


<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       Change<span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


  


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 


 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
   <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
    <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
     <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>
 <div class="govuk-summary-list__row">
   
   
   <dt class="govuk-summary-list__key">
     Total
     </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 
</dl> 



<h2 class="govuk-heading-l">Ghost tonnage</h2>



<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       Change<span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


  


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 


 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    0
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
   <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
     <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>
 <div class="govuk-summary-list__row">
   
   
   <dt class="govuk-summary-list__key">
     Total
     </dt>
   <dd class="govuk-summary-list__value">
     £65000.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 
</dl> 






<form action="/form-handler" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">

  <a href="dash2-approve" class="govuk-button show-continue">
 Download CSV file 
</a>
&nbsp; &nbsp;






<a href="dash2-rejected"  class="govuk-button govuk-button--secondary">Rerun the calculator</a><br>



<div class="govuk-form-group">
  <label class="govuk-label" for="location">
    Set the classification
  </label>
  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
    <option value="choose" selected>Unclassified</option>
    <option value="eastmidlands">Play</option>
    <option value="eastofengland">Scrap</option>
    <option value="london">Designated run</option>
  </select>
</div>

&nbsp; &nbsp;




</form>

     

</fieldset>

       
      </div>
    </div>
  
</div>


{% endblock %}