{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="#">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <br>

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p>Try again later.</p>
     
      
    </div>
  </div>



{% endblock %}
