{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You have successfully updated
          </h1>
          <div class="govuk-panel__body">
            The local authority disposal costs</strong>
          </div>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">All calculations will automatically use the latest local authority disposal costs.
        </p>

        &nbsp; &nbsp;
<div class="govuk-button-group">
  <a href="la-settings" class="govuk-button" type="submit">View local authority disposal costs</a>
  <a class="govuk-link" href="/paycal/final-june/scenarios/scenario1/calculate-packaging-payments">Return to the dashboard</a>
</div>
        
        
      </div>
    </div>
  </main>
</div>


{% endblock %}