{% set serviceName = "Run the fees and payments calculator" %}

{% extends "layout.html" %}

{% set serviceName = "Run the fees and payments calculator" %}

{% extends "layout.html" %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    &nbsp;
  </div>

  <div class="govuk-body account-info govuk-grid-column-one-half">
    <div class="alignname" style="margin-right: 15px;">
      <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details"
        id="signout-link">Sign out</a>
    </div>
  </div>
</div>
<br>


<!--<h1 class="govuk-heading-xl">You have successfully deleted this file</h1>-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have deleted calculation run Calculation run 99
      </h1>
    </div>

    <br>



    <form action="/form-handler" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <div class="govuk-button-group">
        <a class="govuk-link" href="calculate-packaging-payments-deleted">Return to dashboard</a>

      </div>
    </form>




  </div>

  {% endblock %}