{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="/paycal/final-june/scenarios/scenario1/calculate-packaging-payments">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>
   
       
  
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
   <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
        <span class="govuk-caption-xl">Local authority disposal cost data has not been updated yet. </span><br>
        <hr>
      
        <!--<h3 class="govuk-heading-s govuk-!-margin-bottom-3">If you have access - you will see this data in Databricks.
          </h3>-->
        
        <p>You will need to download the most recent local authority disposal cost file and upload it here before you can run any calculations.</p>
        <br><br>

            <form action="/form-handler" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true">
              <div class="govuk-button-group">
              <a href="upload-file-la" class="govuk-button" type="submit">Upload local authority disposal costs</a>
              <a class="govuk-link" href="/paycal/final-june/scenarios/scenario1/calculate-packaging-payments">Return to the dashboard</a>
              </div>
            </form>

      </div>
    </div>
  
</div>

{% endblock %}