{% set serviceName = "Run the fees and payments calculator" %}

{% extends "layout.html" %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}
{% block content %}

<style>
  .govuk-radios__label {
    padding: 0px 15px 11px 10px;
  }
</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="/paycal/final-june/scenarios/scenario1/classify/initial-run/scenario1-dashboard-initial-run">Back</a>
  </div>

  <div class="govuk-body account-info govuk-grid-column-one-half">
    <div class="alignname" style="margin-right: 15px;">
      <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details"
        id="signout-link">Sign out</a>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    &nbsp; &nbsp; <br>
    <form method="POST" action="classification">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
              <span class="govuk-caption-l">Calculation run 99</span>
              <h1 class="govuk-heading-l">Calculation run details</h1>

              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--invisible">

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Financial year</th>
                    <td class="govuk-table__cell">2024-25</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Classification</th>
                    <td class="govuk-table__cell">Initial run</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Calculation ID</th>
                    <td class="govuk-table__cell">240008</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Run date and time</th>
                    <td class="govuk-table__cell">21 June 2024 at 12:09</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Run by</th>
                    <td class="govuk-table__cell">Steve Jones</td>
                  </tr>
                </tbody>
              </table>
              <h2 class="govuk-heading-m">Downloads</h2>

              <p class="govuk-body">Download files related to this calculation run.</p>
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Results file
                </button>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Draft billing file
                </button>
              </div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <h2 class="govuk-heading-m">Remove this run's classification</h2>
              <p class="govuk-body">Mark this run as a test or delete it to remove its classification.</p>

              <div class="govuk-button-group">
                <a href="remove-initial-run-classification" class="govuk-button govuk-button--secondary"
                  style="display: inline;">Remove classification</a>
              </div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <h2 class="govuk-heading-m">Amend billing instructions</h2>
              <p class="govuk-body">Review or change the billing instructions before sending the billing file.</p>

              <div class="govuk-button-group">
                <a href="/paycal/final-june/accept-selected-page/overview-2nd-phase" class="govuk-button govuk-button--secondary"
                  style="display: inline;">Amend billing instructions</a>
              </div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h2 class="govuk-heading-m">Next step</h2>

              <p class="govuk-body">Confirm that you want to send the billing file to the FSS.</p>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                  Once sent, you will not be able to amend the billing file.
                </strong>
              </div>

              <div class="govuk-button-group"><a href="send-billing-file" class="govuk-button show-continue"
                  style="display: inline;">
                  Continue
                </a>
                <a class="govuk-link" href="/paycal/final-june/scenarios/scenario1/classify/initial-run/scenario1-dashboard-initial-run">Return to dashboard</a>

              </div>


            </fieldset>

          </div>

          {% from "govuk/components/details/macro.njk" import govukDetails %}




    </form>
  </div>

  </form>
</div>
</div>
</div>
</div>
{% endblock %}