{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Editor - News and updates  </h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    

<div class="govuk-form-group">
  <label class="govuk-label" for="width-">
    <STRONG>Select item type</STRONG>
  </label>
  
</div>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-checkboxes govuk-checkboxes--medium">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
            News
            </label>
          </div>
          

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Important
            </label>
          </div>

         
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">  
  
          <h2 class="govuk-heading-m"></h2>
          
          
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> 
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      <p class="govuk-notification-banner__heading">Add new</p>
                      <label class="govuk-label" for="width-20">
                        Title
                      </label>

                        
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                  </div></h3>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Detail
                    </label>
                  
                    <textarea class="govuk-textarea" id="body" name="body" rows="5" data-module="moj-rich-text-editor"></textarea>
                  </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="width-20">
                        Link text
                      </label>
                      <input class="govuk-input govuk-input--width-40" id="width-20" name="width-20" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="width-20">
                        Link
                      </label>
                      <input class="govuk-input govuk-input--width-40" id="width-20" name="width-20" type="text">
                    </div>
                </p>
              </td>
            </tr>
                   
              
            </tbody>
          </table>
          <div class="govuk-button-group">
            
            <a href="news1" class="govuk-button show-continue" style="display: inline;">
              Upload
            </a>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Save
            </button>
            
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Clear</button>
  
          </div>
  
        </div>
      </div>
    </main>
  </div>
</div>


{% endblock %}