{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <h1 class="govuk-heading-xl">Get started</h1>


        <h2 class="govuk-heading-m"></h2>
       

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="get-started">Get started</a>
                </li>


                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="about">About</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="join">Community</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  aria-current="page" href="best-practice">Good practice</a>
                </li>
              
                
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="help">Help</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">Good practice </h2>
        
        
        <span class="govuk-caption-l">Make sure you work with consideration for others by following these guidelines.</span>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              
            </tr>
          </thead>
          </tr>
            
          
          
          
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Consider others when you make changes to tables and notebooks</h3>
                <p>Don't delete or edit other users' tables without their knowledge.<br>
                  Don't delete or edit other users'notebooks without telling them.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Report folders you don't recognise
                  </h3>
                <p>If you see a folder that you do not recognise - raise a service request.
                   </p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Use lowercase for table and database names</h3>
                <p>Don't use uppercase names for tables and databases - this will result in the query failing.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Use meaningful names</h3>
                <p>Prefix your tables and notebooks with an identifier so you can recognise them, for example, with your initials, or a project code.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Test your code before running</h3>
                <p>Test your code to ensure it works before you run it on Databricks. Use a testing framework such as 'pytest', 'unittest' or 'doctest' so the code can be easily re-tested later.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> When you create a table - allow the code to finish running</h3>
                <p>Always allow a code to finish running when a table is being created or altered and do not cancel it part way through. If the run is cancelled an error will occur and you will be prevented from creating a table with the same name.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Store code centrally for re-use</h3>
                <p>If you want to re-use code, add it to a central function or notebook of its own. Use dbutils.notebook.runor %run command to re-use the code in other analytical pipelines.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> Delete temporary tables after use</h3>
                <p>Delete temporary tables that were created as intermediate tables when executing a notebook. It will save storage, especially if the notebook is scheduled for daily execution.</p>  
              </td>
              
            </tr> 
                                                      
          </tbody>
        </table> 
        
        
          
          
          
        
        </div>
    </main>
  </div>
</div>

  



{% endblock %}