{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Families report </h1>
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="https://rsconnect/rsc/content/cd849bc7-c8de-49d2-890c-6ad24e3fefe8/" target="_blank"> 
                      Longitudinal study of young people in England (LSYPE2) explorer
                    </a></h3>
                    <p><strong>Description: </strong> Explore data relating to 13,101 participants over 10 years. You can select answers to survey questions and get results that allow questions to be selected and see basic results - like the percentage of respondents who said 'No'.<br>
                      <strong>Software:</strong> RShiny - password protected.<br>
                      <strong>Target audience:</strong> Internal DfE staff and analysts.</br>
                      <strong>Report owner:</strong> Joe Sharratt <a href="mailto:joe.sharratt@education.gov.uk" target="_blank">joe.sharratt@education.gov.uk</a><br>
                      <strong>Last updated:</strong>  18 August 2020</p>
                  </td>
                <td class="govuk-summary-list__actions">
                
                 
          
                </td>
              </tr>  
              
          
              
            </tbody>
          </table> 
  
        </div>
      </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}