{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}



  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">
          Jargon buster</h1>

        <h2 class="govuk-heading-m"></h2>

        <!--<p>This service provides one place for analysts to access the systems they need to analyse and model data.</p>
        <p>It's available to anyone who works for the Department of Education as long as you're connected to the DfE network.</p>-->

        <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              
              <th class="govuk-table__header" scope="col">Term</th>
              <th class="govuk-table__header" scope="col">Definition</th>
              
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">

              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG>ADA</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  Analytical Data Access. The internal DfE service that allows staff to find data and access analytical tools.</td>
                
              </tr>
              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG>ADF</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  Azure Data Factory. Azure Data Factory is a managed cloud service that's built for complex hybrid extract-transform-load (ETL), extract-load-transform (ELT), and data integration projects.</td>
                
              </tr>

              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG>ADLS</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  Azure Data Lake Storage is a cloud-based, enterprise data lake solution. It's engineered to store massive amounts of data in any format, and to facilitate big data analytical workloads. You use it to capture data of any type and ingestion speed in a single location for easy access and analysis using frameworks.</td>
                
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><STRONG>Analyst workbench</STRONG></td>
                <td class="govuk-table__cell" scope="row">The toolkit that allows analysts to perform analysis and modelling of data. This is the internal functional name for Databricks, a commercially licensed cloud-based platform.</p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
              
                  <td class="govuk-table__cell" scope="row"><STRONG>Apache spark</STRONG></a>
                      </td>
                  <td class="govuk-table__cell" scope="row">An open-source, distributed processing system used to power big data workloads and complex processing to enable fast execution of analytic queries against data of any size.</p>
                    
                </td>
                  
                </tr>

              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG>API</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  An Application Programming Interface (API) is a communication interface to allow two or more applications to communicate. Often used by organisations as a method for external users to retrieve or submit data and/or issue commands to servers.</td>
                
              </tr>

              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG> Azure cloud services</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  Azure cloud services is a suite of cloud based services that Microsoft offer. This covers a broad range of infrastructure including Data Storage, Computer resources and other higher level services built on these foundation services.</td>
                
              </tr>

              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG> Cluster</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  A set of computation resources and configurations where you run data engineering, data science and data analytics workloads. It is the engine that drives the notebook that allows you to perform your analysis. Before you start using notebooks, Databricks will prompt you to attach a cluster. A cluster must be running to view data in the data tab.</td>
                
              </tr>
              <tr class="govuk-table__row">
            
                <td class="govuk-table__cell" scope="row"> <STRONG>Data discovery platform</STRONG>
                  
                </td>
                <td class="govuk-table__cell" scope="row">
                  The name for the DfE service that allows you to search, discover and request access to data across departments. This includes "Data Marketplace" to view and request access to data and "Data Governance" for further information on the data held . The team that look after this product are called Data Governance or Metadata Team. It is built using Axon and Informatica licensed products.  You can access this from the "Find Data" tile on the ADA homepage.
              </td>
                
              </tr>
  
  
              
           
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Data sets</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                A collection of related sets of information. For example - a dataset about pupil attendance which includes pupil, school, and attendance information sets.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Databricks</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                A cloud based data engineering and analytics platform which DfE has licensed. A suite of tools to support data engineers and analysts to store data and tooling - to query and analyse large data sets.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Delta file</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
The format of the way data is stored in the cloud-based storage delta lake. A delta file compresses information and only makes changes to the parts of the file that have changed when you need to copy, download or upload it.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Delta lake</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
A storage layer that provides the foundation for storing data and table in the Databricks platform. Delta lake is open source software and it is the default storage format for all operations on Databricks.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Machine learning</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
                Machine learning is a field devoted to understanding and building methods that let machines "learn". Machine learning algorithms build a model based on sample data, known as training data, in order to make predictions or decisions without being explicitly programmed to do so. Databricks Machine Learning provides an integrated machine learning environment that helps you simplify and standardise your ML development processes.</td>
              
            </tr>


            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Metadata</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
A set of data that describes and information about other data. For example school metadata might include the school name, identifier number, address.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>MVP</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
                Minimum viable product. The first iteration of a product or service.  It will have enough features to allow a user to achieve their goal but may still have some limitations which will be delivered over time.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Notebook</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
                Databricks notebooks provide real-time coauthoring in multiple languages (R, SQL, Python), automatic versioning, and built-in data visualisations. A tool for developing code and presenting results.  </td>
              
            </tr>
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Parquet file</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
                Apache Parquet is a file format used by data engineers. It offers flexibility, scalability and is open-source.  In addition to data, it contains metadata including schema and structure. Each file stores the data and the standards used for accessing each record - making it easier to decouple services that write, store, and read parquet files. </td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Private beta</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
                The stage of delivery in a project or service where the service is available to a limited number of users - so that it can be thoroughly tested and improved until it is released to a wider audience. This is part of the gov.uk Service Standard.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Python</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
A programming or coding language which the analyst community use to develop their models for analysis. It is widely used in data analysis and data science for importing, analysing and visualisation of data.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>R</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                A programming or coding language and environment which the analyst community use to develop their models for analysis. It has features which are useful for statistical analysis and graphical representation.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>RShiny</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                A  package to build interactive web applications straight from R. You might use this to build dashboards where you want to show metrics in an interactive way.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>R Studio</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                A platform, or in technical terms an Integrated Development Environment (IDE), where users can write code using R to build and share work. It is available in two formats: RStudio Desktop is a regular desktop application while RStudio Server runs on a remote server and allows accessing RStudio using a web browser.</td>
              
            </tr>


            


            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Reports and dashboards</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                
A feature in the ADA service that provides a library of reports and dashboards that can be used by DfE staff to find and query data. In some cases - access will be restricted to authorised users only. The ambition is to grow this library over time. This area also provides navigation to the Explore Education Statistics public-facing portal.</td>
              
            </tr>
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Scalability</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                The ability to quickly increase or decrease the size or power of an IT solution or resource.</p>
                
            </td>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Scaling in / out</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                Normally done when scaling up can't provide enough resources for the workloads. With scaling out, resources or data is split into several databases - across servers, and each can be scaled up or down independently.</p>
                
            </td>
              
            </tr>
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Scaling up / down</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                Useful to handle spikes in workloads where the performance level can't satisfy the demands. Scaling up lets you add more resources to handle peak workloads. When the resources are not needed - scaling down lets you go back to the original state and save on cloud costs.</p>
                
            </td>
              
            </tr>
            


            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>SQL</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                Structure Query Language (SQL) is a programming or coding language for use in data and database manipulation.</td>
              
            </tr>
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><STRONG>Tech spike</STRONG></a>
                  </td>
              <td class="govuk-table__cell" scope="row">
                Development teams will carry out a technical (tech) spike within a set period of time (timeboxing) to explore, research possible solutions to delivery a feature or functionality needed.  This may involve some writing of code, but typically there is no commitment to delivering the functionality.</p>
              
            </tr>

  
          </tbody>
          </table> 
        
        <br>
        <a href="about" class="govuk-button show-continue" style="display: inline;">
          Back
        </a>
       
          

      

      </div>
    </div>
  </main>
</div>

</fieldset>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}