{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">  
        <h1 class="govuk-heading-xl">Calculate packaging payments</h1> 
  
          <h2 class="govuk-heading-m"></h2>
          
  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="answers" class="govuk-link govuk-link--no-visited-state">
                      Run name
                    </a></h3>
                    <p>Application reference: 1234588</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Approved
                  </strong>
          
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Run name 1</a></h3>
                    <p>Application reference: 1234588</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
           Waiting
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Run name 2</a></h3>
                    <p>Application reference: 1234588</p>
                   
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
            Assigned
          </strong>
          
                </td>

              </td>
            </tr>
           
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3"> <a class=“govuk-link--no-visited-state” href=“”>
                    Run name 3</a></h3>
                    <p>Application reference: 1234588</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
           Approved
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Run name 4</a></h3>
                    <p>Application reference: 1234588</p>
                  </td>
                
                  <td class="govuk-summary-list__actions">
                    <strong class="govuk-tag govuk-tag--green">
                    Registered
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Run name 5</a></h3>
                    <p>Application reference: 1234588</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--orange">
                    Rejected
          </strong>
          
                </td>
              </tr>
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“one”>
                    Run name 6</a></h3>
                    <p>Application reference: 1234588</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--yellow">
            Timed Out
          </strong>
          
                </td>
              </tr>
            </tbody>
          </table>
  
        
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}