{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-xl">Using R, Python and SQL in Databricks</span><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Export your data
      </h1>
    </legend>
  </fieldset>
</div>

    
  
<h2 class="govuk-heading-m">Export data</h2>
<p>Before you start - you will...</p> 
<p>If you haven't...</a></p> 
<br>


<h2 class="govuk-heading-m"> your data</h2>
<p>

<br>

<div class="govuk-button-group">
            
  <a href="get-started" class="govuk-button show-continue" style="display: inline;">
    Back to Getting started
  </a>
  
  
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}