{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-l">Using R, Python and SQL in Databricks</span><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        1. Prepare to create a notebook
      </h1>
    </legend>
  </fieldset>
</div>

    
  

<p>Log in to Databricks</a></p> 
 
<p><img src="/public/images/databricks-login.png" class="app-walkthrough-image"></p>
<br>

<h2 class="govuk-heading-m">The right environment</h2>
<ol class="govuk-list govuk-list--number">
  <li>Check you're in the right environment by selecting one from the dropdown on the top bar.</li>
  
  <p><img src="/public/images/environment.png" class="app-walkthrough-image"></p><br>
  
  
  
    <p>Table from Craig</p><br>

<h2 class="govuk-heading-m">Clusters</h2>

  <li>Check you've got access to a cluster. On the left menu click on <STRONG>Compute</STRONG>. </li>
  
  <p><img src="/public/images/menu-compute.png" class="app-walkthrough-image"></p>
  <p>You should see a list of the clusters available to you here. </p>
  <p><img src="/public/images/compute.png" class="app-walkthrough-image"></p>
  <p>If you think you should have access to a cluster that isn't listed - contact the ADA project team <a href="mailto:ADAPTTeam@education.gov.uk"target="_blank">ADAPTTeam@education.gov.uk</a></p>
  <p>Learn about <a class="govuk-link" href="clusters">how clusters work</a></p>
  <br>
  
  
    
    <p></p>
<h2 class="govuk-heading-m">Data</h2>

  <li>Check you can see your data. On the left menu click on <STRONG>Data</STRONG>.</li>
  
  <p><img src="/public/images/menu-data.png" class="app-walkthrough-image"></p>
  <p>This is where you can see the data you have access to.</p>
  <p><img src="/public/images/data-list.png" class="app-walkthrough-image"></p>
  <p>You will need to know the path to your data. <br>Look for the three part name - catalog, schema and table.</p> 
<p>Example: <STRONG>preprod_catalog_p02.ada_demo.csc_data</STRONG></p>
<p><img src="/public/images/data-path4.png" class="app-notebook-image"></p>
<p>If you think you should have access to data that isn't listed - contact the ADA project team <a href="mailto:ADAPTTeam@education.gov.uk"target="_blank">ADAPTTeam@education.gov.uk</a></p>
  
  <br>
  
  
   </ol> 
    <p></p>





<div class="govuk-button-group">
            
  <a href="notebooks-running-code" class="govuk-button show-continue" style="display: inline;">
    Next - create a notebook
  </a>
  
  <a href="notebooks-learning" class="govuk-button govuk-button--secondary" style="display: inline;">
    Back to Using R, Python and SQL
  </a>
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}