{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-l">Using SQL in Databricks SQL Editor</span><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Edit multiple queries and more
      </h1>
    </legend>
  </fieldset>
</div>

    
  

  <p>SQL editor uses tabs - so you can edit multiple queries at the same time.<br>
    To open a new tab, click +, then select <STRONG>Create new query</STRONG> or <STRONG>Open existing query</STRONG>. <br>
    <p><img src="/public/images/sql-create.png" class="app-walkthrough-image"></p>

    <p>Click <STRONG>Open existing query</STRONG> to see a list of saved queries.<br>
     Click<STRONG> All queries</STRONG>  or <STRONG>My queries</STRONG> to filter the list. <br>In the row containing the query - click the <STRONG>Open</STRONG> button.</p>
     <p><img src="/public/images/sql-files.png" class="app-walkthrough-image"></p>
  <h2 class="govuk-heading-m">Browse data objects in SQL editor</h2>
<p>You can browse data objects in Data Explorer.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>To see a data object you must be the data object owner or be granted privileges to the
      object.</li>
    <li>To refresh the schema, click <img src="/public/images/circle-icon.png" class="app-walkthrough-icon"> </li>
    <li>To show the columns in a table, click the table.</li>
  </ul>


<br><br>
<h2 class="govuk-heading-m">Terminate a query</h2>
<p>To terminate a query while it is executing, click <STRONG>Cancel</STRONG>.</p>
<br><br>

<h2 class="govuk-heading-m">Set query description and view query information</h2>
<p>To set a query description:</p>
<ol class="govuk-list govuk-list--number">
  <li>Click the kebab context menu <img src="/public/images/kebab.png" class="app-walkthrough-icon"> next to the query and click <STRONG>Edit query info</STRONG>.</li>
  <li> In the <STRONG>Description</STRONG> text box, enter a description and then click <STRONG>Save</STRONG>.
  </li>
</ol>


<br>
<p>To view query information:</p>
<p>To view when a query was created or updated, click the <img src="/public/images/kebab.png" class="app-walkthrough-icon"> next to the query and click <STRONG>Edit query info</STRONG>.</p>

<p><img src="/public/images/sql-edit.png" class="app-walkthrough-image"></p>
<br><br>
<h2 class="govuk-heading-m">Revert to a saved query</h2>
<p>When you edit a query, a <STRONG>Revert</STRONG> changes option appears in the context menu for the query.
  You can click <STRONG>Revert</STRONG> to go back to the saved version. Changes are saved to browser storage when you leave, but the browser may still display warnings about losing work.</p> <p><img src="/public/images/sql-revert.png" class="app-walkthrough-image"></p>
  <br><br>
<h2 class="govuk-heading-m">Move a query or restore from trash</h2>
  
  <p>To move a query to trash:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Click the kebab context menu <img src="/public/images/kebab.png" class="app-walkthrough-icon"> next to the query in SQL editor and select <STRONG>Move to trash</STRONG></li>
    <li>Click <STRONG>Move to trash</STRONG> to confirm</li>
  </ul>
    
  

  <p>To restore a query from trash:</p>
<ol class="govuk-list govuk-list--number">
  <li>In the All-Queries list, click <img src="/public/images/trash.png" class="app-walkthrough-icon"></li>
  <li> Click a query.</li>
  <li> Click the kebab context menu <img src="/public/images/kebab.png" class="app-walkthrough-icon"> at the top-right of the SQL editor and click <STRONG>Restore</STRONG>.</li>
</ol>
  
<br><br>

<h2 class="govuk-heading-m">Copy a query</h2>
<p>To create a copy of a query, click the kebab context menu <img src="/public/images/kebab.png" class="app-walkthrough-icon"> and click <STRONG>Clone</STRONG>:</p>


<br><br>

<h2 class="govuk-heading-m">Download a query result</h2>
<p>You can download a query result as a CSV, TSV, or Excel file. You can download up to approximately 1GB of results data from Databricks SQL in CSV and TSV format, and up to 100,000 rows to an Excel file.</p>
  <ol class="govuk-list govuk-list--number">
    <li>Click the kebab context menu <img src="/public/images/kebab.png" class="app-walkthrough-icon"> for a tab in the results pane.</li>
    
    <li> Select <STRONG>Download CSV | TSV | Excel </STRONG>.</li>
  </ol>
    
  <p><img src="/public/images/sql-csv.png" class="app-walkthrough-image"></p>
  
  

<br><br>
<div class="govuk-button-group">
            
  <a href="get-started" class="govuk-button show-continue" style="display: inline;">
    Finish
  </a>
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}