{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="uploading-csv" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                        <span class="govuk-caption-xl">Upload data for 2023</span>
                        Upload data file to your organisation’s account                   
                    </h1>

                    <p class="govuk-body">Before you can submit your 2023 data file to the regulator, you need to upload it to your organisation’s account.</p>

                    <p class="govuk-body">When you upload the file we’ll check your data is in the right format - this is called ‘validation’.</p>

                    <p class="govuk-body">If the data is OK, we’ll store the file on your organisation’s account. </p>

                    <p class="govuk-body">You can update the file and upload it again as often as you need to before submitting, but we cannot store more than one version of the file on the account. </p>

                    <p class="govuk-body">If there’s a problem with your file, we’ll reject the upload and tell you how to fix it. </p>


                    <h2 class="govuk-heading-m">Before you start</h2>

                    <div class="govuk-form-group">
                        <p> Read the guidance on  <a class="govuk-link" href="https://www.gov.uk/guidance/packaging-waste-prepare-for-extended-producer-responsibility">how to upload packaging data as a compliance scheme (opens in a new window)</a>.</p>
                        <p>The guidance contains a blank version of the data file you need to use - fill it in with your organisation’s data.</p>

        
                    <h2 class="govuk-heading-m">Upload file</h2>

                    <div class="govuk-form-group">
                            <p>The file may take a few minutes to upload. </p>
                            <p> Do not close the window while the file is uploading. </p>
                        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                      </div>


                </fieldset>
            </div>


            {{
 govukButton({
        text: "Upload file"
      })
            }}

        </form>

    </div>
</div>

{% endblock %}
