// Spinner page for CSV data upload

.spinner-text {
    text-align: center;
  }

.spinner {
    background-image: url("../images/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    margin-bottom: 2rem;
  }


// Recaptcha box on the 'check your answers' steps

.rc-anchor-light.rc-anchor-normal {
    border: 1px solid #d3d3d3;
}

.rc-anchor-light {
    background: #f9f9f9;
    color: #000;
}

.rc-anchor-normal {
    height: 74px;
    width: 300px;
}

.rc-anchor {
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
}

.rc-anchor-aria-status {
    display: none;
}

.rc-anchor-error-msg-container {
    color: #ff0000;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    line-height: 14px;
    margin: 2px;
    position: absolute;
    top: 0;
}

.rc-anchor-normal .rc-anchor-content {
    height: 74px;
    width: 206px;
}

.rc-anchor-content {
    display: inline-block;
}

.rc-inline-block {
    display: inline-block;
    height: 100%;
}

.rc-anchor-center-container {
    display: table;
    height: 100%;
}

.rc-anchor-error-message {
    color: #ff0000;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0px 10px;
}

.rc-anchor-center-item {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;

}

.rc-anchor-normal-footer {
    display: inline-block;
    height: 74px;
    vertical-align: top;
    width: 70px;
}

.rc-anchor-normal .rc-anchor-pt {
    margin: 2px 13px 0 0;
    padding-right: 2px;
    position: absolute;
    /* right: 0px; */
    text-align: right;
    width: 82px;
}

.rc-anchor-logo-portrait {
    margin: 10px 0 0 26px;
    width: 58px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rc-anchor-logo-img-portrait {
    background-size: 32px !important;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px;
}

.rc-anchor-logo-img {
    background: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
    background-repeat: no-repeat;
}

.rc-anchor-light .rc-anchor-logo-text {
    color: #555;
}

.rc-anchor-pt a {
    text-decoration: none;
}

.rc-anchor-light .rc-anchor-pt a:link, .rc-anchor-light .rc-anchor-pt a:visited {
    color: #555;
}


.rc-anchor-logo-text {
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
}

.rc-anchor-normal .rc-anchor-pt, .rc-anchor-invisible .rc-anchor-pt, .rc-anchor-compact .rc-anchor-pt {
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 8px;
    font-weight: 400;
}

.rc-anchor-pt {
    background-image: url(data:image/png;base64,iVBORw0KGgBpLSYkOkU9XLAVOfqFLrz4wBw0YFXJXInXNlFFeX2uk…Rlx8wBdaQiVmS+iAMBAd+sCUxtXrP+/wBWbZwO5Y9RCTSBbx5GQY+vjEABqvec5ov9KrsKaIHx);
}




.govuk-background-dark-grey{
    background-color: govuk-colour("dark-grey");
}

.govuk-background-light-grey{
    background-color: govuk-colour("light-grey");
}

.govuk-border-top-grey{
    border-top: govuk-colour("mid-grey") 2px solid;
}

.govuk-border-bottom-grey{
    border-bottom: govuk-colour("mid-grey") 2px solid;
}




.govuk-button-group {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

@media (min-width: 40.0625em) {
    .govuk-button-group {
        margin-bottom: 15px;
    }
}

.govuk-button-group .govuk-link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

@media print {
    .govuk-button-group .govuk-link {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-button-group .govuk-link {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1;
    }
}

@media print {
    .govuk-button-group .govuk-link {
        font-size: 14pt;
        line-height: 19px;
    }
}

.govuk-button-group .govuk-button {
    margin-bottom: 17px;
}

@media (min-width: 40.0625em) {
    .govuk-button-group {
        margin-right: -15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .govuk-button-group .govuk-button,
    .govuk-button-group .govuk-link {
        margin-right: 15px;
    }
    .govuk-button-group .govuk-link {
        text-align: left;
    }
}

.govuk-table__row.no-border .govuk-table__cell {
    border-bottom: 1px solid #fff;
}


.govuk-width-container-email{
    max-width: 600px;
}


.custom-remove-bold .govuk-summary-list__key {
    font-weight: 500;
}

// Action list

ol.action-list {
    counter-reset: gov-speak-numbered-action;
    padding-left: 40px;
  }

ol.action-list li.action {
    counter-increment: gov-speak-numbered-action;
    position: relative;
    margin-bottom: 30px;
}
  
ol.action-list li::before {
    content: counter(gov-speak-numbered-action);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    --size: 26px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #0c0101;
    border-radius: 100%;
    text-align: center;
}

ul.contents li:before
{
    content: '—';
    width: 20px; 
    padding-right: 10px;   /* any design */
}

ul.contents li {
    padding-bottom: 0px;
    margin-bottom: 3px;
}

.check-your-answers-question{
    width: 30%;
}