{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "../landing-page/v2/cs-submit-behalf-lp-england",
        text: "Home",
        active: true
      },
      {
        href: "#",
        text: "Manage account"
            },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="../landing-page/v2/cs-submit-behalf-lp-england.html">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">All scheme members (250)</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="search-filter">
        Search by organisation name or number 
      </label>
      
      <div id="search-filter-hint" class="govuk-hint">For example, Acme Ltd or 123 456</div>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>


  </div>
</div>


<!-- LIST -->
<div class="govuk-grid-row govuk-!-margin-top-2">

  <!-- LIST ITEM -->
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">ABC Cleaning Services Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Number: 579 502</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div>

  <!-- LIST ITEM -->
  <div class="govuk-grid-column-two-thirds" >

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Boots UK Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Number: 123 293</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-two-thirds">
    
    {{ govukPagination({
      previous: {
        href: "#"
      },
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#"
        },
        {
          number: 2,
          current: true,
          href: "#"
        },
        {
          number: 3,
          href: "#"
        }
      ]
    }) }}

  </div>
</div>




<!-- <div class="govuk-summary-list__card govuk-!-margin-bottom-6">

      <div class="govuk-summary-list__card-title-wrapper">
          <h2 class="govuk-summary-list__card-title govuk-heading-s govuk-!-margin-bottom-0">Your organisation</h2>
      </div>

      <div class="govuk-summary-list__card-content">  
          <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type of organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['form-organisation-type'] }}
                </dd>
                  <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../general/type-of-organisation.html">
                      Change<span class="govuk-visually-hidden"> type of organisation</span>
                  </a>
                  </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Companies House number
                </dt>
                <dd class="govuk-summary-list__value">
                    000134567
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="./about-your-organisation/companies-house-number.html">
                      Change<span class="govuk-visually-hidden"> Companies House number</span>
                    </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row final">
                  <dt class="govuk-summary-list__key">
                      Contact details
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p class="govuk-body">{{ data['organisation-telephone-number'] }}</p>
                      <p class="govuk-body">{{ data['organisation-email'] }}</p>
                      
                  </dd>
                      <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="./about-your-organisation/company-contact-details.html">
                          Change<span class="govuk-visually-hidden"> contact details</span>
                      </a>
                      </dd>
              </div>

          </dl>
      </div>

    </div> -->

{% endblock %}
