{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "../landing-page/v2/cs-submit-behalf-lp-england",
        text: "Home",
        active: true
      },
      {
        href: "#",
        text: "Manage account"
            },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="../landing-page/v2/cs-submit-behalf-lp-england.html">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Lead tenant</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Age
            </dt>
            <dd class="govuk-summary-list__value">
              38
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> age</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              UK national resident in UK
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working situation
            </dt>
            <dd class="govuk-summary-list__value">
              Part time – less than 30 hours a week
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> working situation</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    

    

  </div>
</div>


{% endblock %}
