{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account" 
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="home.html">Home</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Report packaging data
      </h1>
  
        <h2 class="govuk-heading-m">
            Before you start
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-4">Read the guidance on:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li><a rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/guidance/how-to-collect-your-packaging-data-for-extended-producer-responsibility">what packaging data you need to collect (opens in a new window)</a></li>
            <li><a rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/packaging-data-how-to-create-your-file-for-extended-producer-responsibility/packaging-data-file-specification-for-extended-producer-responsibility">how to build a CSV file to report packaging data (opens in a new window) </a></li>
        </ul>

        <h2 class="govuk-heading-m">
            If you’ve missed a deadline to submit
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-4">If you’ve missed a deadline, you may still be able to report without facing enforcement action. <a rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/packaging-data-how-to-create-your-file-for-extended-producer-responsibility/packaging-data-file-specification-for-extended-producer-responsibility">Check the GOV.UK guidance (opens in a new window) </a> </p>

</div>

</div>

<!-- year report-->





<div>
    <h2 class="govuk-heading-m ">2025</h2>
     <div class="govuk-grid-row govuk-!-margin-bottom-7">
            
        <div class="govuk-grid-column-one-half">
            
            <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">

                <h2 class="govuk-heading-m ">Report packaging data for January to June 2025 (large producers) </h2>
                <!--<h3 class="govuk-heading-m" style="visibility: hidden;">org type</h3> -->
                <br>
                <p class="govuk-body">Deadline: 11:59pm on 25 October 2025</p>
                
                 <strong class="govuk-tag govuk-tag--light-blue govuk-!-margin-bottom-9">
                    NOT STARTED
                </strong>

                <p class="govuk-body"><a href="../resubmission-packaging-data/rejected/check-submission.html">Submit packaging data </a></p>

            </div>
    </div>


            
            <div class="govuk-grid-column-one-half">
                
                    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
    
                        <h2 class="govuk-heading-m ">Report packaging data for July to December 2025 (large producers) or January to December 2025 (small producers) </h2>
                        <!--<h3 class="govuk-heading-m" style="visibility: hidden;">org type</h3> -->
                        <br>
                       <p class="govuk-body">Deadline: 11:59pm on 26 April 2026</p> 
                        
                         <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-9">
                            CANNOT START YET
                        </strong>
    
                        <!--<p class="govuk-body"><a href="../resubmission-packaging-data/rejected/check-submission.html" style="visibility: hidden;">Call to action </a></p> -->
    
                    </div>
            </div>
    
         
    
</div>
<!--END year report-->




<!-- year report-->
<div>
    <h2 class="govuk-heading-m ">2024</h2>
     <div class="govuk-grid-row govuk-!-margin-bottom-7">
            
        <div class="govuk-grid-column-one-half">
            
                <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">

                    <h2 class="govuk-heading-m ">Report packaging data for January to June 2024 (large producers) </h2>
                    <h3 class="govuk-heading-m" style="visibility: hidden;">Large organisations</h3>
                    
                    
                     <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-9">
                        Accepted
                    </strong>

                    <p class="govuk-body"><a href="../resubmission-packaging-data/rejected/check-submission.html">Check if you need to update packaging data </a></p>

                    </div>
        </div>

        <div class="govuk-grid-column-one-half">
            <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">

                <h2 class="govuk-heading-m">Report packaging data for July to December 2024 (large producers) or January to December 2024 (small producers) </h2>
                
                <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-9">
                    rejected
                </strong>
                
                
                <p class="govuk-body"><a href="packaging-data-submission/registration-data/upload-csv.html">Resubmit packaging data </a></p>
            </div>
        </div>
       
     </div>
</div>
<!--END year report-->
    


  

{% endblock %}
