{% extends "layout.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Home",
        active: true
      },
      {
        href: "../../delegate-someone/account-management?added=no",
        text: "Manage account" 
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Account home - Compliance Co
    </h1>
  </div>
</div>

    
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list"> 
      <li class="govuk-tabs__list-item"> 
        <a class="govuk-tabs__tab" href="cs-submit-behalf-lp-golive-england.html">Compliance Co England</a> 
      </li> 
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected govuk-tabs__list-item--selected-blue"> 
        <a class="govuk-tabs__tab" href="cs-submit-behalf-lp-golive-scotland.html?account-created-notification=false">Compliance Co Scotland</a> 
      </li>
      <li class="govuk-tabs__list-item"> 
        <a class="govuk-tabs__tab" href="cs-submit-behalf-lp-golive-wales.html?account-created-notification=false">Compliance Co Wales</a> 
      </li> 
    </ul>
</div>

 

        <p class="govuk-body ">Welcome to the Compliance Co account to report packaging data.</p>
        

        <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-5">When you can start reporting</h3>

        <p class="govuk-body">You’ll be able to upload data to this account in August 2023. </p>

        <p class="govuk-body">Compliance Co will be able to submit the data to the environmental regulator in September 2023. Only people with the right account permission can do this. </p>

        <p class="govuk-body">The deadline to submit data is 1 October 2023. </p>
      <!-- <p> Acme Org is using the compliance scheme Compliance Co Scotland to report packaging data.</p> -->

      <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-5">What you need to report</h3>

      <p class="govuk-body">View the guidance on: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> <a class="govuk-link" href="#">packaging data: how to create your file for extended producer responsibility (opens in a new window)</a></li>
          <li><a class="govuk-link" href="#">how to report organisation details (opens in a new window) </a></li>
        </ul>


  </div>
</div>


{% endblock %}
