{% set serviceName = "Report packaging data" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>



    <h1 class="govuk-heading-xl">Account home - Acme Limited</h1>
    <div class="govuk-inset-text">
      <p><STRONG>Organisation ID: 123 456</STRONG><br>Your account is set up so you can report your own data.<br>
        <a href="default-settings" class="govuk-link--no-visited-state">Add a compliance scheme company to your account</a>
      </p>
    </div>

        

  <div class="govuk-grid-row govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Organisation details</a></h2>
            <p class="govuk-body">Enter the default values for payment calculations. All calculations will automatically use these values, unless they are manually changed.</p> 
          </div>
        </div>
      
        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Packaging data</a></h2>
            <p class="govuk-body">The calculation will use the parameter settings that your account administrator set up, unless you choose to change them.
              </p>
          </div>
        </div>
  
        
      
      <div class="govuk-grid-column-one-half">
        <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
          <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Waste management fee</a></h2>
          <p class="govuk-body">No action needed.</p>
            
        </div>
      </div>
    
      <div class="govuk-grid-column-one-half">
        <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
          <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Packaging waste recycling notes PRNs and PERNs</a></h2>
          <p class="govuk-body">No action needed.
            </p>
            
        </div>
      </div>

    
      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Subsidiaries</a></h2>
            <p class="govuk-body">Add any subsidiary companies to your sccount.</p>
              
          </div>
      </div>
   </div>
</div>
    
  



{% endblock %}