{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
EPR for packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "EPR for packaging data",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Home",
active: true
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "My profile"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}
<nav class="defra-language-select" aria-label="Language switcher">

  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  </nav>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-7">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Account home - GOOD FOODS LIMITED
      </h1>
    </div>
  </div>

  <div class="govuk-inset-text">
    <p class="govuk-body govuk-!-margin-bottom-1"> <strong> Organisation ID: 123 456</strong></p>
    <p class="govuk-body govuk-!-margin-bottom-1"> Your account is set up so you can submit your own data.</p>
    <p class="govuk-body govuk-!-margin-bottom-1"> <a href="#">Add a compliance scheme to your account.</a></p>
  </div>



  <div class="govuk-grid-row govuk-!-margin-bottom-7">

    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8; height: 295px;">
        <h2 class="govuk-heading-m govuk-link-"> <a href="#" class="govuk-link--no-visited-state">Registration for
            2025</a>
        </h2>
        <p class="govuk-body">Your registration for 2025 has been granted by the regulator. Your producer registration
          number is <strong> R25EP1234567345</strong>.</p>
        <p class="govuk-body"><strong>Changes to your organisation’s data must be reported within 28 days. </p>
        <p class="govuk-body"><a href="#" class="govuk-link">Resubmit
            your data files</a></p>

      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8; height: 295px;">
        <h2 class="govuk-heading-m govuk-link-"><a href="sub-landing" class="govuk-link--no-visited-state">Organisation
            details</a></h2>
        <p class="govuk-body">Previously reported organisation details.<br>
       You can also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>resubmit your organisation details for 2024 and earlier</li>
          <li>view your submission history</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-7">

    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Packaging data</a></h2>
        <p class="govuk-body">You must report packaging data for January to June 2025 and July to December 2025.<br>
          You can also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>resubmit your packaging data</li>
          <li>view your history</li>
        </ul>
      </div>
    </div>

 
    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Manage your 2025 recycling
            obligations</a></h2>
        <!--content updates fixed-->
        <p class="govuk-body">Review your recycling
          obligations calculations and accept PRNs
          or PERNs to meet them.<br> You can also:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view recycling obligations by material</li>
          <li>check your recycling obligations progress</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-7">


  
      <div class="govuk-grid-column-one-half">
        <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
          <h2 class="govuk-heading-m govuk-link-"> <a href="#" class="govuk-link--no-visited-state">View and pay waste disposal fees for packaging (opens in a new tab)</a></h2>
          <p class="govuk-body">Go to PackUK (the scheme administrator for the Extended Producer Responsibility for packaging programme) to: </p>
        
          <ul class="govuk-list govuk-list--bullet">
          <li>pay the fees your organisation needs to pay</li>
          <li>view previous payments</li>
        </ul>
          <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/packuk" class="govuk-link" target="_blank">Learn more about PackUK (opens in a new tab)</a>.</p>
        </div>
      </div>
    


    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
        <h2 class="govuk-heading-m govuk-link-"> <a href="subsidiaries-no-myc-7.html"
            class="govuk-link--no-visited-state">Subsidiaries</a></h2>
        <p class="govuk-body">Add and manage your subsidiary companies.</p>
      </div>
    </div>
  </div>



  {% endblock %}