{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "manage-account.html",
    text: "Manage account" 
    },
    {
    href: "my-profile.html",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You removed Good Sauces Coventry subsidiary.
        </p>
    </h3>

  </div>
</div>
        
        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">Explain to the user what they need to do next.
        </p>
  
        

        &nbsp; &nbsp;
<div class="govuk-button-group">
  <a href="subs-list-rem-i-myc" class="govuk-button" type="submit">View subsidiaries</a>
  <a class="govuk-link" href="dash"></a>

 
  <a class="govuk-link" href="landing-page-2-myc">Return to account home</a>
</div>
        
        
      </div>
    </div>
  </main>
</div>


{% endblock %}