{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    
  </p>
</div>

{% endblock %}

{% block content %}
  

      <div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage learner record applications</h1>
        <!--<span class="govuk-caption-xl">Academic year 1 August 2020 to 31 July 2021</span>-->
      
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>See a list of offenders who are due to be released</li>
          <li>Create a licence with conditions for their release date</li>
          <li>Add or amend conditions to the licence.</li>
          
        </ul>

  <!--<p class="govuk-body">The time it takes to submit will depend on how many staff you employ.</p>-->

        <a href="dash2" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h2 class="govuk-heading-m">What you'll need</h2>


        <p class="govuk-body">Your recruitment activity for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>senior and management vacancies</li>
          <li>teaching vacancies</li>
          <li>apprentices</li>
          </ul>
          <br>
          
         
          
        
          
         
          
      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  Why do I need to complete the FE workforce data collection?
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  Who will benefit from the FE workforce data collection?
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>


{% endblock %}