{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Strategy reports </h1>

      

  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="https://rsconnect/rsc/Text-Analysis" target="_blank"> 
                      Text Analysis Tool
                    </a></h3>
                    <p><strong>Description </strong> - Allows you to produce term frequency plots, word clouds<br> and topic modelling analysis.<br>
                      <strong>Software:</strong> RShiny<br>
                      <strong>Team:</strong>  Automation</br>
                      <strong>Report owner:</strong> Rob Miller <a href="mailto:robert.miller@education.gov.uk">robert.miller@education.gov.uk</a><br>
                      <strong>Last updated:</strong>  18 August 2020</p>
                  </td>
                <td class="govuk-summary-list__actions">
                
                  
          
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“https://app.powerbi.com/links/Nm6pR5apum?ctid=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9&pbi_source=linkShare” target="_blank">
                    DfE Performance Interactive Dashboard (PID)</a></h3>
                    <p><strong>Description </strong> -  Allows you to understand if DfE are on track to deliver<br> objectives and projects.<br>
                      <strong>Software:</strong> Power BI<br>
                      <strong>Target audience:</strong> SoS, PermSec, Performance and Risk Committee<br>
                      <strong>Data source:</strong> Internal DfE data recorded in Power App - Performance<br> Reporting Tool.<br>
                      <strong>Report owner:</strong> Amy Hall <a href="mailto:amy.hall@education.gov.uk">amy.hall@education.gov.uk</a><br>
                      <strong>Last updated:</strong>  18 August 2020</p>
                </td>
                <td class="govuk-summary-list__actions">
                  
          
                </td>
              </tr>
              
           
              
              
              
          
              
            </tbody>
          </table>
  
        
          
  
        </div>
      </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}