{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}

<style>
  .card {
    min-height: 180px;
  }
</style>


<nav class="defra-language-select" aria-label="Language switcher">
  {{ govukBackLink ({
  text: "Home",
  href: "javascript:history.back()"
  }) }}
  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
  <hr class="govuk-section-break govuk-!-margin-top-7 govuk-section-break--visible">
</nav>


{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Report your organisation details
    </h1>
    <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p class="govuk-body">Read the guidance on <a rel="noreferrer noopener" target="_blank" href="#">how to report organisation details (opens in a new tab)</a></p>

    <h2 class="govuk-heading-m">
      If you’ve missed a deadline to submit
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-4">If you’ve missed a deadline, you may still be able to report
      without facing enforcement. <a rel="noreferrer noopener" target="_blank" href="#">Check GOV.UK guidance (opens in
        a new tab)</a>
    </p>

    <h3 class="govuk-heading-s">Making changes after 1 April 2025</h3>
    
    <p class="govuk-body">If you need to make changes registered on or after 1 April 2025, <a href="#">update and resubmit your
        registration file</a>. You must report any changes to us within 28 days.
    </p>
    <p class="govuk-body">
      Adding or removing members might affect your organisation's packaging obligations – make sure you have read the <a href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-who-is-affected-and-what-to-do#period-you-must-report-on" target="_blank">guidelines for extended producer responsibility for packaging (opens in a new tab)</a>.
  
    </p>

    <h2 class="govuk-heading-m">
      2024
    </h2>
  </div>



  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m ">Report organisation details for January to June 2024</h2>
     
      <p class="govuk-body">Deadline: 11:59pm on 1 October 2024</p>
      <strong class="govuk-tag govuk-tag">
        not started
      </strong>
      <br />
      <br />
      <br />
  
      <p class="govuk-body"><a href="#">Report Jan to Jun 2024 organisation details</a></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m ">Report organisation details for July to December 2024</h2>
    
      <p class="govuk-body">Deadline: 11:59pm on 1 April 2025</p>
      <strong class="govuk-tag govuk-tag">
        not started
      </strong>
      <br />
      <br />
      <br />
  
      <p class="govuk-body"><a href="#">Report Jul to Dec 2024 organisation details</a></p>
    </div>
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m">
    2023
  </h2>
</div>

<div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m ">Report organisation details for January to June 2023</h2>
     
      <p class="govuk-body">Deadline: 11:59pm on 1 October 2023</p>
      <strong class="govuk-tag govuk-tag">
        not started
      </strong>
      <br />
      <br />
      <br />
  
      <p class="govuk-body"><a href="#">Report Jan to Jun 2024 organisation details</a></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m ">Report organisation details for July to December 2023</h2>
    
      <p class="govuk-body">Deadline: 11:59pm on 1 April 2024</p>
      <strong class="govuk-tag govuk-tag">
        not started
      </strong>
      <br />
      <br />
      <br />
  
      <p class="govuk-body"><a href="#">Report Jul to Dec 2024 organisation details</a></p>
    </div>
</div>

</div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Your history
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-4">View your organisation data files.</p>

      <p class="govuk-body"><a href="#">View submission history</a></p>

    </div>
  </div>


  </form>


  {% endblock %}