{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "manage-account.html",
    text: "Manage account" 
    },
    {
    href: "my-profile.html",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}



{% block content %}


<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
File upload in progess. <a class="govuk-notification-banner__link" href="#"></a>
    </p>
    
  </div>
</div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Subsidiaries</h1>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Check all the information you have provided is accurate. If it is not correct or if there is any missing information you will need to provide the correct data. Use the subsidiary IDs for all future organisation details and packaging data submissions.                 </strong>
            </div>
            
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <form method="POST" action="">
         
              <h1 class="govuk-heading-m">GOOD FOODS LIMITED</h1>
              <span class="govuk-caption-m">Organisation ID: 155594<br>Companies House number: 10319765</span>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row"> <h1 class="govuk-heading-m">
                            <th scope="col" class="govuk-table__header">Subsidiary name</th>
                            <th scope="col" class="govuk-table__header">Subsidiary ID</th>
                            <th scope="col" class="govuk-table__header">Companies House number</th>
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                            </h1>
                          </tr>
                        </thead>
                        
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Good Sauces Coventry</td>
                                <td class="govuk-table__cell">123456</td>
                                <td class="govuk-table__cell">64523645</td>
                                <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                  Remove<span class="govuk-visually-hidden"> address</span>
                                  </a></td>
                            
                            </tr>
              
              
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell"> 
                                Good Vegetables Telford</td>
                                <td class="govuk-table__cell">895464</td>
                                <td class="govuk-table__cell">75496214</td>
                                <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                  Remove<span class="govuk-visually-hidden"> address</span>
                                  </a></td>
                            
                            </tr>
                            
                            
              
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                  Good Pasta Stratford</td>
                                  <td class="govuk-table__cell">654931</td>
                                  <td class="govuk-table__cell">no CH number</td>
                                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                    Remove<span class="govuk-visually-hidden"> address</span>
                                    </a></td>
                              
                              </tr>
              
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    Good Sauces Banbury</td>
                                    <td class="govuk-table__cell">597812</td>
                                    <td class="govuk-table__cell">no CH number</td>
                                    <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                      Remove<span class="govuk-visually-hidden"> address</span>
                                      </a></td>
                              </tr>
              
                              
              
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">
                                      Frames for Art</td>
                                      <td class="govuk-table__cell">634215</td>
                                      <td class="govuk-table__cell">21369754</td>
                                      <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                        Remove<span class="govuk-visually-hidden"> address</span>
                                        </a></td>
                                  
                                  </tr>
              
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell"> 
                                  Toms Bike</td>
                                  <td class="govuk-table__cell">264985</td>
                                  <td class="govuk-table__cell">45692678</td>
                                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                                    Remove<span class="govuk-visually-hidden"> address</span>
                                    </a></td>
                              
                              </tr>
                        </tbody>
                      </table><br>
        &nbsp; &nbsp;

 <!--       
<h1 class="govuk-heading-m">FRAMES 4 PICTURES LIMITED</h1>
<span class="govuk-caption-m">Organisation ID: 986454</span>
        <span class="govuk-caption-m">Companies House number: 15559432</span>
        <br>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsidiary name</th>
              <th scope="col" class="govuk-table__header">Subsidiary ID</th>
              <th scope="col" class="govuk-table__header">Companies House number</th>
              
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  FRAMES FOR ART Coventry</td>
                  <td class="govuk-table__cell">516763</td>
                  <td class="govuk-table__cell">98531467</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> address</span>
                    </a></td>
              
              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                FRAMES FOR ART Telford</td>
                  <td class="govuk-table__cell">549782</td>
                  <td class="govuk-table__cell">45698756</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> address</span>
                    </a></td>
              
              </tr>
              
              

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  FRAMES FOR ART Stratford</td>
                    <td class="govuk-table__cell">364597</td>
                    <td class="govuk-table__cell">46597635</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> address</span>
                      </a></td>
                
                    </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    FRAMES FOR ART Banbury</td>
                      <td class="govuk-table__cell">549623</td>
                      <td class="govuk-table__cell">26459734</td>
                      <td class="govuk-table__cell"><a class="govuk-link" href="#">
                        Remove<span class="govuk-visually-hidden"> address</span>
                        </a></td>
                  </tr>

                

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      FRAMES FOR ART Exeter</td>
                        <td class="govuk-table__cell">876541</td>
                        <td class="govuk-table__cell">96423478</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">
                          Remove<span class="govuk-visually-hidden"> address</span>
                          </a></td>
                    
                    </tr>
          </tbody>
        </table> -->

 <br>
        <button class="govuk-button" formaction="">Account home</button> 

 
  </form>
  



<br>



        
      </div>
      </div>  
      </div>
    </div>
  </main>
</div>


{% endblock %}