{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}

<style>
  .card {
    min-height: 180px;
  }
</style>


<nav class="defra-language-select" aria-label="Language switcher">
  {{ govukBackLink ({
  text: "Home",
  href: "homepage"
  }) }}
  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
    
  </ul>

</nav>


{% endblock %}


{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-two-thirds">

  
    <h1 class="govuk-heading-l">
      Register your members
    </h1>

     <p class="govuk-body">Compliance scheme: COMPLIANCE LTD (EA)</br>
      Regulator: Environment Agency (England)</p>
    
   <!--
      <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p class="govuk-body">Read the guidance on <a rel="noreferrer noopener" target="_blank" href="#">how to register members (opens in new tab)</a>.</p>

    <h2 class="govuk-heading-m">
      If you’ve missed a deadline to submit
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-4">If you’ve missed a deadline, you may still be able to report
      and avoid enforcement. <a rel="noreferrer noopener" target="_blank" href="#">More information at GOV.UK guidance (opens in new tab)</a>.
    </p>
--> 
   
    </p>
    <h2 class="govuk-heading-m">
      2026
    </h2>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m "><a href="./large/registration/task-list-org-data-completed-3.html">Large producer 2026 registration</a></h2>
      <p class="govuk-body">You have viewed your registration fees, and methods of payment.</p>
      <p class="govuk-body">Payment must be made before submitting your 2026 application.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
      <h2 class="govuk-heading-m "><a href="scheme-reg-details-small.html">Small producer 2026 registration</a></h2>
</h2>   
      <p class="govuk-body">You must apply for registration for 2026 before 1 April 2026.</p>
      <p class="govuk-body">You may apply after this date, but could incur a late fee.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m">
    2025
  </h2>
</div>

<div class="govuk-grid-column-one-half">
  <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
    <h2 class="govuk-heading-m "><a href="#">Registration for 2025</a></h2>
    
    <p class="govuk-body">Your registration for 2025 has been granted by the regulator. Your producer registration number is <strong>R25EP1234567345</strong>.</p>


    <p class="govuk-body"><strong>Changes to your organisation’s data must be reported within 28 days</strong>. </p>
  <p class="govuk-body"><a href="#">Resubmit your data files (opens in new tab)</a></p>
    
  </div>
</div>






  {% endblock %}