{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% block pageTitle %}
Update your organisation details
{% endblock %}

{% block beforeContent %}

  <div id="profile">
    {% include "includes/account-nav-admin.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is the main telephone number for this registered company?
    </h1>

    <p class="govuk-hint">
      These could be details included on the website, or contact details for the head office or management team.
    </p>

    <form method="POST" action="manage-org-update">

      {{ govukInput({
        label: {
          text: "Telephone number"
        },
        id: "defraIdCompanyPhone",
        name: "defraIdCompanyPhone",
        classes: "govuk-!-width-one-half"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}