{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">Public register
            <span class="govuk-caption-xl">Prototypes</span>
        </h1>
    </div>
  </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-top-2">Exporters and Reprocessors
        </h2>
    </div>
  </div>

<!-- PoM resubmission -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2">
        Work in progress june 2025
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Guidance
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-3">
        Find exporters and reprocessors registered for the ‘report packaging data’ service. 
      </p>

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>


      <!-- LINK TO PROTOTYPE -->   
      
       <p class="govuk-body"><a href="./ex-re-v1/guidance.html">Guidance</a></p>
       <p class="govuk-body"><a href="./ex-re-v1/search-results.html">Company search results</a></p>
       <p class="govuk-body"><a href="./ex-re-v1/search-results-status.html">Status search results</a></p>

           <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        may 2025
      </strong>

          <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Draft</h3>


      <!-- LINK TO PROTOTYPE -->   
      
       <p class="govuk-body"><a href="./ex-re/guidance.html">Guidance</a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon, Sam or Humza DG1</p>
    </div>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Recent prototypes (Producer)
        </h2>
    </div>
  </div>

<!-- PoM resubmission -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Draft
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Guidance
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-3">
        Find producers and compliance scheme operators registered for the ‘report packaging data’ service. 
      </p>

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>


      <!-- LINK TO PROTOTYPE -->   
      <p class="govuk-body"><a href="./guidance.html">guidance </a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Amy, Ciara, Gosia & Rahael. Team 6</p>
    </div>
  </div>
</div>

  
  <!-- OLD PROTOTYPES -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Older prototypes
          <span class="govuk-caption-m">Older than February 2025</span>
      </h2>
  </div>
</div>


<!-- PoM resubmission -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
        Archived
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Guidance
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-3">
        Check the list of large organisations on the ‘report packaging data’ service 
      </p>

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>


      <!-- LINK TO PROTOTYPE -->   
      <p class="govuk-body"><a href="./old/start.html">Public register </a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Amy, Ciara, Gosia & Rahael. Team 6</p>
    </div>
  </div>
</div>





{% endblock %}
