{% extends "layout.html" %}

{% set serviceName = " Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}



{% block beforeContent  %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{%endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
   <h1 class="govuk-heading-l">Check who is reporting packaging data as a ‘large organisation’ - create report</h1>
   <p class="govuk-body">This tool shows which organisations are listed on the ‘report packaging data’ service as being ‘large’. The information is in a CSV or Excel report.</p>
<h1 class="govuk-heading-m">Create report </h1>


<div class="govuk-form-group">
  <label class="govuk-heading-s" for="nation">
    UK nation where the organisation is based
  </label>
  <select class="govuk-select" id="nation" name="nation">
    <option value="England">England</option>
    <option value="Nothern Ireland" selected>Nothern Ireland</option>
    <option value="Scotland">Scotland</option>
    <option value="Wales">Wales</option>
  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-heading-s" for="nation">
    Compliance year
  </label>
  <select class="govuk-select" id="nation" name="nation">
    <option value="England">2024</option>
    
  </select>
</div>


{{ govukInput({
  label: {
    text: "Organisation name (optional)",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "organisation-name",
  name: "organisation-name"
}) }}


{{ govukInput({
  label: {
    text: "Companies House number (optional)",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "companies-house",
  name: "companies-house"
}) }}

{{ govukButton({
  text: "Create report",
  href: "/public-register/check-your-answers"
}) }}
 
  </div>
 


{% endblock %}
