{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row gem-print-columns-none">
  <div class="govuk-grid-column-two-thirds">
    
<div class="gem-c-heading govuk-!-margin-bottom-8">
      <span class="govuk-caption-xl gem-c-heading__context">
    Guidance
  </span>


  <h1 class="gem-c-heading__text govuk-heading-l">
    Find large producers on the ‘report packaging data’ service
</h1>
</div>
  </div>
  
  <div class="govuk-grid-column-two-thirds">
      <p class="gem-c-lead-paragraph">
    Find large organisations (‘large producers’) who have reported data using the report packaging data (RPD) service.

</p>
  </div>
</div>




{% endblock %}
