{% extends "layout.html" %}

{% set serviceName = " " %}

{% set title = "" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
   <h1 class="govuk-heading-l">Check the list of large organisations on the ‘report packaging data’ service</h1>
   <p class="govuk-body">Check the list of large organisations on the ‘report packaging data’ service.<br> <br>

    For some packaging activities, this will help you work out who is responsible for reporting data. You may also need a record of this information for audits, or questions from the environmental regulator. </p>

    <div class="govuk-inset-text">
      On the National Packaging Waste Database, this is called the ‘Public Register of Registered Producers’.
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a ‘large organisation’?
        </span>
      </summary>
      <div class="govuk-details__text">
        On the ‘report packaging data’ service, an organisation is ‘large’ if it:<br><br>

        <ul class="govuk-list govuk-list--bullet">
          <li>has an annual turnover of £2 million or more</li>
          <li>is responsible for supplying or importing more than 50 tonnes of empty packaging or packaged goods in the UK</li>
          
        </ul>





      </div>
    </details>
<h1 class="govuk-heading-m">Who needs to use this</h1>
<p class="govuk-body">Use the list if you do any of the following activities:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>import packaging that contains goods into the UK to sell</li>
  <li>own an online marketplace that allows non-UK organisations to sell packaged products in the UK</li>
  <li>supply packaging as empty </li>
</ul>
<p>

  If you’re unsure, <a href="https://www.gov.uk/guidance/how-to-collect-your-packaging-data-for-extended-producer-responsibility#packaging-activity-data">check the section on packaging activities in the ‘Packaging data: what to collect’ guidance.</a></p>
<h1 class="govuk-heading-m">How it works</h1>

<p class="govuk-body">Search the list for organisations you work with when you supply packaging in the UK as part of the above activities.<br><br>If they’re on the list, they are responsible for reporting about that activity. If not, your organisation is responsible. <br><br></p>



   {{ govukButton({
    text: "Continue",
    href:"/public-register/search-criteria" 
    
   }) }}
 
  </div>
</div>


{% endblock %}
