{% extends "layout.html" %}

{% set serviceName = " Public register - large organisations on ‘report packaging data’" %}

{% set title = "Public register - large organisations on ‘report packaging data’r" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
   <h1 class="govuk-heading-l">Check the public register of large organisations on the ‘report packaging data’ service</h1>
   <p class="govuk-body">Check the register of large organisations on the ‘report packaging data’ service.<br> <br>

    For some packaging activities, this will help you work out who is responsible for reporting data. You may also need a record of this information for audits, or questions from the environmental regulator. </p>

    <div class="govuk-inset-text">
      On the National Packaging Waste Database, this is called the ‘Public Register of Registered Producers’.
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a ‘large organisation’?
        </span>
      </summary>
      <div class="govuk-details__text">
        An organisation is listed on the register if it has reported both of the following things to the ‘report packaging data’ service:<br><br>

        <ul class="govuk-list govuk-list--bullet">
          <li>it has an annual turnover of £2 million or more</li>
          <li>it is responsible for supplying or importing more than 50 tonnes of empty packaging or packaged goods in the UK</li>
          
        </ul>
<p>This means it qualifies as a ‘large organisation’.</p>




      </div>
    </details>
<h1 class="govuk-heading-m">Who needs to use this register</h1>
<p class="govuk-body">Use the register if your organisation does any of the following activities:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>imports packaging that contains goods into the UK to sell</li>
  <li>owns an online marketplace that allows non-UK organisations to sell packaged products in the UK</li>
  <li>sells empty packaging to businesses</li>
</ul>

<h1 class="govuk-heading-m">How it works</h1>

<p class="govuk-body">Search the register for organisations you sell or supply packaging to as part of the above activities. If they’re in the register, they are responsible for reporting about that activity. If not, your organisation is responsible.<br><br></p>



   {{ govukButton({
    text: "Continue",
    href:"/public-register/search-criteria" 
    
   }) }}
 
  </div>
</div>


{% endblock %}
