{% set serviceName = "Report packaging data" %}

{% extends "layout-gov.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Footer
      <span class="govuk-caption-xl">Prototype</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Header & Footer Platform Limitations
  </strong>
</div>
    

      <p class="govuk-body">
Significant challenge: the prototype cannot be used as an accurate reference, as its presentation layer is based on an outdated platform. All other data is accurate e.g. Telephone etc</p>
 <p class="govuk-body">Due to heavy customisations made by various teams, the prototype cannot be easily updated to reflect the latest GOV.UK Frontend, meaning it no longer represents the correct design or accessibility standards.</p>
<p class="govuk-body">To meet WCAG 2.2 compliance, the live service must use the most up-to-date GOV.UK Frontend. </p>



  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Latest
      </strong>
      <strong class="govuk-tag  govuk-!-margin-bottom-2">
       June 2025
      </strong>


      <!-- DESCRIPTION -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Footer showing placeholder url to service desk and updated contact hours of business - verified with Accenture for Pre2 
      </h2>
      <p class="govuk-body">See footer on this page!</p>
 
  <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon Westcott DG1</p>
    </div>
    
    
    
    </div>
  </div>
</div>





{% endblock %}