{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="upload-file.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="./loading-success">
        <div class="govuk-form-group ">

        <h1 class="govuk-heading-l">There was a problem with your upload</h1>

        <p class="govuk-body">The data in these cells contained errors:</p>
           <p><STRONG>Cell C14</STRONG> - Operating costs must be in currency format, with no more than 2 decimal places.<br>
            <STRONG>Cell D14</STRONG> - Operating costs must be in currency format, with no more than 2 decimal places.<br>
            <STRONG>Cell B22</STRONG> - Bad debt provision must be a percentage. <br>
            <STRONG>Cell E40</STRONG> - The total levy costs must be the sum of each nation's levy costs.</p>
            
            <p>You will need to update the data in these cells before you can upload the spreadsheet successfully.</p>

        

        

        <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="org-details" aria-describedby="organisation-file-hint">
            Upload the file again
        </label>
        <p>Make sure you're using the latest version of the <a href="#" class="govuk-link--no-visited-state">default values spreadsheet template</a>.</p>

        <p class="govuk-body">The file must be:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>smaller than 50KB</li>
                  <li>in CSV format</li>
              </ul>
            <p class="govuk-body">It may take a few minutes for your file to upload - do not close the window while the file is uploading.</p>

        <input class="govuk-file-upload" id="org-details" name="organisation-details-file" type="file">
    </div>

        {{ govukButton({
        text: "Upload file",
        preventDoubleClick: true,
        href: 'confirmation',
        classes: 'govuk-!-margin-top-4'
        }) }}
    </form>


    </div>
</div>

{% endblock %}
