{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}
<br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            There is a problem with your upload
          </h1>
        </legend>
        
        <p id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> The data contained errors
        </p>
        
      </fieldset>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Parameter</th>
          <th scope="col" class="govuk-table__header">Nation/Material</th>
          <th scope="col" class="govuk-table__header">Error</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Scheme administrator operating costs</th>
          <td class="govuk-table__cell">England</td>
          <td class="govuk-table__cell">Enter the scheme administrator operating costs for England</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Communication costs</th>
          <td class="govuk-table__cell">Steel</td>
          <td class="govuk-table__cell">Enter the communication costs for steel</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Communication costs</th>
          <td class="govuk-table__cell">Wood</td>
          <td class="govuk-table__cell">Communication costs for wood must be between £0 and £999,999,999.99
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Scheme setup costs</th>
          <td class="govuk-table__cell">Scotland</td>
          <td class="govuk-table__cell">Scheme setup costs can only include numbers, commas and decimal points

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p>You will need to update this data before you can upload the spreadsheet successfully.
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="./loading-success">

      <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="org-details" aria-describedby="organisation-file-hint">
          Upload the file again
      </label>

      <input class="govuk-file-upload" id="org-details" name="organisation-details-file" type="file">
      {{ govukButton({
      text: "Upload file",
      preventDoubleClick: true,
      href: 'confirmation',
      classes: 'govuk-!-margin-top-4'
      }) }}
    </form>
  
  </div>
</div>


{% endblock %}
