{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#?notification=false",
    navigation: [
      {
        href: "#?notification=false",
        text: "Home"
      },
      {
        href: "#?notification=false",
        text: "Manage account",
        active: true 
      },
      {
        href: "#?notification=false",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 govuk-!-margin-bottom-7">
    
    
    <h1 class="govuk-heading-l">Designs</h1>

    <h2 class="govuk-heading-m">Option 1</h2>

    <p class="govuk-body">Scenario for all users on the account.</p>

    <p class="govuk-body">You have 1 approved person, 1 delegated person and 1 admin.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="./option-1-manage-team-admin.html">Approved person</a></p>

    <h2 class="govuk-heading-m">Option 2</h2>

    <p class="govuk-body">Scenario for all users on the account.</p>

    <p class="govuk-body">You have 1 approved person, 1 delegated person and 1 admin.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="./manage-team-approved.html">Approved person</a></p>
    
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="./manage-team-delegate.html">Delegate person</a></p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="./manage-team-admin.html">Admin person</a></p>

    


  </div>
</div>

{% endblock %}
