{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


{% endblock %}

{% block content %}
   
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <span class="govuk-caption-l">Functionality check 2024</span><br>
        <h1 class="govuk-heading-xl">Communication costs by materials</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#england">
                England
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#scotland">
                Scotland
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#wales">
                Wales
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#ireland">
                Northern Ireland
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="england">
            <h2 class="govuk-heading-l">England</h2>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>

          </div>



          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="#scotland">
            <h2 class="govuk-heading-l">Scotland</h2>
          
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
        </div>



        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="#wales">
            <h2 class="govuk-heading-l">Wales</h2>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
        </div>
          
    
          
          
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ireland">
            <h2 class="govuk-heading-l">Northern Ireland</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
          </div>
        </div>

  
  
        <br><br>

        <a href="ghost" class="govuk-button show-continue" style="display: inline;">
          Save and continue
        </a>
       
              
    </main>
  </div>
</div>

  



{% endblock %}