{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Paycal
</h1>

<div class="govuk-grid-row" style="background-color: cornsilk;  padding: 20px; margin-bottom: 30px;">

  <!-- Scenario 1 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Service sitemap</h2>
  <p class="govuk-body-l">Go to<a href="./sitemap.html" target="_blank">sitemap</a></p>
  <!-- Scenario 1 end -->


  <h1 class="govuk-heading-xl">
    Calculation runs
  </h1>
  <p class="govuk-body-s">NB: URL's used are for prototype only, do not use in dev build. List of production URLs
    can be obtained from UCD.</p>

  <!-- Scenario 1 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Scenario 1 - Initial run - Very First Run</h2>
  <p class="govuk-body-l">
    As a user I want to classify a first run as an Initial Run </p>
  <p class="govuk-body-l">As a user, I haven't done a run before, so I can only classify a run as an initial run or as
    a test run.</p>
  <p class="govuk-body-l"><a href="./scenarios/scenario1/calculate-packaging-payments.html" target="_blank">Go to
      scenario 1
      >></a></p>
  <!-- Scenario 1 end -->

  <!-- Scenario 2 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Scenario 2 - Recalculations</h2>
  <p class="govuk-body-l">
    Source: <a
      href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1724398773013/d0329b95e222b272d9a96cd15905944d89a2f58c">
      Mural user flow</a></p>

  <p class="govuk-body-l">As a user I want to classify a run as a Final Recalculation Run</p>
  <p class="govuk-body-l">
    As a user, I want to perform a subsequent financial recalculationand categorise the run as interim, final
    recalculation, final, or test run
  </p>
  <p class="govuk-body-l"><a href="./scenarios/scenario2/scenario2-dashboard.html" target="_blank">Go to scenario 2
      >></a></p>
  <!-- Scenario 2 end -->

  <!-- Scenario 3 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Scenario 3 - Final run (Post Final Recalculation Run)</h2>
  <p class="govuk-body-l">
    As a user I want to classify a run as a Final Run.
  </p>
  <p class="govuk-body-l">As a user, I want to perform a final run (post final recalculation run). When the previous run
    was a final recalculation run. The user can classify their run as an interim recalculation run, final run or test
    run.</p>
  <p class="govuk-body-l"><a href="S2-dashboard.html" target="_blank">Go to scenario 3
      >></a></p>
  <!-- Scenario 3 end -->


  <!-- Scenario 4 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Scenario 4 - Interim calculation run (used after a final run)</h2>
  <p class="govuk-body-l">
    As a user I want to classify a run as an Interim Calculation Run
  </p>
  <p class="govuk-body-l">
    As a user, I want to create an Interim Recalculation Run after a final run.
    Scenario: The previous classified run was a final run. The user can only classify their run as an interim
    recalculation run or test run.
  </p>
  <p class="govuk-body-l"><a href="S3-dashboard.html" target="_blank">Go to scenario 4
      >></a></p>
  <!-- Scenario 4 end -->


  <!-- Scenario 5 start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Scenario 5 - Test Run</h2>
  <p class="govuk-body-l">
    As a user I have produced a Test Run and I want to view the Test Run details.
  </p>
  <p class="govuk-body-l"><a href="S4-dashboard.html" target="_blank">Go to scenario 5
      >></a></p>
  <!-- Scenario 5 end -->


  <!-- Scenario Other start -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">Other</h2>
  <h2 class="govuk-heading-l">Calculation run details</h2>
  <h2 class="govuk-body-m">
    User pre-classification
  </h2>
  <h2 class="govuk-body-m"><a href="run-name.html" target="_blank">Go to scenario pre-classification
      >></a></h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-l">First run-classification of the year</h2>
  <h2 class="govuk-body-m">
    - Screen only appears if no run has been classified yet.
  </h2>
  <h2 class="govuk-body-m"><a href="classify-run-1.html" target="_blank">Go to first run-classification of the year
      >></a></h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <!-- Scenario Other end -->
</div>

<div class="govuk-grid-row" style="background-color: rgb(248, 212, 212); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Deleting a calculation run
  </h1>
  <p class="govuk-body">
    Go to <a href="../final-may/delete-run.html" class="govuk-link">Confirm deletion of a
      calculation run</a>.
  </p>
</div>

<div class="govuk-grid-row" style="background-color:rgb(213, 255, 170); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Confirm billing instructions
  </h1>
  <p class="govuk-body">
    Go to <a href="../final-may/run-name-6.html" class="govuk-link">Confirm billing instructions / accept or reject</a>.
  </p>

  <!--<p class="govuk-body">
    Content for providing a reason for <a href="../final-may/reject-selected-page/1-reason-individual-reason.html"
      class="govuk-link">individually rejecting</a> ONE billing instruction only.
  </p> -->
  <!--<hr>
  <p>Brainstorm A/B page layout ONLY</p>
  <a href="../final-may/reject-internal-pages/run-name-6-A-option.html">Option A - Internal page for
    reject</a> <br> <br>
  <hr>
  <a href="../final-may/reject-internal-pages/run-name-6-B-Option.html">Option B - Internal page for
    reject</a>
  <hr>-->

</div>


<div class="govuk-grid-row" style="background-color:rgb(255, 205, 232); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    PayCal status labels
  </h1>
  <p class="govuk-body">
    Go to <a href="./PayCal-status-labels.html" class="govuk-link">PayCal status labels layout page with all the
      labels</a>.
  </p>
</div>


<div class="govuk-grid-row" style="background-color:rgb(203, 216, 241); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Post calculation run
  </h1>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <h2 class="govuk-body-m"><strong>Scenario 2: Post-initial run</strong> - <a href="classify-run-2.html">Screen
          only appears after an initial run has been classified, giving the SA flexibility to choose from the full
          gamut of options depending on what’s relevant to them.</a></h2>
    </li>

    <li>
      <h2 class="govuk-body-m"><strong>Scenario 3: Post-final recalculation run</strong> - <a
          href="classify-run-3.html">Screen only appears if the last classified run was a final recalculation
          run.</a>
      </h2>
    </li>

    <li>
      <h2 class="govuk-body-m"><strong>Scenario 4: Post-final run screen</strong> - <a href="classify-run-4.html">Screen
          only appears after a final run has been classified when a SA wants to
          submit another interim recalculation run (if needed).</a></h2>
    </li>
  </ul>
</div>

<div class="govuk-grid-row" style="background-color:rgb(190, 255, 233); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Post Classification
  </h1>
  <h2 class="govuk-body-m"><strong>Calculation run details</strong> - <a href="run-name-2.html">Post
      classification</a></h2>
</div>

<div class="govuk-grid-row" style="background-color:rgb(184, 250, 250); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Draft billing
  </h1>
  <h2 class="govuk-body-m"><strong>Draft billing file generating</strong> - <a href="run-name-3.html">Your draft
      billing file is being created</a></h2>
</div>

<div class="govuk-grid-row" style="background-color:rgb(245, 212, 219); padding: 20px; margin-bottom: 30px;">
  <h1 class="govuk-heading-xl">
    Error run and error screens
  </h1>
  <h2 class="govuk-body-m"><strong>Error</strong> - <a href="run-error.html">The calculator could not complete the
      run</a></h2>
  <p class="govuk-body-l">Go to <a href="./error-messages/error-messages-sample.html">Sample error messages with
      guidance</a></p>
  <p class="govuk-body-l">Go to <a href="./error-messages/calculate-packaging-payments-error-sample-page.html">Dashboard
      - Calculate packaging payments error sample page</a></p>
  <p class="govuk-body-l">Go to <a href="./error-messages/scenario-run-details-error-sample-page.html">Calculation run
      details error sample page</a></p>

  <p class="govuk-body-l">Go to <a href="./error-messages/classify-run-error-sample-page.html">Classify calculation run
      error sample page</a></p>
  <p class="govuk-body-l">Go to <a href="./error-messages/1-reason-error-sample-page.html">Reason text area</a></p>
</div>


{% endblock %}