{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="upload-file.html">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>
   <br>



  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Last updated by Jamie Roberts at <strong>10:01</strong> on 28 June 2024</span><br>
        <h1 class="govuk-heading-xl">Local authority disposal costs</h1>
 
        <h2 class="govuk-heading-l">England</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="up-communication-costs">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>



 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    £0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>


 
 
</dl> 

<h2 class="govuk-heading-l">Northern Ireland</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="up-communication-costs">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>



 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    £0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>


 
 
</dl> 
        
        

        <h2 class="govuk-heading-l">Scotland</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Aluminium
           </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="up-communication-costs">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
            Fibre composite
             </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Glass
             </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Paper or card
             </dt>
           <dd class="govuk-summary-list__value">
            £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plastic
            </dt>
          <dd class="govuk-summary-list__value">
          £2210.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Steel
            </dt>
          <dd class="govuk-summary-list__value">
            £2210.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wood
             </dt>
           <dd class="govuk-summary-list__value">
               £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
          <dt class="govuk-summary-list__key">
            Other
            </dt>
          <dd class="govuk-summary-list__value">
            £0
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
         
        </dl> 



        <h2 class="govuk-heading-l">Wales</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Aluminium
           </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="up-communication-costs">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
            Fibre composite
             </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Glass
             </dt>
           <dd class="govuk-summary-list__value">
             £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
        
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Paper or card
             </dt>
           <dd class="govuk-summary-list__value">
            £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
        
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plastic
            </dt>
          <dd class="govuk-summary-list__value">
          £2210.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Steel
            </dt>
          <dd class="govuk-summary-list__value">
            £2210.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wood
             </dt>
           <dd class="govuk-summary-list__value">
               £2210.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
          <dt class="govuk-summary-list__key">
            Other
            </dt>
          <dd class="govuk-summary-list__value">
            £0
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
         
        </dl> 

        </dl>

<form action="/form-handler" method="post" novalidate>
  <input type="hidden" name="answers-checked" value="true">
<div class="govuk-button-group">
  <a href="upload-file-la" class="govuk-button" type="submit">Upload disposal costs</a>
  <a class="govuk-link" href="calculate-packaging-payments">Return to the dashboard</a>
</div>
</form>

      </div>
    </div>
  
</div>

{% endblock %}