{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="javascript:history.back()">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>
   <br>
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        
          <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
              Calculation name</h1> 

<p>Give the calculation a name, so you can easily find it.</p>

<div class="govuk-form-group">
  
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephoneNumber" type="tel" aria-describedby="telephone-number-hint" autocomplete="tel">

<br><br><br>
          <a href="confirmation-temp" class="govuk-button show-continue" style="display: inline;">
      Run the calculator
    </a>
       
      </div>
    </div>
  
</div>


{% endblock %}