{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="run-name">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
</div>
<br>

  
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   <br>
   <h1 class="govuk-heading-xl">Play this calculation run</h1>
   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
   <h3 class="govuk-body">This is a test run to see the outcome using different parameters. The results will not be processed.</h3>
       
  

        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-button-group">
            <a href="output-1" class="govuk-button" type="submit">Play run</a>
            <a class="govuk-link" href="calculate-packaging-payments">Return to dashboard</a>
          </div>
        </form>


    </div>
  
</div>

{% endblock %}