{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row flex">

    <div class="govuk-grid-column-full"><br>
            

        <h2 class="govuk-heading-l">Internal data reports </h2>

        <p>Discover reports in these catagories </p>

       <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="esfa">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">ESFA</span>
                            
                        </a>
                        <div class="govuk-body warning-info-2">1 report</div>
                        <span id="ob1" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View reports 
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                        </span>
                    </div>

    
    

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="families">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Families</span> <br>
                            <span class="govuk-body govuk-!-font-size-16"></span>
                        </a>
                        <div class="govuk-body warning-info-2">1 report</div>
                        <span id="ob6" class="govuk-body onboarding-info">
                                <div class="arrow-up"></div>
                                <a class="close" href="#">Close</a>
                                View reports
                                 <br>
                                <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                            </span>
                    </div>


                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Operations infrastructure</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"> </span>
                    </a>
                    <div class="govuk-body warning-info-2">0 reports</div>
                    <span id="ob4" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View 13 reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                        </span>
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Regions</span> <br>
                       <!-- <span class="govuk-body govuk-!-font-size-16">Funding Rules Monitoring</span>--> 
                        
                    </a>
                    <div class="govuk-body warning-info-2"> 0 reports</div>
                    <span id="ob5" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next5">Next</a> 
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="schools">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Schools</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"></span>
                    </a>
                    <div class="govuk-body warning-info-2">1 report</div>
                    <span id="ob6" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Skills</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"> </span>
                    </a>
                    <div class="govuk-body warning-info-2">0 reports</div>
                    <span id="ob4" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View 13 reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="strategy">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Strategy</span>
                        
                    </a>
                    <div class="govuk-body warning-info-2">2 dashboards</div>
                    <span id="ob1" class="govuk-body onboarding-info">
                        <div class="arrow-up"></div>
                        <a class="close" href="#">Close</a>
                        View reports 
                         <br>
                        <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                    </span>
                </div>


        </div>
    </div>

</div>


{% endblock %}