
{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block beforeContent %}
  {{ govukBackLink ({
      text: "Back",
      href: "javascript:history.back()"
  }) }}

  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div>
{% endblock %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Default parameter settings</span>

            <h1 class="govuk-heading-xl">Operating costs</h1>
            <p>These are your organisation's costs related to the scheme. You do not need to include setup costs here.</p>           


        <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">England</label>

  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="250.00" inputmode="numeric">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Wales
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="140.00" inputmode="numeric">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Scotland
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="170.00" inputmode="numeric">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Northern Ireland
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="90.00" inputmode="numeric">
</div>

</fieldset>

<br>


<div class="govuk-button-group"><a href="run-settings-change" class="govuk-button show-continue" style="display: inline;">
  Update
</a>
<a class="govuk-link" href="run-settings-change">Cancel</a>

</div>
       
      </div>
    </div>
  
</div>


{% endblock %}