{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="calculate-packaging-payments">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>
   <br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Last updated by Jamie Roberts at <strong>10:01</strong> on 28 June 2025</span><br>
        <h1 class="govuk-heading-xl">Default parameters</h1>
 
        <h2 class="govuk-heading-l">Communication costs by materials</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="up-communication-costs">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>



 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £2210.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £2210.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other materials
    </dt>
  <dd class="govuk-summary-list__value">
    0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>
 
</dl> 
<h2 class="govuk-heading-l">Communication costs by nation</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      England
      </dt>
    <dd class="govuk-summary-list__value">
      £250.00
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="up-operating-costs">
        <span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Wales
      </dt>
    <dd class="govuk-summary-list__value">
      £140.00
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        <span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key">
      Scotland
      </dt>
    <dd class="govuk-summary-list__value">
      £170.00
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        <span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    
    <dt class="govuk-summary-list__key">
      Northern Ireland
      </dt>
    <dd class="govuk-summary-list__value">
        £90.00
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        <span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>
  
</dl>

<h2 class="govuk-heading-l">Scheme administrator operating costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              England
              </dt>
            <dd class="govuk-summary-list__value">
              £250.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="up-operating-costs">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wales
              </dt>
            <dd class="govuk-summary-list__value">
              £140.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        
          <div class="govuk-summary-list__row"> 
            <dt class="govuk-summary-list__key">
              Scotland
              </dt>
            <dd class="govuk-summary-list__value">
              £170.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Northern Ireland
              </dt>
            <dd class="govuk-summary-list__value">
                £90.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          
        </dl>
        
        

        <h2 class="govuk-heading-l">Local authority data preparation costs</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £115.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="up-la-data">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £114.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
       
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £117.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £19.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         
       </dl>



        <h2 class="govuk-heading-l">Scheme setup costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         
         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £325.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="up-scheme-costs">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £314.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £317.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £391.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
       </dl>


<h2 class="govuk-heading-l">Late reporting tonnage</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     70
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="up-ghost">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     80
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     60
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    50
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key">
    Plastic
    </dt>
    <dd class="govuk-summary-list__value">40
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
    </dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    30
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       20
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Other materials
    </dt>
  <dd class="govuk-summary-list__value">
    0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Bad debt provision</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Percentage
       </dt>
     <dd class="govuk-summary-list__value">
         5.25%
     </dd>
     <dd class="govuk-summary-list__actions">
       <a class="govuk-link" href="up-bad-debt">
         <span class="govuk-visually-hidden"> address</span>
       </a>
     </dd>
   </div>
   
 </dl>


        <h2 class="govuk-heading-l">Materiality threshold</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount increase
              </dt>
            <dd class="govuk-summary-list__value">
              £5000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount decrease
              </dt>
            <dd class="govuk-summary-list__value">
              -£1000.00
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percent increase
              </dt>
            <dd class="govuk-summary-list__value">
              2.00%
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percent decrease
              </dt>
            <dd class="govuk-summary-list__value">
              -1.00%
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          
        </dl>

        <h2 class="govuk-heading-l">Tonnage change threshold</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount increase
              </dt>
            <dd class="govuk-summary-list__value">
              £50.00
            </dd>
            <dd class="govuk-summary-list__actions">
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount decrease
              </dt>
            <dd class="govuk-summary-list__value">
              -£10.00
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percent increase
              </dt>
            <dd class="govuk-summary-list__value">
              2.00%
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Percent decrease
              </dt>
            <dd class="govuk-summary-list__value">
              -0.50%
            </dd>
            <dd class="govuk-summary-list__actions">
              
              
              <span class="govuk-visually-hidden"> address</span>
              
            </dd>
          </div>
        </dl>
        &nbsp; &nbsp;
        <div class="govuk-button-group">
          <a href="name" class="govuk-button" type="submit">Run the calculator</a>
          <a href="upload-file-run" class="govuk-button govuk-button--secondary" type="submit">Upload new parameters</a>
        </div>
<div class="govuk-button-group">
  <a class="govuk-link" href="dash">Cancel</a>
</div>
      </div>
    </div>
  
</div>

</fieldset>

 
      </div>
    </div>
  </main>
</div>


{% endblock %}