{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 
   
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <h1 class="govuk-heading-xl">
          Run the calculator
</h1>           
        
        

        <div class="govuk-button-group">
          <a href="confirmation-temp" class="govuk-button" type="submit">Run the calculator using the default parameters</a>
          <!--<a href="run-settings-temp" class="govuk-button govuk-button--secondary" type="submit">View temporary parameters</a>-->
        </div>
</div>
        
        
      </div>
    </div>
  
</div>


{% endblock %}