{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}      
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-heading-m">
      <span class="govuk-caption-m"></span></h1>
    </legend>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Test 10</h1>



        <h2 class="govuk-heading-l">Operating costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Total £65000.00</dt> 
          </div>

        </dl>
        
        

        <h2 class="govuk-heading-l">Local authority preparation costs</h2>
        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">  
          <dt class="govuk-summary-list__key">
            Total £65000.00
            </dt>
        </div>
       </dl>



        <h2 class="govuk-heading-l">Scheme setup costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
  
          <dt class="govuk-summary-list__key">
            Total £65000.00
            </dt>
        </div>
       </dl>




<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Bad debt provision</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    
   <div class="govuk-summary-list__row">
     
     <dt class="govuk-summary-list__key">
       Estimate 6%
     </dt>
   </div>
   
 </dl>


 

<h2 class="govuk-heading-l">Communication costs</h2>


<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
 <div class="govuk-summary-list__row">
   
   
   <dt class="govuk-summary-list__key">
     Total £40.00
     </dt>
   
 </div>
 
</dl> 



<h2 class="govuk-heading-l">Ghost tonnage</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
 <div class="govuk-summary-list__row">
   
   
   <dt class="govuk-summary-list__key">
     Total 70
     </dt>
   
 </div>
 
</dl> 



<form action="/form-handler" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">



<a href="name"  class="govuk-button govuk-button--secondary">Rerun the calculator</a><br>





<div class="govuk-form-group">
  <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">
    Change the classification
  </h2>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      Selecting 'Scrap' will delete this run
    </strong>
  </div>
    
 
  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
    <option value="choose" selected>Unclassified</option>
    <option value="eastmidlands">Play</option>
    <option value="eastofengland">Scrap</option>
  </select>
</div>

&nbsp; &nbsp;
</form>
<a href="list-full2" class="govuk-button show-continue" style="display: inline;">
  Save the classification
</a>
<p></p>
&nbsp; &nbsp;

<h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--mobile-top-margin">
  Download the run file
</h2>
  

<section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
  <div class="gem-c-attachment__thumbnail">
  <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
  <img src="/public/images/file.png" alt="" width="99px;" style="padding-top:5px;"></a>
  </div>

  <div class="gem-c-attachment__details">
  <h3 class="gem-c-attachment__title">
    <a class="govuk-link gem-c-attachment__link" href="#">Test 10 - 28 June 2025. 10:01</a>
</h3>
<p class="gem-c-attachment__metadata">CSV  157 KB</p>

</div></section>
       
      </div>
    </div>
  
</div>


{% endblock %}