{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Learner record applications </h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>
  <div class="govuk-grid-column-three-quarters">  
  
          <h2 class="govuk-heading-m"></h2>
  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> 
                    <a class="browse-list-item-link-no-visited-state" href="answers">Euston Place Dental Practice</a><BR>
                    </h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
                   Pending signiture
                  </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>Cherryleas Assessment Centre</a></h3>
                  
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
            First line waiting
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>Centre for Accelerated Learning</a></h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
            Second line waiting
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3"> <a class=“govuk-link--no-visited-state” href=“”>Chesterfield Hospital School</a></h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--grey">
           Pending signiture
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>Chiltern Nursery Nurse Training School</a></h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Registered
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>Clayfield House</a></h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                    Rejected
          </strong>
          
                </td>
              </tr>
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“one”>Coventry Hospital and Home Tuition Service</a></h3>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
            Timed Out
          </strong>
          
                </td>
              </tr>
            </tbody>
          </table>
  
        
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}