{% extends "layout.html" %}

{% block pageTitle %}
    Authorised person | Packaging producer responsibilty prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div>
            <h1 class="govuk-heading-xl">
                Packaging producer responsibility service
            </h1>

            <h2 class="govuk-heading-m">
                To register for this service you must be an authorised person for Acme Org Ltd
            </h2>
            <p>An authorised person can be a company director, secretary, sole trader or partner.</p>
            <p>If you do not hold one of these positions, you must <a href="#">invite an authorised person to create a Defra Account</a> so they can register Acme Org Ltd for this service.</p>
        </div>

        <form method="POST" action="terms">
            
            {% call govukFieldset({
                classes: "govuk-!-margin-top-8",
                legend: {
                    text: "What is your position at Acme Org Ltd?",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: true
                }
            }) %}

            <div class="govuk-form-group">
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field1" name="authType" type="radio" value="director">
                        <label class="govuk-label govuk-radios__label" for="field1">
                            Company director
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field2" name="authType" type="radio" value="secretary">
                        <label class="govuk-label govuk-radios__label" for="field2">
                            Company secretary
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field3" name="authType" type="radio" value="sole trader">
                        <label class="govuk-label govuk-radios__label" for="field3">
                            Sole trader
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field4" name="authType" type="radio" value="partner">
                        <label class="govuk-label govuk-radios__label" for="field4">
                            Partner
                        </label>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="serviceTerms" name="serviceTerms" type="checkbox" value="I agree">
                        <label class="govuk-label govuk-checkboxes__label" for="serviceTerms">
                            I confirm that I am authorised to act on behalf of Acme Org Ltd.
                        </label>
                    </div>
                </div>
            </div>

            {{ govukButton({
                text: "Continue"
            })}}

            {% endcall %}

        </form>

    </div>
</div>

{% endblock %}