{% extends "layout.html" %}

{% block pageTitle %}
  Packaging producer responsibilty task list | Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Packaging producer responsibility
        </h1>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Complete your obligation for 2023</h2>

        {{ govukWarningText({
            text: "You must complete your registration and reporting (steps 1 and 2) before 15th April 2023",
            iconFallbackText: "Warning"
        }) }}

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Register
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">
                                Choose whether to register for 2023
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Enter your registration details
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Pay your registration fees
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Report packaging data
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">
                                Choose how to report your data
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Report your data
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    </li>
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Check your Certificate of Compliance (CoC)
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Check your certificate
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            View your certificate
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>

{% endblock %}