{% extends "layout.html" %}

{% block pageTitle %}
    Choose whether to register | Packaging producer responsibilty prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
            Obligation declaration
        </h1>

        <form method="POST" action="home?obligated=yes">

            <h2 class="govuk-heading-m">
                Some kind of declaration
            </h2>

            <p>I am authorised to declare that my org is obligated this year so I need to register and provide data for the packaging I place on the market.</p>

            <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="eprDeclaration" name="eprDeclaration" type="checkbox" value="I declare">
                        <label class="govuk-label govuk-checkboxes__label" for="eprDeclaration">
                            I declare this is correct.
                        </label>
                    </div>
                </div>
            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>


        
    </div>
</div>

{% endblock %}