{% extends "layout.html" %}

{% block pageTitle %}
    Update your contact details | Packaging producer responsibilty prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
            Update your contact details
        </h1>
        
        <p>Go to <a href="#">your Defra Account</a> to update your details</p>

    </div>
</div>

{% endblock %}