
None selected

Skip to content
Using Gmail with screen readers

Conversations
10.89 GB of 15 GB (72%) used
Terms · Privacy · Program Policies
Last account activity: 6 minutes ago
Details
{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="task-list-2-large-producer-stage4" method="post">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Payment successful
            </h1>
            <div class="govuk-panel__body">
              Payment reference number is<br>222019EFGF
            </div>
          </div>
          <p class="govuk-body">
            Registration fee of <strong>£1,216.00</strong> paid by John Doe at 10:45am on Wednesday 5 March 2025.
          </p>
          <p>The payment reference number will also be used as your application reference.</p>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            We have sent an email confirmation to <a href="email@address.com">
              email@address.com</a> and will contact you either to confirm your registration, or to ask for more information.
          </p>
          <br>

         
      </div>
    </div>

    {{ govukButton({
    text: "Continue",
    attributes: {
    id: "submitButton",
    onclick: "handleSubmit(event)"
    }
    }) }}
    </form>

   <!-- <p class="govuk-body"><a href="dashboard" class="govuk-link">Return to dashboard</a> 
  </p>-->
</div>

</form>
</main>
</div>


{% endblock %}
payment-success.html
Displaying payment-success.html.