{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "../../landing-page/v2/cs-submit-behalf-lp-england.html?member-removed=no",
        text: "Home"
      },
      {
        href: "#",
        text: "Manage account"
            },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="../../landing-page/v2/cs-submit-behalf-lp-england.html?member-removed=no">Home</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">All scheme members (150)</h1>

    <form method="POST" action="./filtered-scheme-members">
      <div class="search-container" style="display: flex; align-items: end; ">
        <div class="govuk-form-group govuk-!-margin-right-2" style="flex: 1;">
          <label class="govuk-label" for="search-filter">
            Search by organisation name or number 
          </label>
          <div id="search-filter-hint" class="govuk-hint">For example, Acme Ltd or 123 456</div>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Search
        </button>
      </div>
    </form>
  </div>
</div>


<!-- SCHEME VIEW -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation name</th>
          <th scope="col" class="govuk-table__header">Organisation number</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Marks & Spencer Group plc</a></p>
          </th>
          <td class="govuk-table__cell">201 345</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Marsh & McLennan Companies, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">302 456</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Merlin Entertainments plc</a></p>
          </th>
          <td class="govuk-table__cell">403 567</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Microsoft Corporation</a></p>
          </th>
          <td class="govuk-table__cell">504 678</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Mitchells & Butlers plc</a></p>
          </th>
          <td class="govuk-table__cell">605 789</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">National Grid plc</a></p>
          </th>
          <td class="govuk-table__cell">706 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Next plc</a></p>
          </th>
          <td class="govuk-table__cell">918 123</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Nike, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">119 234</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Nokia Siemens Networks</a></p>
          </th>
          <td class="govuk-table__cell">807 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Novartis AG</a></p>
          </th>
          <td class="govuk-table__cell">211 345</td>
        </tr>

        <!-- 10 -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Npower plc</a></p>
          </th>
          <td class="govuk-table__cell">312 456</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">O2 (UK) Limited</a></p>
          </th>
          <td class="govuk-table__cell">413 567</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Oracle Corporation</a></p>
          </th>
          <td class="govuk-table__cell">514 678</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Pearson plc</a></p>
          </th>
          <td class="govuk-table__cell">615 789</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Pfizer Inc.</a></p>
          </th>
          <td class="govuk-table__cell">716 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Prudential plc</a></p>
          </th>
          <td class="govuk-table__cell">817 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Reckitt Benckiser Group plc</a></p>
          </th>
          <td class="govuk-table__cell">928 123</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Rolls-Royce Holdings plc</a></p>
          </th>
          <td class="govuk-table__cell">129 234</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Royal Bank of Scotland Group plc</a></p>
          </th>
          <td class="govuk-table__cell">221 345</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Royal Dutch Shell plc</a></p>
          </th>
          <td class="govuk-table__cell">322 456</td>
        </tr>

        <!-- 20 -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">SABMiller plc</a></p>
          </th>
          <td class="govuk-table__cell">423 567</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Sage Group plc</a></p>
          </th>
          <td class="govuk-table__cell">524 678</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Samsung Electronics Co., Ltd.</a></p>
          </th>
          <td class="govuk-table__cell">625 789</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Santander UK plc</a></p>
          </th>
          <td class="govuk-table__cell">726 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Scottish & Southern Energy plc</a></p>
          </th>
          <td class="govuk-table__cell">827 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">ScottishPower plc</a></p>
          </th>
          <td class="govuk-table__cell">938 123</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Shire plc</a></p>
          </th>
          <td class="govuk-table__cell">139 234</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Sky plc</a></p>
          </th>
          <td class="govuk-table__cell">231 345</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Smith & Nephew plc</a></p>
          </th>
          <td class="govuk-table__cell">332 456</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Sony Corporation</a></p>
          </th>
          <td class="govuk-table__cell">433 567</td>
        </tr>

        <!-- 30 -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Standard Chartered plc</a></p>
          </th>
          <td class="govuk-table__cell">534 678</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Statoil ASA</a></p>
          </th>
          <td class="govuk-table__cell">635 789</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Tesco plc</a></p>
          </th>
          <td class="govuk-table__cell">736 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Telefonica UK Limited</a></p>
          </th>
          <td class="govuk-table__cell">837 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Tesco Bank plc</a></p>
          </th>
          <td class="govuk-table__cell">948 123</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Unilever plc</a></p>
          </th>
          <td class="govuk-table__cell">149 234</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">United Utilities Group plc</a></p>
          </th>
          <td class="govuk-table__cell">241 345</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Vodafone Group plc</a></p>
          </th>
          <td class="govuk-table__cell">342 456</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Waterstones Booksellers Limited</a></p>
          </th>
          <td class="govuk-table__cell">443 567</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Warby Parker, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">544 678</td>
        </tr>

        <!-- 40 -->

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">WeWork Companies Inc.</a></p>
          </th>
          <td class="govuk-table__cell">645 789</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Williams-Sonoma, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">746 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Whole Foods Market, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">847 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Wool & Prince, LLC.</a></p>
          </th>
          <td class="govuk-table__cell">958 123</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Zara Ltd.</a></p>
          </th>
          <td class="govuk-table__cell">159 234</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Zwilling J.A. Henckels AG.</a></p>
          </th>
          <td class="govuk-table__cell">251 345</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Zipcar, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">352 456</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Z Hotels City Hotel Holdings Limited</a></p>
          </th>
          <td class="govuk-table__cell">453 567</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Zumiez, Inc.</a></p>
          </th>
          <td class="govuk-table__cell">554 678</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Z & J Leisure Limited</a></p>
          </th>
          <td class="govuk-table__cell">655 789</td>
        </tr>

      </tbody>
    </table>

  </div>

  <!-- LIST ITEM -->
  <!-- <div class="govuk-grid-column-two-thirds">
    
    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">ABC Cleaning Services Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Organisation number: 579 502</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div> -->

  <!-- LIST ITEM -->
  <!-- <div class="govuk-grid-column-two-thirds" >

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Boots UK Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Organisation number: 123 293</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div> -->

</div>

<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">
    
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="./all-scheme-members-2.html" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
        </a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item ">
          <a class="govuk-link govuk-pagination__link" href="./all-scheme-members.html" aria-label="Page 1" >
            1
          </a>
        </li>
        <li class="govuk-pagination__item ">
          <a class="govuk-link govuk-pagination__link" href="./all-scheme-members-2.html" aria-label="Page 2" >
            2
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="./all-scheme-members-3.html" aria-label="Page 3" aria-current="page">
            3
          </a>
        </li>
      </ul>
      <!-- <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div> -->
    </nav>


  </div>
</div>






{% endblock %}
