{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "../../landing-page/v2/cs-submit-behalf-lp-england.html?member-removed=no",
        text: "Home"
      },
      {
        href: "#",
        text: "Manage account"
            },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="../../landing-page/v2/cs-submit-behalf-lp-england.html?member-removed=no">Home</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">All scheme members (150)</h1>

    <div class="search-container" style="display: flex; align-items: end;">
      <div class="govuk-form-group govuk-!-margin-right-2 govuk-!-margin-bottom-3" style="flex: 1;">
        <label class="govuk-label" for="search-filter">
          Search by organisation name or number 
        </label>
        <div id="search-filter-hint" class="govuk-hint">For example, Acme Ltd or 123 456</div>
        <input class="govuk-input" id="event-name" name="event-name" type="text" value="{{data['event-name']}}">
      </div>

      <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 18px">
        Search
      </button>
    </div>

    <p class="govuk-body"><a href="./all-scheme-members.html" class="govuk-link govuk-!-link--no-visisted-state">Clear search</a></p>

  </div>
</div>


<!-- SCHEME VIEW -->
<div class="govuk-grid-row govuk-!-margin-top-2">

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk-!-font-weight-bold">3 results</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation name</th>
          <th scope="col" class="govuk-table__header">Organisation number</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="../manage-members/scheme-member.html?filtered=yes" class="govuk-link govuk-link--no-visited-state">Greggs plc</a></p>
          </th>
          <td class="govuk-table__cell">787 890</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Greggs Academic Service LTD</a></p>
          </th>
          <td class="govuk-table__cell">888 901</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Greggs Kitchens Limited</a></p>
          </th>
          <td class="govuk-table__cell">990 123</td>
        </tr>


      </tbody>
    </table>

  </div>

  <!-- LIST ITEM -->
  <!-- <div class="govuk-grid-column-two-thirds">
    
    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">ABC Cleaning Services Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Organisation number: 579 502</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div> -->

  <!-- LIST ITEM -->
  <!-- <div class="govuk-grid-column-two-thirds" >

    <div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-3">


      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#" class="govuk-link govuk-link--no-visited-state">Boots UK Limited</a></p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">Organisation number: 123 293</p>
      </div>


    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

  </div> -->

</div>

<!-- <div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-two-thirds">
    
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
        </a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item ">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" >
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>


  </div>
</div> -->






{% endblock %}
