{% set serviceName = "EPR for packaging" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Protoypes",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} EPR for packaging
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Obligation & Certificate of Compliance    </div>
  </div>


  

 
<!-- DESCRIPTION -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
      <h1 class="govuk-heading-l">
          
          Landing page and sub-landing page for Obligation
      </h1>
  </div>
</div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-4">
        <!--content updates--><!--aug 24-->
      The purpose of this prototype is to incorporate a tile for Obligation onto the landing page, allowing the user to naviagte to a Obligation sub-landing page where they will be able to navigate to the Recycling obligation calculation and detailed sub-pages and submit their  Certificate of Compliance.
     </p>
  </div>
</div>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Landing page and sub-landing page for Obligation
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">

      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 ">
          Sprint 6 : MVP Release
        </strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s6b/lp-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 No Data submitted)</p>
       <p class="govuk-body"><a href="./s6b/lp-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2 Data submitted pending verification)</p>
        <p class="govuk-body"><a href="./s6b/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s6b/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s6b/lp-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
        <p class="govuk-body"><a href="./s6b/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s6b/cs-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 No Data submitted)</p>
        <p class="govuk-body"><a href="./s6b/cs-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2 Data submitted pending verification)</p>
        <p class="govuk-body"><a href="./s6b/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s6b/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s6b/cs-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
           <p class="govuk-body"><a href="./s6b/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>


           <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
            Error 500 message for sub-landing page
           </p>
         
           <p class="govuk-body"><a href="./s6b/lp-landing-page-sp-err.html" class="govuk-link">Landing page</a> (links to shutter page)</p>
           <p class="govuk-body"><a href="./s6b/lp-sub-landing-page-sp-err.html" class="govuk-link">Shutter page</a> (Error example)</p> 
      </div>


      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 ">
          Sprint 6 : DRAFT WIP includes stakeholder / regulator feedback
        </strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s6/lp-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 No Data submitted)</p>
       <p class="govuk-body"><a href="./s6/lp-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2 Data submitted pending verification)</p>
        <p class="govuk-body"><a href="./s6/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s6/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s6/lp-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
        <p class="govuk-body"><a href="./s6/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s6/cs-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 No Data submitted)</p>
        <p class="govuk-body"><a href="./s6/cs-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2 Data submitted pending verification)</p>
        <p class="govuk-body"><a href="./s6/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s6/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s6/cs-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
           <p class="govuk-body"><a href="./s6/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>



      </div>

      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 ">
          Sprint 5 : Post testing design revision wip with user feedback
        </strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s5b/lp-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 & 2)</p>
        <p class="govuk-body"><a href="./s5b/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s5b/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1 & 2 consolidated includes table)</p>
        <p class="govuk-body"><a href="./s5b/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s5b/cs-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1 & 2)</p>
        <p class="govuk-body"><a href="./s5b/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s5b/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1 & 2 consolidated includes table)</p>
           <p class="govuk-body"><a href="./s5b/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>


        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 ">
          Sprint 5 : Final testing 27-29 Aug
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s5/lp-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1)</p>
        <p class="govuk-body"><a href="./s5/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s5/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
       <p class="govuk-body"><a href="./s5/lp-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
        <p class="govuk-body"><a href="./s5/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s5/cs-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1)</p>
        <p class="govuk-body"><a href="./s5/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s5/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
      <p class="govuk-body"><a href="./s5/cs-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2) </p> 
        <p class="govuk-body"><a href="./s5/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>

       

        

      </div>



      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 ">
          Sprint 4 : Not tested 
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s4/lp-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1)</p>
        <p class="govuk-body"><a href="./s4/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s4/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
       <p class="govuk-body"><a href="./s4/lp-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2)</p>
        <p class="govuk-body"><a href="./s4/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
       <!-- <p class="govuk-body"><a href="./s4/lp-sub-landing-page-s4.html" class="govuk-link">Sub-landing page</a> (scenario 4)</p>-->
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s4/cs-landing-page-1.html" class="govuk-link">Landing page</a> (links to scenario 1)</p>
        <p class="govuk-body"><a href="./s4/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3)</p>
        </br>
        <p class="govuk-body"><a href="./s4/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
      <p class="govuk-body"><a href="./s4/cs-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2) </p> 
        <p class="govuk-body"><a href="./s4/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3)</p>
      <!--  <p class="govuk-body"><a href="./s4/cs-sub-landing-page-s4.html" class="govuk-link">Sub-landing page</a> (scenario 4)</p>
      -->  
      </div>




      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 ">
          Sprint 3 : Tested Aug 24
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        
        <p class="govuk-body"><a href="./s3/lp-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2) * use for testing</p>
        <p class="govuk-body"><a href="./s3/lp-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3) * use for testing</p>
        </br>
        <p class="govuk-body"><a href="./s3/lp-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s3/lp-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2) * inc excel download option for testing</p>
        <p class="govuk-body"><a href="./s3/lp-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3) * inc excel download option for testing</p>
        <p class="govuk-body"><a href="./s3/lp-sub-landing-page-s4.html" class="govuk-link">Sub-landing page</a> (scenario 4)</p>

        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Compliance scheme:
         </p>
        

         <p class="govuk-body"><a href="./s3/cs-landing-page-2.html" class="govuk-link">Landing page</a> (links to scenario 2) * use for testing</p>
        <p class="govuk-body"><a href="./s3/cs-landing-page.html" class="govuk-link">Landing page</a> (links to scenario 3) * use for testing</p>
        </br>
        <p class="govuk-body"><a href="./s3/cs-sub-landing-page-s1.html" class="govuk-link">Sub-landing page</a> (scenario 1)</p>
        <p class="govuk-body"><a href="./s3/cs-sub-landing-page-s2.html" class="govuk-link">Sub-landing page</a> (scenario 2) * inc excel download option for testing</p>
        <p class="govuk-body"><a href="./s3/cs-sub-landing-page-s3.html" class="govuk-link">Sub-landing page</a> (scenario 3) * inc excel download option for testing</p>
        <p class="govuk-body"><a href="./s3/cs-sub-landing-page-s4.html" class="govuk-link">Sub-landing page</a> (scenario 4)</p>

        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          For discussion:
         </p>
        <p class="govuk-body"><a href="./s3/cs-sub-landing-page-dll.html" class="govuk-link">Sub-landing page</a> Download an Excel list of all PRNs and PERNs</p>
       

      </div>
      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 ">
          Sprint 2 : updated design - not tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body"><a href="./s2/lp-landing-page.html" class="govuk-link">Large producer</a></p>
        <p class="govuk-body"><a href="./s2/cs-landing-page.html" class="govuk-link">Compliance scheme</a></p>
      </div>
   

    

      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          Sprint 1 : Design Tested with users - 23 July 2024
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
          Scenario: I want to view the Landing page & Sub-landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body"><a href="lp-landing-page.html" class="govuk-link">Large producer</a></p>
        <p class="govuk-body"><a href="cs-landing-page.html" class="govuk-link">Compliance scheme</a></p>

    
       

      </div>
    </div>
  </div>


 

</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
      <h1 class="govuk-heading-l">
          
          Recycling obligation calculation
      </h1>
  </div>
</div>


<div class="govuk-grid-row ">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-4">
      The purpose of this prototype is to allow the user to navigate through the Recycling obligation calculation and associated sub-pages.
     </p>
  </div>
</div>





<div class="govuk-accordion 5 4" data-module="govuk-accordion" id="accordion-default" >
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Recycling obligation calculation
        </span>
      </h2>
    </div>


    <div id="accordion-default-content-1" class="govuk-accordion__section-content">


      <div class="govuk-grid-column-full card card-overview">
        

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Srint 6 : MVP Release version
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario : I want to view my recycling obligation for 2025
        </p>
       
        
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        

         <h3 class="govuk-heading-s"> Pre calculation</h3>
        <p class="govuk-body"><a href="view-obligation-v2/pre/paper-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for paper </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/glass-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for glass </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/aluminium-calculation.html" class="govuk-link">Your 2025 recycling obligation for aluminium </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/plastic-calculation.html" class="govuk-link">Your 2025 recycling obligation for plastic </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/steel-calculation.html" class="govuk-link">Your 2025 recycling obligation for steel </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/wood-calculation.html" class="govuk-link">Your 2025 recycling obligation for wood </a></p>
        <h3 class="govuk-heading-s"> Post calculation</h3>
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for paper </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/glass-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for glass </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/aluminium-calculation.html" class="govuk-link">Your 2025 recycling obligation for aluminium </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/plastic-calculation.html" class="govuk-link">Your 2025 recycling obligation for plastic </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/steel-calculation.html" class="govuk-link">Your 2025 recycling obligation for steel </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/wood-calculation.html" class="govuk-link">Your 2025 recycling obligation for wood - no obligation </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/wood-calculation-with-data.html" class="govuk-link">Your 2025 recycling obligation for wood - with obligation</a></p>

       <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
        Compliance schemes:
       </p>

       
       <h3 class="govuk-heading-s"> Pre calculation</h3>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/aluminium-calculation.html" class="govuk-link">Your 2025 recycling obligation for aluminium </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/plastic-calculation.html" class="govuk-link">Your 2025 recycling obligation for plastic </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/steel-calculation.html" class="govuk-link">Your 2025 recycling obligation for steel </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/wood-calculation.html" class="govuk-link">Your 2025 recycling obligation for wood </a> </p>

       <h3 class="govuk-heading-s"> Post calculation</h3>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/aluminium-calculation.html" class="govuk-link">Your 2025 recycling obligation for aluminium</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/plastic-calculation.html" class="govuk-link">Your 2025 recycling obligation for plastic</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/steel-calculation.html" class="govuk-link">Your 2025 recycling obligation for steel</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/wood-calculation.html" class="govuk-link">Your 2025 recycling obligation for wood - no obligation</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/wood-calculation-with-data.html" class="govuk-link">Your 2025 recycling obligation for wood - with obligation</a> </p>

       
      </div>
<br/>
<br/>

    <div id="accordion-default-content-1" class="govuk-accordion__section-content">


      <div class="govuk-grid-column-full card card-overview">
        

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Srint 5 : to be tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario : I want to view my recycling obligation for 2025
        </p>
       
        
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        

         <h3 class="govuk-heading-s"> Pre calculation</h3>
        <p class="govuk-body"><a href="view-obligation-v2/pre/paper-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for paper </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/pre/glass-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for glass </a></p>
        
        <h3 class="govuk-heading-s"> Post calculation</h3>
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for paper </a></p>
        <p class="govuk-body"><a href="view-obligation-v2/glass-calculation-s5.html" class="govuk-link">Your 2025 recycling obligation for glass </a></p>
       

       <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
        Compliance schemes:
       </p>

       
       <h3 class="govuk-heading-s"> Pre calculation</h3>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper </a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/pre/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass </a> </p>
      

       <h3 class="govuk-heading-s"> Post calculation</h3>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-s5/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass</a> </p>
      


       
      </div>
<br/>
<br/>





    <div id="accordion-default-content-1" class="govuk-accordion__section-content">


      <div class="govuk-grid-column-full card card-overview">
        

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Srint 4 : Tested with users 27 August
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario : I want to view my recycling obligation for 2025
        </p>
       
        
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        

        
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation-new.html" class="govuk-link">Your 2025 recycling obligation for paper is 20,000 tonnes</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass is 25,000 tonnes</a></p>
       <!-- <p class="govuk-body"><a href="view-obligation-v2/meeting-your-obligation.html" class="govuk-link">Meeting your recycling obligation</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/you-will-have-an-obligation.html" class="govuk-link">You will have a 2025 recycling obligation to meet</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/submit-your-obligation.html" class="govuk-link">Report your packaging data to calculate your recycling obligation</a></p>-->
       
        
        
       <!-- <p class="govuk-body"><a href="view-obligation-v2/view-obligation-status-change.html" class="govuk-link">Full obligation calculation for 2025 with Status change</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation-progress.html" class="govuk-link">Paper obligation for 2025</a></p>
       -->

            
       <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
        Compliance schemes:
       </p>

       

       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-v3/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper is 20,000 tonnes</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-v3/glass-calculation.html" class="govuk-link">Your 2025 recycling obligation for glass is 25,000 tonnes</a> </p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme-v3/paper-calculation-by-member.html" class="govuk-link">Breakdown of your paper, board or fibre-based material obligation by member</a> </p>

<!--
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/meeting-your-member-obligation.html" class="govuk-link">Meeting your recycling obligation</a></p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/your-member-will-have-an-obligation.html" class="govuk-link">You will have a 2025 recycling obligation to meet</a></p>
      
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/submit-your-member-obligation.html" class="govuk-link">Report your packaging data to calculate your recycling obligation

       </a></p>-->

       
      </div>
<br/>
<br/>



    <div id="accordion-default-content-1" class="govuk-accordion__section-content">


      <div class="govuk-grid-column-full card card-overview">
        

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Srint 3 : Tested with users 15 August 2024
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario : I want to view my recycling obligation for 2025
        </p>
       
        
        <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
          Direct registrants:
         </p>
        

        <p class="govuk-body"><a href="view-obligation-v2/view-obligation.html" class="govuk-link">Your recycling obligation progress for 2025 </a> (links from scenario 3 above) * use for testing</p>
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper is 20,000 tonnes</a> (links from scenario 3 above) * use for testing</p>

        <p class="govuk-body"><a href="view-obligation-v2/meeting-your-obligation.html" class="govuk-link">Meeting your recycling obligation</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/you-will-have-an-obligation.html" class="govuk-link">You will have a 2025 recycling obligation to meet</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/submit-your-obligation.html" class="govuk-link">Report your packaging data to calculate your recycling obligation</a></p>
       
        
        
       <!-- <p class="govuk-body"><a href="view-obligation-v2/view-obligation-status-change.html" class="govuk-link">Full obligation calculation for 2025 with Status change</a></p>
        <p class="govuk-body"><a href="view-obligation-v2/paper-calculation-progress.html" class="govuk-link">Paper obligation for 2025</a></p>
       -->

            
       <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">
        Compliance schemes:
       </p>

       
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/view-obligation.html" class="govuk-link">Your recycling obligation progress for 2025 </a> (links from scenario 3 above) * use for testing</p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/paper-calculation.html" class="govuk-link">Your 2025 recycling obligation for paper is 20,000 tonnes</a> (links from scenario 3 above) * use for testing</p>


       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/meeting-your-member-obligation.html" class="govuk-link">Meeting your recycling obligation</a></p>
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/your-member-will-have-an-obligation.html" class="govuk-link">You will have a 2025 recycling obligation to meet</a></p>
      
       <p class="govuk-body"><a href="view-obligation-v2/compliance-scheme/submit-your-member-obligation.html" class="govuk-link">Report your packaging data to calculate your recycling obligation

       </a></p>

       
      </div>
<br/>
<br/>


      <div class="govuk-grid-column-full card card-overview govuk-!-margin-top-4">
        

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Sprint 2 : Tested with users - 23 July 2024
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario: I want to view my recycling obligation for 2025
        </p>
       

        <p class="govuk-body"><a href="view-obligation/view-obligation.html" class="govuk-link">Full obligation calculation for 2025</a></p>
        <p class="govuk-body"><a href="view-obligation/paper-calculation.html" class="govuk-link">Paper obligation for 2025</a></p>

        <p class="govuk-body"><a href="view-obligation/meeting-your-obligation.html" class="govuk-link">Meeting your packaging obligation</a></p>
        <p class="govuk-body"><a href="view-obligation/view-obligation-status-change.html" class="govuk-link">Full obligation calculation for 2025 with Status change</a></p>
        <p class="govuk-body"><a href="view-obligation/paper-calculation-progress.html" class="govuk-link">Paper obligation for 2025</a></p>

      </div>


    </div>
  </div>


  <!-- COMBINED JOURNEYS-->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      </div>
  </div>



{% endblock %}
