{% set serviceName = "Small producers" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "Small producers",
href: "/small-producers/small-producers-index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Prototypes</span>
      Small producers
    </h1>
  </div>
</div>


<!-- START Producer registration -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">Latest</strong>
      <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2 govuk-!-margin-right-2">In progress</strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Error messages</h2>
      <p class="govuk-body">Includes all the relevant pages with error messages</p>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-3">This prototype includes:</p>

      <ol class="govuk-list govuk-list--number">
        <li>"Reporting requirements, fees and costs" page<br>
          <a href="../error-messages/self-declare-2-status-error-messages" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Go to
            prototype (opens in new tab)</a><br><br>
        </li>
        <li>"Details of your payment" page<br>
          <a href="payment-large-producers-payment-information-error-messages" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Go to
            prototype (opens in new tab)</a><br><br>
        </li>
      </ol>

      <div class="govuk-!-padding-bottom-3">
        <hr>
      </div>

      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contact: Estela Gaspar (UI Designer, Small
        Producers UCD Team)</p>
    </div>
  </div>
</div>



{% endblock %}