{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
      <!-- <span class="govuk-caption-l">About your organisation</span>-->
      <h1 class="govuk-fieldset__heading">
        About your organisation
      </h1>
    </legend>

    <p>Your organisation’s reporting requirements, fees payable and other costs will depend on whether it’s classed as a
      ‘large producer’ or a ‘small producer’.</p>


    <p><a
        href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-who-is-affected-and-what-to-do#What-you-may-need-to-do"
        target="_blank" rel="noopener noreferrer">Find
        out more about packaging responsibilities and organisation sizes (opens in a new tab)</a></p>
    <p>If you are unsure whether your organisation is ‘large’ or ‘small’, use our <a
        href="https://defra-cpr-prototype.herokuapp.com/obligation-checker/v5/start-page" target="_blank"
        rel="noopener noreferrer">step-by-step guide (opens in a
        new
        tab).</a></p>

    <h2 class="govuk-heading-m">What size is your organisation?</h2>

    <form id="agreementForm">
      <!-- Hint Text -->
      <!--<div id="sizeorganisation" class="govuk-hint">
        There are different reporting requirements, fees, and costs depending on if your organisation is classed as
        'small' or 'large'.
      </div> -->


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "agreement",
      fieldset: {
      legend: {
      text: "Where do you live?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "large-producer",
      text: "Large producer"
      },
      {
      value: "small-producer",
      text: "Small producer"
      }
      ],
      errorMessage: {
      text: "Select the country where you live"
      }
      }) }}

      {{ govukButton({
      text: "Continue",
      attributes: {
      id: "submitButton",
      onclick: "handleSubmit(event)"
      }
      }) }}
    </form>

    <script>
      function handleSubmit(event) {
        event.preventDefault(); // Prevent form submission

        // Get the form element
        const form = document.getElementById('agreementForm');
        // Get the selected radio button value
        const agreement = form.querySelector('input[name="agreement"]:checked');

        // Check if an option is selected
        if (agreement) {
          // Route based on the selected value
          if (agreement.value === 'small-producer') {
            window.location.href = 'reported-small-producer';
          } else if (agreement.value === 'large-producer') {
            window.location.href = 'reported-large-producer';
          }
        } else {
          alert('Please select an option.');
        }
      }
    </script>

  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Prototype error messages</p>
        {% block beforeContent %}
        <a class="govuk-back-link" href="javascript:window.history.back()">Go back</a>
        {% endblock %}
      </div>
    </div>
  </main>
</div>
{% endblock %}