{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">Retailer reporting</span>
        
        <form method="POST" action="route-reporting-retailer-glass">
            
            {% call govukFieldset({
            legend: {
                text: "Glass bottles placed on the market between January and March 2023",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            <!-- {{ govukDetails({
                summaryText: "What glass bottles do I need to include?",
                html: '
                <p>Include any glass bottles that: </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your organisation produced under their own brand name</li>
                    <li>imported from outside of the UK and then sold to consumers</li>
                </ul>
                '
            }) }} -->

            <!-- <p class="govuk-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->

            <h1 class="govuk-heading-m">750ml bottles and under</h1>

            {{ govukInput({
                label: {
                    text: "England"
                },
                classes: "govuk-input--width-10",
                id: "glassEnglandUnder750",
                name: "glassEnglandUnder750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}

            {{ govukInput({
                label: {
                    text: "Wales"
                },
                classes: "govuk-input--width-10",
                id: "glassWalesUnder750",
                name: "glassWalesUnder750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}


            {{ govukInput({
                label: {
                    text: "Northern Ireland"
                },
                classes: "govuk-input--width-10",
                id: "glassIrelandUnder750",
                name: "glassIrelandUnder750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}



            <h1 class="govuk-heading-m">Over 750ml bottles</h1>

            {{ govukInput({
                label: {
                    text: "England"
                },
                classes: "govuk-input--width-10",
                id: "glassEnglandOver750",
                name: "glassEnglandOver750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}

            {{ govukInput({
                label: {
                    text: "Wales"
                },
                classes: "govuk-input--width-10",
                id: "glassWalesOver750",
                name: "glassWalesOver750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}


            {{ govukInput({
                label: {
                    text: "Northern Ireland"
                },
                classes: "govuk-input--width-10",
                id: "glassIrelandOver750",
                name: "glassIrelandOver750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}  


            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}