{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">Producer reporting</span>
        
        <form method="POST" action="route-reporting-producer-plastic">
            
            {% call govukFieldset({
            legend: {
                text: "PET plastic bottles produced between January and March 2023",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            {{ govukDetails({
                summaryText: "What plastic bottles do I need to include?",
                html: '
                <p>Include any plastic bottles that: </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your organisation produced under their own brand name</li>
                    <li>imported from outside of the UK and then sold to consumers</li>
                </ul>
                '
            }) }}

            <!-- <p class="govuk-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->


            {{ govukInput({
                label: {
                    text: "750ml and under"
                },
                classes: "govuk-input--width-10",
                id: "plasticUnder750",
                name: "plasticUnder750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}


            {{ govukInput({
                label: {
                    text: "Over 750ml"
                },
                classes: "govuk-input--width-10",
                id: "plasticOver750",
                name: "plasticOver750",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}


            {{ govukInput({
                label: {
                    text: "Placed in multi-packs"
                },
                classes: "govuk-input--width-10",
                id: "plasticMultipacks",
                name: "plasticMultipacks",
                suffix: {
                    text: "Individual units"
                },
                spellcheck: false
            }) }}


            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}