{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">Retailer data</span>
        
        <form method="POST" action="route-reporting-retailer-aluminium">
            
            {% call govukFieldset({
            legend: {
                text: "How many steel and aluminium cans did you sell per country between Jan and Mar 2023?",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            {{ govukDetails({
                summaryText: "Which steel and aluminium cans do I need to include?",
                html: '
                <p>Only include steel and aluminium cans that your organisation sold to end consumers in England, Wales or Northern Ireland.</p>
                '
            }) }}

            {{ govukInput({
                label: {
                    text: "England"
                },
                classes: "govuk-input--width-10",
                id: "aluminiumEnglandSingle",
                name: "aluminiumEnglandSingle",
                suffix: {
                    text: "cans"
                },
                spellcheck: false
            }) }}

            {{ govukInput({
                label: {
                    text: "Wales"
                },
                classes: "govuk-input--width-10",
                id: "aluminiumWalesSingle",
                name: "aluminiumWalesSingle",
                suffix: {
                    text: "cans"
                },
                spellcheck: false
            }) }}


            {{ govukInput({
                label: {
                    text: "Northern Ireland"
                },
                classes: "govuk-input--width-10",
                id: "aluminiumIrelandSingle",
                name: "aluminiumIrelandSingle",
                suffix: {
                    text: "cans"
                },
                spellcheck: false
            }) }}

            {{ govukDetails({
                summaryText: "My organisation also sold steel and aluminium cans in Scotland",
                html: '
                <p>Scotland operates its own deposit return scheme (DRS). You must report any drinks container data for Scotland directly to Circulatory Scotland.</p>
                <p><a href="https://depositreturnscheme.zerowastescotland.org.uk/" target="_blank">Find out more about how to report data for Scotland (opens in new tab)</a>.</p>
                '
              }) }}
            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}