{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "home.html",
text: "Home"
},
{
href: "",
text: "Manage account" 
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="upload-file.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="./loading-success">
        <div class="govuk-form-group ">

        <h1 class="govuk-heading-l">Packaging data file not uploaded – fix the errors and check the warnings</h1>

        <p class="govuk-body">Your data file has not been uploaded to your organisation’s account. This is because some of the data in your file is missing or in the wrong format.</p>

        <p class="govuk-body">There are also 300 warnings. Warnings are unusual entries in your file you need to check, but they will not prevent your file from being submitted to the environmental regulator.</p>

        <h2 class="govuk-heading-m">How to fix errors and check warnings</h2>

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li><a href="../../../../../../public/files/packaging-data-Jan-Jun-2023-error-report-B.csv">Download your error report (CSV, 120KB)</a>. This tells you where the errors and warnings are in your file. </li>
            <li>Use the report to fix the errors. You may also need the <a rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/packaging-data-how-to-create-your-file-for-extended-producer-responsibility/packaging-data-file-specification-for-extended-producer-responsibility">file specification guidance (opens in a new window)</a>.</li>
            <li>Check the warnings and decide if you want to update any data.</li>
            <li>Upload the file again.</li>
        </ol>

        <h2 class="govuk-heading-m">
            How the error report works</h2>

        <p class="govuk-body">Your error report only shows the first 200 errors in the file you uploaded.</p>

        <p class="govuk-body">You should fix the errors, check warnings and upload the file again. If there are more errors, you may get another error report when you re-upload the file.</p>

        <label class="govuk-label govuk-label--m govuk-!-margin-top-6" for="org-details" aria-describedby="organisation-file-hint">
            Upload the file again
        </label>

        <input class="govuk-file-upload" id="org-details" name="organisation-details-file" type="file">
    </div>

        {{ govukButton({
        text: "Upload file",
        preventDoubleClick: true,
        href: 'uploading-file.html',
        classes: 'govuk-!-margin-top-4'
        }) }}
    </form>


    </div>
</div>

{% endblock %}
