{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>



    <h1 class="govuk-heading-xl">Calculate packaging payments</h1>

      <div class="govuk-grid-row govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m govuk-link-"><a href="default-settings-no" class="govuk-link--no-visited-state">Manage default calculation parameters
            </a></h2>
            <p class="govuk-body">Upload a spreadsheet to update the default parameters for payment calculations. All calculations will automatically use these parameters, unless they are manually changed.
            </p>
          </div>
        </div>
      
        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m"><a href="la-settings" class="govuk-link--no-visited-state">Manage local authority disposal costs</a></h2>
            <p class="govuk-body">Upload a CSV file with the data for the local authority disposal costs.
              </p>
              
          </div>
        </div>

        
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m"><a href="name" class="govuk-link--no-visited-state">Run a new calculation</a></h2>
            <p class="govuk-body">The calculation will use the default parameters that your account administrator set up, unless you choose to change them.
              </p>
              
          </div>
        </div>
  
        
      </div>
      <br>



  
  <div class="govuk-grid-column-full">  
    
  
          <h2 class="govuk-heading-l">Previous calculations</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    Default settings check</h3>
                    <p>Calculation ID: 240010<br>
                      Date: 28 June 2025 at 10:01<br>
                    Run by: Jamie Roberts</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
                    In the queue
                  </strong>
          
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    
                      Alteration check</h3>
                    <p>Calculation ID: 240009<br>
                      Date: 28 June 2025 at 12:19<br>
                      Run by: Jamie Roberts</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
                    Running
                  </strong>
          
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="run" class="govuk-link govuk-link--no-visited-state">
                      Test 10
                    </a></h3>
                    <p>Calculation ID: 240008<br>
                      Date: 21 June 2025 at 12:09<br>
                      Run by: Jamie Roberts</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--blue">
           Unclassified
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    June check</a></h3>
                    <p>Calculation ID: 240007<br>
                      Date: 11 June 2025 at 9:14<br>
                      Run by: Jamie Roberts</p>
                   
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
            Play
          </strong>
          
                </td>

              </td>
            </tr>
           
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Pre June check</a></h3>
                    <p>Calculation ID: 240006<br>
                      Date: 13 June 2025 at 11:18<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
           Play
          </strong>
          
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Local Authority data check 5</a></h3>
                    <p>Calculation ID: 240005<br>
                      Date: 10 June 2025 at 8:13<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Play
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Local Authority data check 4</a></h3>
                    <p>Calculation ID: 240004<br>
                      Date: 10 June 2025 at 10:14<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Play
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Local Authority data check 3</a></h3>
                    <p>Calculation ID: 240003<br>
                      Date: 8 June 2025 at 10:00<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Play
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Local Authority data check 2</a></h3>
                    <p>Calculation ID: 240002<br>
                      Date: June 2025 at 11:20<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Play
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“#”>
                    Local Authority data check</a></h3>
                    <p>Calculation ID: 240001<br>
                      Date: 2 June 2025 at 12:02<br>
                      Run by: Jamie Roberts</p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Play
          </strong>
          
                </td>
              </tr>
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“one”>
                    Fee ajustment check</a></h3>
                    <p>Calculation ID: 240000<br>
                      Date: 1 June 2025 at 9:12<br>
                      Run by: Jamie Roberts</p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--yellow">
            Error
          </strong>
          
                </td>
              </tr>
            </tbody>
          </table>
          
  
        
          
  
        </div>
      </div>
    
  </div>
</div>

  

         
      


{% endblock %}