{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>

  <h1 class="govuk-heading-xl">Calculate packaging payments</h1>

  <div class="govuk-grid-row tile-group">
    <div class="govuk-grid-column-one-third tile">
        <a class="min-height" href="default-settings-no">
            <span class="govuk-heading-m heading">Manage default parameters</span>
            <span class="govuk-heading govuk-!-font-size-16">View or update the parameters</span>
        </a>
    </div>

    

    <div class="govuk-grid-column-one-third tile">
        <a class="min-height" href="la-settings">
            <span class="govuk-heading-m heading">Manage local authority disposal costs</span>
            <span class="govuk-heading govuk-!-font-size-16">View or update disposal costs</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third tile">
        <a class="min-height" href="name">
            <span class="govuk-heading-m heading">Run the calculator</span>
            <p></p><br>
            <span class="govuk-heading govuk-!-font-size-16">Use the default parameters or upload a set of temporary parameters</span>
        </a>
    </div>
    </div><br><br>

    <h2 class="govuk-heading-l">Calculations made in this financial year</h2>
                      <span class="govuk-caption-xl">There are no calculations for this financial year. </span><br>
                     
                      <!--<h3 class="govuk-heading-s govuk-!-margin-bottom-3">If you have access - you will see this data in Databricks.
                        </h3>--> 
        </div>      
    </div>
        </div>
      </div>
    
  </div>
</div>

  

         
      


{% endblock %}