
{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 

 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"><br>
        <h1 class="govuk-heading-xl">Sign in</h1>

            </div>
        </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    
  
    <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
        User ID or email address
        </label>
        <input class="govuk-input" id="full-name" name="name" type="text">
    </div>
    </div>
</div>

 
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group">
      <label class="govuk-label" for="name">Password
      </label>
      <input class="govuk-input" id="name" name="name" type="text">
    </div>
    
<br>

  <a href="dash" class="govuk-button" type="submit">Sign in</a>

  </div>

</div>


<!--<h3 class="govuk-heading-m">Problems signing in?</h3>-->

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Problems signing in?
      </h3>
    
      </div>
      <a href="#">I forgot my password</a>
      <br>
<a href="#">I don't have an account</a>
    </div>
    </legend>
  </fieldset>
</div>

    
</div>



{% endblock %}