{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>



    <h1 class="govuk-heading-xl">Calculate packaging payments</h1>

          <div class="govuk-grid-row tile-group">

            <div class="govuk-grid-column-one-third tile">
                <a class="min-height" href="default-settings-no" target="_blank">
                    <span class="govuk-heading-m heading">Manage default parameters</span>
                    <span class="govuk-heading govuk-!-font-size-16">View or upload a new file</span>
                </a>
            </div>

            
 
            <div class="govuk-grid-column-one-third tile">
                <a class="min-height" href="la-settings" target="_blank">
                    <span class="govuk-heading-m heading">Manage local authority disposal costs</span>
                    <span class="govuk-heading govuk-!-font-size-16">View or upload a new file</span>
                </a>
                
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="min-height" href="name" target="_blank">
                    <span class="govuk-heading-m heading">Run the calculator using the parameters</span>
                    <span class="govuk-heading govuk-!-font-size-16">Run or upload a new file</span>
                </a>
                
            </div><br><br>

            <div class="govuk-grid-column-full">  
              <h2 class="govuk-heading-m">Previous calculations</h2>
                
                      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                          </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                          <span class="govuk-caption-xl">There are no calculations. </span><br>
                         
                          <!--<h3 class="govuk-heading-s govuk-!-margin-bottom-3">If you have access - you will see this data in Databricks.
                            </h3>-->
                            
                        </div>
          </div>     
        </div>
  
        </div>
      </div>
    
  </div>
</div>

{% endblock %}