{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 


        

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        <h1 class="govuk-heading-xl">
          Run the calculator</h1> 
          <p>The adjustments data and the waste disposal data need to be uploaded before the calculator can be run.</p>   
          <p>A calculation can be run using the default adjustment data.</p> 
          <p>You can upload a temporary set and run the calculator using that.</p>

<div class="govuk-button-group">
  <a href="default-settings" class="govuk-button govuk-button--secondary" type="submit">View the default adjustments</a>
  <a href="upload-file-run" class="govuk-button govuk-button--secondary" type="submit">Upload new adjustments</a>
  <p></p><br>
  <a href="spinner" class="govuk-button" type="submit">Run the calculator</a>
</div>

      </div>

      <p></p>
    </div>
  
</div>
{% endblock %}