{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="organisation-uploading" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                       
                        Upload organisation details                  
                    </h1>

                    <p class="govuk-body">Upload your organisations’ packaging data in a CSV file.</p>
                    <p>Based on what's in the organisation details file, you may need to also upload separate files with information about brands and partners. If so, we’ll take you to those steps after you’ve uploaded the first file. </p>

          
                 


                    <h2 class="govuk-heading-m">Upload file</h2>

                    <div class="govuk-form-group">
                        <p>The file may take a few minutes to upload.  </p>
                        <p> Do not close the window while the file is uploading. </p>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  </div>

                  <br>
                <br>

            {{
 govukButton({
        text: "Upload file"
      })
            }}

        </form>

    </div>
</div>

{% endblock %}
