{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Home",
active: true
},
{
href: "manage-account.html",
text: "Manage account"
},
{
href: "my-profile.html",
text: "My profile"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}


<nav class="defra-language-select" aria-label="Language switcher">

  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>


{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've removed NWE Enterprise LTD from your account
          </h1>
        </div>

        <p class="govuk-body">If you want to add them to your account again, they will need to name you as their compliance scheme in their ‘Report packaging data’ account.</p>





        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You’ll still need to remove NWE ENTERPRISE LTD from either your organisation details file or your registration file, depending on the date you first registered them as a member and inform us of the change within 28 days.</p>

    <p class="govuk-body">
        Adding or removing members might affect your organisation's packaging obligations – make sure you have read the <a href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-who-is-affected-and-what-to-do#period-you-must-report-on" target="_blank">guidelines for extended producer responsibility for packaging (opens in a new tab)</a>.
    
      </p>
        <h2 class="govuk-heading-s">If you registered this organisation as a member before 5 April 2025</h2>
        <p class="govuk-body">You’ll need to <a href="sub-landing.html">remove them from your report members' organisation details file and re-upload it</a>.
        </p>
  
        <h2 class="govuk-heading-s">If you registered this organisation as a member on or after 5 April 2025</h2>
        <p class="govuk-body">You’ll need to <a href="#">remove them from your organisation’s registration file and re-upload it</a>.
        </p>
          


        <p class="govuk-body govuk-!-margin-top-9"><a class="govuk-link" href="#">Return to view all scheme members</a></p>
     


      </div>
    </div>

</div>


{% endblock %}