{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "manage-account.html",
    text: "Manage account" 
    },
    {
    href: "my-profile.html",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Back",
      href: "javascript:history.back()"
	}) }}
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Subsidiaries</h1>
            <form method="POST" action="">
         
<h1 class="govuk-heading-m">GOOD FOODS LIMITED</h1>
<span class="govuk-caption-m">Organisation ID: 155594<br>Companies House number: 10319765</span>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row"> <h1 class="govuk-heading-m">
              <th scope="col" class="govuk-table__header">Subsidiary name</th>
              <th scope="col" class="govuk-table__header">Subsidiary ID</th>
              <th scope="col" class="govuk-table__header">Companies House number</th>
              <th scope="col" class="govuk-table__header"></th>
              </h1>
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  Good Sauces Coventry</td>
                  <td class="govuk-table__cell">123456</td>
                  <td class="govuk-table__cell">64523645</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="remove-confirm">
                  Remove<span class="govuk-visually-hidden"> address</span>
                  </a></td>
              
              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> 
                  Good Vegetables Telford</td>
                  <td class="govuk-table__cell">895464</td>
                  <td class="govuk-table__cell">89461325</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> address</span>
                    </a></td>
              
              </tr>
              
              

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    Good Pasta Stratford</td>
                    <td class="govuk-table__cell">654931</td>
                    <td class="govuk-table__cell">46531597</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> address</span>
                      </a></td>
                
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      Good Sauces Banbury</td>
                      <td class="govuk-table__cell">597812</td>
                      <td class="govuk-table__cell">86314576</td>
                      <td class="govuk-table__cell"><a class="govuk-link" href="#">
                        Remove<span class="govuk-visually-hidden"> address</span>
                        </a></td>
                </tr>

                

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Good Sauces Exeter</td>
                        <td class="govuk-table__cell">634215</td>
                        <td class="govuk-table__cell">21369754</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">
                          Remove<span class="govuk-visually-hidden"> address</span>
                          </a></td>
                    
                    </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell"> 
                    Good Sauces London</td>
                    <td class="govuk-table__cell">264985</td>
                    <td class="govuk-table__cell">45692678</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> address</span>
                      </a></td>
                
                </tr>
          </tbody>
        </table><br>
        &nbsp; &nbsp;

        
<h1 class="govuk-heading-m">FRAMES 4 PICTURES LIMITED</h1>
<span class="govuk-caption-m">Organisation ID: 986454</span>
        <span class="govuk-caption-m">Companies House number: 15559432</span>
        <br>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsidiary name</th>
              <th scope="col" class="govuk-table__header">Subsidiary ID</th>
              <th scope="col" class="govuk-table__header">Companies House number</th>
              
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                  FRAMES FOR ART Coventry</td>
                  <td class="govuk-table__cell">516763</td>
                  <td class="govuk-table__cell">98531467</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> address</span>
                    </a></td>
              
              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                FRAMES FOR ART Telford</td>
                  <td class="govuk-table__cell">549782</td>
                  <td class="govuk-table__cell">45698756</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> address</span>
                    </a></td>
              
              </tr>
              
              

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  FRAMES FOR ART Stratford</td>
                    <td class="govuk-table__cell">364597</td>
                    <td class="govuk-table__cell">46597635</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> address</span>
                      </a></td>
                
                    </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    FRAMES FOR ART Banbury</td>
                      <td class="govuk-table__cell">549623</td>
                      <td class="govuk-table__cell">26459734</td>
                      <td class="govuk-table__cell"><a class="govuk-link" href="#">
                        Remove<span class="govuk-visually-hidden"> address</span>
                        </a></td>
                  </tr>

                

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      FRAMES FOR ART Exeter</td>
                        <td class="govuk-table__cell">876541</td>
                        <td class="govuk-table__cell">96423478</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="#">
                          Remove<span class="govuk-visually-hidden"> address</span>
                          </a></td>
                    
                    </tr>
          </tbody>
        </table><br>

        <input class="govuk-file-upload" id="org-details" name="organisation-details-file" type="file">
     <br><br>
 <div id="ctas">
    <button class="govuk-button" formaction="loading">Upload file</button> <button class=" govuk-button govuk-button--secondary" formaction="#" style="margin-left: 20px;">Export</button> 
     <a class="govuk-link" style="margin: 20px;" href="how-to-complete">How to complete a file (opens in a new tab)</a>

</div>
        
<div class="govuk-button-group"> 
 
  </form>
  

</div>

<br>

<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--ellipses">
      &ctdot;
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 6">
        6
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
        7
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">
        8
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--ellipses">
      &ctdot;
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
        42
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>


        
      </div>
      </div>  
      </div>
    </div>
  </main>
</div>


{% endblock %}