{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Home",
active: true
},
{
href: "manage-account.html",
text: "Manage account"
},
{
href: "my-profile.html",
text: "My profile"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}


<nav class="defra-language-select" aria-label="Language switcher">
  {{ govukBackLink ({
  text: "Home",
  href: "/subsidiary/compliance-schemes/landing-page-2-i-myc"
  }) }}
  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>


{% endblock %}



{% block content %}


<style>
  .card {
    min-height: 0px;
  }

  .govuk-table {
    width: 100%;
    border-collapse: collapse;
  }

  .govuk-table__header th,
  .govuk-table td {
    /* padding: 8px; */
    text-align: left;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    text-align: left;
  }

  .govuk-table th {
    background-color: #ffffff;
  }

  .govuk-table__row:hover {
    background-color: #f1f1f1;
  }

  @media screen and (max-width: 600px) {
    .govuk-table thead {
      display: none;
      width: 100%;
    }

    .govuk-table tr {
      display: block;
      margin-bottom: 10px;
    }

    .govuk-table td {
      display: block;
      text-align: left;
      border: none;
      position: relative;
      padding-left: 50%;
    }

    .govuk-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
    }


    .govuk-checkboxes__label {
      display: flex;
      align-items: center;
    }

    .govuk-table__header--numeric {
      text-align: right;
    }

  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Subsidiaries</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Check all the information you have provided is accurate. If any of it is incorrect or incomplete, you will need
        to provide the correct information. Use the subsidiary IDs for all future organisation details and packaging
        data submissions.

      </strong>
    </div>



    <form class="form" action="#" method="POST">

    
      <div class="govuk-grid-column-full card govuk-!-margin-bottom-5">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">


          </legend>

          {{ xGovukAutocomplete({
          id: "country",
          name: "which-producer",
          allowEmpty: false,
          label: {
          classes: "govuk-body--m",
          showAllValues: true,
          isPageHeading: true,
          text: "Search for a Subsidiary by name, ID or Companies House number"
          },
          items: [
          { "text": "Apple Farms Bristol" },
          { "text": "Apple Orchards London" },
          { "text": "Better Breads London" },
          { "text": "Berry Good Produce Leeds" },
          { "text": "Berry Treats Coventry" },
          { "text": "Crispy Snacks Liverpool" },
          { "text": "Delicious Dairy Sheffield" },
          { "text": "Delicious Foods Bristol" },
          { "text": "Exquisite Treats Liverpool" },
          { "text": "Fresh Dairy Birmingham" },
          { "text": "Giant Snacks Oxford" },
          { "text": "Good Fruits Manchester" },
          { "text": "Good Sauces Coventry" },
          { "text": "Golden Grains Oxford" },
          { "text": "Happiest Meals Exeter" },
          { "text": "Healthy Honey York" },
          { "text": "Incredible Grains Sheffield" },
          { "text": "Innovative Imports Exeter" },
          { "text": "Jolly Jams Nottingham" },
          { "text": "Juicy Fruits Cardiff" },
          { "text": "King's Treats Nottingham" },
          { "text": "Lively Snacks Manchester" },
          { "text": "Mighty Imports Leeds" },
          { "text": "Nifty Snacks Oxford" },
          { "text": "Nutri Snacks Cardiff" },
          { "text": "Optimum Exports Sheffield" },
          { "text": "Organic Eats Leeds" },
          { "text": "Prime Dairy Nottingham" },
          { "text": "Quirky Goods Cardiff" },
          { "text": "Rustic Roots Sheffield" },
          { "text": "Sunny Delights Oxford" },
          { "text": "Tasty Treats Glasgow" },
          { "text": "11112222" },
          { "text": "11101112" },
          { "text": "98765432" },
          { "text": "22223333" },
          { "text": "22334455" },
          { "text": "33334444" },
          { "text": "41415161" },
          { "text": "33445566" },
          { "text": "90901010" },
          { "text": "11223344" },
          { "text": "89898901" },
          { "text": "45678901" },
          { "text": "64523645" }

          ]
          }) }}



        </fieldset>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Search
          </button>
  
          <a class="govuk-link" href="#">Clear and reset</a>
        </div>
  
      </div>



     
    </form>

  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Subsidiary  not found
    </h2>
     


 

   <p class="govuk-body">Make sure you entered the correct subsidiary name, ID or Companies House number. If you need to add a subsidiary to this parent company, use the file upload to create a subsidiary ID and then update and resubmit your registration file.</p>
  











    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h2 id="create-subsidiary-id" class="govuk-heading-m">Create subsidiary IDs</h2>
        <p class="govuk-body">Use the file upload to create subsidiary IDs – you will need these subsidiary IDs to add
          subsidiaries to your organisation.</p>

        <p class="govuk-body">Before you upload your file, make sure you’re using the latest version of the <a
            href="https://www.gov.uk/government/publications/groups-and-subsidiaries-how-to-create-your-file-for-extended-producer-responsibility"
            target="_blank">subsidiary file template (opens in a new tab)</a>.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload subsidiary file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div>


        <form>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" formaction="loading-myc-7">
              Upload file
            </button>

            
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
      formaction="#">
      Download subsidiaries list
    </button>
        
          </div>
        </form>


        <!-- FILE UPLOAD -->

        <h2 class="govuk-heading-m">Adding and removing subsidiaries</h2>
        <p class="govuk-body">To add or remove subsidiaries, you must <a href="#">update and resubmit your
            registration file</a> within 28 days of the change. You will need to enter the subsidiary IDs to do this.
        </p>
        <!-- </form> -->


      </div>
    </div>



    {% endblock %}