{% extends "layout.html" %}

{% set serviceName = "Your Defra account" %}

{% block pageTitle %}
Update your details
{% endblock %}

{% block beforeContent %}

  <div id="profile">
    {% include "includes/account-nav-admin.html" %}
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "manage-personal-update"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="manage-personal-update" method="post">

      {% call govukFieldset({
        legend: {
          text: "Change your personal information",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
          text: "First or given name"
        },
        classes: "govuk-input--width-20",
        id: "defraIdFirstName",
        name: "defraIdFirstName"
      }) }}

      {{ govukInput({
        label: {
          text: "Surname or family name"
        },
        classes: "govuk-input--width-20",
        id: "defraIdSurname",
        name: "defraIdSurname"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone number",
          isPageHeading: false
        },
        classes: "govuk-input--width-10",
        id: "defraIdPersonalPhone",
        name: "defraIdPersonalPhone",
        type: "tel"
      }) }}

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}