
{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
       Accessibility fixes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <br>
      <br><br>
      <h2 class="govuk-heading-m">January 2025</h2>

      <h2 class="govuk-heading-m">Links - <a href="links/large-producer">Changes to the link text for producers</a></h2>
      <br>
      <hr>

      <br>

      <h2 class="govuk-heading-m">Links - <a href="links/cs-submit-behalf-lp">Changes to the link text for compliance schemes</a></h2>
      <br>
      <hr>
<br>
      
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
