{% extends "layout.html" %}

{% block pageTitle %}
Prepare your spreadsheet | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}


        <h1 class="govuk-heading-l">
            Prepare your spreadsheet 
        </h1>

            
        <h2 class="govuk-heading-m">
            Step 1: Download our spreadsheet
        </h2>
        <p>
            <a href="/public/files/2022_packaging_data.csv" download >Download the packaging data spreadsheet</a> (CSV, 400MB).
        </p>


        <h2 class="govuk-heading-m">
            Step 2: Enter your data
        </h2>
        <p>
            Enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.
        </p>
        <p>
            Do not include any materials that are less than 500kg. 
        </p>

        <h2 class="govuk-heading-m">
            Step 3: Return and upload your spreadsheet by 7 April 2023.
        </h2>

        <form method="POST" action="home?reportMethod=yes">
            {{govukButton({
                text: "Save and continue"
            })}}
        </form>

    </div>
</div>

{% endblock %}