{% extends "layout.html" %}

{% block pageTitle %}
    Home | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register as an obligated packaging producer
        </h1>

        {% if data['registered'] == 'yes' %}
            <p class="govuk-!-margin-bottom-8">Your scheme identification number (EPRIN): <strong>0038173</strong></p>
        {% endif %}
        

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Apply to register your organisation
                </h2>

                <ul class="app-task-list__items">

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Introduction and what you'll need
                        </span>

                        <strong class="govuk-tag app-task-list__tag">Completed</strong>
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Privacy policy and declaration
                        </span>

                        <strong class="govuk-tag app-task-list__tag">Completed</strong>

                    </li>
                    
                    
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Add information about your organisation
                        </span>

                        <strong class="govuk-tag app-task-list__tag">Completed</strong>

                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Pay the fee and submit your application
                        </span>
                        
                        <strong class="govuk-tag app-task-list__tag">Completed</strong>
                            
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            View your application status
                        </span>

                        <strong class="govuk-tag govuk-tag--green app-task-list__tag">Successful</strong>
                        
                    </li>

                </ul>

            </li>

            

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Report your packaging data for 2022
                </h2>

                {% if data['reported'] != 'yes' %}
                    {{ govukWarningText({
                        text: "The reporting deadline is 7th April 2023",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}

                <ul class="app-task-list__items">

                    <li class="app-task-list__item">

                        <span class="app-task-list__task-name">
                                <a href="report-start">
                                    Introduction and what you'll need
                                </a>

                        </span>

                        <strong class="govuk-tag app-task-list__tag">Completed</strong>

                    </li>
                    
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="report-check-details-resubmit">
                                Resubmit your packaging data
                            </a>
                        </span>
                        
                    </li>
                </ul>
            </li>

            
        </ol>
    </div>
</div>

{% endblock %}