{% set serviceName = "Collection & Packaging Reforms (CPR) prototypes" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukBackLink({
            text: "Back to all CPR prototypes",
            href: "/index"
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Version 4</h1>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Prototype journeys
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                      <li class="govuk-!-margin-top-4">
                        <a href="/v4/epr/service-start">Service start page</a>
                        <span class="govuk-hint govuk-!-margin-bottom-0">(User needs to sign in or create an account)</span>
                      </li>
                      <li class="govuk-!-margin-top-4">
                        Obligation checker tool
                        <ul>
                          <li><a href="/v4/epr-obligation-checker">Am I obligated?</a></li>
                          <li><a href="/v4/epr-obligation-checker/question-activity-brandowner">I'm obligated, how does it affect me?</a></li>
                        </ul>
                      </li>
                      <li class="govuk-!-margin-top-4">
                        EPR registration and data reporting task list:
                        <span class="govuk-hint govuk-!-margin-bottom-0">(User is signed in)</span>
                        <ul>
                          <li>
                            <a href="/v4/epr/home?intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Introduction and what you'll need
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=no&applied=no&paid=no&registered=no&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Privacy policy and declaration
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Add information about your organisation
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=no&registered=no&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Pay the fee and submit your application
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=no&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Application being reviewed
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no">
                              Application approved &amp; prepare packaging data
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no&introPrepare=yes&reportMethod=yes&methodSelection=manually&nextSteps=yes">
                              Report packaging data manually
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=no&dataReported=no&dataReviewed=no&dataResubmit=no&dataAccepted=no&introPrepare=yes&reportMethod=yes&methodSelection=spreadsheet&nextSteps=yes">
                              Report packaging data by uploading a spreadsheet
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&dataReported=yes&dataReviewed=no&dataResubmit=no&dataAccepted=no&introPrepare=yes&reportMethod=yes&methodSelection=manually&nextSteps=yes">
                              Packaging data reported (pending)
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&dataReported=yes&dataReviewed=yes&dataResubmit=no&dataAccepted=no&introPrepare=yes&reportMethod=yes&methodSelection=manually&nextSteps=yes">
                              Packaging data being reviewed (being reviewed)
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&dataReported=yes&dataReviewed=no&dataResubmit=yes&dataAccepted=no&reportBrandowner=paper,glass,steel&paperBrandowner=23&glassBrandowner=45&steelBrandowner=12&reportImporter=paper,glass,fibre&paperImporter=4&glassImporter=10&fibreImporter=3&introPrepare=yes&reportMethod=yes&methodSelection=manually&nextSteps=yes">
                              Packaging data rejected (resubmit)
                            </a>
                          </li>
                          <li>
                            <a href="/v4/epr/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&dataReported=yes&dataReviewed=no&dataResubmit=no&dataAccepted=yes&introPrepare=yes&reportMethod=yes&methodSelection=manually&nextSteps=yes">
                              Packaging data approved
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="govuk-!-margin-top-4">
                        Service emails
                        <ul>
                          <li><a href="/v4/epr/registration-email-submitted">Application submitted</a></li>
                          <li><a href="/v4/epr/registration-email-complete">Registration approved and complete</a></li>
                          <li><a href="/v4/epr/report-email-complete">Packaging data submission complete</a></li>
                        </ul>
                      </li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Implemented changes
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Added section 2 into the task list: prepare data</li>
                      <li>Added the task to allow users to choose a data reporting method; manual, spreadsheet or API</li>
                      <li>Added the resubmission journey so users are able to amend their packaging data in different scenarios</li>
                      <li>Added steps to collect the organisation's audit address if relevant</li>
                      <li>Changed the content for the correspondence address question</li>
                      <li>Changed the producer 'types' to letters i.e. A, B, C etc</li>
                      <li>Added more guidance and updated the examples for each producer type question</li>
                    </ul>
                </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Known limitations and issues
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>placeholder</li>
                    </ul>
                </dd>
            </div>-->

        </dl>



        <h2 class="govuk-heading-l govuk-!-margin-top-8">Research</h2>
            
        <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Session dates
              </dt>
              <dd class="govuk-summary-list__value">
                Usability testing between 13th and 26th July 2021
              </dd>
          </div>
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Participants
              </dt>
              <dd class="govuk-summary-list__value">
                5 company employees who currently manage their company's packaging producer responsibilitites
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Hypotheses
              </dt>
              <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                  <a href="https://defra.sharepoint.com/:x:/t/Team568/EWVrqVNJOu9FrKDOPe7hbtcBVuGhUOKTpy9E2H47qemYdw?e=jbpWoL" target="_blank">Hypotheses spreadsheet (Sharepoint)</a>
              </dd>
          </div>
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Insights
              </dt>
              <dd class="govuk-summary-list__value">
                  <a href="https://defra.sharepoint.com/:p:/t/Team568/EUD-hiMaa7RGiGa0r_mZXuUBqhRngAadSG9nsNHu1U58kg?e=d7A0vN" target="_blank">Research findings presentation (Sharepoint)</a>
              </dd>
          </div>

        </dl>
        
    </div>
</div>

{% endblock %}