{% extends "layout.html" %}

{% block pageTitle %}
    Access pending | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-m">
            Packaging producer responsibility service
        </h1>

        <div class="govuk-panel govuk-panel--confirmation govuk-background-dark-grey">
            <h1 class="govuk-panel__title">Your access to this service is pending</h1>
        </div>

        <p>Something to explain what's happening at this point and how the user will be notified when they have access.</p>
        <p>We will send an email to: <strong>{{ data['govGateEmail'] or defaults['govGateEmail'] }}</strong> when access has been granted.</p>

        <p><a href="home">User receives an email saying their access has been granted</a></p>

    </div>
</div>

{% endblock %}