{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of its subsidiaries a 'type 1' producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a 'type 1' producer?</h1>
        {% endif %}

        <p>A type 1 producer is an organisation that sells goods under its own brand name in the UK.</p>

        {{ govukDetails({
          summaryText: "Show me examples of a type 1 producer",
          html: '
          <p>
            <strong>Example A</strong><br />
            An organisation makes soup and fills steel cans with that soup. They put their brand on the label and sell the soup to supermarkets. The supermarkets sell the soup to end consumers. 
          </p>
          <p>
            The type 1 producer is the organisation that owns the brand on the soup’s label.
          </p>
          <p>
            <strong>Example B</strong><br />
            A supermarket called ‘A Ltd’ has an own-brand range of coffee. They contract a manufacturer to make the coffee and put it in the packaging. The supermarkets sell the coffee to end consumers.
          </p>
          <p>
            The coffee packaging includes either the supermarket’s own primary brand - “by A” or any other brand the supermarket owns.
          </p>
          <p>
            The type 1 producer is the supermarket.
          </p>
          '
        }) }}

        <form method="POST" action="registration-org-type-2?lastVisitedURL={{currentURL}}">
            
            {{ govukRadios({
              name: "producerType1",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}