{% extends "layout-email.html" %}

{% block pageTitle %}
You’ve successfully reported your packaging data | {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear John Smith</p>
      <p>You’ve submitted Acme Org Ltd’s packaging data for 2022.</p>
      <p><strong>What happens next</strong></p>
      <p>
        We’ve sent your data to PRSA. They’ll review it and email you with an update or to ask for more information.
      </p>
      <p><strong>Making changes</strong></p>
      <p>
        You can make changes to your data until PRSA start to review it - <a href="../defra-id/login">https://epr.defra.gov.uk/signin</a>.
      </p>
      <p>
        Once PRSA has started to review your data, you must contact them if you need to make any changes. You’ll also have to pay a resubmission fee.
      </p>
      <p><strong>Contact us</strong></p>
      <p>If you need any help you can call <strong>01632 960 001</strong> or email <strong><a href="#">packaging-helpdesk@defra.gov.uk</a></strong>.</p>
      <p>
        From<br />
        The Department for Environment, Food & Rural Affairs (Defra)
      </p>
      <p>This is an automated message – do not reply.</p>

      <div class="govuk-!-margin-top-9">
        <p class="govuk-body-s">Department for Environment, Food and Rural Affairs (Defra) This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p>
      </div>
        
    </div>
</div>

{% endblock %}