{% extends "layout.html" %}

{% block pageTitle %}
    Your packaging data status | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <div class="govuk-!-margin-top-4">

          {% if 
              data['dataReported'] == 'yes' and 
              data['dataReviewed'] == 'no' and 
              data['dataAccepted'] == 'no' 
          %}
              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">Pending</strong>
              <h1 class="govuk-heading-l">
                Your packaging data is pending review
              </h1>
              <p>PRSA has received your data. They’ll start to review it soon.</p>
              <p>You can still <a href="report-resubmit">change your packaging data</a> if you need to.</p>
          {% endif %}

          {% if 
            data['dataReported'] == 'yes' and 
            data['dataReviewed'] == 'yes' and 
            data['dataAccepted'] == 'no' 
          %}
              <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">Being reviewed</strong>
              <h1 class="govuk-heading-l">
                Your packaging data is being reviewed
              </h1>
              <p>PRSA is currently reviewing your data. We’ll email you with an update or to ask for more information.</p>
              <p>If you need to change your packaging data, you must contact us to let us know. Call <strong>01632 960 001</strong> or email <strong><a href="#">packaging-helpdesk@defra.gov.uk</a></strong> Make sure you quote your reference number: <strong>0038173</strong>.</p>
          {% endif %}

          {% if 
            data['dataReported'] == 'yes' and 
            data['dataReviewed'] == 'no' and 
            data['dataAccepted'] == 'yes' 
          %}
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">Approved</strong>
              <h1 class="govuk-heading-l">
                Your packaging data has been approved
              </h1>
              <p>PRSA will use your data to calculate your obligated fees. </p>
              <p>We’ll send you an email to let you know how much your fees are and when your payment is due.</p>
              <p>If you need to change your packaging data, you must contact us to let us know. Call <strong>01632 960 001</strong> or email <strong><a href="#">packaging-helpdesk@defra.gov.uk</a></strong>. Make sure you quote your reference number: <strong>0038173</strong>.</p>
          {% endif %}

        </div>
        
    </div>
</div>

{% endblock %}