{% extends "layout.html" %}

{% block pageTitle %}
    Check your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">Your packaging data</h1>

        <h2 class="govuk-heading-m">Type A producer packaging data</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-8">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Material
                </dt>
                <dt class="govuk-summary-list__key">
                    Tonnes
                </dt>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Paper
                </dt>
                <dd class="govuk-summary-list__value">
                    12
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Steel
                </dt>
                <dd class="govuk-summary-list__value">
                    10
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Plastic
                </dt>
                <dd class="govuk-summary-list__value">
                    15
                </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-m">Type B producer packaging data</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-8">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Material
                </dt>
                <dt class="govuk-summary-list__key">
                    Tonnes
                </dt>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Paper
                </dt>
                <dd class="govuk-summary-list__value">
                    5
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Steel
                </dt>
                <dd class="govuk-summary-list__value">
                    2
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                    Plastic
                </dt>
                <dd class="govuk-summary-list__value">
                    8
                </dd>
            </div>

        </dl>

        <p><a href="javascript:history.back()">Back</a></p>
        
    </div>
</div>

{% endblock %}