{% extends "layout.html" %}

{% block pageTitle %}
    Change your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">Change type A producer packaging data</h1>

        <div class="govuk-!-padding-bottom-4">
            <p><a href="report-resubmit-remove">Remove all type A data</a></p>
        </div>

        <form method="POST" action="report-check-details-resubmit">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label" for="paperBrandowner">
                        Paper
                    </label>
                </h1>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="paperBrandowner" name="paperBrandowner" type="text" inputmode="number" value="12">
                    <div class="govuk-input__suffix">tonnes</div>
                    <a href="report-resubmit-remove-material" class="govuk-!-margin-left-2 govuk-!-margin-top-2">Remove material</a>
                </div>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label" for="plasticBrandowner">
                        Plastic
                    </label>
                </h1>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="plasticBrandowner" name="plasticBrandowner" type="text" inputmode="number" value="12">
                    <div class="govuk-input__suffix">tonnes</div>
                    <a href="report-resubmit-remove-material" class="govuk-!-margin-left-2 govuk-!-margin-top-2">Remove material</a>
                </div>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label" for="steelBrandowner">
                        Steel
                    </label>
                </h1>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="steelBrandowner" name="steelBrandowner" type="text" inputmode="number" value="12">
                    <div class="govuk-input__suffix">tonnes</div>
                    <a href="report-resubmit-remove-material" class="govuk-!-margin-left-2 govuk-!-margin-top-2">Remove material</a>
                </div>
            </div>

            <div class="govuk-!-padding-bottom-4">
            <p><a href="report-brandowner-start-resubmit">Add a material</a></p>
            </div>

            {{govukButton({
                text: "Save and continue"
            })}}
    
        </form>
        
    </div>
</div>

{% endblock %}