{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Extended producer responsibility</span>
        <h1 class="govuk-heading-l">
          2022 packaging materials 
        </h1>

        <p>Producers who meet the extended producer responsibility criteria for 2022 must report their packaging data in the following categories:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Aluminium</li>
          <li>Fibre-based composite</li>
          <li>Glass</li>
          <li>Paper</li>
          <li>Plastic</li>
          <li>Steel</li>
          <li>Wood</li>
          <li>Other</li>
        </ul>
        
    </div>
</div>

{% endblock %}