{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You have changed the parameters
          </h1>
          <div class="govuk-panel__body">
            <STRONG>Alteration check</STRONG>
          </div>
        </div>
        <p class="govuk-body">The new parameters have been set for the Alternation Check run.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Run the calculator.
        </p>

        &nbsp; &nbsp;
<div class="govuk-button-group">
  <a href="spinner" class="govuk-button" type="submit">Run the calculator</a>
  <a href="upload-file-run" class="govuk-button govuk-button--secondary" type="submit">Upload new parameters</a>
</div>
        
        <p class="govuk-body">
          <a href="list-full2" class="govuk-link">Return to the dashboard</a> 
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}