{% extends "layout-gov.html" %}

{% set serviceName %}
Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
GOV.UK - Search for a reprocessor or exporter
{% endblock %}


{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#"
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}


<nav class="defra-language-select" aria-label="Language switcher">
    {{ govukBackLink ({
    text: "Back to search results ",
    href: "javascript:history.back()"
    }) }}
    <ul class="defra-language-select__list">
        <li class="defra-language-select__list-item">
            <span aria-current="true">English</span>
        </li>
        <li class="defra-language-select__list-item">
            <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
                data-journey-click="link - click:lang-select:Cymraeg">
                <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
                <span aria-hidden="true">Cymraeg</span>
            </a>
        </li>
    </ul>
</nav>


{% endblock %}



{% block content %}





<div class="govuk-grid-row">

    <!-- HEADING -->
    <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <span class="govuk-caption-xl">Organisation record</span>
            URM UK Ltd t/a Berryman
            <span class="govuk-form-group" style="float: right;">
                <button class="govuk-button print-page-button" type="button">Print or download this page</button>
            </span>
        </h1>

        <p class="govuk-body-l">
            As at DD Month YYYY<br>
            <span class="govuk-body">See accreditation history below for details of any amendments.</span>
        </p>

        <h2 class="govuk-heading-m">Organisation details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    pEPR Org ID
                </dt>
                <dd class="govuk-summary-list__value">
                    100256
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business name
                </dt>
                <dd class="govuk-summary-list__value">
                    URM UK Ltd t/a Berryman
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Trading name
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="govuk-body-s">Not submitted</span>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Companies House number<br>
                </dt>
                <dd class="govuk-summary-list__value">
                    4084246
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered address<br>
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>Langthwaite Business Park<br>
                    SOUTH KIRKBY<br> West Yorkshire<br> WF9 3NR
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    01977 608020
                </dd>
            </div>
</dl>
 <h2 class="govuk-heading-m">Registration details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                    pEPR registration number
                </dt>
                <dd class="govuk-summary-list__value">
                    R25ER7012251234GL
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type<br><span class="govuk-body-s"></span>
                </dt>
                <dd class="govuk-summary-list__value">
                    Reprocessor
                </dd>
            </div>





            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reprocessing site address
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>SOUTH KIRKBY<br>West Yorkshire<br>WF9 3NR
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Material
                </dt>
                <dd class="govuk-summary-list__value">
                    Glass
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Annex II process<br><span class="govuk-body-s">Recovery operations</span>
                </dt>
                <dd class="govuk-summary-list__value">
                  R5: Recycling/reclamation of other materials

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Overseas reprocessing site<br>
                </dt>
                <dd class="govuk-summary-list__value">

                     <span class="govuk-body-s">Not submitted</span>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registration start date
                </dt>
                <dd class="govuk-summary-list__value">

                    5 May 2022
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registration status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Granted
                    </strong>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of last change
                </dt>
                <dd class="govuk-summary-list__value">
                    2025
                </dd>
            </div>
</dl>
 <h2 class="govuk-heading-m">Accreditation details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            
         
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation number
                </dt>
                <dd class="govuk-summary-list__value">
                    A25ER7012254321GL
                    
                </dd>

            </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                    Accrediting agency
                </dt>
                <dd class="govuk-summary-list__value">
                    Environment Agency
                 

                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation year
                </dt>
                <dd class="govuk-summary-list__value">

                    2025
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Tonnage band
                </dt>
                <dd class="govuk-summary-list__value">
                    10,0000+
                    <br>
                 
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Overseas reprocessing site
                </dt>
                <dd class="govuk-summary-list__value">

                       <span class="govuk-body-s">Not submitted</span>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation start date
                </dt>
                <dd class="govuk-summary-list__value">

                    6 May 2022
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Granted
                    </strong>
                </dd>
            </div>

                       <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of last change
                </dt>
                <dd class="govuk-summary-list__value">
            <span class="govuk-body-s">Not submitted</span>
                </dd>
            </div>
</dl>
 <h2 class="govuk-heading-m">Return and compliance status</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Monthly returns
                </dt>
                <dd class="govuk-summary-list__value">
 <span class="govuk-body-s">Data not available until February 2026</span>
                   
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Annual returns
                </dt>
                <dd class="govuk-summary-list__value">

                  <span class="govuk-body-s">Data not available until February 2026</span>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Notice to suspend or cancel
                </dt>
                <dd class="govuk-summary-list__value">
 <span class="govuk-body-s">Data not available until February 2026</span>
                </dd>
            </div>

</dl>
 <h2 class="govuk-heading-m">Accreditation history</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation history
                </dt>
                <dd class="govuk-summary-list__value">
 <span class="govuk-body-s">Data not available until February 2026</span>
                  
         </div>

        </dl>


    </div>

</div>

</p>
<p class="govuk-body">The data in this register is from 1 January 2025 onwards. For data from 2024 or earlier – for
    example, accreditation history and previous suspensions – use the
    <a href="https://npwd.environment-agency.gov.uk/PublicRegister.aspx?ReturnUrl=%2fPackagingPublicRegisterLinks.aspx%3fReturnUrl%3d%252fPublic%252fPublicReports.aspx"
        class="govuk-link" rel="noreferrer noopener" target="_blank">Public Register of Registered
        Reprocessor and Exporter on the National Packaging Waste Database (opens in new tab)</a>.
</p>

<div class="govuk-button-group govuk-!-margin-top-6">
    <button class="govuk-button print-page-button" type="button">Print or download this page</button>

    <a class="govuk-link" href="./search-results.html">Back to search results</a>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var printButtons = document.querySelectorAll('.print-page-button')
        printButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                window.print()
            })
        })
    })
</script>
{% endblock %}