{% extends "layout.html" %}

{% if data['licence-type'] == "full" %}
{% set title = "Payment complete" %}
{% else %}
{% set title = "Payment successful" %}
{% endif %}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="../task-list-2-large-producer-stage4">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Payment successful
            </h1>
            <div class="govuk-panel__body">
              Your registration reference number is<br><strong>16130122-2WCJDD-AJ2H17</strong>
            </div>
          </div>
          <p class="govuk-body">We have sent an email confirmation to <a href="#"
              class="govuk-link">email@address.com</a>
          </p>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            We will review your application and contact you about the outcome - this usually takes up to 2 weeks.
          </p>

          <p class="govuk-body">Sign into your <a href="#" class="govuk-link">online account</a> to check status or
            download a receipt.
          </p>
          <p class="govuk-body">Online payments will show in the ‘Your balance’ section in your online account within 2
            weeks after DEFRA has processed your payment.</p>
          <p class="govuk-body">Processed payments will show in the ‘View payments and credits’ section of your online
            account.</p>
          <p class="govuk-body">If you cannot see your payment in your online account check with your bank
            to make sure the payment has been sent.</p>

          {{ govukButton({
          text: "Continue"
          })}}

          <p class="govuk-body">
            <a href="#" class="govuk-link">Print this page</a>
          </p>
        </form>

      </div>



    </div>
</div>
</main>
</div>

{% endblock %}