{% extends "layout.html" %}

{% set serviceName %}
Your waste management fees
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="task-list-2-small-producer-stage4">
      <div class="govuk-form-group govuk-!-margin-top-0">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
          <h1 class="govuk-fieldset__heading">
            Your payment of {£0,000.00} is pending
          </h1>
        </legend>

        <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-margin-bottom-1"> <strong> Reference number: 000 123 456</strong></p>
        </div>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Breakdown of amount you have to pay</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Items</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Item 2</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Item 3</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Item 4</th>
              <td class="govuk-table__cell">£0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total</th>
              <td class="govuk-table__cell">£0,000.00</td>
            </tr>
          </tbody>
        </table>

        <h2 class="govuk-heading-m">Why is your payment pending</h2>

        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit ligula non feugiat
          faucibus. Maecenas tempus consectetur nibh ut condimentum. </p>
        <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi luctus pulvinar leo sed euismod. Phasellus accumsan maximus nibh eu egestas. Pellentesque
          tristique eros non massa tempus, non tempor
          odio tempor.</p>

      </div>
      {{ govukButton({
      text: "Continue"
      })}}
    </form>
  </div>
</div>


{% endblock %}