{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="task-list-2-both-index-notstarted" method="post">

      <form method="POST" action="fees-task-list-2">
        <div class="govuk-form-group govuk-!-margin-top-0">
          <fieldset class="govuk-fieldset" aria-describedby="declarationanswer">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
              <span class="govuk-caption-l">About your registration</span>
              <h1 class="govuk-fieldset__heading">
                Acme Limited registration
              </h1>
            </legend>


            <p class="govuk-body">Submit your organisation data and indicate if it is a large or small producer.</p>
            <p class="govuk-body">If you are unsure whether your organisation is ‘large’ or ‘small’, use our <a
                href="https://defra-cpr-prototype.herokuapp.com/obligation-checker/v5/start-page" target="_blank"
                rel="noopener noreferrer">step-by-step guide (opens in a new tab).</a></p>

            <p class="govuk-body"><a
                href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-who-is-affected-and-what-to-do#What-you-may-need-to-do"
                target="_blank" rel="noopener noreferrer">Find out more about packaging responsibilities and
                organisation
                sizes
                (opens in a new tab)</a></p>


            <br>



            {{ govukButton({
            text: "Continue",
            attributes: {
            id: "submitButton",
            onclick: "handleSubmit(event)"
            }
            }) }}

      </form>

  </div>
</div>





{% endblock %}