{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
      <div class="govuk-form-group govuk-!-margin-0">
        <h1 class="govuk-heading-l">Registration fee due</h1>
        
        <p class="govuk-body">A registration fee of £1,216.00 is due now to allow your application to be processed.</p>
        <p class="govuk-body">Registration fees are calculated from the information you have supplied.</p>
        <p class="govuk-body"><a href="https://www.gov.uk/government/publications/extended-producer-responsibility-for-packaging-illustrative-base-fees/extended-producer-responsibility-for-packaging-illustrative-base-fees"
            class="govuk-link">More about Extended producer responsibility (EPR) fees and charges</a>.
        </p>

     
        <div class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m">Registration fee description - sample title</h2>
          <table class="govuk-table govuk-table--small-text-until-tablet govuk-!-margin-top-6">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Chargeable item</th>
                <th scope="col" class="govuk-table__header govuk-!-padding-left-2" style="width: 270px;">Description
                </th>
                <th scope="col" class="govuk-table__header">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Application <br>processing fee</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">Fee for producer size</td>
                <td class="govuk-table__cell">£1,216.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Online <br>marketplace fee</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"> Fee for owning an online marketplace</td>
                <td class="govuk-table__cell">£2,579.00</td>
              </tr>
              <tr class="govuk-table__row"></tr>
                <th scope="row" class="govuk-table__header">Late payment fee</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"> Fee for late payment</td>
                <td class="govuk-table__cell">£332.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total chargeable items</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__header">£3,995.00</td>
              </tr>
              <tr class="govuk-table__row" style="height: 45px;">
                <th scope="row" class="govuk-table__header"></th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Previous payments</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">Sample text: Explain payments</td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Payment 1</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">Sample text: Explain payments</td>
                <td class="govuk-table__cell"> £100.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Payment 2</th>
                <td class="govuk-table__cell govuk-!-padding-left-2">Sample text: Explain payments</td>
                <td class="govuk-table__cell"> £100.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total payments received</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__header">£200.00</td>
              </tr>
              <tr class="govuk-table__row" style="height: 45px;">
                <th scope="row" class="govuk-table__header"></th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total outstanding</th>
                <td class="govuk-table__cell govuk-!-padding-left-2"></td>
                <td class="govuk-table__header">£3,795.00</td>
              </tr>
            </tbody>
          </table>
        </div>

        &nbsp; &nbsp;
<div class="govuk-button-group">
  <a href="payment-large-producers-next-alternative" class="govuk-button" type="submit">Continue</a>
  <a class="govuk-link" href="#">Cancel</a>
</div>

{% endblock %}