{% extends "layout.html" %}

{% block pageTitle %}
    Deposit Return Scheme | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Register as a producer in the Deposit Return Scheme
        </h1>

        <p><a href="#">Start registration</a></p>
        
    </div>
</div>

{% endblock %}