{% extends "layout.html" %}

{% block pageTitle %}
Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>
        <h1 class="govuk-heading-l">
          Did your organisation place any primary packaging on the market in 2022?
        </h1>

        <p>
          Primary packaging is packaging conceived as a sales unit to the final user or consumer. 
        </p>

        {{ govukDetails({
          summaryText: "View examples of primary packaging",
          html: '
            <p><strong>Example A</strong></p>
            <p>A crisp manufacturer sells large cardboard boxes containing individual packets of crisps to a retail organisation.</p>
            <p>The primary packaging is each individual foil crisp packet.</p>
            <p><strong>Example B</strong></p>
            <p>An organisation sells boxed, individual ink cartridges to an office.</p>
            <p>The primary packaging is each individual box that contains a single ink cartridge.</p>
          '
        }) }}

        <form method="POST" action="route-activities-primary-intro">

          {{ govukRadios({
            name: "packagingPrimary",
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
          
          {{govukButton({
              text: "Save and continue"
          })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}