{% extends "layout.html" %}

{% block pageTitle %}
    Check your packaging activity answers | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <h2 class="govuk-heading-m">Acme Org Ltd's packaging materials</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 custom-remove-bold">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Primary packaging materials
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {% if data['packagingPrimary'] == 'yes' %}
                {{ data['materialsPrimary'] | escape | replace(",", "<br />") }}
              {% else %}
                none
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Secondary packaging materials
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {% if data['packagingSecondary'] == 'yes' %}
                {{ data['materialsSecondary'] | escape | replace(",", "<br />") }}
              {% else %}
                none
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Transit packaging materials
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {% if data['packagingTransit'] == 'yes' %}
                {{ data['materialsTransit'] | escape | replace(",", "<br />") }}
              {% else %}
                none
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

        </dl>


        {% if data['packagingPrimary'] == 'yes' %}

          <h2 class="govuk-heading-m">Acme Org Ltd's primary packaging activities</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9 custom-remove-bold">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation supply its own brand products in primary packaging within the UK?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityPrimary01'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation import filled primary packaging into the UK to sell?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityPrimary02'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation sell unfilled primary packaging to non-obligated producers?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityPrimary03'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation facilitate the sale of filled primary packaging by non-UK producers within the UK via its online platform?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityPrimary04'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation hire or lend out reusable primary packaging to UK-based organisations?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityPrimary05'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

          </dl>

        {% endif %}



        {% if data['packagingSecondary'] == 'yes' %}

          <h2 class="govuk-heading-m">Acme Org Ltd's secondary packaging activities</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9 custom-remove-bold">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Was any secondary packaging added to your organisation's own brand products that were supplied in the UK?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activitySecondary01'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation import filled packaging within secondary packaging into the UK to sell?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activitySecondary02'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation sell unfilled packaging within secondary packaging to non-obligated producers?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activitySecondary03'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation facilitate the sale of secondary packaging via its online platform by non-UK producers in the UK?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activitySecondary04'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation hire or lend out reusable secondary packaging to UK-based organisations?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activitySecondary05'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

          </dl>

        {% endif %}



        {% if data['packagingTransit'] == 'yes' %}

          <h2 class="govuk-heading-m">Acme Org Ltd's transit packaging activities</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9 custom-remove-bold">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation use transit packaging to transport products that it supplied in the UK?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityTransit01'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation import filled transit packaging into the UK to sell?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityTransit02'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation sell any unfilled transit packaging to non-obligated producers?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityTransit03'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Was filled packaging that your organisation facilitated the sale of by non-UK producers in the UK via its online platform transported by transit packaging?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityTransit04'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Did your organisation hire or lend out reusable transit packaging to UK-based organisations?
              </dt>
              <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
                {{ data['activityTransit05'] }}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                <a class="govuk-link" href="#">
                  Change
                </a>
              </dd>
            </div>

          </dl>

        {% endif %}


        
        <form method="POST" action="home?chooseActivities=yes">

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>

        {% include "includes/save-and-exit.html" %}
        
    </div>
</div>

{% endblock %}