{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Did your organisation import transit packaging in 2022?
        </h1>

        {{ govukDetails({
          summaryText: "Show me examples of this packaging activity",
          html: '<p>TBC</p>'
        }) }}

        <form method="POST" action="activities-transit-03">
            
            {{ govukRadios({
              name: "activityTransit02",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}