{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Packaging data you must report
      </h1>

      <p>
        For each type of packaging producer your organisation is, you’ll need to tell us which packaging materials and how many tonnes of each material it placed on the market.
      </p>

      <p><a href="#" target="_blank">View the materials list for 2022 (opens in a new tab)</a>.</p>

      <h2 class="govuk-heading-m">Type A producer</h2>

      <p>
        As a type A producer, you must report any packaging you've used to sell your own brand name goods in the UK. 
      </p>

      {{ govukDetails({
        summaryText: "Show me examples of what to report as a type A producer",
        html: '
        <p>
          <strong>Example A</strong><br />
          An organisation makes sheets of paper and puts the sheets into packets. They put their brand on the packets and sell them to an office. The office uses this paper for printing and throws away the packets. 
        </p>
        <p>
          The type A producer is the organisation whose brand is on the packets of paper.
        </p>
        <p>
          <strong>Example B</strong><br />
          A supermarket called ‘ABC Ltd’ has an own-brand range of coffee. They contract a manufacturer to make the coffee and put it in packaging. The supermarkets sell the coffee to end consumers.
        </p>
        <p>
          The coffee packaging includes either the supermarket’s primary brand - “by ABC” or any other brand the supermarket owns.
        </p>
        <p>
          The type A producer is the supermarket.
        </p>
        <p>
          <strong>Example C</strong><br />
          A manufacturer sells unfilled plastic tubs to an organisation that is obligated under the extended producer responsibility regulations. The manufacturer adds shrink wrapping (transit packaging) to the plastic tubs before they sell them. The obligated organisation then fills the plastic tubs and sells them under their own brand.
        </p>
        <p>
          The type A producer for the shrink wrap transit packaging is the manufacturer. 
        </p>
        <p>
          The type A producer for the plastic tubs is the organisation that fills them.
        </p>
        '
      }) }}

      <h2 class="govuk-heading-m">Type B producer</h2>

      <p>
        As a type B producer, you must report any packaging you've imported to sell in the UK. 
      </p>

      {{ govukDetails({
        summaryText: "Show me examples of what to report as a type B producer",
        html: '
        <p>
          <strong>Example A</strong><br />
          An organisation makes sheets of paper and puts the sheets into packets. They put their brand on the packets and sell them to an office. The office uses this paper for printing and throws away the packets. 
        </p>
        <p>
          The type A producer is the organisation whose brand is on the packets of paper.
        </p>
        <p>
          <strong>Example B</strong><br />
          A supermarket called ‘ABC Ltd’ has an own-brand range of coffee. They contract a manufacturer to make the coffee and put it in packaging. The supermarkets sell the coffee to end consumers.
        </p>
        <p>
          The coffee packaging includes either the supermarket’s primary brand - “by ABC” or any other brand the supermarket owns.
        </p>
        <p>
          The type A producer is the supermarket.
        </p>
        <p>
          <strong>Example C</strong><br />
          A manufacturer sells unfilled plastic tubs to an organisation that is obligated under the extended producer responsibility regulations. The manufacturer adds shrink wrapping (transit packaging) to the plastic tubs before they sell them. The obligated organisation then fills the plastic tubs and sells them under their own brand.
        </p>
        <p>
          The type A producer for the shrink wrap transit packaging is the manufacturer. 
        </p>
        <p>
          The type A producer for the plastic tubs is the organisation that fills them.
        </p>
        '
        }) }}

        <form method="POST" action="home?introPrepare=yes">
            <button class="govuk-button">
                Save and continue
            </button>
        </form>
        
    </div>
</div>

{% endblock %}