{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of its subsidiaries a 'type F' producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a 'type F' producer?</h1>
        {% endif %}

        <p>
          A type F producer is an organisation that hires out or lends out reusable packaging within the UK.
        </p>

        {{ govukDetails({
          summaryText: "Show me an example of a type F producer",
          html: '
          <p>
            A pallet company hires out reusable pallets. The organisations that use the pallets, for example manufacturers and supermarkets, return the pallets after use.
          </p>
          <p>
            The type F producer is the pallet company.
          </p>
          '
        }) }}

        <form method="POST" action="registration-check-details?lastVisitedURL={{currentURL}}">
            
            {{ govukRadios({
              name: "producerType5",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
                
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}