{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of its subsidiaries a 'type D' producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a 'type D' producer?</h1>
        {% endif %}

        <p>
          A type D producer is an organisation that carries out at least one of the following activities via their online marketplace: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>facilitates the sale of filled packaging within the UK from non-UK producers</li>
          <li>facilitates the sale of large quantities of unfilled packaging within the UK to non-obligated producers</li>
        </ul>

        <p>Non-obligated producers are organisations that either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>produce less than 25 tonnes of packaging waste a year</li>
          <li>have a turnover below £1 million</li>
        </ul>

        {{ govukDetails({
          summaryText: "Show me examples of a type D producer",
          html: '
          <p>
            <strong>Example A</strong><br />
            An overseas organisation sells lamps to end consumers in the UK through an online marketplace. 
          </p>
          <p>
            The type D producer is the online marketplace.
          </p>
          <p>
            <strong>Example B</strong><br />
            An online marketplace sells a large quantity of unfilled boxes to an independent shop in the UK, that is not obligated under the extended producer responsibility regulations.
          </p>
          <p>
            The type D producer is the online marketplace.
          </p>
          '
        }) }}

        <form method="POST" action="registration-org-type-5?lastVisitedURL={{currentURL}}">
            
            {{ govukRadios({
              name: "producerType4",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
                
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}