{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="report-serviceprovider">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which packaging materials did you place on the market as a 'type F' producer in 2022?
                        </h1>
                    </legend>

                    <p>Include any reusable packaging materials that your organisation hired or lent out within the UK.  </p>
                    <p>You only need to report each material the first time it was hired or lent out. </p>

                    <div class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input1" name="reportServiceprovider" type="checkbox" value="paper">
                            <label class="govuk-label govuk-checkboxes__label" for="input1">
                                Paper
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input2" name="reportServiceprovider" type="checkbox" value="glass">
                            <label class="govuk-label govuk-checkboxes__label" for="input2">
                                Glass
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input3" name="reportServiceprovider" type="checkbox" value="aluminium">
                            <label class="govuk-label govuk-checkboxes__label" for="input3">
                                Aluminium
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input4" name="reportServiceprovider" type="checkbox" value="steel">
                            <label class="govuk-label govuk-checkboxes__label" for="input4">
                                Steel
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input5" name="reportServiceprovider" type="checkbox" value="plastic">
                            <label class="govuk-label govuk-checkboxes__label" for="input5">
                                Plastic
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input6" name="reportServiceprovider" type="checkbox" value="wood">
                            <label class="govuk-label govuk-checkboxes__label" for="input6">
                                Wood
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input7" name="reportServiceprovider" type="checkbox" value="fibre">
                            <label class="govuk-label govuk-checkboxes__label" for="input7">
                                Fibre-based composite 
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input8" name="reportServiceprovider" type="checkbox" value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="input8">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}