{% extends "layout.html" %}

{% block pageTitle %}
    You have submitted your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "You’ve submitted packaging data for 2022",
        html: "Reference number: 0038173"
      }) }}

      <p>We’ve sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>
        We’ve sent your packaging data to PRSA. They’ll review it and email you with an update or to ask for more information.
      </p>

      <p><strong>Making changes</strong></p>
      <p>
        You can make changes to your data until PRSA start to review it. 
      </p>
      <p>
        Once they’ve started to review your data, you must contact them if you need to make any changes. You can call <strong>01632 960 001</strong> or email <strong>packaging-helpdesk@defra.gov.uk</strong>. You’ll also have to pay a resubmission fee.
      </p>

      <form method="POST" action="home">

          {{govukButton({
              text: "Finish"
          })}}

      </form>
        
    </div>
</div>

{% endblock %}