{% extends "layout-email.html" %}

{% block pageTitle %}
You’ve applied to register as an obligated packaging producer | {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear John Smith</p>
      <p>You’ve asked to resubmit Acme Org Ltd’s packaging data for 2022.</p>
      <p>You must change and resubmit the data by 13th March 2023 - <a href="#">https://epr.defra.gov.uk/signin</a>.</p>
      <p>If you need any help, contact the Environment Agency. Call 01122 987 543 or email packaging@environmentagency.co.uk. Make sure you quote your reference number: 0012345</p>
      <p>
        From<br />
        Producer Responsibility Scheme Administration 
      </p>
      <p>This is an automated message – do not reply.</p>
        
    </div>
</div>

{% endblock %}