{% set serviceName = "Collection & Packaging Reforms (CPR) prototypes" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukBackLink({
            text: "Back to all CPR prototypes",
            href: "/index"
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Scenario A: standard journey</h1>
        <ul class="govuk-body-l">
            <li>User below EPR turnover threshold</li>
            <li>User has Defra ID account, not registered for EPR</li>
        </ul>

        <dl class="govuk-summary-list">
          
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Prototype journeys
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                        <li class="govuk-!-margin-top-4">
                            DRS obligation checker tool:
                            <ul>
                            <li><a href="/drs/drs-obligation-checker_v1/">Am I obligated?</a></li>
                            </ul>
                        </li>
                        <li class="govuk-!-margin-top-4">
                            DRS organisation type:
                            <span class="govuk-hint govuk-!-margin-bottom-0">(User type undefined)</span>
                            <ul>
                            <li><a href="/drs/drs-registration_v1/registration-drs-org-type?intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Which description applies to your organisation</a></li>
                            </ul>
                        </li>
                        <li class="govuk-!-margin-top-4">
                            DRS registration task list:
                            <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                            <ul>
                            <li><a href="/drs/drs-registration_v1/home?intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Introduction and what you'll need</a></li>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Privacy policy and declaration</a></li>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&reported=no">Add information about your organisation</a></li>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=no&registered=no&intro2=no&reported=no">Pay the fee and submit your application</a></li>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=no&intro2=no&reported=no">Application being reviewed</a></li>
                            </ul>
                        </li>
                        <li class="govuk-!-margin-top-4">
                            DRS reporting task list:
                            <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                            <ul>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=no&reported=no">Application approved &amp; report POM data</a></li>
                            <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&reported=yes">POM data reported</a></li>
                            </ul>
                        </li>
                    </ul>
                </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Implemented changes
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Updated all screens to incorporate latest designs from the working prototypes</li>
                      <li>All in-service email comms sent by Defra</li>
                      <li>Review and payment of obligated fees completed within the Gov branded service</li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-bottom-6">
                    Known limitations and issues
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>placeholder</li>
                    </ul>
                </dd>
            </div>-->

        </dl>



        <h2 class="govuk-heading-l govuk-!-margin-top-8">Research</h2>
            
        <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Session dates
            </dt>
            <dd class="govuk-summary-list__value">
                Awaiting testing
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Participants
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Hypotheses
              </dt>
              <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                  <a href="" target="_blank"></a>
              </dd>
          </div>
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Insights
              </dt>
              <dd class="govuk-summary-list__value">
                  <a href="#" target="_blank"></a>
              </dd>
          </div>

        </dl>

    </div>
</div>

{% endblock %}