{% set serviceName = "Collection & Packaging Reforms (CPR) prototypes" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukBackLink({
            text: "Back to all CPR prototypes",
            href: "/index"
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-top-6">Scenario B: standard journey</h1>
        <ul class="govuk-body-l">
            <li>User above EPR turnover threshold</li>
            <li>User has Defra ID account, not registered for EPR</li>
        </ul>

        <dl class="govuk-summary-list">
          
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Prototype journeys
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <a href="/drs/drs-registration_v1/home?thresholdMet=yes&intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&reported=no" class="govuk-button">Start prototype</a>
                </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Implemented changes
                </dt>
                <dd class="govuk-summary-list__value govuk-!-padding-bottom-6">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Updated all screens to incorporate latest designs from the working prototypes</li>
                      <li>All in-service email comms sent by Defra</li>
                      <li>Review and payment of obligated fees completed within the Gov branded service</li>
                    </ul>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-padding-bottom-6">
                    Known limitations and issues
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>placeholder</li>
                    </ul>
                </dd>
            </div>-->

        </dl>



        <h2 class="govuk-heading-l govuk-!-margin-top-8">Research</h2>
            
        <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Session dates
            </dt>
            <dd class="govuk-summary-list__value">
                Awaiting testing
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Participants
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Hypotheses
              </dt>
              <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                  <a href="" target="_blank"></a>
              </dd>
          </div>
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Insights
              </dt>
              <dd class="govuk-summary-list__value">
                  <a href="#" target="_blank"></a>
              </dd>
          </div>

        </dl>

    </div>
</div>

{% endblock %}