{% set serviceName = "Small producers" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "Back",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Resubmission of organisation details
        </h1>
    </div>
</div>

<!-- TESTING LINKS -->
<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full card card-overview">
            <div style="background-color: #f9f9f9; padding: 40px 30px 30px 30px; border-radius: 10px;">
                <!-- TITLE -->
                <h2 class="govuk-heading-m">Current user journey</h2>
                <p class="govuk-body">Current journey under development</p>
                <ul class="govuk-list">
                    <li><a href="./producers/re-submission/info-page" class="govuk-link" rel="noreferrer noopener"
                            target="_blank">Resubmission (opens in new tab)</a></li>
                </ul>
                <br>
                <hr>
                <br>
                <h2 class="govuk-heading-m">Dynamic pages</h2>
                <p class="govuk-body">Pages which content changes upon user classification</p>
                <br>
                <p class="govuk-body">
                    <strong>Approved/delegated person page</strong>
                </p>
                <p class="govuk-body">To be discussed</p>
                <p class="govuk-body">
                    <strong>Fee scenarios</strong>
                </p>
                <ul class="govuk-list">
                    <li><a href="./producers/re-submission/payment-scenario-smallproducers" class="govuk-link"
                            rel="noreferrer noopener" target="_blank">Small producer fee scenario</a></li>
                    <li><a href="./producers/re-submission/payment-scenario-compliance-scheme" class="govuk-link"
                            rel="noreferrer noopener" target="_blank">Compliance scheme fee scenario</a></li>
                </ul>
                <br>
                <br>
                <p class="govuk-body">
                    <strong>Pay by BACS - nations</strong>
                </p>
                <p class="govuk-body">To be discussed</p>
                <br>
                <hr>
                <br>
                <h2 class="govuk-heading-m">Emails</h2>
                <p class="govuk-body">To be discussed</p>
            </div>
        </div>
    </div>



    {% endblock %}