{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "Set up an extended producer responsibility account" %}

{% block pageTitle %}
Check if your organisation needs to register | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Collection and packaging reforms</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register</li>
    </ol>
</div> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Set up an extended producer responsibility (EPR) for packaging account</h1>

        <p class="govuk-body">
            This service is for organisations and sole traders that must take action to comply with the extended producer responsibility (EPR) for packaging regulations.
        </p>

        <p class="govuk-body">Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>create a Government Gateway account linked to your organisation (if you don't have one)</li>
        <li>create a Defra account (if your organisation doesn't have one)</li>
        <li>get access to the EPR digital service</li>
        </ul>


        <h2 class="govuk-heading-l">What you'll need</h2>

        <p class="govuk-body">To create a Government Gateway account, you'll need to tell us your email address and full name.</p>

        <p class="govuk-body">To create your Defra account, you'll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>if your organisation trades in the UK</li>
        <li>your organisation's Companies House number (if it has one)</li>
        <li>your full name</li>
        <li>your telephone number</li>
        <li>your organisation's address</li>
        <li>your organisation's main telephone number and email address (optional)</li>
        </ul>

        <p class="govuk-body">If you use this service to create a Defra account, you'll need your Government Gateway user ID and password to sign in and create your EPR for packaging account.</p>

        <a href="./govt-gateway/login.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Set up account
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
            

    </div>
</div>

{% endblock %}