{% extends "layout.html" %}

{% set serviceName = " pEPR Regulators' Service" %}

{% set title = "pEPR: Regulators' Service" %}

{% block pageTitle %}
Small producer base fee - Manage registration submissions
{% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
          Query Acme org Ltd.
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit ornare odio non luctus.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
        aria-describedby="more-detail-hint"></textarea>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </button>
    </div>

    <!-- Producer comments start-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">Latest query: a subject sample text here</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
          </li>
        </ul>
      </div>
      <div class="govuk-width-container" style="padding: 30px;">
        <!-- alternative div A-->
        <div style="padding-bottom: 0px; margin: 0px;">
          <p class=" govuk-body" style="margin:0px;"><span
              style="font-size: 18px;"><strong>someone@email.com</strong></span></p>
          <p class=" govuk-body" style="margin:0px;">
            <span style="font-size: 16px; color:#808080;">23/09/2024 10:04</span>
          </p><br>
          <p class=" govuk-body" style="margin:0px;">Sample text of a producer comment here Lorem ipsum dolor sit
            amet, consectetur adipiscing
            elit. Praesent eget nunc eget magna auctor aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit.
            Praesent eget nunc eget magna auctor aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent eget nunc eget magna auctor aliquet. </p>
        </div>
      </div>
    </div>
    <!-- Producer comments end-->


    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Organisation name</h3>
    <p class="govuk-body">Acme org Ltd.</p>

    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Organisation type</h3>
    <p class="govuk-body">Small producer</p>

    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Organisation identification</h3>
    <p class="govuk-body">ID: 215 148</p>

    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Application Reference Number</h3>
    <p class="govuk-body">213148_4</p>

    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Registered address</h3>
    <p class="govuk-body">101 High Street <br>
      Big City<br>
      Randomshire <br>
      A12 3BC</p>

    <h3 class="govuk-heading-s" style="padding: 6px 0px; margin: 0px;">Companies House Number</h3>
    <p class="govuk-body">08519077<br> <a href="#" class="govuk-link govuk-link--no-visited-state">View on Companies
        House register</a>
    </p>



    <!-- Table start-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">Submission details - January to June 2025 submission period</h2>
        <strong class="govuk-tag govuk-tag--purple" style="margin-left: 279px; justify-content: none">
          Queried
        </strong>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Time and date of submission</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              3:15pm on 10 March 2023
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Submitted on time</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Submitted by</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Sally Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Account role</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Approved person
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Telephone</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              07553 937 831
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Email</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              sally.smith@email.com
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Declared by</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Sally Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Organisation details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              org.details.acme.csv
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#">
                Download
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Brand details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              brand.details.acme.csv
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#">
                Download
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Partner details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              partner.details.acme.csv
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link--no-visited-state" href="#">
                Download
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border: 0px; height:30px;">
            <dd class="govuk-summary-list__value">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row"></div>
        </dl>

      </div>
    </div>
    <!-- Table end -->


    <!-- Table start payment details start-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">Payment details - January to June 2025 submission period</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Chargeable item</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Description</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>Amount</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>Status</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Generic fees</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Explain generic fees
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Base fee</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Fee for producer size
            </dd>
            <dd class="govuk-summary-list__actions">
              £1,216.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--turquoise" style="position:relative; left:0px; justify-content: none">
                Received
              </strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Total items incurred</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£1,216.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <!-- divider start-->
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag"
                style="position:relative; left:0px; justify-content: none; background-color: #ffffff;">
              </strong>
            </dd>
          </div>
          <!-- divider end-->
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Subsidiaries fees</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Fee for number of subsidiaries
            </dd>
            <dd class="govuk-summary-list__actions">
              £0.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--grey" style="position:relative; left:0px; justify-content: none">
                N/A
              </strong>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Total subsidiaries fees</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£0.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <!-- divider start-->
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag"
                style="position:relative; left:0px; justify-content: none; background-color: #ffffff;">
              </strong>
            </dd>
          </div>
          <!-- divider end-->
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Previous payments</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Explain previous payments
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Previous payment 1</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Previous payment 1
            </dd>
            <dd class="govuk-summary-list__actions">
              £100.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--orange" style="position:relative; left:0px; justify-content: none">
                Previous
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Total previous payments</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£100.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <!-- divider start-->
          <div class="govuk-summary-list__row" style="border: 0px;">
            <dd class="govuk-summary-list__value">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong></strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag"
                style="position:relative; left:0px; justify-content: none; background-color: #ffffff;">
              </strong>
            </dd>
          </div>
          <!-- divider end-->
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Total amount</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£1,316.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Amount received</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£1,316.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--turquoise" style="position:relative; left:0px; justify-content: none">
                Received
              </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Amount outstanding</strong>
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong>£0.00</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--grey" style="position:relative; left:0px; justify-content: none">
                N/A
              </strong>
            </dd>
          </div>

          <!-- Offline payments details - numerical form -->

        </dl>
      </div>
    </div>
    <!-- Table payment details end-->


    <!-- Producer comments start-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">Latest producer comments</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
          </li>
        </ul>
      </div>
      <div class="govuk-width-container" style="padding: 30px;">
        <!-- alternative div A-->
        <div style="padding-bottom: 0px; margin: 0px;">
          <p class=" govuk-body" style="margin:0px;"><strong>Name:</strong> Lorem ipsum dolor sit amet</p>
          <p class=" govuk-body" style="margin:0px;"><strong>Title:</strong>Lorem ipsum dolor sit amet</p>
          <p class=" govuk-body"><strong>Date and time:</strong> Date at 00:00 am/pm</p>
          <p class=" govuk-body" style="margin:0px;">Sample text of a producer comment here Lorem ipsum dolor sit
            amet, consectetur adipiscing
            elit. Praesent eget nunc eget magna auctor aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent eget nunc eget magna auctor aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent eget nunc eget magna auctor aliquet. </p>
        </div>
      </div>
    </div>
    <!-- Producer comments end-->

  </div>
</div>


{% endblock %}