{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
Check if the EPR for packaging regulations apply to you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Collection and packaging reforms</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <!-- FORM-ROUTING -->
        <form method="POST" action="group-1">


            

            <!-- HEADING -->
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                    <span class="govuk-caption-xl">Guidance</span>
                    Create an extended producer responsibility (EPR) for packaging account
                </h1>
                <p class="govuk-body-l">
                    If your organisation needs to take action under extended producer responsibility (EPR) for packaging, use this service to create an account.
                </p>
            </div>

            <!-- DIVIDER -->
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>

            <!-- HEADING -->
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-s govuk-!-margin-bottom-2">
                    From: <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Department for Environment, Food & Rural Affairs</a> and <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Enviroment Agency</a>
                </p>
                <p class="govuk-body-s">
                    Published: Published 7 June 2022                
                </p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            </div>
            
            <!-- START PAGE CONTENT -->
            <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body">To create an EPR for packaging account, you’ll need:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>a Government Gateway account that uses your work email address</li>
        <li>a Defra account for your organisation</li>
        </ul>
        <p class="govuk-body">Once you have created an EPR for packaging account, you'll receive email updates about the registration process and when it opens.</p>


        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You'll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>if your organisation trades in the UK</li>
        <li>your Companies House number (if you have one)</li>
        <li>details about your organisation such as an email address, telephone number and address</li>
        </ul>

        <!-- <p class="govuk-body">If you use this service to create a Defra account, you'll need your Government Gateway user ID and password to sign in and create your EPR for packaging account.</p> -->

        <a href="./govt-gateway/login.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 20px;">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
        
            <div class="guidance-sidebar" style="padding-top: 15px; margin-top: 70px; border-top: #1d70b8 2px solid;">
                <h2 class="govuk-heading-s">Explore the topic</h2>
        
                <p class="govuk-body-s"><a href="#">Waste</a></p>
            </div>

            </div>

            <!-- GUIDANCE SIDEBAR -->
            <div class="govuk-grid-column-one-third" style="padding: 0px 15px;">
                <div class="guidance-sidebar" style="padding: 15px 0px 0px 0px; border-top: #1d70b8 2px solid;">
                    <h2 class="govuk-heading-s">Related content</h2>
                            </div>
                <div class="guidance-sidebar" style="padding-top: 15px; border-top: #B1B4B6 1px solid;">
                    <h2 class="govuk-body-s">Collection</h2>
            
                    <p class="govuk-body-s"><a href="../../guidance/colletion/collection-epr.html">Producer responsibility regulations</a></p>
                </div>    
            </div>

        </form>

</div>

{% endblock %}