
<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example — HMRC Design Patterns — Design resources for HMRC — GOV.UK</title>

    <link rel="icon" href="/extension-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/public/stylesheets/hmrc-design-system.min.css" media="all">
  </head>

  <body class="app-example-page">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<meta name="hmrc-timeout-dialog"
      content="hmrc-timeout-dialog"
      data-language="en"
      data-timeout="70"
      data-countdown="68"
      data-keep-alive-url="?continue=true"
      data-sign-out-url="?lang=English"
      data-timeout-url=""
      data-title="Continue to extend your session"
      data-message="If you do not extend your seasion in the next 2 minutes, any unsaved data will be deleted for your security."
      data-message-suffix=""
      data-keep-alive-button-text="Continue"
      data-sign-out-button-text="Sign out"
      data-synchronise-tabs=""
      data-hide-sign-out-button=""/>

<script src="/public/javascripts/hmrc-design-system.js" type="module"></script>
  </body>

</html> -->






<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<title>Manage session timeout - DWP Design System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if gt IE 8]><!-->
	<link href="/public/stylesheets/hmrc-design-system.min.css" rel="stylesheet">
	<!--<![endif]-->
	
</head>

<body class="govuk-frontend-supported">
	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
	
	<div class="app-example-page">
		

<meta name="hmrc-timeout-dialog"
content="hmrc-timeout-dialog"
data-language="en"
data-timeout="70"
data-countdown="68"
data-keep-alive-url="landing-page.html"
data-sign-out-url="sign-in"
data-timeout-url="landing-page"
data-title="Continue to extend your session"
data-message="Any unsaved data will be deleted for your security if you do not extend your session in the next"
data-message-suffix=""
data-keep-alive-button-text="Continue"
data-sign-out-button-text="Sign out"
data-synchronise-tabs=""
data-hide-sign-out-button=""/>




	</div>
	
	<script src="/public/javascripts/hmrc-design-system.js"></script>
	
</body>

</html>