{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You have successfully updated the default parameters
          </h1>
          <div class="govuk-panel__body">
            11 July 2025 - 9:35
          </div>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">All calculations will automatically use the new parameters, unless they are manually changed.
        </p>

        &nbsp; &nbsp;
<div class="govuk-button-group">
  <a href="default-settings-change" class="govuk-button" type="submit">View new default parameters</a>
  <a class="govuk-link" href="dash-small-tiles">Return to the dashboard</a>
</div>
        
        
      </div>
    </div>
  </main>
</div>


{% endblock %}