{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of its subsidiaries a 'type 5' producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a 'type 5' producer?</h1>
        {% endif %}

        <p>A type 5 producer is an organisation which supplies reusable packaging.</p>

        {{ govukDetails({
          summaryText: "Show me an example of a type 5 producer",
          html: '
          <p>A pallet company who hires out reusable pallets. The organisations who use the pallets, such as manufacturers and supermarkets, never own them.</p>
          '
        }) }}

        <form method="POST" action="registration-org-type-seller">
            
            {{ govukRadios({
              name: "producerType5",
              items: [
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "Yes"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}