{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of it's subsidiaries a seller?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a seller?</h1>
        {% endif %}

        <p>A Seller sells packaged goods directly to customers.</p>

        {{ govukDetails({
          summaryText: "Examples of a seller",
          html: '
          <p><strong>Example 1:</strong> a manufacturer sells their own branded biscuits to a supermarket in shelf ready packaging (e.g. an outer transit box containing packs of the biscuits ready for sale). They will be obligated as a Seller for the shelf ready packaging because this packaging will be discarded by the supermarket.</p>
          <p><strong>Example 2:</strong> a business imports a pallet of ‘filled’ cereal boxes. They subsequently sell the cereal to a supermarket but re-export the pallet and discard the shrink wrap. They must report, as a Seller, the shrink wrap.</p>
          <p>(They will be obligated as an Importer for the cereal box packaging and the shrink wrap packaging as this packaging will be disposed in the UK. They would also need to report the exported pallet too to provide evidence that it had been exported and is therefore exempt.)</p>
          '
        }) }}

        <form method="POST" action="registration-check-details">
            
            {{ govukRadios({
              name: "producerTypeSeller",
              items: [
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "Yes"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}