{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of it's subsidiaries a Type 2 producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a Type 2 producer?</h1>
        {% endif %}

        <p>A Type 2 producer is an organisation which imports packaged goods to sell in the UK.</p>

        {{ govukDetails({
          summaryText: "Examples of a Type 2 producer",
          html: '
          <p><strong>Example 1:</strong> an importer imports a pallet of filled cereal boxes. They subsequently sell the cereal boxes but discard the pallet and shrink wrap. They will be obligated on the cereal box packaging. The pallet and shrink wrap should be reported under the seller obligation.</p>
          '
        }) }}

        <form method="POST" action="registration-org-type-3">
            
            {{ govukRadios({
              name: "producerType2",
              items: [
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "Yes"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}