{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Are you sure you want to remove {{data['subName']}}?</h1>

        <!-- Radio button routing in /epr/vN/_routes.js -->
        <form method="POST" action="route-subsidiaries-add-remove-{{data['subNumber']}}">

            {{ govukRadios({
                name: "subRemoveChoice",
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
            }) }}

            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}