{% extends "layout.html" %}

{% block pageTitle %}
    Type of producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['sub1'] == '1' %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd or any of it's subsidiaries a Type 5 producer?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Is Acme Org Ltd a Type 5 producer?</h1>
        {% endif %}

        <p>A Type 5 producer is an organisation which supplies reusable packaging.</p>

        {{ govukDetails({
          summaryText: "Examples of a Type 5 producer",
          html: '
          <p><strong>Example 1:</strong> a pallet company hires out reusable pallets. They will only need to report the pallets and pay waste management cost fees the first time they are placed on the market. Those who are using the pallets, such as manufacturers.</p>
          <p><strong>Example 2:</strong> a company hires out reusable IBCs (Intermediate Bulk Containers). They will only need to report and pay waste management cost fees for the IBCs the first time they are placed on the market.</p>
          '
        }) }}

        <form method="POST" action="registration-org-type-seller">
            
            {{ govukRadios({
              name: "producerType5",
              items: [
                {
                  value: "no",
                  text: "No"
                },
                {
                  value: "yes",
                  text: "Yes"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}