{% extends "layout.html" %}

{% block pageTitle %}
    Subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
            Does your organisation have any subsidiaries that produce packaging?
        </h1>
        <p>If any of your subsidiaries are based in a different nation, you must register them as a separate organisation.</p>

        {{ govukDetails({
            summaryText: "What’s a subsidiary?",
            html: '
            <p>A subsidiary is another company that your organisation either fully or partly owns.</p>
            <p><a href="https://www.legislation.gov.uk/ukpga/2006/46/section/1159" target="_blank">Read more about subsidiaries (opens in new window or tab)</a>.</p>
            '
        }) }}

        <!-- Radio button routing in /epr/vN/_routes.js -->
        <form method="POST" action="route-subsidiaries-choice">

            {{ govukRadios({
                name: "subChoice",
                items: [
                    {
                    value: "no",
                    text: "No"
                    },
                    {
                    value: "yes",
                    text: "Yes"
                    }
                ]
            }) }}

            {{govukButton({
                text: "Continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}