{% extends "layout.html" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Extended producer responsibility</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Check if your organisation has a Defra ID account
      </h1>

      <h2 class="govuk-heading-m">Start typing your organisation’s company number </h2>

      <p>Your organisation must be registered with Companies House to use this checker.</p>

      <div id="tt-default" class="autocomplete-wrapper govuk-!-margin-bottom-6 govuk-!-width-two-thirds"></div>
      
      <form method="POST" action="service-start-defra-check-yes">
        {{ govukButton({
          text: "Confirm (yes)"
        }) }}
      </form>

      <form method="POST" action="service-start-defra-check-no">
        {{ govukButton({
          text: "Confirm (no)"
        }) }}
      </form>
      
      <p>If your organisation is not registered with Companies House, <a href="service-start-gg">skip this step</a>.</p>

      <p><a href="service-start">Return to GOV.UK</a></p>

    </div>
</div>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  var companies = [
  "(001234) Burns Industries",
  "(001235) Dunder Mifflin, Inc.",
  "(001236) E Corp",
  "(001237) Hooli",
  "(001238) Los Pollos Hermanos",
  "(001239) Stark Industries",
  "(001241) Wayne Enterprises, Inc.",
  "(001242) Axe Capital",
  "(001243) Delos Inc"
  ]
</script>

<script type="text/javascript">
  var element = document.querySelector('#tt-default')
  var id = 'defraCheckCompanyNumber'
  accessibleAutocomplete({
    element: element,
    id: id,
    name: 'defraCheckCompanyNumber',
    source: companies
  })
</script>

{% endblock %}