{% extends "layout.html" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Extended producer responsibility</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Do you have your own Government Gateway account that you use for work?
      </h1>

      <p>Select no if:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>you only have a personal Government Gateway account</li>
        <li>someone else in your organisation has a Government Gateway account but you do not</li>
      </ul>

      <!-- Radio button routing in /vN/epr/_routes.js -->
      <form method="POST" action="route-check-gg">

        {{ govukRadios({
          name: "ggChoice",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{govukButton({
            text: "Continue"
        })}}

      </form>

      <p><a href="service-start">Return to GOV.UK</a></p>

    </div>
</div>

{% endblock %}