{% extends "layout.html" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Extended producer responsibility</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Check if your organisation has been set up before
      </h1>

      <p>Before you create your own Defra account, check whether your organisation has been set up.</p>      

      <h2 class="govuk-heading-m">Check using the Companies House number for your organisation</h2>

      <form method="POST" action="service-start-defra-check-confirm">

        {{ govukInput({
          label: {
            text: "Companies House number"
          },
          id: "defraCheckCompanyNumber",
          name: "defraCheckCompanyNumber",
          classes: "govuk-!-width-one-half"
        }) }}

        {{ govukDetails({
          summaryText: "Where can I find the number?",
          html: '<p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank">Companies House register (opens in a new tab).</a></p>
          <p>If your organisation is not on Companies House then you can <a href="#">skip this step</a>.'
        }) }}
      
        {{govukButton({
            text: "Continue"
        })}}

      </form>
      
      <p><a href="service-start-gg">My organisation is not on Companies House, skip this step</a></p>

      <p><a href="service-start">Return to GOV.UK</a></p>

    </div>
</div>

{% endblock %}