
{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
    <br> 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">2025-2026</span><br>

        <h1 class="govuk-heading-xl">Registration fees for producers</h1>
                       

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">Large producers</label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="£2620.00" inputmode="numeric">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
           Small producers
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="£1216.00" inputmode="numeric">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            First 20 subsidiaries each
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="£558.00" inputmode="numeric">
        </div>

        

        <div class="govuk-form-group"></div>
          <label class="govuk-label" for="width-10">
            21 - 100 subsidiaries each
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="£140.00" inputmode="numeric">
        </div>
        
 
    
  </div>
  <br><br>
  
    <a href="list-full2" class="govuk-button show-continue" style="display: inline;">
      Save
    </a>
  </div>
</div>

{% endblock %}