{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>



    <h1 class="govuk-heading-xl">Regulator service</h1>
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Select a year
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published"selected>2024/25</option>
        <option value="updated">2026/27</option>
        
      </select>
    </div> 

    <div class="govuk-grid-row tile-group">
      <div class="govuk-grid-column-one-third tile">
          <a class="min-height" href="fee-costs">
              <span class="govuk-heading-m heading">Registration fee for producers</span>
              <span class="govuk-heading govuk-!-font-size-16">Change fees</span>
          </a>
      </div>
  
      
  
      <div class="govuk-grid-column-one-third tile">
          <a class="min-height" href="fee-costs-compliance">
              <span class="govuk-heading-m heading">Registration fee for compliance schemes</span>
              <span class="govuk-heading govuk-!-font-size-16">Change fees</span>
          </a>
      </div>
      
      
   
          
          
  
       
      </div>
    
  </div>
</div>


{% endblock %}