{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "home.html",
    text: "Home"
    },
    {
    href: "manage-account.html",
    text: "Manage account" 
    },
    {
    href: "my-profile.html",
    text: "My profile",
    active: true
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-full">
      <div class="govuk-!dispaly-inline-block">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
              My profile
          </h1>
      </div>
      <div class="">
           <span class="govuk-caption-l">
              {{ data['which-producer'] }}
              <a href="choose-organisation-my-profile.html" class="govuk-link govuk-!-margin-left-2">
                  Change
                  <span class="govuk-visually-hidden">Organisation name</span>
              </a>
          </span>
      </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">Joe Doe</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Role</th>
          <td class="govuk-table__cell">Consultant</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Job title</th>
          <td class="govuk-table__cell">Senior consultant</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Contact email address</th>
          <td class="govuk-table__cell">joe.doe@email.com</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Telephone number</th>
          <td class="govuk-table__cell">07852 572467</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>

{% endblock %}
