{% extends "layout.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "./report-packaging-data.html",
    navigation: [
      {
        href: "./report-packaging-data.html",
        text: "Home", 
        active: true
      },
      {
        href: "./account-management.html",
        text: "Manage account details" 
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Home
    </h1>

    <div class="govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Acme Org Ltd</h2>
      <p class="govuk-body govuk-!-margin-bottom-2">Compliance method: <strong>Self compliance</strong></p>
    </div>

    {% if (data['new-user'] == "yes") %}
    <div class="govuk-inset-text">
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-3">
        Pending approval
      </strong>
      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Submitting data</h3> -->
      <p class="govuk-body">You can now manage team members and upload data. We’ll email you when the regulator has given you permission to submit data.</p>
    </div>
    {% endif %}

  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Report organisation details</a></h2>
      <!-- <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload organisation details</li>
        <li>submit organisation details</li>
        <li>keep organisation details up to date</li>
      </ul> -->
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Report packaging data</a></h2>
      <!-- <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>upload packaging data</li>
        <li>submit packaging data</li>
        <li>re-upload packaging data</li>
      </ul> -->
    </div>
  </div>
</div>

<div class="govuk-grid-row ">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m">Fees</h2>
      <p class="govuk-body">Available to view 31st April 2024.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m">PRN's</h2>
      <p class="govuk-body">Available to view 31st April 2024.</p>
    </div>
    <a href="./account-management.html"></a>
  </div>
</div>



{% endblock %}
