{% extends "layout.html" %}

{% set title = "" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Your payment was cancelled</h1>
      <p>No money has been taken from your account.
        <p>You can <a href="confirmation"> try the payment again </a>or <a href="confirmation">pay by bank transfer</a> instead.</p>
      </p>

    </div>
  </div>



{% endblock %}
