{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "#",
    text: "Manage account" 
    },
    {
    href: "#",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}
  {% endblock %}


{% block beforeContent %}
<a class="govuk-back-link" href="./lp-landing-page.html">Home</a>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5 govuk-!-margin-bottom-5">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Your 2025 recycling obligation for paper is 4,000 tonnes
      </h1>

      <!--<p>
        This amount is based on the data you submitted when you reported your packaging data. It has been approved by the scottish regulator. 
      </p>
      <p> We calculated these numbers by assessing the amount and type of packaging materials you use, ensuring compliance with environmental regulations.
    
      </p>
  
   
     

     <!--<p>This is the amount you need to handle for each material in 2025:</p>-->

     <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">  Current status of your paper obligation:</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Material</th>
          <th scope="col" class="govuk-table__header">Tonnage</th>
          <th scope="col" class="govuk-table__header">Tonnage met</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Paper</th>
          <td class="govuk-table__cell">4,000</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--grey">
            Not met
          </strong></td>
        </tr>
        </tbody>
      </table>

      
      <h2 class="govuk-heading-m">Your calculation</h2> 

      <p class="govuk-body"> X = 5,333.33 tonnes (total paper packaging amount you reported) <br/>
        Y = 75% (recycling target for paper set by the 2025 regulations)
        <br/>
        <br/>
<strong>Z is 5,333.33 tonnes x 75% = 4,000 tonnes (your recycling obligation for paper)</strong>

      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How we calculated your recycling obligation
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">We calculated your obligation using these steps:</p>
          <ol class="govuk-list govuk-list--number">
           <li><strong>Data collection:</strong> We gathered the data you submitted based on the paper packaging information you supplied.</li>
           <li> <strong>Calculation formula: </strong>We applied the formula set out in the 2025 regulations,<br/> X x Y = Z, where:</li>
         
   
           <ul class="govuk-list govuk-list--bullet">
             <li>X is the total weight of paper packaging you reported for 2024</li>
             <li>Y is the recycling target percentage for 2025 set by the regulations</li>
             <li>Z is your total paper recycling obligation for 2025</li>
           </ul>
         </ol>


        </div>
      </details>
       


       

      <p>
        If you believe your data is incorrect, contact your regulator or compliance scheme immediately.       </p>

      


<br/>
<br/>
<a href="view-obligation" class="govuk-link">  <button type="submit" class="govuk-button" data-module="govuk-button">
  Back to recycling obligation
      </button></a>
     
</div>
</div>


          
    


 
  

{% endblock %}
