{% extends "layout-gov.html" %}

{% set serviceName %}
Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
GOV.UK
{% endblock %}



{% block beforeContent %}
{{ govukBackLink ({
text: "Back to search results ",
href: "javascript:history.back()"
}) }}
{% endblock %}



{% block content %}



<div class="govuk-grid-row">

    <!-- HEADING -->
    <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <span class="govuk-caption-xl">Accreditation record</span>
            URM UK Ltd t/a Berryman
             <span class="govuk-form-group" style="float: right;"><button type="submit" class="govuk-button" data-module="govuk-button">
  Download a copy
</button></span>
        </h1>
        <p class="govuk-body-l">
            As at 21/05/2025 14:12pm<br>
            <span class="govuk-body">See accreditation history below for details of any amendments.
        </p>


        <h2 class="govuk-heading-m">Details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reprocessor /exporter
                </dt>
                <dd class="govuk-summary-list__value">
                    Reprocessor
                </dd>
            </div>

          <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    The Name of Business of registered Re-processor and exporter
                </dt>
                <dd class="govuk-summary-list__value">
                    URM UK Ltd t/a Berryman
                </dd>
            </div>

                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
The Name of business of Re-processor and Exporter accredited to issue PRNs or PERNs
                </dt>
                <dd class="govuk-summary-list__value">
                    URM UK Ltd t/a Berryman
                </dd>
            </div>

  
                   <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered office/head office/main lace of business in UK
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>Langthwaite Business Park<br>
                    SOUTH KIRKBY<br> West Yorkshire<br> WF9 3NR
                </dd>
            </div>
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone ( Main Business)
                </dt>
                <dd class="govuk-summary-list__value">
                    01977 608020
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Agency of a registered RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    Environment Agency
                </dd>
            </div>

                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Agency of an accredited RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    Environment Agency
                </dd>
            </div>
         
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Company House Registration Number 
                </dt>
                <dd class="govuk-summary-list__value">
                    4084246
                </dd>

            </div>
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number assigned on Registration (PEPR Registration Number)
                </dt>
                <dd class="govuk-summary-list__value">
                    R25ER7012251234GL
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation Reference Number assigned by agency
                </dt>
                <dd class="govuk-summary-list__value">
                    A25ER7012254321GL
                </dd>

            </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registration  status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Active
                    </strong>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Active
                    </strong>
                </dd>
            </div>

     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Trading  name of Registered RE/EX ( if diff to registered name)
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>

                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Trading Address of Registered RE/EX (If different to the Registered/head office /main place of business)
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>


                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    

Telephone number of Registered RE/EX (If different to the main business Telephone)
                </dt>
                <dd class="govuk-summary-list__value">
                    
0208 563 2566
                </dd>
            </div>


                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    

Trading  name of Accredited RE/EX ( if different to registered name)
                </dt>
                <dd class="govuk-summary-list__value">
                    
Berryman
                </dd>
            </div>

            
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
Trading Address of Accredited RE/EX (If different to the Registered/head office /main place of business)
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
            </div>

                             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

Trading Telephone number of Accredited RE/EX (If different to the main business Telephone)
                </dt>
                <dd class="govuk-summary-list__value">
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Category of Packaging Waste (i.e. Material) of Registered RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    Glass
                </dd>
            </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Category of Packaging Waste (i.e. Material) of Accredited RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    Glass
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reprocessing Site (s) Specified in the Registration of RE/EX (UK)
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>SOUTH KIRKBY<br>West Yorkshire<br>WF9 3NR
                </dd>
            </div>
       
      <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reprocessing Site (s) Specified in the accreditation of RE/EX (UK)
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>SOUTH KIRKBY<br>West Yorkshire<br>WF9 3NR
                </dd>
            </div>
       

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Classification of the recovery operation provided for in Annex 2 to the Waste Directive for Registered RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">R5</p>
                    <p class="govuk-body">Recycling/reclamation of other inorganic materials</p>
                </dd>
            </div>

                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Classification of the recovery operation provided for in Annex 2 to the Waste Directive for  an Accredited RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">R5</p>
                    <p class="govuk-body">Recycling/reclamation of other inorganic materials</p>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   
Overseas Reprocessing site (s) specified in the Registration
                </dt>
                <dd class="govuk-summary-list__value">
                
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   
Overseas Reprocessing site (s) specified in the Accreditation
                </dt>
                <dd class="govuk-summary-list__value">
                
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Tonnage Band of Packaging waste for which RE/EX is accredited to issue PRNs and PERNs
                </dt>
                <dd class="govuk-summary-list__value">
                    	
Large

Accredited to issue more than 400 tonnes of PRNs
                </dd>
            </div>





            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   
Approved Overseas Reprocessing site (s)
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
            </div>





            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registration Active Date 
                </dt>
                <dd class="govuk-summary-list__value">
    
05/05/2022
                </dd>
            </div>

<!--


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Notice to suspend or cancel
                </dt>
                <dd class="govuk-summary-list__value">
                    n/a
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Civil sanctions
                </dt>
                <dd class="govuk-summary-list__value">
                    n/a
                </dd>
            </div>
     
        -->

        </dl>



<!--
        <h2 class="govuk-heading-m">Accreditation History</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Active
                    </strong>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Effective from
                </dt>
                <dd class="govuk-summary-list__value">
                    3/02/2025
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date last changed
                </dt>
                <dd class="govuk-summary-list__value">
                    3/02/2025
                </dd>
            </div>

        </dl>
-->

        <div class="govuk-button-group">
  {{ govukButton({
    text: "Download a copy"
  }) }}

  <a class="govuk-link" href="./search-results.html">Back to search results</a>
</div>
    </div>
</div>

</div>





{% endblock %}