{% extends "layout-blank.html" %}

{% set serviceName %}
Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
GOV.UK
{% endblock %}



{% block beforeContent %}
{{ govukBackLink ({
text: "Back to search results ",
href: "javascript:history.back()"
}) }}
{% endblock %}



{% block content %}



<div class="govuk-grid-row">

    <!-- HEADING -->
    <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <span class="govuk-caption-xl">Accreditation record</span>
            URM UK Ltd t/a Berryman
             <span class="govuk-form-group" style="float: right;"><button type="submit" class="govuk-button" data-module="govuk-button">
  Download a copy
</button></span>
        </h1>
        <p class="govuk-body-l">
            As at 21/05/2025 14:12pm<br>
            <span class="govuk-body">See accreditation history below for details of any amendments.
        </p>


        <h2 class="govuk-heading-m">Details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reprocessor /exporter
                </dt>
                <dd class="govuk-summary-list__value">
                    Reprocessor
                </dd>
            </div>

          <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business name
                </dt>
                <dd class="govuk-summary-list__value">
                    URM UK Ltd t/a Berryman
                </dd>
            </div>
<!--
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
The Name of business of Re-processor and Exporter accredited to issue PRNs or PERNs
                </dt>
                <dd class="govuk-summary-list__value">
                    URM UK Ltd t/a Berryman
                </dd>
            </div>
-->
  
                   <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered office/head office/main lace of business in UK
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>Langthwaite Business Park<br>
                    SOUTH KIRKBY<br> West Yorkshire<br> WF9 3NR
                </dd>
            </div>
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone ( Main Business)
                </dt>
                <dd class="govuk-summary-list__value">
                    01977 608020
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Agency
                </dt>
                <dd class="govuk-summary-list__value">
                    Environment Agency
                </dd>
            </div>
<!--
                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Agency of an accredited RE/EX
                </dt>
                <dd class="govuk-summary-list__value">
                    Environment Agency
                </dd>
            </div>
 -->        
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Company House number 
                </dt>
                <dd class="govuk-summary-list__value">
                    4084246
                </dd>

            </div>
                 <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registration number
                </dt>
                <dd class="govuk-summary-list__value">
                    R25ER7012251234GL
                </dd>

            </div>

            
     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Trading  name ( if diff to registered address)
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>

                    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Registered Reprocessing site  (UK)
                </dt>
                <dd class="govuk-summary-list__value">
                    Lidgate Crescent<br>SOUTH KIRKBY<br>West Yorkshire<br>WF9 3NR
                </dd>
            </div>

                    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Packaging Waste Category ( i.e. Material)
                </dt>
                <dd class="govuk-summary-list__value">
                    Glass
                </dd>
            </div>

                             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Annex II Process
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>

                    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Overseas Reprocessing site (s)
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>
         <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Accreditation status ( name, active, suspended, cancelled)
                </dt>
                <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--green">
                        Active
                    </strong>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Accreditation No
                </dt>
                <dd class="govuk-summary-list__value">
                    A25ER7012254321GL
                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    
Tonnage Band 
                </dt>
                <dd class="govuk-summary-list__value">
                    	
Large

Accredited to issue more than 400 tonnes of PRNs
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Active Date
                </dt>
                <dd class="govuk-summary-list__value">
    
05/05/2022
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date last changed
                </dt>
                <dd class="govuk-summary-list__value">
    
01/03/2024
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Compliance with monthly reporting obligations (Y/N per month)
                </dt>
                <dd class="govuk-summary-list__value">
    
Y
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Compliance with annual reporting obligations (Y/N per year)
                </dt>
                <dd class="govuk-summary-list__value">
    
Y
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Notice to suspend or cancel 
                </dt>
                <dd class="govuk-summary-list__value">
    
N/A
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Civil Sanctions
                </dt>
                <dd class="govuk-summary-list__value">
    
N/A
                </dd>
            </div>

       <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Quarterly returns
                </dt>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>
     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Independent Auditors Reports
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
            </div>

     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Revenue Reports
                </dt>
                <dd class="govuk-summary-list__value">
                   
                </dd>
            </div>

</dl>

        <h2 class="govuk-heading-m">Accreditation History</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                        Active
                    </strong>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Effective from
                </dt>
                <dd class="govuk-summary-list__value">
                    3/02/2025
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date last changed
                </dt>
                <dd class="govuk-summary-list__value">
                    3/02/2025
                </dd>
            </div>

        </dl>

</div>

</div>
        <div class="govuk-button-group">
  {{ govukButton({
    text: "Download a copy"
  }) }}

  <a class="govuk-link" href="./search-results.html">Back to search results</a>
</div>
    </div>
</div>

</div>





{% endblock %}