{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="company-uploading" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                       
                        Upload company details                  
                    </h1>

                    <p class="govuk-body">When you submit your organisations’ packaging data to the environmental regulator, you also need to give their company details.</p>

                    <p class="govuk-body">This includes things like:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>address</li>
                      <li>turnover</li>
                      <li>packaging activities</li>
                    </ul>

                    <h2 class="govuk-heading-m">Other information you may need to give</h2>

                    <p class="govuk-body">Some organisations also need to report their:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>brand activities - if they supply goods to the UK market in primary, secondary, or shipment packaging under their own brand</li>
                      <li>partners - if they’re registered as a partnership in Companies House</li>
            
                    </ul>


        
                    <h2 class="govuk-heading-m">What you need to do</h2>


                    <div class="govuk-form-group">
                        <ol class="govuk-list action-list">
                            <li class="action">Read the guidance on  <a class="govuk-link" href="https://www.gov.uk/guidance/packaging-waste-prepare-for-extended-producer-responsibility">company details you need to collect and submit to report packaging data (opens in a new window)</a>..</li>
                            <li class="action">Upload the company details in a CSV file.</li>
                            <li class="action">Based on what is in the company details file, you may need to also upload separate CSV files with information about brands and partners. </li>
                        </ol>
  


                 

                    <p class="govuk-body">Once the files are uploaded an authorised person must submit them to the environmental regulator. There is a separate step to do that.
                    </p>

                    <p class="govuk-body">The information you submit needs to be true on the deadline of 1 January 1900.</p>


                    <h2 class="govuk-heading-m">Upload company details file</h2>

                    <p class="govuk-body">It may take a few minutes to upload the file.</p>

                    <p class="govuk-body">Do not close or refresh the window while this is happening.</p>



            {{
 govukButton({
        text: "Upload file"
      })
            }}

        </form>

    </div>
</div>

{% endblock %}
