{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="" method="post"> 

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                    
                        Review your uploads                  
                    </h1>

                   
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Organisation-details.csv
                          </dt>
                          <dd class="govuk-summary-list__value">
                            30 January 2023
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="company-upload">
                              Change<span class="govuk-visually-hidden"> company</span>
                            </a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Partner.csv
                          </dt>
                          <dd class="govuk-summary-list__value">
                            30 January 2023
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="brand-upload">
                              Change<span class="govuk-visually-hidden"> brand</span>
                            </a>
                          </dd>
                        </div>
                      </dl>
                      
                    <br>
                  

                    <p class="govuk-body">The files have been successfully uploaded to your account.</p>
                      
                      <p class="govuk-body">They have not been submitted to the regulator. There's a seperate step to do that.</p>


                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">You can upload new files any time before the deadline.</p>

                    <p class="govuk-body">

                      The deadline to submit the files to the regulator is 1 October 2023. Only people with the right account permission can do this.</p>


                      <h2 class="govuk-heading-m">After the files have been submitted</h2>

                      <p class="govuk-body">You need to report any changes to organisation details within 28 days of the changes happening. Do this by submitting updated files to the regulator.</p>
                   
                </fieldset>
            </div>


            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                Go to account home page
                </button>
              
            
              </div>

        </form>

    </div>
</div>

{% endblock %}
