{% extends "layout.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#?notification=false",
    navigation: [
      {
        href: "#?notification=false",
        text: "Home",
        active: true
      },
      {
        href: "../../delegate-someone/account-management",
        text: "Manage account details" 
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Account home - Acme Org
    </h1>
  </div>

</div>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-!-margin-bottom-2">
    <span class="govuk-details__summary-text">
      What do I report, and how do ‘data periods’ work?
    </span>
  </summary>
  <div class="govuk-details__text">
      <p>You need to report data that shows Acme Org's packaging activities over a period of time.  Each period of time is called a ‘data period’. </p>
      <p class="govuk-body">For each data period Acme Org needs to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>report organisation details</li>
        <li>report packaging data</li>
        <li>pay the waste management fee</li>
      </ul> 
      <p>You may need to collect some information before the period starts, and you submit the data after the period has finished. This means you’ll have tasks for more than one data period at the same time.</p>
 <p>You’ll also need to handle packaging recovery notes (PRNs). These are evidence that packaging waste has been recovered, reprocessed or exported. PRNs cover all packaging activities in a calendar year - they are not linked to specific data periods.</p>
 
    </div>
</details>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m govuk-link-"><a href="cs-submit-behalf-lp-orgdetails-tasklist.html" class="govuk-link--no-visited-state">Report organisation details</a></h2>
      <p class="govuk-body">You may have tasks for these data periods:</p>
        <ul class="govuk-list govuk-list--bullet">
         <li>January to June 2023</li>
         <li>July to December 2023</li>
        </ul> 
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m"><a href="cs-submit-behalf-lp-reportpacking-tasklist.html" class="govuk-link--no-visited-state">Report packaging data</a></h2>
      <p class="govuk-body">You may have tasks for these data periods:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>January to June 2023</li>
          <li>July to December 2023</li>
        </ul> 
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m govuk-link-" class="govuk-link--no-visited-state">Waste management fee</h2>
      <p class="govuk-body">No action needed</p>
    </div>
  </div>
  
  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m" class="govuk-link--no-visited-state">Packaging recovery notes (PRNs)</h2>
      <p class="govuk-body">No action needed</p>
    </div>
  </div>
  </div>
  


{% endblock %}
