{% extends "layout.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "./report-packaging-data.html",
    navigation: [
      {
        href: "./report-packaging-data.html",
        text: "Home"
      },
      {
        href: "./account-management.html",
        text: "Manage account details",
        active: true 
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h1 class="govuk-heading-xl">
        Account home page
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Acme Org</h2>

      <!-- <div class="govuk-inset-text">
        <p class="govuk-body govuk-!-margin-bottom-2">Compliance method: Valpak Scotland</p>
        <p class="govuk-body"><a class="govuk-link" href="#">Change Tesco Ltd.’s compliance scheme</a></p>  
      </div> -->

      <p class="govuk-body govuk-!-margin-bottom-4">Compliance scheme: Valpak Scotland</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-3">What Acme org is responsible for</h3>
       
    

      

      <!-- <p> Tesco Ltd. is using the compliance scheme Valpak Scotland to report packaging data.</p> -->

      <p class="govuk-body">On behalf of Acme Org, Valpak Scotland is responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>submitting packaging data to the environmental regulator</li>
          <li>reporting organisation details and keeping them up to date</li>
          <li>handling packaging recovery notes (PRNs) - these are evidence that packaging has been recycled, recovered or exported</li>
        </ul>

      <p> Valpak Scotland is not responsible for paying the waste management fee that may apply.</p>


      <p class="govuk-body">You can <a class="govuk-link" href="#">change Acme Org’s compliance scheme</a></p> 
          


  </div>
</div>


{% endblock %}
