{% extends "layout.html" %}

{% set serviceName = "Check if your organisation needs to register as an obligated packaging producer" %}

{% block pageTitle %}
Check if your organisation needs to register as an obligated packaging producer | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Extended producer responsibility</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register as an obligated packaging producer</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST" action="route-q3b">

            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "obCheckProduce",
            name: "obCheckProduce",
            fieldset: {
                legend: {
                text: "How much packaging did your organisation produce between 1 Jan 2022 and 31 Dec 2022?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                value: "less25",
                text: "Less than 25 tonnes"
                },
                {
                value: "more25",
                text: "25 tonnes or more"
                }
            ]
            }) }}

            {{ govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}