{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>

        <h1 class="govuk-heading-l">
          Did your organisation dispose of any imported packaging before it was sold?
        </h1>

        <!-- {{ govukDetails({
          summaryText: "What's an end customer?",
          html: '
          <p>TBC</p>
          '
        }) }} -->

        <form method="POST" action="activities-seller-05">
            
            {{ govukRadios({
              name: "packagingSeller04",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}