{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

  

{% endblock %}

{% block content %}
     

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
  
    <span class="govuk-caption-l">Default settings</span><br>
    <h1 class="govuk-heading-xl">Bad debt provision</h1>           
    

    <p>Percentage estimate</p>
  
    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="6%" inputmode="numeric">

    <br><br><br>

      <div><a href="communication-costs" class="govuk-button show-continue" style="display: inline;">
        Save and continue
    </a></div>
    
       
  </div>
 
</div>


{% endblock %}