{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
    <h1 class="govuk-heading-m">
      <span class="govuk-caption-m"></span></h1>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Test check 10</h1>



        <h2 class="govuk-heading-l">Set the designated classification</h2>


<div class="govuk-form-group">
  <label class="govuk-label" for="location">
    
  </label>
  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
    <option value="choose" selected>Unclassified</option>
    <option value="eastmidlands">Initial run</option>
    <option value="eastofengland">Final run</option>
    <option value="london">Interim recalculation</option>
    <option value="london">Final recalculation</option>
  </select>
</div>

<br>


<a href="classify" class="govuk-button show-continue" style="display: inline;">
  Save the send for billing
</a>
       
      </div>
    </div>
  
</div>


{% endblock %}