{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <span class="govuk-caption-l">Functionality check 2024</span><br>
        <h1 class="govuk-heading-xl">Communication costs by materials</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                England
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                Scotland
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month">
                Wales
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-year">
                Northern Ireland
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="past-day">
            <h2 class="govuk-heading-l">England</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
            <h2 class="govuk-heading-l">Scotland</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre based composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
            <h2 class="govuk-heading-l">Past month</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Case manager</th>
                  <th scope="col" class="govuk-table__header">Cases opened</th>
                  <th scope="col" class="govuk-table__header">Cases closed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">David Francis</td>
                  <td class="govuk-table__cell">98</td>
                  <td class="govuk-table__cell">95</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Paul Farmer</td>
                  <td class="govuk-table__cell">122</td>
                  <td class="govuk-table__cell">131</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rita Patel</td>
                  <td class="govuk-table__cell">126</td>
                  <td class="govuk-table__cell">142</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
            <h2 class="govuk-heading-l">Past year</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Case manager</th>
                  <th scope="col" class="govuk-table__header">Cases opened</th>
                  <th scope="col" class="govuk-table__header">Cases closed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">David Francis</td>
                  <td class="govuk-table__cell">1380</td>
                  <td class="govuk-table__cell">1472</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Paul Farmer</td>
                  <td class="govuk-table__cell">1129</td>
                  <td class="govuk-table__cell">1083</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rita Patel</td>
                  <td class="govuk-table__cell">1539</td>
                  <td class="govuk-table__cell">1265</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

  
  
        <br><br>

        <a href="ghost" class="govuk-button show-continue" style="display: inline;">
          Save and continue
        </a>
       
              
    </main>
  </div>
</div>

  



{% endblock %}