{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Billing file sent
          </h1>
          <div class="govuk-panel__body">
            <STRONG>Test check 10</STRONG><br>20 June 2024 9:23
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          FSS will confirm the file has been recieved.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm - or to ask for more information.
        </p>
        <p class="govuk-body">
          <a href="list-full2" class="govuk-link">Return to the dashboard</a> 
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}