{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row flex">

    <div class="govuk-grid-column-full"><br>
            

        <h2 class="govuk-heading-l">The Data Discovery Platform</h2>
    
        <!--<p>Find and get access to DfE data</p>-->

        

       <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="reports">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Data marketplace</span>
                            
                        </a>
                        <div class="govuk-body warning-info-2">Find and request access to educational data

                        </div>
                        <span id="ob1" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View reports 
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                        </span>
                    </div>

    
    

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="https://explore-education-statistics.service.gov.uk/" target="_blank">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Data governance</span> <br>
                            <span class="govuk-body govuk-!-font-size-16"></span>
                        </a>
                        <div class="govuk-body warning-info-2">View metadata - find out the quality and who owns it</div>
                        <span id="ob6" class="govuk-body onboarding-info">
                                <div class="arrow-up"></div>
                                <a class="close" href="#">Close</a>
                                View reports
                                 <br>
                                <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                            </span>
                    </div>



        </div>
    </div>

</div>


{% endblock %}