{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Education and Skills Funding Agency report </h1>

      

  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="https://app.powerbi.com/groups/04abf7c2-340e-498c-8daa-500d9d6d6f17/reports/e96a7f76-0ba4-459d-a007-5647c63625bf/ReportSection0494c8adb99633f40b0b" target="_blank"> 
                      Further Education Briefing
                    </a></h3>
                    <p><strong>Description </strong> - Search for FE provider data on delivery, finances and quality.<br>
                      <strong>Software:</strong> Power BI<br>
                      <strong>Team:</strong>  NA</br>
                      <strong>Report owner:</strong> Aynsley Heath <a href="mailto:aynsley.heath@education.gov.uk">aynsley.heath@education.gov.uk</a><br>
                      <strong>Last updated:</strong>  18 August 2020</p>
                  </td>
                <td class="govuk-summary-list__actions">
                
                 
          
                </td>
              </tr>
              
            
              
           
              
              
              
          
              
            </tbody>
          </table>
  
        
          
  
        </div>
      </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}