{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
  

{% endblock %}

{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  
  
  </div><br>



    <h1 class="govuk-heading-xl">Calculate packaging payments
      <br><br>

      <div class="govuk-grid-row govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Set the default parameters</a></h2>
            <p class="govuk-body">Lorem ipsum dolor sit amet. Aut aliquam consequatur qui molestiae nostrum ut voluptate fugiat?</p>
              
          </div>
        </div>
      
        <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
            <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Run a new calculation</a></h2>
            <p class="govuk-body">Lorem ipsum dolor sit amet. Aut aliquam consequatur qui molestiae nostrum ut voluptate fugiat?
              </p>
              
          </div>
        </div>
      </div>
      
      
        

      <div class="govuk-grid-row tile-group">

        <div class="govuk-grid-column-one-third tile">
            <a class="min-height" href="#" target="_blank">
                <span class="govuk-heading-m heading">Set the default parameters</span>
                <span class="govuk-heading govuk-!-font-size-16"></span>
            </a>
            

        </div>

        <div class="govuk-grid-column-one-third tile">
          <a class="min-height" href="name">
              <span class="govuk-heading-m heading">Start a new calculation</span>
              <span class="govuk-heading govuk-!-font-size-16"></span>
          </a>
          
      </div>
    </div>
    <h2 class="govuk-heading-m">Previous runs</h2>
       
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Choose a year
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published"selected>2024/25</option>
            <option value="updated">2023/24</option>
            <option value="comments">All years</option>
          </select>
        </div>

   
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">2024/25</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Run name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date and owner</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Classification</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="run" class="govuk-link govuk-link--no-visited-state">
                      Functionality check 2024
                    </a></h3>

                    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                      <a href="run" class="govuk-link govuk-link--no-visited-state">
                        Functionality check rerun
                      </a></h3>
                    
                </td>
                <td class="govuk-table__cell">22 March 2025 9:21
                <p>Jamie Roberts</p></td>
                <td class="govuk-table__cell">Unclassified</td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
           Running</strong>
          

                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="answers" class="govuk-link govuk-link--no-visited-state">
                      Alteration check
                    </a></h3>
                    
                </td>
                <td class="govuk-table__cell">13 March 2025 11:02<p>Jamie Roberts</p></td>
                <td class="govuk-table__cell">Initial run</td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
           Completed</strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="answers" class="govuk-link govuk-link--no-visited-state">
                      PreRun 20
                    </a></h3>
                </td>
                <td class="govuk-table__cell">2 February 2025 9:21<p>Amy Patel</p></td>
                <td class="govuk-table__cell">Final run</td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
            Completed</strong>
          
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="answers" class="govuk-link govuk-link--no-visited-state">
                      PreRun
                    </a></h3>
                </td>
                <td class="govuk-table__cell">2 February 2025 9:21<p>Amy Patel</p></td>
                <td class="govuk-table__cell">Play</td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
            Completed</strong>
          
                </td>
              </tr>
            </tbody>
          </table>
          
  
          
          
          
  
        
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}