{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
         Datasets in Analysis and Modelling (A&M)
      </h1>
    </legend><br><br>
   
    
    <p>The reference data has also been refreshed.</p>

    <h2 class="govuk-heading-m">LARS 2223 SN08 - 18 objects</h2>

    <ol class="govuk-list govuk-list--number">
      
    

    <li>[LARS2223].[vw_LARS2223_SN08]</li> 
      
    <li>[LARS2223].[vw_LARS2223_ApprenticeshipFunding_SN08]</li> 
      
      <li>[LARS2223].[vw_LARS2223_CareerLearningPilot_SN08]</li> 
    
        <li>[LARS2223].[vw_LARS2223_Framework_SN08]</li> 
      
          <li>[LARS2223].[vw_LARS2223_FrameworkAims_SN08]</li> 
      
            <li>[LARS2223].[vw_LARS2223_FrameworkCmnComp_SN08]</li> 
      
              <li> [LARS2223].[vw_LARS2223_Funding_SN08]</li> 
      
                <li>[LARS2223].[vw_LARS2223_LearningDeliveryCategory_SN08]</li> 
      
                  <li>[LARS2223].[vw_LARS2223_ProgrammeFunding_SN08]</li> 
      
                    <li>[LARS2223].[vw_LARS2223_Section96_SN08]</li> 
      
                      <li>[LARS2223].[vw_LARS2223_Standard_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_StandardAims_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_StandardCommonComponent_SN08]</li> 
                        <li>[LARS2223].[vw_LARS2223_StandardFunding_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_StandardValidity_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_TechnicalRoute_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_TLevelPathway_SN08]</li> 
      
                        <li>[LARS2223].[vw_LARS2223_Validity_SN08]</li> 
      
                         
    </ol><br><br>
    <h2 class="govuk-heading-m">Reference LARS Lookup - 6 objects</h2>
    <ol class="govuk-list govuk-list--number">
      <li>[Reference].[vw_AwardOrgCode_LARS_Lookup_2223_SN08]</li>
      <li>[Reference].[vw_LearnAimRefType_LARS_Lookup_2223_SN08]</li>
      <li>[Reference].[vw_Standard_LARS_Lookup_NOT_MAINTAINED_2223_SN08]</li>
      <li>Reference].[vw_StandardSectorCode_LARS_Lookup_2223_SN08]</li>
      <li>[Reference].[vw_BasicSkillsType_LARS_Lookup_2223_SN08]</li>
      <li>[Reference].[vw_BasicSkillsBroadType_LARS_Lookup_2223_SN08]</li>
    </ol>
  </fieldset>
</div>

<br>


          <a href="news" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}