{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
         Datasets in A and M
      </h1>
    </legend><br><br>
   
    
    
     <p> The reference data has also been refreshed.</p>

    <h2 class="govuk-heading-m">ILR2223 - SN08 - 68 objects</h2>

    <ol class="govuk-list govuk-list--number">
      
    

    <li>[ILR2223].[vw_SILR2223_Admin_SN08]</li> 
      
    <li> [ILR2223].[vw_SILR2223_AIMS_DV_AEC_SN08]</li> 
      
      <li> [ILR2223].[vw_SILR2223_Aims_SN08]</li> 
    
        <li> [ILR2223].[vw_SILR2223_AppPriceEpisodeAEC_SN08]</li> 
      
          <li>[ILR2223].[vw_SILR2223_Apprenticeship_AEC_SN08]</li> 
      
            <li> [ILR2223].[vw_SILR2223_ApprenticeshipPause_AEC_SN08]</li> 
      
              <li> [ILR2223].[vw_SILR2223_ApprenticeshipPriceEpisode_AEC_SN08]</li> 
      
                <li>[ILR2223].[vw_SILR2223_DataLockEvent_AEC_SN08]</li> 
      
                  <li> [ILR2223].[vw_SILR2223_DataLockEventNonPayablePeriod_AEC_SN08]</li> 
      
                    <li>[ILR2223].[vw_SILR2223_DataLockEventNonPayablePeriodFailures_AEC_SN08]</li> 
      
                      <li>[ILR2223].[vw_SILR2223_DataLockEventPriceEpisode_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_DataLockFailure_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_DataMatchReport_AEC_SN08]</li> 
                        <li>[ILR2223].[vw_SILR2223_DataMatchReport_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_EarningEvent_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_EarningEventPriceEpisode_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_EAS_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_EndPointAssesmentOrg_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_DPOutcome_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_LDDeliverable_Period_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_LDDeliverable_Periodised_Values_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_LearningDelivery_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_LearningDeliveryDeliverable_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_Round2_Supp_DataUnitCost_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_Round2_Supp_SourceFile_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ESF_Round2_SupplementaryData_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_FAM_UNB_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_FUNDING_AIMS_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Aims_ALB_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Aims_FM35_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Aims_TBR_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_FUNDING_LEARNER_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Learner_ALB_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Learner_FM25_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Learner_FM35_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Funding_Learner_TBR_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_FUNDING_SUMMARIZE_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_FundingSourceEvent_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_HE_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_HistoricEarningOutput_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LatestInYearEarningHistory_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Learner_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearnerDPOutcome_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearnerEmpStat_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearnerFM25_FM35FundingPeriod_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearnerHEFinancialSupport_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDelAECFund_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDelALBFund_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDelAppFinDetails_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDelivery_FM35Fund_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDeliveryWorkPlacement_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LearningDelTrailblazerFund_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LevyAccount_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_LLDDHealthProblem_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_Details_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_Funding_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_HMPP_PostCode_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_HMPP_UOP_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_PartnerUKPRN_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Org_UKPRN_UPIN_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Payment_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_PostCode_Uplift_Factors_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_PriceEpisode_AIMS_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_PriceEpisode_LEARNER_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_Prior_Attainment_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_ProviderAdjustments_Payments_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_RequiredPaymentEvent_AEC_SN08]</li> 
      
                        <li>[ILR2223].[vw_SILR2223_SubmittedLearnerAim_AEC_SN08]</li> 

      
                        <li>[ILR2223].[vw_SILR2223_TEXT_VALUES_AIMS_AEC_SN08]</li> 
    </ol><br><br>
    <h2 class="govuk-heading-m">ILR Lookup - 4 objects</h2>
    <ol class="govuk-list govuk-list--number">
<li>[ILRLU].[vw_OrgType_SFR_Mapping_Lookup]</li>
<li>[ILRLU].[vw_SOF_Lookup]</li>
<li>[ILRLU].[vw_D_EmpStatPrior_Lookup]</li>
<li>[ILRLU].[vw_Ethnicity_Lookup]</li>
  </ol>
  </fieldset>
</div>

<br>


          <a href="news" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}