{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-xl">Using R, Python and SQL in Databricks</span><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Analyse your data
      </h1>
    </legend>
  </fieldset>
</div>

    
  
<h2 class="govuk-heading-m"></h2>
<p>Before you start - you will need your data loaded in to your Notebook.</p> 
<p>If you haven't loaded it - this is explained in <a href="notebooks-loading-data">Load your data</a></p> 
<br>


<h2 class="govuk-heading-m">Filter your data</h2>
<p>Filtering your data first - will improve your performance.</p>

<link rel="stylesheet"

      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script src="~/js/Support/code-highlight.js" asp-append-version="true"></script>

 

<form action="/form-handler" method="post" novalidate="">

           <div class="govuk-tabs" data-module="govuk-tabs">

              <h2 class="govuk-tabs__title">

                 Contents

              </h2>

              <ul class="govuk-tabs__list" role="tablist">

                 <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" aria-selected="true" tabindex="0">

                    Python

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" aria-selected="false" tabindex="-1">

                    R

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-month" id="tab_past-month" role="tab" aria-controls="past-month" aria-selected="false" tabindex="-1">

                    SQL

                    </a>

                 </li>

              </ul>

              <div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="python">spark_df = spark.read.table('samples.nyctaxi.trips')
display(spark_df)

#Filter trips start in zip 10001
filter_df = spark_df[spark_df['pickup_zip']=='10001']
                           
#Filter trips less than 5 miles
filter_df = spark_df[spark_df['trip_distance']<5]

#Filter fares between 20 and 30 dollars
filter_df = spark_df[(spark_df['fare_amount']>20.0) & (spark_df['fare_amount']<=30.0)]
display(filter_df)</code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="r">
library(SparkR)
spark_df <- tableToDF("samples.nyctaxi.trips")
display(spark_df)
                        </code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" role="tabpanel" aria-labelledby="tab_past-month">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="javascript">
SELECT * FROM samples.nyctaxi.trips

FROM table_name

WHERE condition;
                        </code>

                    </pre>

                 </div>

              </div>

           </div>

        </form>

<br>

<br>


<h2 class="govuk-heading-m">Sort your data</h2>
<p>Sorting your data will help you view the records most important to you.</p>
<link rel="stylesheet"

      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script src="~/js/Support/code-highlight.js" asp-append-version="true"></script>

 

<form action="/form-handler" method="post" novalidate="">

           <div class="govuk-tabs" data-module="govuk-tabs">

              <h2 class="govuk-tabs__title">

                 Contents

              </h2>

              <ul class="govuk-tabs__list" role="tablist">

                 <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" aria-selected="true" tabindex="0">

                    Python

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" aria-selected="false" tabindex="-1">

                    R

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-month" id="tab_past-month" role="tab" aria-controls="past-month" aria-selected="false" tabindex="-1">

                    SQL

                    </a>

                 </li>

              </ul>

              <div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="python">#Sort trips by distance (Lowest First)
sort_df = spark_df.sort('trip_distance')

#Sort trips by fare (Highest First)
sort_df = spark_df.sort('fare_amount', ascending=False)

#Sort trips by Pickup Zip (Highest first) then Date (Earliest first)
sort_df = spark_df.sort(['pickup_zip', 'tpep_pickup_datetime'], ascending=[False, True])
display(sort_df)</code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="r">
library(SparkR)
spark_df <- tableToDF("samples.nyctaxi.trips")
display(spark_df)
                        </code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" role="tabpanel" aria-labelledby="tab_past-month">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="javascript">
SELECT * FROM samples.nyctaxi.trips

FROM table_name

WHERE condition;
                        </code>

                    </pre>

                 </div>

              </div>

           </div>

        </form>

<br>

<br>


<h2 class="govuk-heading-m">Aggregate your data</h2>
<p>Aggregating your data will help to get a broader perspective.</p>
<link rel="stylesheet"

      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script src="~/js/Support/code-highlight.js" asp-append-version="true"></script>

 

<form action="/form-handler" method="post" novalidate="">

           <div class="govuk-tabs" data-module="govuk-tabs">

              <h2 class="govuk-tabs__title">

                 Contents

              </h2>

              <ul class="govuk-tabs__list" role="tablist">

                 <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" aria-selected="true" tabindex="0">

                    Python

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" aria-selected="false" tabindex="-1">

                    R

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-month" id="tab_past-month" role="tab" aria-controls="past-month" aria-selected="false" tabindex="-1">

                    SQL

                    </a>

                 </li>

              </ul>

              <div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="python">
#Get mean of all fields per Pickup Zip
agg_df = spark_df.groupby('pickup_zip').mean()

#Get count of all fields per Pickup Zip to Drop off zone
agg_df = spark_df.groupby(['pickup_zip', 'dropoff_zip']).count()
display(agg_df)</code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="r">
library(SparkR)
spark_df <- tableToDF("samples.nyctaxi.trips")
display(spark_df)
                        </code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" role="tabpanel" aria-labelledby="tab_past-month">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="javascript">
SELECT * FROM samples.nyctaxi.trips

FROM table_name

WHERE condition;
                        </code>

                    </pre>

                 </div>

              </div>

           </div>

        </form>

<br>

<br>


<h2 class="govuk-heading-m">Join your data</h2>
<p>You will be able to join multiple datasets together.</p>
<link rel="stylesheet"

      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script src="~/js/Support/code-highlight.js" asp-append-version="true"></script>

 

<form action="/form-handler" method="post" novalidate="">

           <div class="govuk-tabs" data-module="govuk-tabs">

              <h2 class="govuk-tabs__title">

                 Contents

              </h2>

              <ul class="govuk-tabs__list" role="tablist">

                 <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" aria-selected="true" tabindex="0">

                    Python

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" aria-selected="false" tabindex="-1">

                    R

                    </a>

                 </li>

                 <li class="govuk-tabs__list-item" role="presentation">

                    <a class="govuk-tabs__tab" href="#past-month" id="tab_past-month" role="tab" aria-controls="past-month" aria-selected="false" tabindex="-1">

                    SQL

                    </a>

                 </li>

              </ul>

              <div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="python">#Append two data sets together (Combining the filtered dataframes of Zip=10065 and 10009)
part_1_df = spark_df[spark_df['pickup_zip']=='10065']
part_2_df = spark_df[spark_df['pickup_zip']=='10009']
merge_df = part_1_df.union(part_2_df)

#Join two datasets (Joining the maximum fare found with the full listing of fares)
max_df = spark_df.groupby('pickup_zip').max().select(['pickup_zip', 'max(fare_amount)'])
join_df = spark_df.join(max_df, on='pickup_zip', how='inner')
display(join_df)</code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="r">
library(SparkR)
spark_df <- tableToDF("samples.nyctaxi.trips")
display(spark_df)
                        </code>

                    </pre>

                 </div>

              </div>

              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" role="tabpanel" aria-labelledby="tab_past-month">

                 

                 <div class="app-example__code" data-module="app-copy">

                    <button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button>

                    <pre>

                        <code tabindex="0" class="javascript">
SELECT * FROM samples.nyctaxi.trips

FROM table_name

WHERE condition;
                        </code>

                    </pre>

                 </div>

              </div>

           </div>

        </form>

<br>

<div class="govuk-button-group">
            
  <a href="notebooks-visualise" class="govuk-button show-continue" style="display: inline;">
    Next - visualise your data
  </a>

  <a href="notebooks-learning" class="govuk-button govuk-button--secondary" style="display: inline;">
    Back to Using R, Python and SQL
  </a>
  
  
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}