{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Using SQL in Databricks SQL Editor</h1>
        
        <span class="govuk-caption-xl">Go through the tasks to create a query.</span><br>
        <p>These sections will build up to a complete analysis.</p>
        <p>They should be done in the right order.</p>
        <p><STRONG>Estimated time - 00 minutes.</STRONG></p>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              <th class="govuk-table__header" scope="col"> </th>
            </tr>
          </thead>
          
          
          
          <tbody class="govuk-table__body">
            
            
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                
                
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  1. <a href="walk-sql" class="govuk-link govuk-link--no-visited-state">
                    Create and construct a query
                  </a></h3>
                  <p>
                    Sign in to Databricks and run an SQL command.</p>
                 
              </td>
              
            </td>
          </tr>
            

           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                
                
                
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                   2. <a href="walk-sql-edit" class="govuk-link govuk-link--no-visited-state">
                    Edit multiple queries and more
                    </a></h3>
                    
                      <p>Move, terminate, copy and download a query.</p>
                 
              </td>
              
            </td>
          </tr>

          
    
        
            
          </tbody>
        </table>
        
  
        
            
    </div>
    </div>
  
</div>


{% endblock %}