{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Get support</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="get-started">Getting started</a>
                </li>
              
          
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="about">About</a>
                </li>
              
              
          
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="access">Who to contact</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">Getting started with Databricks</h2>
        <p>Walk through the first steps.</p>

        <ol class="govuk-list govuk-list--number">
          <li>Get started with <a href= "walk-notebooks">Notebooks</a></li>
          <li>How to find  <a href= "walk-data">your data</a></li>
          <li>How to write <a href= "walk-sql">SQL</a></li>
          <li>Get started with <a href= "walk-machine">Machine Learning</a> </li>
        </ol>
        
        <br>
        <br>

          <h2 class="govuk-heading-m">Join a community</h2>
    <p>There are channels on MS Teams where you can get support and guidance, as well as a channel for Databricks related queries.</p>
    <p> <a href= "https://teams.microsoft.com/l/channel/19%3a7b6e0fbc9f9e4724986685a8aa8db5bc%40thread.skype/Databricks%2520Super-Users?groupId=6572094f-43a3-4537-bcf0-fc27dc6557ed&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Databricks super user group</a></p>
      
       <p> <a href= "https://teams.microsoft.com/l/team/19%3a50f82a2718184a0e98ba86c3d411a02f%40thread.skype/conversations?groupId=6572094f-43a3-4537-bcf0-fc27dc6557ed&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">DfE analyst network</a></p>
       <p> <a href= "https://teams.microsoft.com/l/team/19%3a74b8d5bbf49644f2882fcc4274c03a70%40thread.tacv2/conversations?groupId=1238e58a-44e4-4d0d-bb1f-dcefa3d2e64f&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9">DfE python community</a></p>
       <br>
       <br>
      
          <h2 class="govuk-heading-m">Links that can help</h2>

          <p>Introduction to <a href= "https://dplyr.tidyverse.org/articles/dplyr.html" target="_blank">dplyr</a> </p>
          <p>Start here if this is your first time using dplyr. You'll learn the basic philosophy, the most important data manipulation verbs, and the pipe, %>%, which allows you to combine multiple verbs together to solve real problems.</p>
        </div>
      </div>
      <br><br>
      <a href="home1" class="govuk-button show-continue" style="display: inline;">
        Back
      </a>
    </main>
  </div>
</div>

  



{% endblock %}