{% set serviceName = "Takeaway cups" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Takeaway cups
        </h1>
    </div>
  </div>

  <!-- COMBINED JOURNEYS-->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          End-to-end journey - second testing
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
         For new users. Just one guidance (obligation) page.
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Obligation page v.2</li>
          <li>Enrolment journey v.1</li>
          <li>Landing page v.1</li>
          <li>Registration v.1</li>
          <li>Payment v.1 - added later</li>
        </ul>

        <p class="govuk-body"><a href="obligation/version-2/obligation-seller.html" class="govuk-link">Seller</a></p>
        <p class="govuk-body"><a href="obligation/version-2/obligation-takeback-scheme.html" class="govuk-link">Takeback scheme</a></p>
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous versions
            </span>
          </summary>
          <div class="govuk-details__text">
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
              Tested
            </strong>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Alpha: first testing</h3>
            <p class="govuk-body govuk-!-margin-bottom-4">For new users.</p>

            <p class="govuk-body"><a href="./guidance/whitehall-guidance-sellers.html" class="govuk-link">Seller</a></p>
            <p class="govuk-body"><a href="./guidance/whitehall-guidance-takeback-scheme.html" class="govuk-link">Takeback scheme</a></p>
          
            <ul class="govuk-list govuk-list--bullet">
              <li>Guidance page v.1</li>
              <li>Obligation page v.1</li>
              <li>Enrolment journey v.1</li>
            </ul>
          </div>
        </details>

      </div>
    </div>
  </div>

<!-- Payment -->

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        In testing
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Payment v.1
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-4">
        New user journey. Starts with fee sumary page (not the task page).
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Fee summary</li>
        <li>How to pay England</li>
        <li>How to pay Wales</li>
      </ul>

      <p class="govuk-body"><a href="./sellers-registration/version-1/fees/understanding-fees?premises-complete=yes" class="govuk-link">Seller</a></p>
      <p class="govuk-body"><a href="./takeback-scheme-registration/version-1/fees/understanding-fees?member-complete=yes" class="govuk-link">Takeback scheme</a></p>

    </div>
  </div>
</div>

<!-- Registration -->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Registration v.1
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          New user journey
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Task list</li>
          <li>Contact and partner details</li>
          <li>Documents (if you are a takeback scheme)</li>
          <li>Premises</li>
          <li>Payment</li>
        </ul>

        <p class="govuk-body"><a href="./sellers-registration/version-1/registration-task-list.html" class="govuk-link">Seller</a></p>
        <p class="govuk-body"><a href="./takeback-scheme-registration/version-1/registration-task-list.html" class="govuk-link">Takeback scheme</a></p>

      </div>
    </div>
  </div>


<!-- Landing page -->

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">

      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
        WIP
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page v.2
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-4">
        Content updates
      </p>
      <p class="govuk-body govuk-!-margin-bottom-4">
        New users: after enrolment and registration tasks.
      </p>

      <p class="govuk-body"><a href="./landing/version-2/sellers/landing-page-home.html" class="govuk-link">Seller</a></p>
      <p class="govuk-body"><a href="./landing/version-2/takeback-scheme/landing-page-home.html" class="govuk-link">Takeback scheme</a></p>
      <p class="govuk-body govuk-!-margin-bottom-4">
        Exisiting users: after registration is verified and data submission available. 
      </p>
      <p class="govuk-body"><a href="./landing/version-2/landing-page-sellers-after-registration.html" class="govuk-link">Seller</a></p>
      <p class="govuk-body govuk-!-margin-bottom-4">
      <p class="govuk-body"><a href="./landing/version-2/landing-page-tbs-after-registration.html" class="govuk-link">Takeback scheme</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
            Tested
          </strong>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Landing page v.1</h3>
          <p class="govuk-body govuk-!-margin-bottom-4">
            For new users. Landing page after enrolment. 
          </p>
   
          <p class="govuk-body"><a href="./landing/version-1/landing-page-sellers.html" class="govuk-link">Seller</a></p>
          <p class="govuk-body"><a href="./landing/version-1/landing-page-sellers-after-registration.html" class="govuk-link">Seller - after registration</a></p>

          <p class="govuk-body"><a href="./landing/version-1/landing-page-tbs.html" class="govuk-link">Takeback scheme</a></p>
          <p class="govuk-body"><a href="./landing/version-1/landing-page-tbs-after-registration.html" class="govuk-link">Takeback scheme - after registration</a></p>

        
        </div>

    </div>
  </div>
</div>

<!-- ENROLMENT -->

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">

      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
        WIP
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Enrolment v.2
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-4">
        For new users. Iterations
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Companies House terminology</li>
        <li>What type of organisation are you page - content added</li>
      </ul>

      <p class="govuk-body"><a href="./enrol/version-2/general/type-of-account" class="govuk-link">Seller</a></p>
      <p class="govuk-body"><a href="./enrol/version-2/general/type-of-account" class="govuk-link">Takeback scheme</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous versions
          </span>
        </summary>
        <div class="govuk-details__text">
          <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
            Tested
          </strong>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Enrolment v.1</h3>
          <p class="govuk-body govuk-!-margin-bottom-4">
            New user journey.
          </p>
   
          <p class="govuk-body"><a href="./enrol/version-1/general/type-of-account" class="govuk-link">Seller</a></p>
          <p class="govuk-body"><a href="./enrol/version-1/general/type-of-account" class="govuk-link">Takeback scheme</a></p>
        
        </div>
      </details>
  
    </div>
  </div>
</div>

<!-- OBLIGATION PAGE -->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation page v.2
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          Content updates.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-4">
          For new users. Obligation pages hosted on gov.uk links to log in and sign up pages. 
        </p>

        <p class="govuk-body"><a href="./obligation/version-2/obligation-seller.html" class="govuk-link">Seller</a></p>
        <p class="govuk-body"><a href="./obligation/version-2/obligation-takeback-scheme.html" class="govuk-link">Takeback scheme</a></p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous versions
            </span>
          </summary>
          <div class="govuk-details__text">
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
              Tested
            </strong>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Obligation page v.1</h3>
            <p class="govuk-body govuk-!-margin-bottom-4">
              New user journey. Obligation pages hosted on gov.uk Links to log in and sign up pages. 
            </p>
     
            <p class="govuk-body"><a href="./obligation/version-1/obligation-seller.html" class="govuk-link">Seller</a></p>
            <p class="govuk-body"><a href ="./obligation/version-1/obligation-takeback-scheme.html" class="govuk-link">Takeback scheme</a></p>
          
          </div>
        </details>
      </div>
    </div>
  </div>

<!-- GUIDANCE PAGE -->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">

      <!-- SELLERS -->
      <div class="govuk-grid-column-full card card-overview">

        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Guidance page v.1
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          Content updates
        </p>
        <p class="govuk-body govuk-!-margin-bottom-4">
          For new users. Whitehall guidance pages hosted on gov.uk. Linked to obligation page.
        </p>

        <p class="govuk-body"><a href="./guidance/whitehall-guidance-sellers.html" class="govuk-link">Seller</a></p>
        <p class="govuk-body"><a href="./guidance/whitehall-guidance-sellers.html" class="govuk-link">Takeback scheme</a></p>

      </div>

    </div>
  </div>


{% endblock %}
