{% set serviceName = "Takeaway cups" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Takeaway cups
        </h1>
    </div>


  </div>


  <!-- RESEARCH -->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          In testing
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation and enrolment v.1: Sellers
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
         New user journey
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Guidance page</li>
          <li>Obligation page</li>
          <li>Enrolment journey</li>
        </ul>

        {{ govukButton({
          text: "View prototype",
          href: "./guidance/whitehall-guidance-sellers.html"
        }) }}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          In Testing
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation and enrolment v.1: Takeback scheme
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          New user journey
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Guidance page</li>
          <li>Obligation page</li>
          <li>Enrolment journey</li>
        </ul>

        {{ govukButton({
          text: "View prototype",
          href: "./guidance/whitehall-guidance-takeback-scheme.html"
        }) }}

      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">

      <!-- SELLERS -->
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
          WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Registration v.1: Seller
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          New user journey
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Task list</li>
          <li>Contact and partner details</li>
          <li>Premises</li>
          <li>Payment</li>
        </ul>

        {{ govukButton({
          text: "View prototype",
          href: "./sellers-registration/version-1/registration-task-list.html"
        }) }}

      </div>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">


      <!-- TAKE BACK SCHEMES -->
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
          WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Registration v.1: Takeback schemes
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-4">
          New user journey
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Task list</li>
          <li>Contact and partner details</li>
          <li>Scheme documents</li>
          <li>Premises</li>
          <li>Payment</li>
        </ul>

        {{ govukButton({
          text: "View prototype",
          href: "./takeback-scheme-registration/version-1/registration-task-list.html"
        }) }}

      </div>
    </div>
  </div>

{% endblock %}
