{% set serviceName = "Small producers" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "Back",
href: "https://defra-cpr-prototype.herokuapp.com/small-producers/small-producers-index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Prototypes</span>
      Compliance scheme registration
    </h1>
  </div>
</div>
<!-- TESTING LINKS -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">
      <p class="govuk-body"><strong>Registration not started (happy path):</strong></p>
      <ul class="govuk-list">
        <li><a href="./compliance-schemes/compliance-scheme-dashboard" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Compliance scheme registration not started
          </a>
      </ul>
      <!-- TITLE -->
      <p class="govuk-body"><strong>All the registration scenarios:</strong></p>
      <ol class="govuk-list govuk-list--number">
        <li><a href="./compliance-schemes/compliance-scheme-dashboard" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Registration hasn't started</a></li>
        <p class="govuk-body">From scratch first time registration.</p>
        <li><a href="./compliance-schemes/registration-scenarios/dashboard-registration-uploaded-na-processed"
            class="govuk-link" rel="noreferrer noopener" target="_blank">Registration data has been uploaded, but not
            processed</a></li>
        <li><a href="./compliance-schemes/registration-scenarios/dashboard-registration-uploaded-processed"
            class="govuk-link" rel="noreferrer noopener" target="_blank">Registration data has been uploaded and
            processed</a></li>
        <li><a href="./compliance-schemes/registration-scenarios/dashboard-registration-submitt-reg" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Registration data has been uploaded and fees viewed</a></li>
        <p class="govuk-body">After registration application submitted and awaiting response from regulator.</p>
        <li><a href="./compliance-schemes/registration-scenarios/submitted/dashboard-submitted" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Registration submitted</a></li>
        <p class="govuk-body">Returning to view a successful submission status.</p>
        <li><a href="./compliance-schemes/registration-scenarios/granted/dashboard-granted" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Registration granted</a></li>
        <p class="govuk-body">Returning to view a successful submission status.</p>
        <li><a href="./compliance-schemes/registration-scenarios/queried/dashboard-registration-queried"
            class="govuk-link" rel="noreferrer noopener" target="_blank">Registration queried</a>
          <p class="govuk-body">When the regulator has identified a potential issue with your application.</p>
        </li>
        <li><a href="./compliance-schemes/registration-scenarios/refused/dashboard-registration-refused"
            class="govuk-link" rel="noreferrer noopener" target="_blank"><strong>Registration refused</strong></a></li>
        <p class="govuk-body">Returning to view a rejected submission. Also includes resubmitting their members
          organisation details.</p>
        <li><a href="./compliance-schemes/registration-scenarios/cancelled/dashboard-registration-cancelled"
            class="govuk-link" rel="noreferrer noopener" target="_blank">Registration cancelled</a></li>
        <p class="govuk-body">In rare occasions the overall application gets cancelled.</p>
      </ol>
    </div>
  </div>
  {% endblock %}