{% extends "layout.html" %}

{% set serviceName %}
Small Producers
{% endset%}

{% set serviceName = "Size of your organisation" %}

{% block pageTitle %}
Size of your organisation
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="producer-fees-info">
      <div class="govuk-form-group govuk-!-margin-top-0">
        <fieldset class="govuk-fieldset" aria-describedby="declarationanswer">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
            <span class="govuk-caption-l">About your waste management fees</span>
            <h1 class="govuk-fieldset__heading">
              Waste management fees
            </h1>
          </legend>
          <h1 class="govuk-heading-m">Organisation name Ltd.</h1>
          <p class="govuk-body">Organisation number: XXXXXX</p>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Large
                producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 2,620.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Small
                producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 1,216.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">First 20
                subsidiaries (each)</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 558.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">21st to 100
                subsidiaries (each)</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 140.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Late application
                for registration of producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 332.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Re-submitting a
                report</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 714.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Compliance scheme
                registration</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 13,804.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Plus registration
                for each member who is a large producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 1,658.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">PLUS registration
                for each member who is a large producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 1, 658.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">PLUS registration
                for each member who is a small producer</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 631.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">PLUS registration
                for each member who is an online marketplace</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 2,579.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">First 20
                subsidiaries (each)</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 558.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">21st to 100th
                subsidiaries (each)</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Include ipsum dolor consectetur information.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 140.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">The late
                registration fee</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>For each producer member of a scheme.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 332.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link" href="#" style=" font-size: 1.1875rem; line-height: 1.3157894737;">Re-submitting a
                report</a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                <p>Cost per producer member who info is changed.</p>
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 430.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="govuk-task-list__name-and-hint">
              <p style=" font-size: 1.1875rem; line-height: 1.3157894737;">Total</p>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-2-status">
              <div>
                <p>£ 0.00</p>
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

          <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam dolor, congue at
            congue molestie, commodo sed urna.</p>

          {{ govukButton({
          text: "Continue"
          })}}

    </form>
  </div>
</div>

{% endblock %}