{% extends "layout.html" %}

{% set serviceName %}
Your waste management fees
{% endset%}

{% set serviceName = "Your waste management fees" %}

{% block pageTitle %}
Your waste management fees
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="small-producer-dashboard">
      <div class="govuk-form-group govuk-!-margin-top-0">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
            <span class="govuk-caption-l">Start reporting organisation data</span>
            <h1 class="govuk-fieldset__heading">
              You can now start reporting organisation data
            </h1>
          </legend>
          <p>Because you have slef-declared as XXXX and paid your waste management fees you can now start reposrting
            organisation data.</a>
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc nisi, finibus a mattis eget, vehicula
            a tortor. Sed ac ligula at lorem cursus tempor. Mauris et diam at lectus dignissim lacinia. Sed hendrerit
            odio ex, a aliquet quam viverra vitae. Curabitur fringilla est erat, nec faucibus orci vulputate aliquam.
          </p>
      </div>
      <!-- DETAILS -->
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More about reporting organisation data
          </span>
        </summary>
        <div class="govuk-details__text">
          lorem ipusm lorem iosum lorem ipusm lorem iosum

        </div>
      </details>
      {{ govukButton({
      text: "Continue"
      })}}
    </form>

  </div>
</div>

{% endblock %}