{% set serviceName = "Small producers" %}

{% extends "layout.html" %}


{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your waste management fees are £1,216.00
    </h1>
    <form method="POST" action="small-producer-dashboard">
      <p>Because you have declared as a small producer... lorem ipusm lorem iosum lorem ipusm lorem iosum</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More about waste management fees
          </span>
        </summary>
        <div class="govuk-details__text">
          lorem ipusm lorem iosum lorem ipusm lorem iosum

        </div>
      </details>

      <p>Please pay your fees <a
          href="https://defra-cpr-prototype.herokuapp.com/paycal/payments/confirmation">online</a>. If you arent able to
        pay online pay by bank transfer using the details below.</p>
      <ul class="govuk-list govuk-list">
        <li>Company name: Environment Agency</li>
        <li>Bank: RBS/NatWest, London Corporate Service Centre,CPB Services, 2nd floor, 280 Bishopsgate, London EC2M 4RB
        </li>
        <li>Sort code: 60-70-80</li>
        <li>Account number: 10014411</li>
        <li>Account name: EA RECEIPTS</li>
        <li>Reference: PR/PK/REP </li>
      </ul>

      {{ govukButton({
      text: "Continue"
      })}}

    </form>
  </div>
</div>

{% endblock %}