{% set serviceName = "Small producers" %}

{% extends "layout.html" %}


{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Declaration: self-declaring as XXXX Large/Small Producer
    </h1>
    <form method="POST" action="self-declare-5-success">
      <p>I understand that if lorem ipusm lorem iosum I may face civil penalties in England, Scotland and Wales and i am
        responsible for waste management fees</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with waste manegement fees
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus, justo sit amet dictum maximus, diam
            enim sodales purus, in tristique libero felis sit amet risus. Nunc dui velit, auctor quis ultrices sit amet,
            venenatis et orci.</p>
          <p>Find out more <a href="#">waste management fees</a></p>
        </div>
      </details>

      <p>I am happy with the above and ready to submit my self-declaration.</p>

      {{ govukButton({
      text: "Continue"
      })}}

    </form>
  </div>
</div>

{% endblock %}