{% extends "layout.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Declaration: self-declaring as XXXX Large/Small Producer
    </h1>
    <form method="POST" action="self-declare-5-success">
      <p>I understand that if lorem ipusm lorem iosum I may face civil penalties in England, Scotland and Wales</p>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with size of organisation
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            You need to collect and report packaging data if all the following apply:
            <li>you’re an individual business, subsidiary or group (but not a charity)</li>
            <li>you have an annual turnover of £1 million or more, based on your most recent annual accounts up to 7
              April
            </li>
            <li>you were responsible for importing or supplying more than 25 tonnes of packaging to the UK market in
              2022
            </li>
            <li>you carry out any of the packaging activities</li>
          </ul>
          <p>Find out more about <a
              href="https://www.gov.uk/guidance/extended-producer-responsibility-for-packaging-who-is-affected-and-what-to-do#What-you-may-need-to-do">reporting
              requirements</a></p>
        </div>
      </details>

      <p>I am happy with the above and ready to submit my self-declaration.</p>

      {{ govukButton({
      text: "Continue"
      })}}

    </form>
  </div>
</div>

{% endblock %}