{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">You have self-declared as a small producer</h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>
      We have sent you a confirmation email.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in dolor magna.</p>
    <p>They will contact you either to lorem ipsum dolor sit amet or to ask for more information.</p>
    <p>Please continue to pay for your waste management fee.</p>

    <a href="producer-fees-info">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>




    <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did
        you think of this service?</a> (takes 30 seconds)</p>


  </div>
</div>

{% endblock %}