{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}


{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Small producers
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<!-- Block 1 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        In progress
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Landing on the account dashboard
      </h2>

      <!-- DESCRIPTION -->

      <!-- Info -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 1</h3>
      <p class="govuk-body govuk-!-margin-bottom-5">This user journey starts with the the account page dashboard
      </p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="small-producer-dashboard">Go to prototype</a></p>
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Estela Gaspar. Team 1</p>
    </div>
  </div>
</div>

<!-- Block 2 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        In progress
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Identify/declare/select the ‘class’ of producer
      </h2>

      <!-- DESCRIPTION -->

      <!-- Info -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Response to requirement</h3>
      <p class="govuk-body govuk-!-margin-bottom-5"> Response to missing requirement that applicants for producer
        registration
        will identify/declare/select the ‘class’ of producer to which they belong as part of that registration journey.
      </p>
      <ul class="govuk-list">The possible ‘classes’ are set out in Reg 15 and defined in Regulations 16 to 22:
        <li>(i) a brand owner (Reg 16);</li>
        <li>(ii) a packer/filler (Reg 17);</li>
        <li>(iii) an importer or first UK owner (Reg 18);</li>
        <li>(iv) a distributor (Reg 19);</li>
        <li>(v) an online marketplace operator (Reg 20);</li>
        <li>(vi) a service provider (Reg 21); or</li>
        <li>(vii) a seller (Reg 22).</li>
      </ul>
      <p>Applicants for registration as a producer must specify as part of their application (Sch 3 paras 7 and 8):</p>
      <ol class="govuk-list govuk-list--number">
        <li>Which of the functions described in regulations 16 to 22 the producer performs in relation to packaging.
        </li>
        <li>If the producer performs more than one such function, which function constitutes the producer’s main
          activity as a producer.</li>
      </ol>
      <p>This applies to every producer, however the application for registration is made - e.g. by the producer
        organisation directly, by a holding company for itself and its subsidiaries, or via a compliance scheme.</p>
      <p>And that ‘holding companies' must also register themselves in addition to their subsidiaries (Reg 2 ““group
        registration” means a registration of a holding company, and one or more subsidiaries which are producers, with
        the appropriate agency…”. This applies even if the holding company itself wouldn’t otherwise be a ‘producer’
        (Sch 9 para 4(1) “An application to the appropriate agency for a group registration must be made by the holding
        company of a corporate group, whether or not the holding company is a producer.”</p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="self-declare-3-class">Go to prototype</a></p>
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Estela Gaspar. Team 1</p>
    </div>
  </div>
</div>

{% endblock %}