{% set serviceName = "EPR for packaging" %}

{% extends "layout.html" %}


{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Small producers
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<!-- Block 1 -->
<div class="govuk-grid-row govuk-!-margin-top-5">

  <div class="govuk-grid-column-two-thirds">
    <!-- TITLE -->
    <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2">
      First phase draft completed
    </strong>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Producer registration
    </h2>

    <br>


    <p class="govuk-body">Includes the journey from the account dashboard through to the payment of a
      registration fee, which is submitted to the Environment Agency after completing the task list.</p>

    <br>


    <ol class="govuk-list govuk-list--number">
      <li>Confirm producer size<br><a href="small-producer-dashboard" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a><br><br></li>
      <li>Submit registration data<br><a href="task-list-2-large-producer" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to
          prototype
          (opens in new tab)</a><br><br></li>
      <li>Pay registration fee - large producers <br><a href="task-list-2-large-producer-stage3-alternative"
          class="govuk-link" rel="noreferrer noopener" target="_blank">Go to
          prototype
          (opens in new tab)</a><br><br></li>
      <li>Pay registration fee - small producers (to be done) <br><a
          href="task-list-2-small-producer-stage3-alternative" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype (opens in new tab)</a><br><br></li>
      <li>Error messages (displayed in one place) <br><a href="#" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go
          to prototype
          (opens in new tab)</a><br><br></li>
    </ol>

  </div>
</div>

<hr>
<br>



<!-- Block 2 -->
<div class="govuk-grid-row govuk-!-margin-top-5">

  <div class="govuk-grid-column-two-thirds">
    <!-- TITLE -->
    <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2">
      First phase draft completed
    </strong>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Regulator outcome decisions about organisation data and resubmission of organisation data
    </h2>

    <br>


    <p class="govuk-body">It starts on the regulator service. The regulator checks registration database, makes a
      decision and sends outcome to the producer by email.</p>

    <br>


    <ol class="govuk-list govuk-list--number">
      <li>Emails to the producer<br><a href="resubmission-org-details/manage-pom-data" class="govuk-link"
          rel="noreferrer noopener" target="_blank">Go to prototype
          (opens in new tab)</a><br><br></li>
    </ol>

  </div>
</div>

<hr>
<br>

<!-- Block 3 -->
<div class="govuk-grid-row govuk-!-margin-top-5">

  <div class="govuk-grid-column-two-thirds">
    <!-- TITLE -->
    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
      In progress
    </strong>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Submission of PoM data
    </h2>

    <br>


    <p class="govuk-body">After the regulator has approved organisation data, the producer submits packaging data.</p>

    <br>


    <ol class="govuk-list govuk-list--number">
      <li>In progress<br><a href="https://defra-cpr-prototype.herokuapp.com/regulator-manage-pom-data/manage-pom-data-3"
          class="govuk-link" rel="noreferrer noopener" target="_blank">Go to prototype
          (opens in new tab)</a><br><br></li>
    </ol>

  </div>
</div>









{% endblock %}