{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}


{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Small producers
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<!-- Block 1 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2">
        First phase draft completed
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producer registration > Producer Self-declaration > Submission of registration data > Registration fee payment >
        Submit registration
      </h2>

      <br>
      <!-- DESCRIPTION -->
      <!-- Info -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Start of journey info</h3>
      <p class="govuk-body govuk-!-margin-bottom-5">Starts with the the account page dashboard
      </p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body">
        <a href="small-producer-dashboard" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>

    </div>
  </div>
</div>

<!-- Block 2 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2">
        First phase draft completed
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Regulator outcome decisions about organisation data
      </h2>
      <br>
      <!-- DESCRIPTION -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Start of journey info</h3>
      <p class="govuk-body govuk-!-margin-bottom-5">After the regulator checks registration and sends outcome
      </p>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
    </div>
  </div>
</div>


<!-- Block 3 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        In progress
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Resubmission of organisation data
      </h2>
      <br>
      <!-- DESCRIPTION -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Start of journey info</h3>
      <p class="govuk-body govuk-!-margin-bottom-5">After the regulator checks registration and sends outcome
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: pending</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: rejected</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: accepted</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="margin-top: 20px;">
    <!-- HAVE A QUESTION -->
    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Estela Gaspar. Team 1</p>
  </div>
</div>



<!-- Block 4 -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        In progress
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Resubmission of PoM data
      </h2>
      <br>
      <!-- DESCRIPTION -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Start of journey info</h3>
      <p class="govuk-body govuk-!-margin-bottom-5">After the regulator checks registration and sends outcome
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: pending</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: rejected</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Outcome: accepted</h3>
      <p class="govuk-body">
        <a href="resubmission-org-details/manage-pom-data" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Go to prototype
          (opens in new tab)</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds" style="margin-top: 20px;">
    <!-- HAVE A QUESTION -->
    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Estela Gaspar. Team 1</p>
  </div>
</div>





{% endblock %}