{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="./payment/large-producers/payment-large-producers-2">
      <div class="govuk-form-group govuk-!-margin-top-0">
        <fieldset class="govuk-fieldset" aria-describedby="declarationanswer">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
            <span class="govuk-caption-l">About your registration</span>
            <h1 class="govuk-fieldset__heading">
              Acme Limited registration
            </h1>
          </legend>
          <div class="govuk-inset-text">
            <p class="govuk-body govuk-!-margin-bottom-1"> <strong> Organisation ID: 123 456</strong></p>
          </div>

          <ol class="app-task-list govuk-!-margin-top-8">

            <li>
              <h2 class="app-task-list__section ">
                Registration steps
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="reported-large-producer" aria-describedby="#" class="#">
                      Confirm Producer Size
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                  <br>
                  <p>You are currently recorded as a large producer</p>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="report-data/large-producers-report-organisation-details/producers/version-3/review-and-submit"
                      aria-describedby="#" class="#">
                      Submit registration data
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                  <br>
                  <p>You have submitted organisation, brand and partner details</p>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="./payment/large-producers/payment-complete" aria-describedby="#" class="#">
                      Pay registration fee
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                  <br>
                  <p>Payment has been confirmed</p>
                </li>
              </ul>

            </li>

            <li>

            </li>

          </ol>


          <h3 class="govuk-heading-s">Comments</h3>

          <div class="govuk-form-group">
            <div id="more-detail-hint" class="govuk-hint">
              Provide any Registration payment information you think may <br>be useful for the Regulator
            </div>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
              aria-describedby="more-detail-hint"></textarea>
          </div>

          {{ govukButton({
          text: "Submit registration request"
          })}}
    </form>
  </div>
</div>

{% endblock %}