{% extends "layout.html" %}

{% set serviceName %}
Small Producers
{% endset%}

{% set serviceName = "Registration" %}

{% block pageTitle %}
Registration
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" action="registration-concluded">
      <div class="govuk-form-group govuk-!-margin-top-0">
        <fieldset class="govuk-fieldset" aria-describedby="declarationanswer">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
            <span class="govuk-caption-l">About your registration</span>
            <h1 class="govuk-fieldset__heading">
              Organisation name Ltd.
            </h1>
          </legend>
          <p class="govuk-body">Organisation number: XXXXXX</p>

          <ol class="app-task-list govuk-!-margin-top-8">

            <li>
              <h2 class="app-task-list__section ">
                Confirm Producer Size
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="self-declare-2-status" aria-describedby="#" class="#">
                      Producer size
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                </li>
              </ul>
            </li>

            <li>
              <h2 class="app-task-list__section ">
                Submit registration data
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="https://defra-cpr-prototype.herokuapp.com/report-organisation-details/producers/version-3/before-you-start"
                      aria-describedby="#" class="#">
                      Registration data
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                </li>
              </ul>
            </li>

            <li>
              <h2 class="app-task-list__section ">
                Pay registration fee
              </h2>
              <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="./#" aria-describedby="#" class="#">
                      Registration fee
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--dark-blue app-task-list__tag"
                    id="contact-information-status">Completed</strong>
                </li>
              </ul>
            </li>
          </ol>
          {{ govukButton({
          text: "Register organisation"
          })}}

    </form>
  </div>
</div>

{% endblock %}