{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
<span id="dob-hint" class="govuk-hint">
VYED administration</span>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">16-19 provider data and MI report</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="answers">Application</a>
                </li>
              
            
  
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="notes">Notes</a>
                </li>
              
            
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="timeline">Timeline</a>
                </li>
              
            </ul>
        
        </nav>

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Independent Training Provider
            </dd>
            

           
          </div>


          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">England</p>
            </dd>

           

            
          </div>


       
           <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              ICO number
            </dt>
            <dd class="govuk-summary-list__value">
              1108311
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>


        

        
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Companies
            </dt>
            <dd class="govuk-summary-list__value">
              1108311
            </dd>
            <dd class="govuk-summary-list__actions">
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </dd>

           
          </div>


        </dl>




        <h2 class="govuk-heading-m">Reasons for access</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
             Access to LRS
            </dt>
            <dd class="govuk-summary-list__value">
              To find or create ULN's
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        

        
           <div class="govuk-summary-list__row">
            
            
            <dt class="govuk-summary-list__key">
              Reason for ULN's
              </dt>
            <dd class="govuk-summary-list__value">
              The awarding body requires it
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
           
            <dt class="govuk-summary-list__key">
              Awarding body	
              </dt>
            <dd class="govuk-summary-list__value">
              OCR Oxford Cambridge and RSA
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Uploaded file
              </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="#">
                OCR_accreditation.pdf
                </a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Access to PLR
              </dt>
            <dd class="govuk-summary-list__value">
              To identify correct learner record
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          

        
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Estimated learners
              </dt>
            <dd class="govuk-summary-list__value">
              2000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          


        </dl>
        
        

        <h2 class="govuk-heading-m">Application owner</h2>
        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Romeo Bridger
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 009 8800
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:rbridger@weirtraining.co.uk">rbridger@weirtraining.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste"></label>
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          

        </dl>



        <h2 class="govuk-heading-m">Super user</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Smith
            </dd>

           
          </div>
            
          

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:jsmith@weirtraining.co.uk">jsmith@weirtraining.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>


        </dl>


        <h2 class="govuk-heading-m">Agreement signatory</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
             Theo Curtis
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:tcurtis@weirtraining.co.uk">tcurtis@weirtraining.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>


        </dl>
        


            
          
        

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="dash2-approve" class="govuk-button show-continue">
         Approve 
    </a>
  &nbsp; &nbsp;
  

  
    
    

    <a href="dash2-rejected"  class="govuk-button govuk-button--secondary">Reject</a><br>

    <a href="status"  class="govuk-button govuk-button--secondary">Change status</a><br>

    &nbsp; &nbsp;

  
    

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}