{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Updated <strong>28 June 2025</strong> 10:01</span><br>
        <h1 class="govuk-heading-xl">Default parameter settings</h1>
 
        <h2 class="govuk-heading-l">Operating costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              England
              </dt>
            <dd class="govuk-summary-list__value">
              £25.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="operating-costs">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wales
              </dt>
            <dd class="govuk-summary-list__value">
              £14.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        
          <div class="govuk-summary-list__row"> 
            <dt class="govuk-summary-list__key">
              Scotland
              </dt>
            <dd class="govuk-summary-list__value">
              £17.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
              Northern Ireland
              </dt>
            <dd class="govuk-summary-list__value">
                £9.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            
            
            <dt class="govuk-summary-list__key">
              Total
              </dt>
            <dd class="govuk-summary-list__value">
              £65.00
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>
        
        

        <h2 class="govuk-heading-l">Local authority data preparation costs</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £25.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="la-data">
               Change<span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £14.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
       
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £17.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £9.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total
            </dt>
          <dd class="govuk-summary-list__value">
            £65.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
       </dl>



        <h2 class="govuk-heading-l">Scheme setup costs</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         
         <div class="govuk-summary-list__row">
          
           <dt class="govuk-summary-list__key">
             England
             </dt>
           <dd class="govuk-summary-list__value">
             £25.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="scheme-costs">
               Change<span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Wales
             </dt>
           <dd class="govuk-summary-list__value">
             £14.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Scotland
             </dt>
           <dd class="govuk-summary-list__value">
             £17.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           
           <dt class="govuk-summary-list__key">
             Northern Ireland
             </dt>
           <dd class="govuk-summary-list__value">
               £9.00
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> address</span>
             </a>
           </dd>
         </div>

         <div class="govuk-summary-list__row">  
          <dt class="govuk-summary-list__key">
            Total
            </dt>
          <dd class="govuk-summary-list__value">
            £65.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
       </dl>




<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Bad debt provision</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Estimate
       </dt>
     <dd class="govuk-summary-list__value">
         5.25%
     </dd>
     <dd class="govuk-summary-list__actions">
       <a class="govuk-link" href="bad-debt">
         Change<span class="govuk-visually-hidden"> address</span>
       </a>
     </dd>
   </div>
   
 </dl>


 

<h2 class="govuk-heading-l">Communication costs</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="communication-costs">
       Change<span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
  
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>



 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Plastic
    </dt>
  <dd class="govuk-summary-list__value">
  £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    £10.00
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       £10.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 <div class="govuk-summary-list__row">
   
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Total
     </dt>
   <dd class="govuk-summary-list__value">
     £70.00
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>
 
</dl> 


<h2 class="govuk-heading-l">Ghost tonnage</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Aluminium
   </dt>
   <dd class="govuk-summary-list__value">
     10
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="ghost">
       Change<span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
    Fibre composite
     </dt>
   <dd class="govuk-summary-list__value">
     10
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>


 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Glass
     </dt>
   <dd class="govuk-summary-list__value">
     10
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
   
   <dt class="govuk-summary-list__key">
     Paper or card
     </dt>
   <dd class="govuk-summary-list__value">
    10
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 
  <div class="govuk-summary-list__row"> 
    <dt class="govuk-summary-list__key">
    Plastic
    </dt>
    <dd class="govuk-summary-list__value">10
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
    </dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Steel
    </dt>
  <dd class="govuk-summary-list__value">
    10
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Wood
     </dt>
   <dd class="govuk-summary-list__value">
       10
   </dd>
   <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="#">
       <span class="govuk-visually-hidden"> address</span>
     </a>
   </dd>
 </div>

 <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Other
    </dt>
  <dd class="govuk-summary-list__value">
    0
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      <span class="govuk-visually-hidden"> address</span>
    </a>
  </dd>
</div>
</dl>

<form action="/form-handler" method="post" novalidate>
  <input type="hidden" name="answers-checked" value="true">
<div class="govuk-button-group">
  <a href="operating-costs" class="govuk-button" type="submit">Update default parameter settings</a>
  <a class="govuk-link" href="list-full2">Return to the dashboard</a>
</div>
</form>

      </div>
    </div>
  
</div>

{% endblock %}