{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

  
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>
  </div><br>



    <h1 class="govuk-heading-xl">Final calculations</h1>
    
   
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">2024/25</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">ID</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Owner</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Status</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Test check 10</a></h3></td>
                    <td class="govuk-table__cell">240003</td>
                    <td class="govuk-table__cell">23 May 2025 8:02</td>
                <td class="govuk-table__cell"><p>J Roberts</p></td>
                <td class="govuk-table__cell"><a href="confirmation" type="submit">Send</a></td>  
              </tr>
              
            </tbody>
          </table>
          <div class="govuk-button-group">
            <a href="confirmation" class="govuk-button" type="submit">Continue</a>
            <a class="govuk-link" href="list-full2">Cancel</a>
          </div>
      </div>
    
  </div>
</div>


{% endblock %}