{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
Submit your Certificate of Compliance – GOV.UK
{% endblock %}


{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "EPR for packaging data",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Home",
active: true
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "My profile"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}
{% endblock %}


{% block beforeContent %}
<a href="lp-sub-landing-page-s3.html" class="govuk-back-link">Back<span class="govuk-visually-hidden">Manage your 2025 recycling obligations</span></a>
{% endblock %}



{% block content %}

<!-- Responsive Table for Prototype added in to fix the issue where tables with more than 3 columns with long labels dont resize properly on mobile.
Table for Mobile (max-width: 768px). 
The thead is hidden since the table headers will now be shown before the cell content using the data-header attribute.
Each row is displayed as a block, and individual cells are turned into flex containers.
The header for each cell (using data-header) is displayed using the ::before pseudo-element, simulating a label before each cell's content.
Checked and no issues with waze.
-->

<style>
  .govuk-table {
    width: 100%;
    border-collapse: collapse;
  }

  .govuk-table__header,
  .govuk-table__cell {


    text-align: left;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    text-align: right;
  }

  /* Responsive Table */
  @media screen and (max-width: 768px) {
    .govuk-table thead {
      display: none;
    }

    .govuk-table__row {
      display: block;
      margin-bottom: 10px;
    }

    .govuk-table__cell,
    .govuk-table__header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      position: relative;
    }

    .govuk-table__cell::before {
      content: attr(data-header);
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      width: 65%;
      /* Adjust this to control the space for longer header tiles :) */
    }

    .govuk-table__cell--numeric {
      text-align: left;
    }

    .govuk-table__cell {
      display: flex;
      justify-content: space-between;
    }
  }
</style>




<!--aug 24-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds    ">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
     Submit your Certificate of Compliance
    </h1>

    <p> Compliance scheme: COMPLIANCE LTD (EA)</br>
      Regulator: Environment Agency (England)</p>



  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<td class="govuk-table__cell govuk-table__cell--numeric"><strong>{{ obligation.total_t }}</strong></td>
</tr>
</tfoot>
</table>


<h2 class="govuk-heading-m">Evidence held (PRNs/PERNs from NPWD)</h2>
<table class="govuk-table">
<caption class="govuk-table__caption govuk-visually-hidden">Evidence tonnages by material</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Material</th>
<th scope="col" class="govuk-table__header govuk-table__header--numeric">Evidence (t)</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Plastic</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.plastic_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Paper &amp; board</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.paper_board_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Glass</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.glass_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Aluminium</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.aluminium_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Steel</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.steel_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Wood</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.wood_t }}</td>
</tr>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Other</th>
<td class="govuk-table__cell govuk-table__cell--numeric">{{ evidence.other_t }}</td>
</tr>
</tbody>
<tfoot class="govuk-table__foot">
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header">Total evidence</th>
<td class="govuk-table__cell govuk-table__cell--numeric"><strong>{{ evidence.total_t }}</strong></td>
</tr>
</tfoot>
</table>






<button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
</form>


<details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">Why is this page read-only?</span>
</summary>
<div class="govuk-details__text">
Evidence and obligation totals are calculated from your submitted packaging data and accepted PRNs/PERNs in EPR. To correct a figure, update your packaging data or evidence at source, then return to this page.
</div>
</details>
  </div>
</div>








{% endblock %}