{% extends "layout.html" %}

{% set serviceName %}
  Report packaging data
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
  Create an account
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-5">Create an account to monitor compliance with EPR for packaging</h1>
    
    <form action="your-name" method="post" novalidate>

      <div class="govuk-form-group govuk-!-margin-top-7">
        <label class="govuk-label govuk-label--m" for="email">
          Email address 
        </label>
        <div id="email-hint" class="govuk-hint">
          We’ll us this to send you a confirmation email
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{data['email']}}" required>
      </div>

      <div class="govuk-form-group govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Create a password</h2>            
          

          <p class="govuk-body">Your password must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be at least 8 characters long</li>
            <li>include letters and numbers</li>
          </ul>
          <p class="govuk-body">Do not use a very common password, such as ‘password’ or a sequence of numbers.</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Enter a password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" spellcheck="false" autocomplete="new-password" value="{{data['password']}}" required>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="retype-password">
              Re-type password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="retype-password" name="retype-password" type="password" spellcheck="false" autocomplete="new-password" value="{{data['password']}}" required>
          </div>
      </div>
      
      {{ govukButton({
        text: "Create account"
      }) }}

    </form>

  </div>
</div>

{% endblock %}