{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Authorised person | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form method="POST" action="registration-check-details">

            {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "sendEprDetails",
            name: "sendEprDetails",
            fieldset: {
                legend: {
                text: "Would you like more details about the Extended Producer Resposibility scheme?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "Based on your turnover, your organisation may be obligated under the Extended Producer Responsibility scheme. Further details about the scheme will be sent via email."
              },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}

            {{ govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}