{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Home | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if 'producer' in data['orgDescription'] and 'retailer' in data['orgDescription'] %}
        <h1 class="govuk-heading-xl">
            Register as a producer and retailer for the deposit return scheme
        </h1>
        {% elif 'producer' in data['orgDescription'] %}
        <h1 class="govuk-heading-xl">
            Register as a producer for the deposit return scheme
        </h1>
        {% elif 'retailer' in data['orgDescription'] %}
        <h1 class="govuk-heading-xl">
            Register as a retailer for the deposit return scheme
        </h1>
        {% endif %}




        {% if data['registered'] == 'yes' %}
            <p class="govuk-!-margin-bottom-8">Your scheme identification number (DRSIN): <strong>0038173</strong></p>
        {% endif %}
        

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Apply to register your organisation
                </h2>
                {% if data['registered'] != 'yes' %}
                    {{ govukWarningText({
                        text: "The registration deadline is 31st January 2023",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}


                <ul class="app-task-list__items">

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['paid'] == 'yes' %}
                                Introduction and what you'll need
                            {% else %}
                                <a href="registration-start">
                                    Introduction and what you'll need
                                </a>
                            {% endif %}
                        </span>

                        {% if data['intro1'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% else %}
                        {% endif %}
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['intro1'] == 'yes' and data['declared'] == 'no' %}
                                <a href="privacy-policy">
                                    Privacy policy and declaration   
                                </a>
                            {% else %}
                                Privacy policy and declaration
                            {% endif %}
                        </span>

                        {#
                        {% if data['intro1'] == 'no' and data['declared'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}

                        {% if data['intro1'] == 'yes' and data['declared'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}
                            
                        {% if data['intro1'] == 'yes' and data['declared'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% endif %} 

                    </li>
                    
                    
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['declared'] == 'yes' and data['applied'] == 'no' and data['existingEpr'] == 'yes'  %}
                                <a href="epr-guard-question">
                                    Add information about your organisation
                                </a>
                            {% elif data['declared'] == 'yes' and data['applied'] == 'no' and data['thresholdMet'] == 'yes'  %}
                                <a href="registration-check-contact">
                                    Add information about your organisation
                                </a>
                            {% elif data['declared'] == 'yes' and data['applied'] == 'no' %}
                                <a href="registration-check-contact">
                                    Add information about your organisation
                                </a>
                            {% else %}
                                Add information about your organisation
                            {% endif %}
                        </span>

                        {#
                        {% if data['declared'] == 'no' and data['applied'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}

                        {% if data['declared'] == 'yes' and data['applied'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}
                            
                        {% if data['declared'] == 'yes' and data['applied'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% endif %} 

                    </li>

                    {% if 'producer' in data['orgDescription'] and 'retailer' in data['orgDescription'] %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                                Pay the fee and submit your application
                            {% endif %}

                            {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                                <a href="payment-information">
                                    Pay the fee and submit your application
                                </a>
                            {% endif %}
                                
                            {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                                Pay the fee and submit your application
                            {% endif %}

                        </span>

                        {#
                        {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}
                        
                        {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}
                            
                        {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                        {% endif %}
                    </li>
                    {% elif 'producer' in data['orgDescription'] %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                                Pay the fee and submit your application
                            {% endif %}

                            {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                                <a href="payment-information">
                                    Pay the fee and submit your application
                                </a>
                            {% endif %}
                                
                            {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                                Pay the fee and submit your application
                            {% endif %}

                        </span>

                        {#
                        {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}
                        
                        {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}
                            
                        {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                        {% endif %}
                    </li>
                    {% endif %}


                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['applied'] == 'yes' %}
                                <a href="application-status">
                                    View your application status
                                </a>
                            {% else %}
                                View your application status
                            {% endif %}
                        </span>

                        {% if 
                            data['applied'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not submitted</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'no' and 
                            data['registered'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Requires payment</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'yes' and 
                            data['registered'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Being reviewed</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'yes' and 
                            data['registered'] == 'yes' 
                        %}
                            <strong class="govuk-tag govuk-tag--green app-task-list__tag">Successful</strong>
                        {% endif %}
                        
                    </li>

                </ul>

            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Report your drinks container data for 2023
                </h2>

                {% if data['reported1'] == 'no' %}
                    {{ govukWarningText({
                        text: "The reporting deadline for Q1 is 30th April 2023",
                        iconFallbackText: "Warning"
                    }) }}
                {% elif data['reported1'] == 'yes' %}
                {{ govukWarningText({
                    text: "The reporting deadline for Q2 is 31st July 2023",
                    iconFallbackText: "Warning"
                }) }}
                {% elif data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'no' %}
                {{ govukWarningText({
                    text: "The reporting deadline for Q3 is 30th October 2023",
                    iconFallbackText: "Warning"
                }) }}
                {% elif data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'yes' and data['reported4'] == 'no' %}
                {{ govukWarningText({
                    text: "The reporting deadline for Q4 is 31st January 2024",
                    iconFallbackText: "Warning"
                }) }}
                {% endif %}
                

                <ul class="app-task-list__items">

                    <li class="app-task-list__item">

                        <span class="app-task-list__task-name">
                            {% if data['registered'] == 'yes' and data['reported1'] == 'no'  %}
                                <a href="report-start">
                                    Introduction and what you'll need
                                </a>
                            {% else %}
                                Introduction and what you'll need
                            {% endif %}
                        </span>

                        {#
                        {% if data['registered'] == 'yes' and data['intro2'] == 'no'  %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}

                        {% if data['intro2'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                        {% endif %}

                    </li>
                    
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['intro2'] == 'yes' and data['registered'] == 'yes' and data['reported1'] == 'no'  %}
                            <form method="POST" action="route-reporting">    
                                <a href="" onclick="this.closest('form').submit();return false;">
                                    Submit your Q1 data (Jan to Mar)
                                </a>
                            </form>
                            {% else %}
                                    Submit your Q1 data (Jan to Mar)
                            {% endif %}

                        </span>

                        {#
                        {% if data['registered'] == 'no' and  data['reported1'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}
                        
                        {% if data['intro2'] == 'yes' and  data['reported1'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}

                        {% if data['registered'] == 'yes' and data['reported1'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% endif %}
                        
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['intro2'] == 'yes' and data['registered'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'no'  %}
                            <form method="POST" action="route-reporting">    
                                <a href="" onclick="this.closest('form').submit();return false;">
                                    Submit your Q2 data (Apr to Jun)
                                </a>
                            </form>
                            {% else %}
                                    Submit your Q2 data (Apr to Jun)
                            {% endif %}

                        </span>

                        {#
                        {% if data['registered'] == 'no' and data['reported1'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}
                        
                        {% if data['intro2'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                        #}

                        {% if data['registered'] == 'yes' and data['reported2'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% endif %}
                        
                    </li>

            <li class="app-task-list__item">
                <span class="app-task-list__task-name">

                    {% if data['intro2'] == 'yes' and data['registered'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'no'  %}
                    <form method="POST" action="route-reporting">    
                        <a href="" onclick="this.closest('form').submit();return false;">
                            Submit your Q3 data (Jul to Sep)
                        </a>
                    </form>
                    {% else %}
                            Submit your Q3 data (Jul to Sep)
                    {% endif %}

                </span>

                {#
                {% if data['registered'] == 'no' and data['reported2'] == 'no' %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                {% endif %}
                
                {% if data['intro2'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'no' %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                {% endif %}
                #}

                {% if data['registered'] == 'yes' and data['reported3'] == 'yes' %}
                    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                {% endif %}
                
            </li>       


    <li class="app-task-list__item">
        <span class="app-task-list__task-name">

            {% if data['intro2'] == 'yes' and data['registered'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'yes' and data['reported4'] == 'no'  %}
            <form method="POST" action="route-reporting">    
                <a href="" onclick="this.closest('form').submit();return false;">
                    Submit your Q4 data (Oct to Dec)
                </a>
            </form>
            {% else %}
                    Submit your Q4 data (Oct to Dec)
            {% endif %}

        </span>

        {#
        {% if data['registered'] == 'no' and  data['reported3'] == 'no' %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
        {% endif %}
        
        {% if data['intro2'] == 'yes' and data['reported1'] == 'yes' and data['reported2'] == 'yes' and data['reported3'] == 'yes'  data['reported4'] == 'no' %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
        {% endif %}
        #}

        {% if data['registered'] == 'yes' and data['reported4'] == 'yes' %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
        {% endif %}
        
    </li>                    
</ul>
</li>
            
        </ol>
    </div>
</div>


{% endblock %}