{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
  Send an invoice to your accounts person or department | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
          What email address should we send the payment details to?
        </h1>

        <!--<p class="govuk-hint">We will send them an invoice which details the registration fee and how to pay.</p>-->

        <form method="POST" action="payment-information-send-complete" class="govuk-!-margin-top-6">

          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "orgAccountsEmail",
            name: "orgAccountsEmail"
          }) }}
        
          {{govukButton({
              text: "Send"
          })}}

        </form>
        
    </div>
</div>

{% endblock %}