{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Correspondence details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Are your organisation’s correspondence details different to its registered office contact details?
      </h1>
      
      <h2 class="govuk-heading-m">Acme Org Ltd’s registered office contact details</h2>

      <dl class="govuk-summary-list">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['defraIdCompanyPhone'] or defaults['defraIdCompanyPhone'] }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['defraIdCompanyEmail'] or defaults['defraIdCompanyEmail'] }}
          </dd>
        </div>

      </dl>

      <!-- Radio button routing in /vN/epr/_routes.js -->
      <form method="POST" action="route-check-org-correspondence">

        {{ govukRadios({
          name: "correspondenceChoice",
          items: [
            {
              value: "no",
              text: "No"
            },
            {
              value: "yes",
              text: "Yes, I need to enter different correspondence details "
            }
          ]
        }) }}

        {{govukButton({
            text: "Continue"
        })}}

      </form>

    </div>
</div>

{% endblock %}