{% extends "layout.html" %}

{% set serviceName %}
  Deposit return scheme
{% endset%}

{% block pageTitle %}
    Correspondence details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="registration-org-correspondence-contact">

            {% call govukFieldset({
                legend: {
                text: "Review your organisation's correspondence address",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
                }
            }) %}
            
                {{ govukInput({
                    label: {
                        text: 'Address line 1'
                    },
                    name: "correspondenceAddress1",
                    value: "1 Francis Crick Avenue"
                }) }}
            
                {{ govukInput({
                    label: {
                        text: 'Address line 2'
                    },
                    name: "correspondenceAddress2",
                    value: "Cambridge Biomedical Campus"
                }) }}

                {{ govukInput({
                    label: {
                        text: 'Address line 3'
                    },
                    name: "correspondenceAddress3"
                }) }}

                {{ govukInput({
                    label: {
                        text: 'Address line 4'
                    },
                    name: "correspondenceAddress4"
                }) }}
            
                {{ govukInput({
                    label: {
                        text: "Town or city"
                    },
                    classes: "govuk-!-width-two-thirds",
                    name: "correspondenceTown",
                    value: "Cambridge"
                }) }}
            
                {{ govukInput({
                    label: {
                        text: "County"
                    },
                    classes: "govuk-!-width-two-thirds",
                    name: "correspondenceCounty"
                }) }}
            
                {{ govukInput({
                    label: {
                        text: "Postcode"
                    },
                    classes: "govuk-input--width-10",
                    name: "correspondencePostcode",
                    value: "CB2 0AA"
                }) }}
            
            {% endcall %}

            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}