{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
            Introduction and what you’ll need 
        </h1>

        <p>For each type of packaging producer your organisation is, you’ll need to tell us to develop:</p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>which packaging materials your organisation placed on the market in 2022</li>
            <li>how many tonnes of each packaging material your organisation placed on the market in 2022</li>
        </ul>

        <!--<h1 class="govuk-heading-l">
            Introduction and what you’ll need 
        </h1>

        <p>You can enter your packaging data into our online form or fill in and upload our spreadsheet.</p>

        <h2 class="govuk-heading-m">Your packaging data</h2>

        <p>For each type of packaging producer your organisation is, you’ll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>which packaging materials your organisation placed on the market in 2022</li>
            <li>how many tonnes of each packaging material your organisation placed on the market in 2022</li>
        </ul>
        
        <p>You can either:</p>

        <h3 class="govuk-heading-m">Enter data into our online form</h3>
        <p>We’ll ask you some questions to collect your packaging data.</p>

        <p>Or:</p>

        <h3 class="govuk-heading-m">Upload a spreadsheet</h3>
        <p>You’ll need to:</p>
        <ol class="govuk-list govuk-list--number">
            <li><a href="#">Download our spreadsheet template</a> (CSV, 200MB).</li>
            <li>Enter your organisation’s packaging data.</li>
            <li>Upload and submit the spreadsheet template.</li>
        </ol>-->

        <form method="POST" action="home?intro2=yes">
            <button class="govuk-button">
                Continue
            </button>
        </form>
        
    </div>
</div>

{% endblock %}