{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "home.html",
        text: "Home"
      },
      {
        href: "#",
        text: "Manage account" 
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="uploading-file.html">Back</a>
{% endblock %}

{% block content %}

<form method="POST" action="declaration">
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l">History</h1>

     <p class="govuk-body">Your packaging data files for January to June 2023.</p>


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">January - June 2023</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header">Date and time uploaded</th>
          <th scope="col" class="govuk-table__header">Submitted by</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">POM1.csv</td>
          <td class="govuk-table__cell">10 October 2023, 2:00pm</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Accepted on 15 October 2023, 3:00pm</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">POM1.csv</td>
          <td class="govuk-table__cell">10 October 2023, 2:00pm</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Rejected on 01 October 2023, 5:00pm</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">POM1.csv</td>
          <td class="govuk-table__cell">10 October 2023, 2:00pm</td>
          <td class="govuk-table__cell">Joe Bloggs</td>
          <td class="govuk-table__cell">Rejected on 10 October 2023, 10:00am</td>
        </tr>
      </tbody>
    </table>
</div>

</div>
<a href="rejected/sub-landing-rejected.html">Report packaging data</a>


</form>
    </div>
  </div>

{% endblock %}

