{% extends "layout.html" %}

{% set serviceName = " Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    
    <form method="POST" action="What-type-of-account">
      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is team-member’s email?
            </h1>
           
          </legend>
          <p class="govuk-body">We ask for this so we can invite them to join your team.</p>
         
         
          <div class="govuk-form-group">
            <label class="govuk-label" for="First-name">
           Email
           
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
          </div>
          
          
        </fieldset>
        <br><br>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

{% endblock %}
