{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 
   
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <span class="govuk-caption-l">Default parameter settings</span><br>
        <h1 class="govuk-heading-xl">Communication costs</h1>
          <p>These are the costs of communicating with local authorities and their constituencies in campaigns related to the scheme.</p>  
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Aluminium
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Fibre composite
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Glass
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Paper or card
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Plastic
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Steel
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Wood
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="2210.00">
            </div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Other
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="0">
            </div>
            <br>
         
          

        <a href="default-settings-change" class="govuk-button show-continue" style="display: inline;">
          Save and continue
        </a>
       
              
   
  </div>
</div>

  



{% endblock %}