{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="run-radio">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
</div>

    

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <br><br>
    
    <h2 class="govuk-heading-m">
    Test data check 2
    </h2>
      
    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
      <div class="gem-c-attachment__thumbnail">
      <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
      <img src="/public/images/file.png" alt="" width="99px;" style="padding-top:5px;"></a>
      </div>
      <h2 class="gem-c-attachment__title govuk-body">
        <a class="govuk-link gem-c-attachment__link" target="_self" data-ga4-link="{&quot;event_name&quot;:&quot;file_download&quot;,&quot;type&quot;:&quot;attachment&quot;}" href="">Download</a><p>ID: 240008</p>
      </h2>
      <p class="gem-c-attachment__metadata">CSV<br>21 June 2024<br>12:09</p>
      <div class="gem-c-attachment__details">
        <a class="govuk-link gem-c-attachment__link" href="#"></a>
       
       
        
    
    
    </div></section>
  </div>
  <div class="govuk-grid-column-two-thirds">
    &nbsp; &nbsp; <br>
    
    <h1 class="govuk-heading-l">What do you want to do with this calculation?</h1>

<form action="/form-handler" method="post" novalidate>

  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" aria-describedby="whereDoYouLive-error">
      
      <p id="whereDoYouLive-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> This file cannot be deleted
      </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Delete it (this cannot be undone)
          </label>
           
        </div>
      </div>
    </fieldset>
  </div>
 
  
&nbsp; 
<div class="govuk-button-group">
  <a href="dash-small-tiles" class="govuk-button" type="submit">Return to the dashboard</a>   
</div>
</div>

</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}