{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 
     

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
  
    <span class="govuk-caption-l">Run the calculation</span><br>
    <h1 class="govuk-heading-xl">The calculator is running.</h1>           
    

    <p>
      <img src="/public/images/spinner.gif" width="50px" alt="spinning wheel to show the file is loading">
      </p>

      <br><br>
      <p class="govuk-body">
        <a href="confirmation-temp" class="govuk-link">Next page</a> 
      </p>
  </div>
 
</div>


{% endblock %}