{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 
     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Default parameter settings</span>
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">Scheme setup costs</h1> 
              <p>These are the costs for your organisation to set up the scheme.<br> You do not need to include ongoing operating costs here.</p>          
<br>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    England
  </label>

  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="325.00" inputmode="numeric">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Wales
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="314.00" inputmode="numeric">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Scotland
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="317.00" inputmode="numeric">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Northern Ireland
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" value="391.00" inputmode="numeric">
</div>

</fieldset>

<br><br><br>


<div class="govuk-button-group"><a href="default-settings" class="govuk-button show-continue" style="display: inline;">
  Update
</a>
<a class="govuk-link" href="default-settings">Cancel</a>

</div>
      </div>
    </div>
  
</div>


{% endblock %}