{% set serviceName = "EPR for packaging" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Protoypes",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} EPR for packaging
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Landing page with Obligation tile
        </h1>
    </div>
  </div>
 
<!-- DESCRIPTION -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-4">
      The purpose of this prototype is to incorporate a tile for Obligation onto the landing page, allowing the user to naviagte to a Obligation sub-landing page where they will be able to navigate to complementary sub-sections.
     </p>
  </div>
</div>
  <!-- COMBINED JOURNEYS-->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-grid-column-full card card-overview">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Recycling obligation calculation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario : I want to view my recyling obligation for 2025
        </p>
       

        <p class="govuk-body"><a href="view-obligation/view-obligation.html" class="govuk-link">Full obligation calculation for 2025</a></p>
        <p class="govuk-body"><a href="view-obligation/paper-calculation.html" class="govuk-link">Paper obligation for 2025</a></p>

        <p class="govuk-body"><a href="view-obligation/meeting-your-obligation.html" class="govuk-link">Meeting your packaging obligation</a></p>
        <p class="govuk-body"><a href="view-obligation/view-obligation-status-change.html" class="govuk-link">Full obligation calculation for 2025 with Status change</a></p>

      </div>

      <br/>
      <br/>

      <div class="govuk-grid-column-full card card-overview">

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Landing page and sub-landing page for Obligation
        </h2>

        <!-- DESCRIPTION -->

       

        <p class="govuk-body govuk-!-margin-bottom-4">
         Scenario 1: Landing page for Producer / Compliance scheme
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Landing page</li>
          <li>Sub-landing page</li>
        </ul>

        <p class="govuk-body"><a href="lp-landing-page.html" class="govuk-link">Large producer</a></p>
        <p class="govuk-body"><a href="cs-landing-page.html" class="govuk-link">Compliance scheme</a></p>

    
       

      </div>
    </div>
  </div>



{% endblock %}
