{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
Check if the EPR for packaging regulations apply to you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

            <!-- HEADING -->
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
                <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-8">
                    <span class="govuk-caption-xl">Collection</span>
                    Packaging waste: extended producer responsibility
                </h1>
                <p class="govuk-body-l">
                    A collection of guidance you should follow for extended producer responsibility.
                </p>
            </div>

            <!-- DIVIDER -->
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <!-- META DATA -->
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
                <p class="govuk-body-s govuk-!-margin-bottom-2">
                    From: <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Department for Environment, Food & Rural Affairs</a> and <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Enviroment Agency</a>
                </p>
                <p class="govuk-body-s">
                    Published: Published 27 June 2022                
                </p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            </div>

            <!-- CONTENT LINKS -->
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-s govuk-!-margin-bottom-1">Contents</p>
                <ul class="govuk-list contents">
                  <li><a  href="#obligation_checker" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Check if the regulations apply to you</a></li>
                  <li><a  href="#guidance" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Prepare for extended producer responsibility</a></li>
                  <li><a  href="#create_account" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Set up an extended producer responsibility (EPR) for packaging account</a></li>
                  <li><a  href="#legislation" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Legislation, policy and consultations</a></li>
                  <!-- <li><a  href="#get_help" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">More help and support</a></li> -->
                </ul>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            </div>
            
            <!-- START PAGE CONTENT -->
            <div class="govuk-grid-column-two-thirds">

                <!-- OVERVIEW -->

                <p class="govuk-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ips.</p>
                <p class="govuk-body">Totam rem aperiam, eaque ipsa quae ab illo inventore:</p>               

                <ul class="govuk-list govuk-list--bullet">
                    <li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>sed do eiusmod tempor incididunt ut labore</li>
                    <li>et dolore magna aliqua. Ut enim ad minim veniam.</li>
                </ul>

                <h2 class="govuk-heading-m govuk-!-margin-top-7" id="obligation_checker">Check if the regulations apply to you</h2>
                <div id="obligation_checker">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        <a href="../../obligation-checker/v4/start-page.html">Check if the extended producer responsibility (EPR) for packaging regulations apply to you</a>
                    </h3>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline; padding-right: 20px;">16 July 2022</p>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline;">Guidance</p>
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-top-7" id="guidance">Prepare for extended producer responsibility</h2>
                <div id="obligation_checker">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        <a href="../v1/whitehall-guidance.html">Packaging waste: prepare for extended producer responsibility</a>
                    </h3>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline; padding-right: 20px;">16 July 2022</p>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline;">Guidance</p>
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-top-7" id="create_account">Set up an extended producer responsibility (EPR) for packaging account</h2>
                <div id="obligation_checker">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        <a href="../../account-creation/v1/start-page.html">Set up an extended producer responsibility (EPR) for packaging account</a>
                    </h3>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline; padding-right: 20px;">16 July 2022</p>
                    <p class="govuk-body-s" style="color: #505a5f; display: inline;">Guidance</p>
                </div>


                <div class="guidance-sidebar" style="padding-top: 15px; margin-top: 70px; border-top: #1d70b8 2px solid;">
                    <h2 class="govuk-heading-s">Explore the topic</h2>
            
                    <p class="govuk-body-s"><a href="#">Waste</a></p>
                </div>
            </div>

            <!-- GUIDANCE SIDEBAR -->
            <!-- <div class="govuk-grid-column-one-third" style="padding: 0px 15px;">
                <div class="guidance-sidebar" style="padding: 15px 0px 10px 0px; border-top: #1d70b8 2px solid;">
                    <h2 class="govuk-heading-s">Related content</h2>
            
                    <p class="govuk-body-s"><a href="#">Extended producer responsibility (EPR) for packaging: comply with the regulations</a></p>
                </div>
                <div class="guidance-sidebar" style="padding-top: 15px; border-top: #B1B4B6 1px solid;">
                    <h2 class="govuk-body-s">Collection</h2>
            
                    <p class="govuk-body-s"><a href="#">Extended producer responsibility regulations</a></p>
                </div>    
            </div> -->


</div>

{% endblock %}