{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="brand-upload" method="post"> 

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    

                    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                          </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                          <h3 class="govuk-notification-banner__heading">
                            Company details uploaded
                          </h3>
                          <p>File name</p>
                        </div>
                      </div>


                      <p class="govuk-body">You do not need to report about:

                        
                      <ul class="govuk-list govuk-list--bullet">
                        <li>brands  - because the organisations do not supply goods to the UK market in primary, secondary, or shipment packaging under their own brand</li>
                        <li>partners -  because none of the organisation types are ‘partnership’</li>
                      </ul>

                    <p>If you think this is incorrect, you can <a class="govuk-link" href="company-upload.html">re-upload your company details</a>.</p>

              
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">You can upload new files any time before the submission deadline.</p>

            <p class="govuk-body">Once the details are finalised, the authorised person must submit them to the environmental regulator before the deadline.</p>


            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                The authorised person must submit the files by 31 October 2023.
              </strong>
            </div>
        </fieldset>
    </div>

            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">
              Go to account home page
              </button>
              
            
              </div>

        </form>

    </div>
</div>

{% endblock %}
