{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="organisation-uploading" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                       
                        Upload organisation details                  
                    </h1>

                    <p class="govuk-body">When you submit an organisation’s packaging data you also need to report other details. </p>

                    <p class="govuk-body">Organisation details include things like:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>address</li>
                      <li>turnover</li>
                      <li>packaging activities</li>
                    </ul>

                    <p class="govuk-body">You may also need to report an organisation's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>brand activities - if they supply goods to the UK market in primary, secondary, or shipment packaging under their own brand</li>
                      <li>partners - if they’re registered as a partnership in Companies House</li>
            
                    </ul>

                    <p class="govuk-body">Once you submit these details, the organisation is officially registered for the reporting cycle.</p>

        
                    <h2 class="govuk-heading-m">What you need to do</h2>



                    <div class="govuk-form-group">
                      <ol class="govuk-list action-list">
                          <li class="action">Read the guidance on  <a class="govuk-link" href="https://www.gov.uk/guidance/packaging-waste-prepare-for-extended-producer-responsibility">how to report organisation details (opens in a new window)</a>.</li>
                          <li class="action">Upload the company details in a CSV file, or using the Excel template in the guidance.</li>
                          <li class="action">Based on what's in the company details file, you may need to also upload separate files with information about brands and partners. </li>
                          <li class="action">Submit the files to the regulator by 1 October 2023. Only people with the right account permission can do this. </li>

                        </ol>



                 


                    <h2 class="govuk-heading-m">Upload organisatoin details</h2>

                    <div class="govuk-form-group">
                        <p>The file may take a few minutes to upload.  </p>
                        <p> Do not close the window while the file is uploading. </p>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  </div>

                  <br>
                <br>

            {{
 govukButton({
        text: "Upload file"
      })
            }}

        </form>

    </div>
</div>

{% endblock %}
