{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
Sorry, there is a problem with the service - EPR for packaging data - GOV.UK
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "EPR for packaging data",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Home",
active: true
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "My profile"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}
{% endblock %}



{% block content %}


<!--aug 24-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds  ">

    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try refreshing the page or try again later.</p>
    <p class="govuk-body">
      If you have any questions, contact the extended producer responsibility (EPR) for packaging helpline:
    </p>
    <p class="govuk-body">
      Phone:<br>
      <strong class="govuk-!-font-weight-bold">0300 060 0002</strong>
    </p>
 
    <p class="govuk-body">
      Opening times:<br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 4:30pm</strong>
    </p>
    <p class="govuk-body">
      Closed Easter Sunday, Christmas Day, Boxing Day, New Year’s Day and public holidays, including regional bank holidays.
    </p>

  

  </div>
</div>







    {% endblock %}