{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "" %}

{% block pageTitle %}
Check if the EPR for packaging regulations apply to you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

            <!-- HEADING -->
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
                <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-8">
                    <span class="govuk-caption-xl">Guidance</span>
                    Extended producer responsibility (EPR) for packaging: comply with the regulations
                </h1>
                <p class="govuk-body-l">
                    The regulations for organisations that are responsible for creating packaging waste in the UK are changing.
                </p>
            </div>

            <!-- DIVIDER -->
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            <!-- META DATA -->
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
                <p class="govuk-body-s govuk-!-margin-bottom-2">
                    From: <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Department for Environment, Food & Rural Affairs</a> and <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Enviroment Agency</a>
                </p>
                <p class="govuk-body-s">
                    Published: Published 28 May 2021                
                </p>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            </div>

            <!-- CONTENT LINKS -->
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
                <ul class="govuk-list contents">
                  <li><a  href="#" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Who the regulations apply to</a></li>
                  <li><a  href="#" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">What you need to do</a></li>
                  <li><a  href="#" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Collecting and submitting your packaging data</a></li>
                  <li><a  href="#" class="govuk-link govuk-!-font-size-16 govuk-link--no-underline">Get help</a></li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

            </div>
            
            <!-- START PAGE CONTENT -->
            <div class="govuk-grid-column-two-thirds">

                <!-- OVERVIEW -->

                <h2 class="govuk-heading-m">Overview</h2>
                <p class="govuk-body">The extended producer responsibility (EPR) for packaging regulations will initially run alongside the current producer responsibility regulations.</p>
                <p class="govuk-body">The EPR regulations will apply a ‘polluter pays’ principle that makes organisations (individual businesses, subsidiaries and groups) responsible for the cost of managing their packaging after it has become waste.</p>
                <p class="govuk-body">This cost will be paid through a waste management charge and by purchasing Packaging Waste Recycling Notes (PRNs) or Packaging Waste Export Recycling Note (PERNs) to meet recycling obligations.</p>
                <p class="govuk-body">If you estimate that your organisation will be responsible for over 25 tonnes (25,000kg) of filled or unfilled packaging in the 2022 calendar year (January to December), you must now take steps to collect the correct packaging data from 1 January 2023 to comply with the regulations.</p>
                <p class="govuk-body">The regulations will move these costs away from taxpayers and local councils and on to organisations that handle and supply (create, import, distribute or sell) packaged goods or empty packaging. Under the regulations, organisations will be charged more for using less sustainable packaging.</p>

                <p class="govuk-body">The new regulations aim to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>reduce the amount of packaging used</li>
                    <li>reduce the amount of packaging that goes to landfill and increase recycling</li>
                    <li>encourage organisations to use more sustainable and recyclable materials in their packaging</li>
                </ul>

                <!-- WHO THE REGULATIONS APPLY TO -->
                <div class="who-apply-to">
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Who the regulations apply to</h2>    
                    <p class="govuk-body">The regulations apply to all UK organisations.</p>

                    <p class="govuk-body">You will be required to take actions to comply with the regulations if all the following apply:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you are an individual business, subsidiary or group</li>
                        <li>you have an annual turnover of £1 million or more (based on your most recent published annual accounts) </li>
                        <li>you are responsible for over 25 tonnes (25,000kg) of packaging in a 12 month calendar period (January to December)</li>
                    </ul>

                    <p class="govuk-body">Your organisation must also carry out any of the following activities:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>packaging own-brand products to sell directly or indirectly to UK consumers</li>
                        <li>using a third-party to package and sell own-brand goods directly or indirectly to UK consumers</li>
                        <li>using transit packaging to transport goods so they can be sold to UK consumers</li>
                        <li>importing own-brand and third-party packaged products into the UK then selling them to consumers</li>
                        <li>allowing third parties based outside of the UK to sell packaged products or empty packaging through an online marketplace that you own</li>
                        <li>hiring or loaning out reusable packaging to UK third parties</li>
                        <li>making and then selling empty packaging to third-party organisations that are not required to comply with the regulations</li>
                    </ul>

                    <p class="govuk-body">If you meet these criteria, then you must take certain actions to comply with the regulations.</p>
                </div>

                
                
                <!-- WHAT YOU NEED TO DO -->
                <div>
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">What you need to do</h2>    

                    <p class="govuk-body">If the regulations apply to your organisation, you may be required to do some or all of the following:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>register for the EPR online service (registration opens in April 2023).</li>
                        <li>pay an environmental regulator fee</li>
                        <li>submit packaging data</li>
                        <li>pay a waste management charge to the scheme administrator</li>
                        <li>purchase PRNs or PERNs to meet your recycling obligations</li>
                        <li>submit nation data (information about where in the UK your packaging has been supplied)</li>
                    </ul>
                    <p class="govuk-body">he steps you must take to comply with the regulations depend on whether you are classed as a ‘small organisation’ or a ‘large organisation’. This will depend on your annual turnover and the amount of packaging you handle and supply in a year.</p>
                    <p class="govuk-body">You can use a compliance scheme to complete certain steps on your behalf.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">If you are a parent company, group or subsidiary</h3>
                    <p class="govuk-body">Parent companies that are responsible for a group of subsidiaries can register for the EPR online service (registration opens in April 2023) and comply with the regulations as an individual organisation. All subsidiaries must register individually if they meet the turnover and tonnage requirements.</p>
                    <p class="govuk-body">Alternatively, parent companies can register and comply on behalf of their entire group.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">What small organisations need to do</h3>
                    <p class="govuk-body">You will be classed as a small organisation if both of the following apply:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you have an annual turnover of between £1 million or £2 million (based on your most recent published annual accounts)</li>
                        <li>you are responsible for handling and supplying more than 25 tonnes (25,000kg) of empty packaging or packaged goods through the UK market in a calendar year</li>
                    </ul>

                    <p class="govuk-body">Or if both of the following apply: </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you have an annual turnover of more than £2 million (based on your most recent published annual accounts)</li>
                        <li>you are responsible for handling and supplying more than 25 tonnes (25,000kg) of empty packaging or packaged goods through the UK market in a 12 month calendar year (January to December)</li>
                    </ul>

                    <p class="govuk-body">If your annual turnover is less than £1million and you are responsible for less than 25 tonnes (25,000kg) of packaging, you have no further actions to take.</p>

                    <p class="govuk-body">If your annual turnover or the amount of packaging you handle and supply increases you may need to take actions to comply with the regulations in future.</p>
                    
                    <p class="govuk-body">To comply with the regulations, you must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>take steps to record data about all the packaging you handle and supply through the UK market from 1 January 2023</li>
                        <li>register for the EPR online service (registration opens for small organisations in 2024)</li>
                        <li>pay a fee to cover the cost of the environmental regulator in 2024</li>
                        <li>submit data about the packaging and packaged goods you handled or supplied through the UK market throughout 2023 (submissions for this data open in January 2024 and close 1 April 2024)</li>
                    </ul>

                    <p class="govuk-body">Small organisations are not required to pay waste management charge or acquire PRNs or PERNs.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">What large organisations need to do</h3>
                    <p class="govuk-body">You will be classed as a large organisation if both of the following apply:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>you have an annual turnover of £2 million or more (based on your last financial year’s accounts)</li>
                        <li>you are responsible for handling and supplying more than 50 tonnes (50,000kg) of empty packaging or packaged goods through the UK market in a 12 month calendar year (January to December)</li>
                    </ul>

                    <p class="govuk-body">To comply with the regulations, you must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>take steps to record data about the packaging you handled or supplied through the UK market from 1 January 2023</li>
                        <li>register for the EPR online service (registration opens in April 2023)</li>
                        <li>pay a fee to cover the cost of the environmental regulator in 2023</li>
                        <li>purchase PRNs or PERNs to meet your recycling obligations</li>
                        <li>submit data about the packaging and packaged goods you supplied or handled through the UK market during the six-month period between January and June 2023 (submissions for this data open in July 2023 and close 1 October, 2023</li>
                        <li>submit data about the packaging and packaged goods you supplied or handled through the UK market during the six-month period between July and December 2023 (submissions for this data open in January 2024 and close 1 April, 2024</li>
                    </ul>

                    <p class="govuk-body">For any packaging that you handle and supply that is likely to be discarded by households, you must: </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>pay a fee to cover the cost of the scheme administrator (the arrangements of this will be confirmed later)</li>
                        <li>pay a waste management charge (the system for paying your fees will open in April 2024)</li>
                    </ul>
                    
                    <p class="govuk-body">If you sell empty packaging or packaged goods you must also submit nation data.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">Who must submit nation data</h3>
                    <p class="govuk-body">Some organisations must submit nation data. This is information about where in the UK your packaging has been supplied (England, Wales, Scotland or Northern Ireland).</p>

                    <p class="govuk-body">You must submit nation data if you are responsible for any of the following:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>selling any filled packaging to end consumers</li>
                        <li>selling empty packaging to UK organisations that do not need to comply with the EPR regulations</li>
                        <li>selling empty packaging directly to consumers in the UK</li>
                        <li>hiring and loaning out reusable packaging</li>
                        <li>facilitating the sale of empty packaging or packaged goods through an online marketplace</li>
                        <li>importing packaging to the UK that is discarded without being sold or exported</li>
                    </ul>

                    <p class="govuk-body">You must also:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>have an annual turnover of £1 million or more (based on your last financial year’s accounts) </li>
                        <li>handle and supply more than 25 tonnes (25,000kg) of empty packaging and packaged goods through the UK market in a 12 month calendar year (January to December)</li>
                    </ul>

                    <p class="govuk-body">If you meet the requirements, you must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>register for the EPR online service (registrations open for nation data submissions in 2024)</li>
                        <li>pay a fee to cover the cost of the environmental regulator in 2024</li>
                        <li>collect and submit data on the total weight and material types used in the packaging you handled or supplied through the UK market in 2023 calendar year (the system for submitting your data will open in 2024 and close 1 October, 2024 </li>
                        <li>collect and submit data on which UK nation your packaging was handled or supplied in (the system for submitting your data will open in 2024 and close 1 October, 2024</li>
                    </ul>

                </div>

                
                
                <!-- COLLECTING AND SUBMITTING YOUR PACKAGING DATA -->
                <div>
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Collecting and submitting your packaging data</h2>    
                    <p class="govuk-body">In 2023, the data you are required to collect and submit will be used to calculate your waste management charge and how many PRNs or PERNs you need to acquire to meet your recycling obligation. The waste management charge will only apply if you are responsible for packaging that is discarded by households.</p>
                    <p class="govuk-body">In 2024, your waste management charge will be modulated. This means that your charge will be based on the sustainability of the materials used in the packaging you handle and supply.</p>
                    <p class="govuk-body">You can start taking steps now to prepare your organisation to capture the specific packaging data that you must submit. You may incur penalty charges if data is not submitted by the deadline.</p>

                    <p class="govuk-body">Your data submission must include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>the weight of individual materials in the packaging you handle and supply</li>
                        <li>a breakdown of how much of those materials were used in your primary, secondary and transit packaging</li>
                        <li>how much of the packaging is likely to have ended up as household or non-household waste</li>
                    </ul>

                    <p class="govuk-body">If you are required to submit nation data, you will need to confirm the total weight of empty packaging and packaged goods supplied in each UK nation.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">How to report material type</h3>
                    <p class="govuk-body">As part of your data submission you must collect data on the weight of individual material types used in the packaging you handle and supply. All weights should be given to the nearest tonne (1,000kg).</p>

                    <p class="govuk-body">You should categorise your data by the following materials:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>aluminium</li>
                        <li>fibre-based composite </li>
                        <li>glass</li>
                        <li>paper or cardboard</li>
                        <li>plastic</li>
                        <li>steel</li>
                        <li>wood</li>
                        <li>other</li>
                    </ul>

                    <p class="govuk-body">Where reporting materials under ‘other,’ you must state the weight of each material type.</p>
                    <p class="govuk-body">For example, you may report that you have handled or supplied 20 tonnes of paper and 5 tonnes of plastic.</p>
                    <p class="govuk-body">Once you have confirmed the total weight of materials used in your packaging, you must confirm how much of each material is used in the primary, secondary or transit packaging you handle and supply.</p>
                    <p class="govuk-body">For example, you may report that of the 20 tonnes of paper you supplied or handled, 10 tonnes of that was used in primary packaging, and 10 tonnes was used in secondary packaging.</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">Primary packaging</h3>
                    <p class="govuk-body">Primary packaging is the individual container that goods are stored in when sold to consumers. This is known as a ‘sales unit’.</p>
                    <p class="govuk-body">For example, if you sell peas in steel tins with paper labels, the primary packaging components are ‘steel tin’ and ‘paper label.’</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">Secondary and shipment packaging</h3>
                    <p class="govuk-body">Secondary packaging is used to group several ‘sales units’ for point of sale or shipping purposes. Organisations may use secondary packaging to display goods in shops.</p>
                    <p class="govuk-body">Shipment packaging is a type of secondary packaging that is used to ship single or multiple sales units directly to consumers. This includes cardboard boxes and mailing bags.</p>
                    <p class="govuk-body">For example, if you place one or more tins of peas into a cardboard box, then sell the box to a retailer or ship it directly to the consumer, the secondary packaging is ‘cardboard box.’</p>

                    <h3 class="govuk-heading-s govuk-!-margin-top-5">Transit packaging</h3>
                    <p class="govuk-body">Transit packaging is also known as ‘tertiary packaging’. It’s used to group secondary packaging units together to protect them while being transported or handled.</p>
                    <p class="govuk-body">Transit packaging does not include road, rail, ship and air containers.</p>
                    <p class="govuk-body">For example, if secondary packaging units are placed into larger cardboard boxes that are sealed with parcel tape and put onto wooden pallets to be transported, the transit packaging is ‘cardboard box, parcel tape and wooden pallet.</p>
                    
                    <h3 class="govuk-heading-s govuk-!-margin-top-5">Household and non-household packaging waste</h3>
                    <p class="govuk-body">Once you know the weight of packaging materials you are responsible for and how much of these materials were used in primary, secondary and transit packaging, you must also confirm the weight of packaging that ended up as household and non-household waste.</p>
                    <p class="govuk-body">In 2023, all primary and shipment packaging will be considered household waste, unless you have clear evidence that some or all of the packaging is not likely to become household waste.</p>
                </div>


                <!-- GET HELP -->
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Get help</h2>    
                <p class="govuk-body">If you have any questions, contact the packaging team.</p>
                <p class="govuk-body">Email: <a href="mailto:">packaging@defra.gov.uk</a></p>




                <div class="guidance-sidebar" style="padding-top: 15px; margin-top: 70px; border-top: #1d70b8 2px solid;">
                    <h2 class="govuk-heading-s">Explore the topic</h2>
            
                    <p class="govuk-body-s"><a href="#">Waste</a></p>
                </div>
            </div>

            <!-- GUIDANCE SIDEBAR -->
            <!-- <div class="govuk-grid-column-one-third" style="padding: 0px 15px;">
                <div class="guidance-sidebar" style="padding: 15px 0px 10px 0px; border-top: #1d70b8 2px solid;">
                    <h2 class="govuk-heading-s">Related content</h2>
            
                    <p class="govuk-body-s"><a href="#">Extended producer responsibility (EPR) for packaging: comply with the regulations</a></p>
                </div>
                <div class="guidance-sidebar" style="padding-top: 15px; border-top: #B1B4B6 1px solid;">
                    <h2 class="govuk-body-s">Collection</h2>
            
                    <p class="govuk-body-s"><a href="#">Extended producer responsibility regulations</a></p>
                </div>    
            </div> -->


</div>

{% endblock %}