{% set serviceName = "" %}

{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
{{ govukBreadcrumbs({
  items: [
    {
      text: "",
      href: ""
    }

  ]
}) }}
</div>
<div class="govuk-grid-column-one-third">

  </div>
</div>
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<style media="screen">
  .card {
  background-color: #f3f2f1;
  padding: 30px 30px 10px 30px;

}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">This page will not be in the actually builds or flow.</span>
    <h1 class="govuk-heading-xl">Select an outcome</h1>

</div>
</div>


<h2 class="govuk-heading-l">Reprocessor</h2>
<p><a href="home">I'm a reprocessor with one site and one accredited material (paper/board)</p></a>







{% endblock %}
