
{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
          <h1 class="govuk-heading-l">Reprocessors and exporters
              <span class="govuk-caption-xl">Prototypes</span>
          </h1>
      </div>
    </div>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m govuk-!-margin-top-2">Recent prototypes
          </h2>
      </div>
    </div>
  
  
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">
  
        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          Draft
        </strong>
  
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            One user - One organization (80% of the users)
        </h2>
  
        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          The following prototype contains parts of the end-to-end jounerney to speed up the viewing 
        </p>

            <ul class="govuk-list govuk-list--bullet">
                  <li>if you want to see how see how the user can add a new organization after the account creation, click on create account</li>
                  <li>if you want to jump to the home page click sign in, in this scenario user already created an acocunt and added an organization</li>
            </ul>
        
 
        <!-- LINK TO PROTOTYPE -->   
        <p class="govuk-body"><a href="./one-to-one/account-creation/make-account/start/sign-in.html">prototype </a></p>

        <p>see here the different status during the registration process</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="./one-to-one/organization-profile/in-progress-registration.html">in-progress </a></li>
            <li><a href="./one-to-one/organization-profile/submitted-registration.html">submitted to regulator </a></li>
            <li><a href="./one-to-one/organization-profile/no-accreditation.html">registration approved but not applied for registration </a></li>
            <li><a href="./one-to-one/organization-profile/full.html">registration approved and material accredited </a></li>
        </ul>

        <p>other scenarios</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="./one-to-one/add-organization/add-organization.html">The user created an account but not added an organization </a></li>
        </ul>
        
        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Team plum, tangerine or blueberry</p>
      </div>
    </div>
  </div>


  <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card">
    
          <!-- TITLE -->
          <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
            Draft
          </strong>
    
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              One user - More than one organzation (20% of the users)
          </h2>
  
          <p>other scenarios</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="./one-to-many/homepage-one-to-many.html">The user created an account and added four organizations</a> <br>only link for acme reprocessor is working</li>
          </ul>
          
          <!-- HAVE A QUESTION -->
          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Team plum, tangerine or blueberry</p>
        </div>
      </div>
    </div>
{% endblock %}
