{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "Check if EPR for packaging affects you" %}

{% block pageTitle %}
Check if EPR for packaging affects you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="./tonnage.html">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="../one-thing-per-page/nation-tonnage" method="post">

      <div class="govuk-panel govuk-panel--confirmation interruption-card">
        <h1 class="govuk-heading-l">
          Tell us more about how much packaging you sold, hired, loaned, gifted or discarded in the UK
        </h1>
        <div class="govuk-panel__body govuk-!-margin-bottom-7">
          <p class="govuk-body">Some organisations must submit nation data. This is information about which country in the UK you sold, hired, loaned, gifted or discarded your packaging.</p>
          <p class="govuk-body">You told us you handle and supply <strong>{{ data['packaging-tonnage'] }}</strong> of packaging.</p>
          <p class="govuk-body">In the next question we’ll ask you how much of that packaging you sold, hired, loaned, gifted or discarded in the UK. This will help us to work out if you need to submit nation data.</p>
        </div>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Continue
        </button>
      </div>

      </form>

    </div>
</div>

{% endblock %}