{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br>

   
   <!--<h1 class="govuk-heading-xl">You have successfully deleted this file</h1>-->
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   <br>
   <h1 class="govuk-heading-xl">Final run</h1>
       
  
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Test data check 2</span><br>
        <p>ID: 240008</p>
        <hr>
       
          <br> 
        
        

<form action="/form-handler" method="post" novalidate>
  <input type="hidden" name="answers-checked" value="true">
<div class="govuk-button-group">
  <a href="calculate-packaging-payments" class="govuk-button" type="submit">Return to the dashboard</a>
  
</div>
</form>

      </div>
    </div>
  
</div>

{% endblock %}