{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="calculate-packaging-payments">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
</div>

    

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <br><br>
    
    <h2 class="govuk-heading-m">
    Test data check 2
    </h2>
      
    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
      <div class="gem-c-attachment__thumbnail">
      <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
      <img src="/public/images/file.png" alt="" width="99px;" style="padding-top:5px;"></a>
      </div>
      <h2 class="gem-c-attachment__title govuk-body">
        <a class="govuk-link gem-c-attachment__link" target="_self" data-ga4-link="{&quot;event_name&quot;:&quot;file_download&quot;,&quot;type&quot;:&quot;attachment&quot;}" href="download-error">Download</a><p>ID: 240008</p>
      </h2>
      <p class="gem-c-attachment__metadata">CSV<br>21 June 2024<br>12:09</p>
      <div class="gem-c-attachment__details">
        <a class="govuk-link gem-c-attachment__link" href="#"></a>
       
       
        
    
    
    </div></section>
  </div>
  <div class="govuk-grid-column-two-thirds">
    &nbsp; &nbsp; <br><br>
    <!--<span class="govuk-caption-l">Test data check 2 <br>ID: 240008</span>-->
    <h1 class="govuk-heading-l">What do you want to do with this calculation?</h1>

  

<form action="/form-handler" method="post" novalidate>

<input type="hidden" name="answers-checked" value="true">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Delete (this cannot be undone)
          </label>
        </div>
 
    </fieldset>
  </div>
 
  
&nbsp; 
<div class="govuk-button-group">
  <a href="delete-success" class="govuk-button" type="submit">Continue</a>   <a class="govuk-link" href="calculate-packaging-payments">Return to the dashboard</a>
</div>
</div>

</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}