{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %} 

<style>
.govuk-radios__label {
    padding: 4px 15px 5px;
}

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="dash-small-tiles">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div class="alignname" style="margin-right: 15px;">
          <span class="your-name"  id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
  </div>
</div>

    

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <br><br>
    
    <h2 class="govuk-heading-s">
    Test data check 2
    </h2>
      
    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
      <div class="gem-c-attachment__thumbnail">
      <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
      <img src="/public/images/file.png" alt="" width="99px;" style="padding-top:5px;"></a>
      </div>
      <h2 class="gem-c-attachment__title govuk-body">
        <a class="govuk-link gem-c-attachment__link" target="_self" data-ga4-link="{&quot;event_name&quot;:&quot;file_download&quot;,&quot;type&quot;:&quot;attachment&quot;}" href="download-error">Download</a><p class="govuk-body-s">ID: 240008</p>
      </h2>
      <p class="gem-c-attachment__metadata govuk-body-s">CSV<br>21 June 2024<br>12:09</p>
      <div class="gem-c-attachment__details">
        <a class="govuk-link gem-c-attachment__link" href="#"></a>
    
    
    </div></section>
  </div>
  <div class="govuk-grid-column-two-thirds">
    &nbsp; &nbsp; <br><br>
    <form method="POST" action="classification">

      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="approval-code-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What do you want to do with this calculation?
                  </h1>
              </legend>
              <div class="govuk-hint">Choose a classification to process the calculation or delete it if it's no longer needed.</div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h2 class="	govuk-heading-m">Classify your calculation run</h2>
              
              <div class="govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="initialRun" name="calcRun" type="radio" value="outputInitialRun">
                  <label class="govuk-label govuk-radios__label" for="initialRun">
                    <strong>Initial run</strong><br>
                    The first time this calculation has been processed
                  </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interimRecalculationRun" name="calcRun" type="radio" value="outputInterimRecalculationRun">
                <label class="govuk-label govuk-radios__label" for="interimRecalculationRun">
                  <strong>Interim re-calculation run</strong><br>
                  A re-calculation after an initial run using updated data
                </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="finalRecalculationRun" name="calcRun" type="radio" value="outputFinalRecalculationRun">
              <label class="govuk-label govuk-radios__label" for="finalRecalculationRun">
                <strong>Final re-calculation Run</strong><br>
                The last re-calculation before confirming the final run
              </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="finalRun" name="calcRun" type="radio" value="outputFinalRun">
            <label class="govuk-label govuk-radios__label" for="finalRun">
              <strong>Final run</strong><br>
              The last calculation before the billing file is created
            </label>
        </div>  

                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="play" name="calcRun" type="radio" value="outputPlay">
                      <label class="govuk-label govuk-radios__label" for="play">
                        <strong>Re-run</strong><br>
                        Running this calculation again using the same data
                      </label>
                  </div>


              </div>
          </fieldset>

      </div>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You cannot change a classification after the billing file has been issued",
        iconFallbackText: "Warning"
      }) }}

      {% from "govuk/components/details/macro.njk" import govukDetails %}
<!--
{{ govukDetails({
  summaryText: "Help and further details",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
    -->
    <div class="govuk-button-group">
      {{
        govukButton({
                text: "Confirm classification"
            })
    }}
      </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> 
    <h2 class="	govuk-heading-m">Delete this run</h2>
    {{ govukWarningText({
      text: "This cannot be undone",
      iconFallbackText: "Warning"
    }) }}
      

        <div class="govuk-button-group">
          <a href="output-1" class="govuk-button govuk-button--warning" type="submit">Delete this calculation</a>
          <a class="govuk-link" href="dash-small-tiles">Return to dashboard</a>
          </div>

  </form>
  </div>

</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}