{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="calculate-packaging-payments">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>

    

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <br><br>
    
    <h2 class="govuk-heading-m">
      
    </h2>
      
    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="ga4-link-tracker" data-ga4-link-tracker-module-started="true">
      <div class="gem-c-attachment__thumbnail">
      <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="#">
      <img src="/public/images/file.png" alt="" width="99px;" style="padding-top:5px;"></a>
      </div>
    
      <div class="gem-c-attachment__details">
      <h3 class="gem-c-attachment__title">
        <h2 class="govuk-heading-s">
          Download calculation <br>results file
        </h2>
        <a class="govuk-link gem-c-attachment__link" href="#">Local authority data check</a>
    </h3>
    <a class="govuk-link gem-c-attachment__link" href="#"></a>
    <p class="gem-c-attachment__metadata">10:01 - 28 June 2025<br>CSV 157 KB</p>
    
    </div></section>
  </div>
  <div class="govuk-grid-column-two-thirds">
    &nbsp; &nbsp;<br>
    <span class="govuk-caption-l">Calculation ID: 240008</span>
    <h1 class="govuk-heading-xl">Local authority data check</h1>



<form action="/form-handler" method="post" novalidate>

<input type="hidden" name="answers-checked" value="true">

<div class="govuk-form-group">
  <h2 class="govuk-heading-m">
    Change the classification
  </h2>


<select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
<option value="choose" selected>Unclassified</option>
<option value="paly">Test</option>
<option value="scrap">Final</option>
</select>
</div>

&nbsp; &nbsp;

<div class="govuk-button-group">
  <a href="dash-small-class" class="govuk-button" type="submit">Save</a>
  <a href="#" class="govuk-button govuk-button--secondary" type="submit">Delete</a>
  <p></p>
  
</div>


<div class="govuk-button-group">
  
  <a class="govuk-link" href="calculate-packaging-payments">Return to the dashboard</a>
</div>
</form>

  


      </div>
    </div>
  
</div>


{% endblock %}