{% set serviceName = "Run the service administrator calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 
     

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
  
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
      <span class="govuk-caption-l">Alteration check</span>
  
      </legend>
    <h1 class="govuk-heading-l">The calculator is running...</h1>           
    

    

      <br><br>
      <p class="govuk-body">
        <a href="calculate-packaging-payments" class="govuk-link">Return to the dashboard</a> 
      </p>
  </div>
 
</div>


{% endblock %}