{% extends "layout-e2e-testing.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
 Report packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../index.html",
    serviceName: "Report packaging data",
    serviceUrl: "#",
    navigation: [
      {
        href: "../../landing-page/v2/cs-submit-behalf-lp-england",
        text: "Home"
      },
      {
        href: "#",
        text: "Manage account"
            },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}

{% endblock %}

{% block beforeContent %}

{% if (data['filtered'] == "yes") %}
  <a class="govuk-back-link" href="../all-members/filtered-scheme-members.html">Back</a>
{% endif %}

{% if (data['filtered'] == "no") %}
  <a class="govuk-back-link" href="../all-members/all-scheme-members-2.html">Back</a>
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Tesco plc</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Organisation number
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-half">
          736 890
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registered nation
        </dt>
        <dd class="govuk-summary-list__value">
          England
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Companies House number
        </dt>
        <dd class="govuk-summary-list__value">
          00445790
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compliance scheme
        </dt>
        <dd class="govuk-summary-list__value">
          Compliance Co England
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of selection
        </dt>
        <dd class="govuk-summary-list__value">
          12 March 2023
        </dd>
      </div>
    </dl>

    

    <p class="govuk-body"><a href="./reason-for-removal" class="govuk-link govuk-link-destructive">Remove member</a></p>


  </div>
</div>

{% endblock %}
