{% extends "layout.html" %}

{% set serviceName = "Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

{# {{data|dump}} #}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form action="file-uploaded" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    

                    <div class="govuk-grid-column-full-width">

                  
                        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-7">
                      
                            Uploading file                    
                        </h1>
                        

                        <p>To see if the file has finished uploading, <a class="govuk-link" href="uploading-csv-no-js.html">refresh this page</a>.</p>



                        <p class="govuk-body">It may take a few minutes - do not close the page.</p>
                        
                        

                      
                  
                 
                  
                 
                      </div>


                </fieldset>
            </div>

            <a href="./file-uploaded.html">Next page</a>

        </form>

    </div>
</div>

{% endblock %}
