{% set serviceName = "reprocessor & exporters" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Prototypes</span>
      Reprocessors & exporters
    </h1>
  </div>
</div>

<!--START-->

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Realese 9
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Landing pages
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
     
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">One-to-one</h2>                   
        </div>
                        
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-one/sign-in.html" class="govuk-link">Sign in</a></th>
                <th scope="row" class="govuk-table__header"></th>
                
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-one/dashboard-organization/full-both.html" class="govuk-link">Landing page</a> <p>user registered materials</p></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>
                
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-one/dashboard-organization/no-registration.html" class="govuk-link">Landing page</a><p>user HAS NOT registered materials</p></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">one-to-many</h2>                   
        </div>
                        
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-many/sign-in.html" class="govuk-link">Sign in</a></th>
                <th scope="row" class="govuk-table__header"></th>
                
              </tr>
               <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-many/homepage-one-to-many.html" class="govuk-link">Landing page</a> <p>Orgnizations list</p></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>
                
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-many/dashboard-organization/full-both.html" class="govuk-link">Sub Landing page</a> <p>user registered materials</p></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>
                
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-many/dashboard-organization/no-registration.html" class="govuk-link">Sub Landing page</a><p>user HAS NOT registered materials</p></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div> 

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Material overview</h2>                   
        </div>
                        
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-one/material-view/overview-steel.html" class="govuk-link">Exporter</a></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>                
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="./R13/one-to-one/material-view/overview-glass.html" class="govuk-link">Reprocessor</a></th>
                <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">In progress</strong></th>               
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

      
 

    
  




{% endblock %}