{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

<p class="govuk-body" style="color:black; padding: 20px; border-bottom: 1px solid black;">
  <a class=" govuk-back" href="javascript:window.history.back()"><span style="color: #777;"></span><strong>
      < Back page</strong></a> (Prototype use only)
</p>



{% block content %}

<div class="govuk-grid-row">
  <!-- FORM-ROUTING -->
  <form method="POST" action="fees-task-list-1">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Account - Acme Limited
      </h1>
    </div>
</div>
<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-1"> <strong> Organisation ID: 123 456</strong></p>
  <p class="govuk-body govuk-!-margin-bottom-1"> Your acount is set up so you can submit your own data.</p>
  <p class="govuk-body govuk-!-margin-bottom-1"> <a href="#">Add a compliance scheme to your account</a></p>
</div>


<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m govuk-link-"><a href="../../../payment-alternative/task-list-2-on-hold"
          class="govuk-link--no-visited-state">Registration</a>
      </h2>

      <p class="govuk-body">Your registration was rejected because of following reason: lorem ipsum lorem</p>

      <p class="govuk-body"><a href="../payment-alternative/large-producers/payment-large-producers"
          class="govuk-link">Pay registration fee</a></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m"><a href="fees-task-list-1" class="govuk-link--no-visited-state">Packaging data</a>
      </h2>
      <p class="govuk-body">You must report packaging data for January to June 2023 and July to December 2023.<br>
        You can also:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>resubmit your packaging data</li>
        <li>view your history</li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m">Waste management fee</h2>
      <p class="govuk-body">No action needed at the moment
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m" class="govuk-link--no-visited-state">Packaging waste recycling notes (PRNs) and
        packaging waste export recycling notes (PERNs)</h2>
      <p class="govuk-body">No action needed at the moment</p>
    </div>
  </div>
</div>

</form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<p class="govuk-body" style="color:black; padding: 20px; border-top: 1px solid black;">
  (Prototype use only)
  <a class="govuk-link" href="small-producer-dashboard-decision-rejected"
    style="background-color:black; margin-left: 10px; padding: 8px; color: #ffffff;"><span style="color: #777;"></span>
    <strong>Continue > </strong></a>
</p>


{% endblock %}