{% extends "layout.html" %}

{% set serviceName = " pEPR: Regulators' Service" %}

{% set title = "pEPR: Regulators' Service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}




{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<br><br>
    <h1 class="govuk-heading-xl">
      pEPR: Regulators’ Service
    </h1>

    <h2 class="govuk-heading-l">
      Environment  Agency
      <span class="govuk-caption-l">John Smith</span>
    </h2>
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Manage your account</a>
      <p class="govuk-body">Add or remove team members from your account</p></h3>
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Manage applications for approved and delegated people</a>
      <p class="govuk-body">View, accept or reject applications for approved and delegated persons</p></h3>
    

  
    

    <h3 class="govuk-heading-m"><a href="./manage-pom-data.html" class="govuk-link">Manage packaging data submissions</a>
      <p class="govuk-body">View, accept or reject packaging data submissions</p></h3>
    

  </div>
</div>



{% endblock %}
