{% extends "layout.html" %}

{% set serviceName = " pEPR: Regulators' Service" %}

{% set title = "pEPR: Regulators' Service" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="manage-pom-data-divisionrejected.html">Back</a>


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Manage packaging data submissions</span>
    <h1 class="govuk-heading-xl" style="margin-bottom: 3%;">Oasis Packaging Ltd</h1>
    <h3 class="govuk-heading-s" >Organisation type<br>
       <p>Direct producer</p></h3>
       <h3 class="govuk-heading-s">Organisation ID<br>
        <p>033 141</p></h3>

        <h3 class="govuk-heading-s">Packaging data <br>
        <p>  To view a summary of the packaging data and any previous submissions,<a href="#" class="govuk-link govuk-link--no-visited-state">Log in to Power BI.</a></p></h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">Resubmission details</h2> 
        <strong class="govuk-tag govuk-tag--blue" style="margin-left: 610px; justify-content: none">
          Pending
        </strong>
        


        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> 
          </li>
        </ul>
      </div>

      <div class="govuk-summary-card__content" style="padding-bottom: 0px;">

        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Time and date of resubmission</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              10:11am on 18 March 2023
            </dd>
            
          </div> 
         
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Resubmitted by</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Alex Smith
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Account role</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Approved person
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Telephone</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              07553 937 831
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Email</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              alex.smith@email.com
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <strong>Reason for rejection</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue porttitor ullamcorper. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </dd>
            
          </div>
         
          <div class="govuk-summary-list__row"></div>
        
        </dl>
        <div class="govuk-inset-text">
          Oasis Packaging Ltd cannot resubmit until this submission has been actioned.
        </div>
        {{ govukButton({
          text: "Accept", href:""
          }) }}
          {% from "govuk/components/button/macro.njk" import govukButton %}
          
          {{ govukButton({
          text: "Reject",href: "#",
          classes: "govuk-button--warning" 
          
          }) }}
         
        
      </div>

     
    </div>
    <a href="manage-pom-data-divisionrejected.html" class="govuk-link govuk-link--no-visited-state">Go back to all submissions</a>
  </div>
</div>


<!-- <div class="govuk-grid-row">
  <a href="manage-pom-data.html" class="govuk-back-link">Back</a>
   

          <div>
            <span class="govuk-caption-xl">Manage placed on the market data submissions</span>
            
            <h1 class="govuk-heading-xl">Acme org Ltd.</h1>
            
          </div>
          <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Time and date of submission: 3:15pm on 10 March 2023</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Placed on the market data
        </dt>
        <dd class="govuk-summary-list__value">
          File name / format / file size
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Download<span class="govuk-visually-hidden"> age</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account role
        </dt>
        <dd class="govuk-summary-list__value">
          Approved person
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
     x
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          07553 937 831
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          sally.smith@email.com
        </dd>
        <dd class="govuk-summary-list__actions">
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registered nation
        </dt>
        <dd class="govuk-summary-list__value">
          England
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Transfer to another environmental regulator<span class="govuk-visually-hidden"> age</span>
          </a>
        </dd>
        
      </div>

      <div class="govuk-summary-list__row">
        <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button" href="acceptpomdata.html" >
    Accept
  </button>
  
  
  <button class="govuk-button govuk-button--warning" data-module="govuk-button">
    Reject
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Put on hold
  </button>
</div>
        
      </div>


    </dl>
  </div>
</div>


            


            
       
     
   
    
  

  
 
</div> -->

 
{% endblock %}
