{% extends "layout.html" %}

{% set serviceName = " Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      Do you have any feedback on this submission?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    We’ll use this information in an email to Sally Smith.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


{% endblock %}
