{% extends "layout.html" %}

{% set serviceName = " Report packaging data" %}

{% set title = "Report packaging data" %}

{% block pageTitle %}
    {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="pom-data-details-betapackaging.html">Back </a>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <div class="govuk-form-group">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="with-hint">
        Where do you want to transfer Beta Packaging Ltd submission to?
      </label>
    </h1>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
         
        </legend>
        <div id="contact-hint" class="govuk-hint">
          You can transfer this submission to another environmental agency if you need to.
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Scottish Environment Protection Agency
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <div id="with-hint-hint" class="govuk-hint">
                Include the reason for transferring this submission. 
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
            </div>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You can enter up to 200 characters
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Northern Ireland Environment Agency
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-form-group">
              <div id="with-hint-hint-2" class="govuk-hint">
                Include the reason for transferring this submission. 
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint-2" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
            </div>
            <div id="with-hint-info-2" class="govuk-hint govuk-character-count__message">
              You have 200 characters remaining
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              Natural Resources Wales
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
            <div class="govuk-form-group">
             
              <div id="with-hint-hint" class="govuk-hint">
                Include the reason for transferring this submission. 
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
            </div>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You have 200 characters remaining
            </div>
          </div>
          </div>
        </div>
      </fieldset>
    </div>
   
</div>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}


</div>
</div>
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue", href: "./manage-pom-data-betapackaging-transferred"
  }) }}

  <a class="govuk-link" href="pom-data-details-acme.html">Cancel</a>
</div>
{% endblock %}
