{% set serviceName = "Raise a PRN" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Back",
      href: "javascript:history.back()"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">Check your answers</h1>
            <h2 class="govuk-heading-m">PRN details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Tonnes of glass
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['tonnes']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-prn/enter-tonnes">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Was the glass received in December
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="material-december">
                    Change<span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Registered producer or compliance scheme
                </dt>
                <dd class="govuk-summary-list__value">
                  Valpack
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="which-producer">
                    Change<span class="govuk-visually-hidden"> registered producer or compliance scheme</span>
                  </a>
                </dd>
              </div>

            </dl>
            <h2 class="govuk-heading-m">Additional details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Add a reference and note to the PRN?
                </dt>
                <dd class="govuk-summary-list__value">
                Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="reference-note">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Reference
                </dt>
                <dd class="govuk-summary-list__value">
                01234567
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-reference">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
              Note
                </dt>
                <dd class="govuk-summary-list__value">
                Sold on 19 May 2023. MW
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-note">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">Sale details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Has the PRN been sold?
                </dt>
                <dd class="govuk-summary-list__value">
                Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="PRN-sold">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a>
                </dd>
              </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                    Add details about the sale of the PRN?
                      </dt>
                      <dd class="govuk-summary-list__value">
                      Yes
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="details-of-sale">
                          Change<span class="govuk-visually-hidden"> previous application number</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                Date of sale
                      </dt>
                      <dd class="govuk-summary-list__value">
                      05/06/2023
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="date-sold">
                          Change<span class="govuk-visually-hidden"> previous application number</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
              Amount of sale
                      </dt>
                      <dd class="govuk-summary-list__value">
                      £2,000
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="enter-amount">
                          Change<span class="govuk-visually-hidden"> previous application number</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
            Additional organisation name
                      </dt>
                      <dd class="govuk-summary-list__value">
                      Valpack GB
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="add-second-org-name">
                          Change<span class="govuk-visually-hidden"> previous application number</span>
                        </a>
                      </dd>
                    </div>



            </dl>

            <!-- <form action="issue-prn" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true">

              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </form> -->
          </div>
        </div>
      </main>
    </div>

</div>

{% endblock %}
