{% set serviceName = "Service name" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Back",
      href: "javascript:history.back()"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="add-second-org-name" method="POST">

    <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

      <h1 class="govuk-fieldset__heading">
Enter the amount Valpack paid for the PRN
      </h1>
    </legend>
    <div class="govuk-form-group">

      <div class="govuk-input__wrapper">
       <div class="govuk-input__prefix" aria-hidden="true">£</div>
       <input class="govuk-input govuk-input--width-10" id="cost" name="sale-amount" type="text" spellcheck="false">
     </div>
    </div>



</fieldset>
</div>

  <input class="govuk-button" type="submit" value="Continue"  />

  <br>
    <a href="add-second-org-name">Skip question and continue</a>

</form>

</div>

{% endblock %}
