{% set serviceName = "Raise a PRN" %}

{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Manage your PRNs</h1>
</div>
</div>
<div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
          <div class="govuk-grid-column-full card">




            <a class="govuk-heading-s" href="manage-accreditations"><h3>Manage your PRNs</h3></a>
                        <p class="govuk-body">You can:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>view your waste balance</li>
                        <li>raise and issue PRNs</li>
                            <li>View and edit PRNs</li>
                      </ul>

                      </div>
                    </div>


                  </div>








    <div class="govuk-grid-column-one-third">
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
        <div class="govuk-grid-column-full card">


              <a class="govuk-heading-s" href="waste-data-submission/manage-accreditations"><h3>Record your waste</h3></a>


          <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>record the waste you have received</li>
          <li>record the waste you have sent to another reprocessor</li>
          <li>view and edit your waste records</li>
        </ul>
                    </div>
                  </div>


                </div>

                <div class="govuk-grid-column-one-third">
                  <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
                    <div class="govuk-grid-column-full card">


                          <a class="govuk-heading-s" href=""><h3>Submit your returns</h3></a>


                      <p class="govuk-body">You can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>submit your quarterly return</li>
                      <li>view previous quarterly returns</li>
                    </ul>
                                </div>
                              </div>


                            </div>






      </div>
</div>

</div>

{% endblock %}
