{% set serviceName = "Raise a PRN" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "manage-prn"
    }

  ]
}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

<style media="screen">
  .card {
  background-color: #f3f2f1;
  padding: 30px 30px 10px 30px;

}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Manage your PRNs</span>
    <h1 class="govuk-heading-xl">Accreditations</h1>

</div>
</div>
<div class="govuk-grid-row govuk-card__flex-container">
<div class="govuk-grid-column-one-third govuk-card__flex-item">
    <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                  <a href="manage-glass" class="govuk-heading-m">  <h3 >Glass</h3></a>
                  <p class="govuk-body">Waste balance: <strong>12 tonnes</strong></p>

                  <p class="govuk-body">Raised PRNs ready to issue:<strong> 3</strong></p>


              </div>


            </div>



  <div class="govuk-grid-column-one-third govuk-card__flex-item">
      <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                    <a href="manage-accreditations" class="govuk-heading-m">  <h3 >Plastic</h3></a>
                    <p class="govuk-body">Waste balance: <strong>12 tonnes</strong></p>

                    <p class="govuk-body">Raised PRNs ready to issue:<strong> 3</strong></p>


                </div>


              </div>



  <div class="govuk-grid-column-one-third govuk-card__flex-item">
      <div class="govuk-grid-column-full govuk-card govuk-card--contained">


                    <a href="manage-accreditations" class="govuk-heading-m">  <h3 >Aluminum</h3></a>
                    <p class="govuk-body">Waste balance: <strong>12 tonnes</strong></p>

                    <p class="govuk-body">Raised PRNs ready to issue:<strong> 3</strong></p>

                </div>


              </div>




{% endblock %}
