{% set serviceName = "Raise a PRN" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "manage-prn"
    },
    {
      text: "Manage your PRNs",
      href: "manage-accreditations"
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Manage your PRNs</span>
    <h1 class="govuk-heading-xl">Glass</h1>

</div>
<div class="govuk-grid-column-one-third" style="  float: right;">
  <div class="govuk-grid-column-full govuk-inset-text">



        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Glass waste balance
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
      Current waste balance for this accreditation is <strong>{% if data['answers-checked'] == 'true' %}8 tonnes{% else %}12 tonnes{% endif %}</strong>.
        </p>
        <!-- <p class="govuk-body govuk-!-margin-bottom-3">
              December waste balance <strong>1 tonnes</strong>

            </p> -->





      </div>
  </div>
</div>

<h2 class="govuk-heading-l">
  Raised PRNs
</h2>

<a href="" class="govuk-button">Raise a PRN</a> 

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">


              </div>

              <div class="govuk-grid-column-one-third">

        <div class="govuk-grid-column-full card">


                      <a href="manage" class="govuk-heading-s">  <h3 >Issue PRNs</h3></a>
                      <p class="govuk-body">There are 3 PRNs ready to issue.</p>



                  </div>



                </div>

                <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                <hr>
                </div>
              </div>

<h2 class="govuk-heading-l">
  Issued PRNs
</h2>


      <div class="govuk-grid-column-one-third">
          <div class="govuk-grid-column-full card">
                <a href="manage-glass" class="govuk-heading-s">  <h3 >View accepted PRNs</h3></a>
                <p class="govuk-body">There are 3 accepted PRNs</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
              <div class="govuk-grid-column-full card">
                    <a href="manage-glass" class="govuk-heading-s">  <h3 >View PRNs awaiting acceptance</h3></a>
                    <p class="govuk-body">There are 3 PRNs awaiting acceptance</p>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                  <div class="govuk-grid-column-full card">
                        <a href="manage-glass" class="govuk-heading-s">  <h3 >View rejected PRNs</h3></a>
                        <p class="govuk-body">There are 2 rejected PRNs</p>
                    </div>
                  </div>



    </div>


    <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
          <p>  <a href="">View issued PRNs (8)</a></p>
            <p> <a href="">View cancelled (2)</a></p>
        </div>


    </div>




{% endblock %}
