{% set serviceName = "Raise a PRN" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "Back",
      href: "javascript:history.back()"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="reference-note" method="POST">

    <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

      <h1 class="govuk-fieldset__heading">
Which registered producer or compliance scheme will the PRN be issued to?
      </h1>
    </legend>

{{ xGovukAutocomplete({
      id: "country",
      name: "country",
      allowEmpty: false,
      label: {
        classes: "govuk-label--l",
        isPageHeading: true,
        text: "Pick a country"
      },
      items: [
        { text: "Austria" },
        { text: "Belgium" },
        { text: "Bulgaria" },
        { text: "Croatia" },
        { text: "Republic of Cyprus" },
        { text: "Czech Republic" },
        { text: "Denmark" },
        { text: "Estonia" },
        { text: "Finland" },
        { text: "France" },
        { text: "Germany" },
        { text: "Greece" },
        { text: "Hungary" },
        { text: "Ireland" },
        { text: "Italy" },
        { text: "Latvia" },
        { text: "Lithuania" },
        { text: "Luxembourg" },
        { text: "Malta" },
        { text: "Netherlands" },
        { text: "Poland" },
        { text: "Portugal" },
        { text: "Romania" },
        { text: "Slovakia" },
        { text: "Slovenia" },
        { text: "Spain" },
        { text: "Sweden" }
      ]
    }) }}

 <input class="govuk-input" id="event-name" name="event-name" type="text">

</fieldset>
</div>

  <input class="govuk-button" type="submit" value="Continue"  />



</form>

</div>

{% endblock %}
