{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
EPR for packaging data
{% endset%}

{% set serviceName = "EPR for packaging data" %}

{% block pageTitle %}
EPR for packaging data
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  
  {{ govukHeader({
    homepageUrl: "../../../index.html",
    serviceName: "EPR for packaging data",
    serviceUrl: "#",
    navigation: [
    {
    href: "#",
    text: "Home",
    active: true
    },
    {
    href: "#",
    text: "Manage account" 
    },
    {
    href: "#",
    text: "My profile" 
    },
    {
    href: "#",
    text: "Sign out"
    }
    ]
    }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.',
    classes: 'govuk-width-container'
  }) }}
  {% endblock %}


{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="./cs-landing-page.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage your 2025 recycling obligations</a>
    </li>
    <!--
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
    </li>
    -->
  </ol>
</nav>
{% endblock %}



{% block content %}
<!--aug 24-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full  ">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Manage your 2025 recycling obligations
      </h1>

      <p> Compliance scheme: COMPLIANCE LTD (EA)</br>
      Regulator: Environment Agency (England)</p>
  
   
      <p>You have until <strong>31 January 2026</strong> to meet your recycling obligations for 2025.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You may face enforcement action if you miss this deadline.
        </strong>
      </div>

      <div class="govuk-inset-text">
        <span class="govuk-caption-m">Number of PRNs and PERNs awaiting acceptance</span>
        <br>
        <h1 class="govuk-heading-xl">12
       <br>
          <span class="govuk-body"><a href="#" class="govuk-link">Accept or reject PRNs and PERNs
            </a></span>
    
          
      </div>

</div>

</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Your recycling obligations progress</caption>
 
  <caption class="govuk-table__caption"><p>Acquire and accept PRNs and PERNs until your tonnage obligations are fully met. Select a material for information on how the data was calculated and view your progress towards meeting your 2025 recycling obligation.</p></caption>
  <thead class="govuk-table__head">

    <tr class="govuk-table__row">

      
     <th scope="col" class="govuk-table__header" >Material</th>
     <th scope="col" class="govuk-table__header govuk-table__header--numeric">Obligations you need to meet</th>
     <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tonnage awaiting acceptance</th>
     <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tonnage accepted</th>
     <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tonnage outstanding</th>
     <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="12%">Status</th>
   </tr>
 </thead>
 <tbody class="govuk-table__body">
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Aluminium</a></th>
     <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">2,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">3,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">2,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
       Not met
     </strong></td>
   </tr>
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Remaining glass</a><!--<br>
       <span class="govuk-body-s">'Glass other' can be fulfilled by using ‘Glass other’ or ‘Glass re-melt’ PRNs or PERN</span>
     -->
     </th>
     <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">4,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">6,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">4,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
      Not met
    </strong></td>
   </tr>
   <tr class="govuk-table__row">
     <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Glass re-melt</a></th>
     <td class="govuk-table__cell govuk-table__cell--numeric">15,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
     <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
       Not met
     </strong></td>
   </tr>
   <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Paper, board or fibre-based composite material</a>  </th>
   <td class="govuk-table__cell govuk-table__cell--numeric">20,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">20,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
     Not met
   </strong></td>
 </tr>
 <tr class="govuk-table__row">
   <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Plastic</a></th>
   <td class="govuk-table__cell govuk-table__cell--numeric">25,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">5,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">15,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">
     Not met
   </strong></td>
 </tr>
 <tr class="govuk-table__row">
   <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Steel</a></th>
   <td class="govuk-table__cell govuk-table__cell--numeric">30,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">30,000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--turquoise">
    Met
  </strong></td>
 </tr>
 <tr class="govuk-table__row">
   <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">Wood</a></th>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--light-blue">
     Not applicable
   </strong></td>
 </tr>

 </tbody>
 
</table>
<p class="govuk-body-s">A minimum of 75% of your Glass recycling target must be made up of ‘Glass re-melt’ PRNs. This will make up a proportion of your overall glass obligation. The remaining glass obligation can be met by either ‘Glass remelt’, ‘Glass other’ or a mix of both.</p>
<h2 class="govuk-heading-m">What to do next</h2>




     <div class="govuk-grid-row govuk-!-margin-bottom-7">

   
  
      <div class="govuk-grid-column-one-half">
          <div class="card" style="background-color:#ffffff; border: 1px solid #b1b4b6">
  
              <h2 class="govuk-heading-m">Review your PRNs and PERNs</h2><br>
              <p class="govuk-body"> View and accept any issued PRNs and PERNs previously agreed on to meet your 
                obligations.</p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance-alt" class="govuk-link">Accept or reject PRNs and PERNs
                </a></p>
                <p class="govuk-body"><a href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-2/compliance-scheme/view-awaiting-acceptance" class="govuk-link">Search PRNs and PERNs</a></p>
                <p class="govuk-body"><a href="#" class="govuk-link">Download an Excel list of all PRNs and PERNs</a></p>
            
          </div>
      </div>
      </div>

  
</div>
</div>


          
    


 
  

{% endblock %}
