{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Mid Year Changes
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s govuk-!-margin-top-2">Covers areas of the prototype that will be updated (By Design Team
      1) to reflect necessary changes to support Mid Year Changes.</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Latest
      </strong>
      <strong class="govuk-tag  govuk-!-margin-bottom-2">
        in progress
      </strong>


      <!-- DESCRIPTION -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Re registration
      </h2>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/task-list-in-submitted-scenario">Re registration initial page</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/resubmission-confirmation">Re registration success page</a></p>



      <!-- VERSION • META DATA -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding or removing subsidiaries
      </h2>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/landing-page-i-myc-7">Compliance schemes with
          subsidiaries (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-7">CS with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subsidiaries-no-myc-7">CS without subsidiaries</a>
      </p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-err-myc-7">CS search member not
          found</a></p>


      <!-- LINK TO PROTOTYPE -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Members' organisation details (new signposting)
      </h3>
      <p class="govuk-body">Layout based off live - layout in RPD prototype is out of date</p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/sub-landing">Members' organisation details - sub
          landing page</a></p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Compliance schemes removing member
      </h3>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/landing-page-i-myc-7">Compliance schemes with
          subsidiaries (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/view-and-remove-members">Compliance schemes
          members</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/remove-member">Compliance schemes individual member
          (remove)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/remove-member-reason-myc">Individual member (remove
          reason)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/remove-member-ays">Individual member (are you
          sure)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/remove-member-reason-text">Individual member (remove
          text detail)</a></p>

      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/confirmation-remove-member-myc">Success page</a></p>

      <!-- VERSION • META DATA -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producer adding or removing subsidiaries
      </h2>
      <p class="govuk-body"><a href="/subsidiary/producers/landing-page-myc-7">Producer (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/subs-list-i-myc-7">Producer with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/subsidiaries-no-myc-7">Producer without subsidiaries</a></p>
      <!-- LINK TO PROTOTYPE -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Producer report your organisation details (new signposting)
      </h3>
      <p class="govuk-body">Layout based off live - layout in RPD prototype is out of date</p>
      <p class="govuk-body"><a href="/subsidiary/producers/sub-landing">Producer organisation details - sub landing
          page</a></p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Producer removing self from CS
      </h3>
      <p class="govuk-body"><a href="/subsidiary/producers/landing-page-myc-7-cs">Producer (homepage signed up to
          CS)</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/remove-reason-i-myc">Remove reason</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/confirmation-remove-member-myc">Success page (text updated)</a></p>

        </div>
      </div>
    </div>
    
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card">


      <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
        outdated
      </strong>


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/landing-page-i-myc-5">Compliance schemes with
          subsidiaries (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-5">CS with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subsidiaries-no-myc-5">CS without subsidiaries</a>
      </p>

      <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-top-3 ">
        outdated
      </strong>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producer adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="/subsidiary/producers/landing-page-myc-5">Prod (homepage)</a></p>

      <p class="govuk-body"><a href="/subsidiary/producers/subs-list-i-myc-5">Prod with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/subsidiaries-no-myc-5">Producer without subsidiaries</a></p>
      <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2 govuk-!-margin-top-3">
        gov.uk hosted
      </strong>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Guidence pages
      </h2>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subsidiaries-how-to-create-your-file">How to create
          your subsidiary file</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/registration-how-to-create-your-file">How to create
          your registration file</a></p>

      <strong class="govuk-tag govuk-tag--pink govuk-!-margin-bottom-2 govuk-!-margin-top-3"">
  future
  </strong>
<h2 class=" govuk-heading-m govuk-!-margin-bottom-2">
        Example using Status column
        </h2>

        <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-6">CS with Subsidiaries</a></p>
        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon Westcott</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Jan 2025 - v3
      </strong> <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
        outdated
      </strong>



      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->

      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-4">CS with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-3">CS without subsidiaries</a></p>



      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon Westcott</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Jan 2025 - v2
      </strong> <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
        outdated
      </strong>



      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc-2">CS with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subsidiaries-no-i-myc">CS with producer without
          subsidiaries</a></p>


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producer adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->

      <p class="govuk-body"><a href="/subsidiary/producers/subs-list-i-myc-2">Prod with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/subsidiaries-no-i-myc">Producer without subsidiaries</a></p>


      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon Westcott</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        Jan 2025 - v1
      </strong> <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
        outdated
      </strong>



      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/landing-page-2-i-myc.html">Compliance schemes with
          subsidiaries (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/subs-list-i-myc">CS with Subsidiaries</a></p>
      <p class="govuk-body"><a href="/subsidiary/compliance-schemes/remove-reason-i-myc">CS remove Subsidiary</a></p>


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producer adding or removing subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->


      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="/subsidiary/producers/landing-page-2-myc.html">Producers with subsidiaries
          (homepage)</a></p>
      <p class="govuk-body"><a href="/subsidiary/producers/subs-list-myc">Prod with Subsidiaries</a></p>



      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Simon Westcott</p>
    </div>
  </div>
</div>





{% endblock %}