{% extends "layout.html" %}

{% block pageTitle %}
    Check your packaging activity answers | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>


        <h2 class="govuk-heading-m">Nation reporting for 2022</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 custom-remove-bold">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation sell packaging to end consumers?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation01a'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation sell packaging to non-obligated producers?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation01b'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation use secondary or transit packaging in the sale of a product to another organisation?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation02a'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Was this secondary or transit packaging disposed of by the other organisations?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation02b'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation import packaging to sell directly to end consumers in the UK?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation03a'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation import packaging to sell directly to non-obligated producers in the UK?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation03b'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did your organisation dispose of any imported packaging before it was sold?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation04'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Did producers sell any packaging containing goods to UK customers via your website or app?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {{ data['activityNation05'] }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half govuk-body-s">
              Which packaging materials were used in your seller activities in 2022?
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter govuk-body-s" style="text-transform: capitalize;">
              {% if data['nationData'] == 'yes' %}
                {{ data['materialsNation'] | escape | replace(",", "<br />") }}
              {% else %}
                none
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
              <a class="govuk-link govuk-body-s" href="#">
                Change
              </a>
            </dd>
          </div>

        </dl>


        
        <form method="POST" action="home?chooseNation=yes">

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>

        {% include "includes/save-and-exit.html" %}
        
    </div>
</div>

{% endblock %}