{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>
        <h1 class="govuk-heading-l">Did your organisation use transit packaging to transport goods that it supplied in the UK?</h1>

        <p>You should also include any branded goods that your organisation placed into transit packaging where the brand owner cannot be identified.</p>


        <form method="POST" action="activities-transit-02">
            
            {{ govukRadios({
              name: "activityTransit01",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}