{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>
        <h1 class="govuk-heading-l">
          Did any non-UK businesses use your online marketplace to sell primary packaging containing goods in the UK?
        </h1>

        {{ govukDetails({
          summaryText: "What’s an online marketplace?",
          html: '
          <p>An online marketplace is a platform that allows you to sell goods on behalf of a third party over the internet. For example, eBay and Etsy.</p>
          <p>If your organisation has a company website that only sells its own goods, then this is not an online marketplace.</p>
          '
        }) }}

        <form method="POST" action="activities-primary-05">
            
            {{ govukRadios({
              name: "activityPrimary04",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}