{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 report by nation activities</span>
        
        <h1 class="govuk-heading-l">Did your organisation sell packaged goods or empty packaging to end consumers within the UK?</h1>

        <p>End consumers are: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>members of the public who bought packaged goods from your organisation, then threw the packaging into their household bin</li>
          <li>non-obligated businesses that bought packaged goods from your organisation then sold them on</li>
          <li>retailers that bought packaged goods to sell on and disregarded any packaging</li>
        </ul>

        {{ govukDetails({
          summaryText: "What are non-obligated businesses?",
          html: '
          <p>Non-obligated businesses are organisations that either:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>produce less than 25 tonnes of packaging waste a year </li>
            <li>have a turnover below £1 million </li>
          </ul>
          '
        }) }}

        <form method="POST" action="activities-nation-02">

          {{ govukRadios({
            name: "activityNation01",
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          
   
          {{govukButton({
              text: "Save and continue"
          })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}