{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>
        <h1 class="govuk-heading-l">Hiring or lending out reusable packaging</h1>

        <p>You've already told us that your organisation hired or lent out reusable packaging in 2022.</p>
        <p>You must include this packaging when you report your data by nation if it has not already been reported under current or previous packaging regulations.</p>
        <p>If this no longer correct, you can <a href="#">change your answers</a>.</p>

        <form method="POST" action="activities-nation-check-answers">
            
            {{govukButton({
                text: "Continue"
            })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}