{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 report by nation activities</span>
        <h1 class="govuk-heading-l">
          Did your organisation import packaged goods then dispose of any packaging before the goods were sold?
        </h1>

        <form method="POST" action="activities-nation-05">
            
          {{ govukRadios({
            name: "activityNation04",
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
            
          {{govukButton({
              text: "Save and continue"
          })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}