{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-l">2022 packaging activities</span>

        <h1 class="govuk-heading-l">
          Did your organisation use secondary or transit packaging to package goods it sold to other organisations?
        </h1>

        <p>This includes any secondary or transit packaging:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you added to goods before you sold them</li>
          <li>that the goods were already in which you reused when you sold them </li>
        </ul>

        <form method="POST" action="activities-nation-03">
            
          {{ govukRadios({
            name: "activityNation02",
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
            
          {{govukButton({
              text: "Save and continue"
          })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}