{% extends "layout.html" %}

{% block pageTitle %}
Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="activities-nation-check-answers">

            <div class="govuk-form-group">
                <span class="govuk-caption-l">2022 nation reporting</span>
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-7">
                        <h1 class="govuk-fieldset__heading">
                            Which materials did you use in packaging related to these activities?
                        </h1>
                    </legend>

                    <p class="govuk-body">Include materials used in these activities:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        {% if data['activityNation01a'] == 'yes' %}
                        <li>Packaging you've sold - Q1</li>
                        {% endif %}
                        {% if data['activityNation01b'] == 'yes' %}
                        <li>Packaging you've sold - Q2</li>
                        {% endif %}
                        {% if data['activityNation02b'] == 'yes' %}
                        <li>Secondary or transit packaging - Q2</li>
                        {% endif %}
                        {% if data['activityNation03a'] == 'yes' %}
                        <li>Imported packaging - Q1</li>
                        {% endif %}
                        {% if data['activityNation03b'] == 'yes' %}
                        <li>Imported packaging - Q2</li>
                        {% endif %}
                        {% if data['activityNation04'] == 'yes' %}
                        <li>Imported packaging - Q3</li>
                        {% endif %}
                        {% if data['activityNation05'] == 'yes' %}
                        <li>Packaging containing goods - Q1</li>
                        {% endif %}
                        {% if data['activityPrimary05'] == 'yes' or data['activitySecondary05'] == 'yes' or data['activityTransit05'] == 'yes' %}
                        <li>Packaging containing goods - Q1</li>
                        {% endif %}
                    </ul>

                    <div class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input1" name="materialsNation" type="checkbox" value="aluminium">
                            <label class="govuk-label govuk-checkboxes__label" for="input1">
                                Aluminium
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input2" name="materialsNation" type="checkbox" value="fibre">
                            <label class="govuk-label govuk-checkboxes__label" for="input2">
                                Fibre-based composite 
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input3" name="materialsNation" type="checkbox" value="glass">
                            <label class="govuk-label govuk-checkboxes__label" for="input3">
                                Glass
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input4" name="materialsNation" type="checkbox" value="paper">
                            <label class="govuk-label govuk-checkboxes__label" for="input4">
                                Paper
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input5" name="materialsNation" type="checkbox" value="plastic" >
                            <label class="govuk-label govuk-checkboxes__label" for="input5">
                                Plastic
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input6" name="materialsNation" type="checkbox" value="steel">
                            <label class="govuk-label govuk-checkboxes__label" for="input6">
                                Steel
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input7" name="materialsNation" type="checkbox" value="wood">
                            <label class="govuk-label govuk-checkboxes__label" for="input7">
                                Wood
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input8" name="materialsNation" type="checkbox" value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="input8">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>

        {% include "includes/save-and-exit.html" %}
        
    </div>
</div>

{% endblock %}