{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
Tell us about your packaging activities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="activities-primary-01">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-7">
                        <h1 class="govuk-fieldset__heading">
                            Which packaging materials did your organisation use in its primary packaging in 2022?
                        </h1>
                    </legend>

                    <div class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div id="materials-list"></div>

                    <script>
                        
                        const materials = [
                        "Aluminium Aerosols",
                        "Aluminium Closures",
                        "Aluminium Drink Cans",
                        "Aluminium Foil Containers",
                        "Aluminium Other",
                        "Aluminium Plain Foil",
                        "Aluminium Tubes",
                        "Amber Glass Bottles",
                        "Amber Glass Jars",
                        "Amber Glass Other",
                        "Amber non-beverage Bottles",
                        "Carbon Black HDPE Pots, Tubs and Trays",
                        "Carbon Black LDPE Pots, Tubs and Trays",
                        "Carbon Black Other Material Pots, Tubs and Trays",
                        "Carbon Black PE Pots, Tubs and Trays",
                        "Carbon Black PET Pots, Tubs and Trays",
                        "Carbon Black PP Pots, Tubs and Trays",
                        "Carbon Black PS Pots, Tubs and Trays",
                        "Carbon Black PVC Pots, Tubs and Trays",
                        "Clear Glass Bottles",
                        "Clear Glass Jars",
                        "Clear Glass Other",
                        "Clear Mono Material HDPE Flexible Films",
                        "Clear non-beverage Bottles",
                        "Clear PET Rigid Bottles",
                        "Coloured HDPE Rigid Bottles",
                        "Coloured Mono Material HDPE Flexible Films",
                        "Coloured PET Rigid Bottles",
                        "Flexible Compostible Plastic",
                        "Green Glass Bottles",
                        "Green Glass Jars",
                        "Green Glass Other",
                        "Green non-beverage Bottles",
                        "HDPE Pots, Tubs and Trays",
                        "LDPE Pots, Tubs and Trays",
                        "Metalised Laminate PP Flexible Films",
                        "Misc Pots, Tubs and Trays",
                        "Miscellaneous HDPE Item",
                        "Miscellaneous LDPE Item",
                        "Miscellaneous PE Item",
                        "Miscellaneous PET Item",
                        "Miscellaneous PP Item",
                        "Miscellaneous PS Item",
                        "Miscellaneous PVC Item",
                        "Mono Material HDPE Flexible Films",
                        "Mono Material HDPE Flexible Films",
                        "Mono Material LDPE Flexible Films",
                        "Mono Material PET Flexible Films",
                        "Mono Material PP Flexible Films",
                        "Paper/Card Carton and other board",
                        "Paper/Card Corrugated",
                        "Paper/Card Liquid beverage Carton",
                        "Paper/Card Other",
                        "PE Pots, Tubs and Trays",
                        "PE Rigid Bottles",
                        "PE/PA Laminate Flexible Films",
                        "PE/PP Laminate Flexible Films",
                        "PET Pots, Tubs and Trays",
                        "PET Pots, Tubs and Trays",
                        "PET/PE Laminate Flexible Films",
                        "PET/PE Laminate Flexible Films",
                        "PET/PP Flexible Films",
                        "PP Pots, Tubs and Trays",
                        "PP Rigid Bottles",
                        "PS Pots, Tubs and Trays",
                        "PVC Pots, Tubs and Trays",
                        "PVdC Coated PP Flexible Films",
                        "Rigid Compostible Plastic",
                        "Steel Aerosols",
                        "Steel Closures",
                        "Steel Drinks Can",
                        "Steel Food Can",
                        "Steel Other",
                        "Steel Other container",
                        "Wooden Box",
                        "Wooden Case",
                        "Wooden Other",
                        "Wooden Tray"
                        ];
                        let fLen = materials.length;

                        let text = '<div class="govuk-checkboxes">';
                        

                        for (let i = 0; i < fLen; i++) {
                            text += '<div class="govuk-checkboxes__item">';
                            text += '<input class="govuk-checkboxes__input" id="input'+ [i] +'" name="materialsPrimary" type="checkbox" value="' + materials[i] + '">';
                            text += '<label class="govuk-label govuk-checkboxes__label" for="input'+ [i] +'" style="text-transform: capitalize;">' + materials[i] + '</label>';
                            text += '</div>';
                        }

                        text += '</div>';

                        document.getElementById("materials-list").innerHTML = text;

                    </script>

                    {#
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input1" name="materialsPrimary" type="checkbox" value="aluminium">
                            <label class="govuk-label govuk-checkboxes__label" for="input1">
                                Aluminium
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input2" name="materialsPrimary" type="checkbox" value="fibre">
                            <label class="govuk-label govuk-checkboxes__label" for="input2">
                                Fibre-based composite 
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input3" name="materialsPrimary" type="checkbox" value="glass">
                            <label class="govuk-label govuk-checkboxes__label" for="input3">
                                Glass
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input4" name="materialsPrimary" type="checkbox" value="paper">
                            <label class="govuk-label govuk-checkboxes__label" for="input4">
                                Paper
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input5" name="materialsPrimary" type="checkbox" value="plastic" >
                            <label class="govuk-label govuk-checkboxes__label" for="input5">
                                Plastic
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input6" name="materialsPrimary" type="checkbox" value="steel">
                            <label class="govuk-label govuk-checkboxes__label" for="input6">
                                Steel
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input7" name="materialsPrimary" type="checkbox" value="wood">
                            <label class="govuk-label govuk-checkboxes__label" for="input7">
                                Wood
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input8" name="materialsPrimary" type="checkbox" value="other">
                            <label class="govuk-label govuk-checkboxes__label" for="input8">
                                Other
                            </label>
                        </div>
                    </div>
                    #}


                </fieldset>
            </div>

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>

        {% include "includes/save-and-exit.html" %}
        
    </div>
</div>

{% endblock %}