{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {% if data['methodSelection'] == 'manually' %}

            <span class="govuk-caption-l">Manual reporting</span>
            <h1 class="govuk-heading-l">
                What happens next 
            </h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus, arcu nec pulvinar vulputate, purus eros tristique lectus.</p>

            <p>Nullam elit felis, imperdiet at nibh eget, pharetra vehicula eros. Nullam ut orci diam. Morbi ut facilisis diam.</p>
            
            <form method="POST" action="home?nextSteps=yes">
                <button class="govuk-button">
                    Save and continue
                </button>
            </form>

        {% elif data['methodSelection'] == 'spreadsheet' %}

            <span class="govuk-caption-l">
                Spreadsheet reporting
            </span>
            <h1 class="govuk-heading-l">
                Prepare your spreadsheet 
            </h1>
    
            <h2 class="govuk-heading-m">
                Step 1: Download our spreadsheet
            </h2>
            <p>
                <a href="/public/files/2022_packaging_data.csv" download >Download the packaging data spreadsheet</a> (CSV, 400MB).
            </p>
    
            <h2 class="govuk-heading-m">
                Step 2: Enter your data
            </h2>
            <p>
                Enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.
            </p>
            <p>
                Do not include any materials that are less than 500kg. 
            </p>
    
            <h2 class="govuk-heading-m">
                Step 3: Return and upload your spreadsheet by 7 April 2023.
            </h2>

            <form method="POST" action="home?nextSteps=yes">
                <button class="govuk-button">
                    Save and continue
                </button>
            </form>

        {% elif data['methodSelection'] == 'api' %}

            <!-- <span class="govuk-caption-l">API reporting</span> -->
            <h1 class="govuk-heading-l">
                You need to connect your software program to this service 
            </h1>

            <p>You should share the <a href="https://developer-portal.trade.defra.gov.uk/explore-apis/export-health-certificates" target="_blank">API technical documentation (opens in a new tab)</a> with the person who is going to connect your software program with the API.</p>
            
            <p>It can take a while to connect via an API, so make sure there’s enough time to do this before your reporting deadline.</p>

            <p>Once the API connection has been completed, you'll receive email confirmation from Defra. Your software program will tell you when you need to submit your packaging data.</p>
            
            <form method="POST" action="home?nextSteps=yes">
                <button class="govuk-button">
                    Save and continue
                </button>
            </form>

        {% endif %}
        
    </div>
</div>

{% endblock %}