{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
Packaging data you must report | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      <h1 class="govuk-heading-l">
        Packaging data you'll need to report for 2022
      </h1>

      {% if data['packagingPrimary'] == 'yes' %}

        <h2 class="govuk-heading-m">Primary packaging</h2>

        <p>For each of the following activities, you’ll need to tell us how many tonnes of {{ data['materialsPrimary'] | escape | replace(",", ",&nbsp;") }} your organisation used during 2022 in:</p>

        <ul class="govuk-list govuk-list--bullet">

          {% if data['activityPrimary01a'] == 'yes' %}
            <li>primary packaging you packed and supplied your own brand goods in within the UK</li>
          {% endif %}

          {% if data['activityPrimary01b'] == 'yes' %}
            <li>primary packaging another organisation packed and supplied your own brand goods in within the UK</li>
          {% endif %}

          {% if data['activityPrimary02'] == 'yes' %}
            <li>primary packaging containing goods that you imported into the UK to sell</li>
          {% endif %}

          {% if data['activityPrimary03'] == 'yes' %}
            <li>empty primary packaging you sold to non-obligated producers</li>
          {% endif %}

          {% if data['activityPrimary04'] == 'yes' %}
            <li>primary packaging containing goods that non-UK businesses sold in the UK using your online marketplace</li>
          {% endif %}

          {% if data['activityPrimary05'] == 'yes' %}
            <li>reusable primary packaging you hired or lent out to UK-based organisations (if it has not been reported under current or previous packaging regulations)</li>
          {% endif %}

        </ul>

      {% endif %}

      

      {% if data['packagingSecondary'] == 'yes' %}

        <h2 class="govuk-heading-m">Secondary packaging</h2>

        <p>For each of the following activities, you’ll need to tell us how many tonnes of {{ data['materialsSecondary'] | escape | replace(",", ",&nbsp;") }} your organisation used during 2022 in: </p>

        <ul class="govuk-list govuk-list--bullet">

          {% if data['activitySecondary01a'] == 'yes' %}
            <li>secondary packaging you added to your own brand goods that you supplied in the UK</li>
          {% endif %}

          {% if data['activitySecondary01b'] == 'yes' %}
            <li>secondary packaging another organisation added to your own brand goods that it supplied in the UK</li>
          {% endif %}

          {% if data['activitySecondary02'] == 'yes' %}
            <li>secondary packaging containing goods that you imported into the UK to sell</li>
          {% endif %}

          {% if data['activitySecondary03'] == 'yes' %}
            <li>empty secondary packaging that you sold to non-obligated producers</li>
          {% endif %}

          {% if data['activitySecondary04'] == 'yes' %}
            <li>secondary packaging containing goods that non-UK businesses sold in the UK using your online marketplace</li>
          {% endif %}

          {% if data['activitySecondary05'] == 'yes' %}
            <li>reusable secondary packaging you hired or lent out to UK-based organisations (if it has not been reported under current or previous packaging regulations)</li>
          {% endif %}

        </ul>

      {% endif %}



      {% if data['packagingTransit'] == 'yes' %}

        <h2 class="govuk-heading-m">Transit packaging</h2>

        <p>For each of the following activities, you’ll need to tell us how many tonnes of {{ data['materialsTransit'] | escape | replace(",", ",&nbsp;") }} your organisation used during 2022 in: </p>

        <ul class="govuk-list govuk-list--bullet">
          {% if data['activityTransit01'] == 'yes' %}
            <li>transit packaging you used to transport goods that you supplied in the UK</li>
          {% endif %}

          {% if data['activityTransit02'] == 'yes' %}
            <li>transit packaging containing goods that you imported into the UK to sell</li>
          {% endif %}

          {% if data['activityTransit03'] == 'yes' %}
            <li>empty transit packaging that you sold to non-obligated producers</li>
          {% endif %}

          {% if data['activityTransit04'] == 'yes' %}
            <li>transit packaging containing goods that non-UK businesses sold in the UK using your online marketplace</li>
          {% endif %}

          {% if data['activityTransit05'] == 'yes' %}
            <li>reusable transit packaging you hired or lent out to UK-based organisations (if it has not been reported under current or previous packaging regulations)</li>
          {% endif %}
        </ul>

      {% endif %}

      {% if data['nationData'] == 'yes' %}

        <h2 class="govuk-heading-m">Packaged goods your organisation sold in 2022</h2>

        <p>For each of the following activities, you’ll need to tell us the combined total tonnage of {{ data['materialsNation'] | escape | replace(",", ",&nbsp;") }} your organisation used per nation during 2022 in: </p>

        <ul class="govuk-list govuk-list--bullet">

          <li>empty packaging or packaging containing goods that you sold to end consumers within the UK</li>

          {% if data['activityNation02'] == 'yes' %}
            <li>secondary or transit packaging you used to package goods you sold to other organisations</li>
          {% endif %}

          {% if data['activityNation03'] == 'yes' %}
            <li>empty packaging or packaging containing goods that you imported to sell directly to end consumers within the UK</li>
          {% endif %}

          {% if data['activityNation04'] == 'yes' %}
            <li>empty packaging or packaging containing goods that you imported goods in, then disposed of before the goods were sold</li>
          {% endif %}

          {% if data['activityNation05'] == 'yes' %}
            <li>packaging containing goods that businesses used your website or app to sell to end consumers within the UK</li>
          {% endif %}

          {% if data['activityPrimary05'] == 'yes' %}
            <li>packaging you hired or lent out (if it has not been reported under current or previous packaging regulations)</li>
          {% endif %}

        </ul>
     
      {% endif %}

      <h2 class="govuk-heading-m">When to report your packaging data </h2>

      <p>You’ll need to report your organisation’s packaging data once a year. You can do this in the ‘report your packaging data’ section of this service.</p>

      <p>You must report data for 2022 by 7 April 2023. We’ll send you an email to remind you nearer the time.</p>

     

      <form method="POST" action="home?introObligations=yes">
          <button class="govuk-button">
              Continue
          </button>
      </form>
        
    </div>
</div>

{% endblock %}