{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
Introduction to the packaging categories | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">Packaging categories</h1>

        <p>As part of the EPR regulations, you’ll need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>tell us which packaging activities you carried out</li>
          <li>submit packaging data based on your packaging activities</li>
        </ul>

        <p>We’ll ask you about your activities for each packaging category so that we can let you know what data to prepare.</p>

        <h2 class="govuk-heading-m">Packaging definitions and examples</h2>

        <h3 class="govuk-heading-s">Primary packaging</h3>
        <p>Primary packaging is what goods are contained in when sold to the end consumer. It’s sometimes called a ‘sales unit’.</p>
        <span style="width: 240px; height: 240px; display: block; float:left; margin-right: 30px;"><img src="/public/images/primary-packaging-illustration_640x640.jpg" width="240" height="240" alt="A steel tin of peas with a paper label."></span>
        <p class="govuk-body-s"><strong>Example:</strong><br>Peas are placed into steel tins that have paper labels. The peas are sold to end consumers in these tins.</p>
        <p class="govuk-body-s"><strong>Primary packaging used:</strong><br>steel tin and paper label.</p>
        <hr style="clear: both; background-color: #FFFFFF; border: #FFFFFF; margin-bottom: 30px;">
        <h3 class="govuk-heading-s">Secondary packaging</h3>
        <p>Secondary packaging is used to group a number of ‘sales units’. Organisations sometimes use it to display goods in shops or sell it to the end consumer along with the goods it contains.</p>
        <span style="width: 240px; height: 240px; display: block; float:left; margin-right: 30px;"><img src="/public/images/secondary-packaging-illustration_640x640.jpg" width="240" height="240" alt="A large cardboard box containing multiple tins of peas."></span>
        <p class="govuk-body-s"><strong>Example:</strong><br>Multiple tins of peas are/the primary packaging is placed into cardboard boxes. These cardboard boxes are sold to retail organisations.</p>
        <p class="govuk-body-s"><strong>Secondary packaging used:</strong><br>cardboard box.</p>
        <hr style="clear: both; background-color: #FFFFFF; border: #FFFFFF; margin-bottom: 30px;">
        <h3 class="govuk-heading-s">Transit packaging</h3>
        <p>Transit packaging is what sales units or goods grouped in secondary packaging are contained in while they’re being transported or handled. It’s used to prevent damage to the goods.</p>
        <p>Transit packaging does not include road, rail, ship and air containers.</p>
        <span style="width: 240px; height: 240px; display: block; float:left; margin-right: 30px;"><img src="/public/images/transit-packaging-illustration_640x640.jpg" width="240" height="240" alt="A shrink-wrapped wooden pallet containing multiple cardboard boxes filled with tins of peas."></span>
        <p class="govuk-body-s"><strong>Example:</strong><br>The secondary packaging is placed into larger cardboard boxes that are sealed with parcel tape. These boxes are then put onto wooden pallets before they're transported.</p>
        <p class="govuk-body-s"><strong>Transit packaging used:</strong><br>cardboard box, parcel tape and wooden pallet.</p>
        <hr style="clear: both; background-color: #FFFFFF; border: #FFFFFF; margin-bottom: 30px;">

      
        <form method="POST" action="home?packagingIntro=yes">
          
          {{govukButton({
              text: "Continue"
          })}}

        </form>

        {% include "includes/save-and-exit.html" %}

    </div>
</div>

{% endblock %}