{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    You have paid your registration fee | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application submitted",
        html: "Your reference number<br />0038173"
      }) }}

      <p>We’ve sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We’ve sent your application to the Environment Agency, so that they can review your details and check your payment.</p>
      <p>They’ll email you when there’s an update with your application.</p>

      <form method="POST" action="home">

          {{govukButton({
              text: "Finish"
          })}}

      </form>
        
    </div>
</div>

{% endblock %}