{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Check your application details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>


        <h2 class="govuk-heading-m">Your contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['defraIdFirstName'] or defaults['defraIdFirstName'] }} {{ data['defraIdSurname'] or defaults['defraIdSurname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['defraIdPersonalPhone'] or defaults['defraIdPersonalPhone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['govGateEmail'] or defaults['govGateEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

        </dl>



        <h2 class="govuk-heading-m">Acme Org Ltd's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Acme Org Ltd
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          
          <div class="govuk-summary-list__row govuk-summary-list--no-border">
            <dt class="govuk-summary-list__key">
              {% if data['isCompany'] == 'no' %}
                Address
              {% else %}
                Registered office address
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

          {% if data['isCompany'] != 'no' %}

            <div class="govuk-summary-list__row govuk-summary-list--no-border">
              <dt class="govuk-summary-list__key">
                Companies House number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['defraIdCompaniesHouseNumber'] or defaults['defraIdCompaniesHouseNumber'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                SIC code
              </dt>
              <dd class="govuk-summary-list__value">
                10612: Manufacture of breakfast cereals and cereals-based foods
              </dd>
              <dd class="govuk-summary-list__actions">
                
              </dd>
            </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['defraIdCompanyPhone'] or defaults['defraIdCompanyPhone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">Change</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['defraIdCompanyEmail'] or defaults['defraIdCompanyEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">Change</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nation
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgNation'] or defaults['orgNation'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">Change</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Online marketplace
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgOnlineMarketplace'] or defaults['orgOnlineMarketplace'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">Change</a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Turnover
            </dt>
            <dd class="govuk-summary-list__value">
              &pound;{{ data['orgTurnover'] or defaults['orgTurnover'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">Change</a>
            </dd>
          </div>

        </dl>



        {% if data['auditChoice'] == 'no' %}

        <h2 class="govuk-heading-m">Acme Org Ltd's audit address</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Audit address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['auditAddress1'] }}, 
              {{ data['auditAddress2'] }}, 
              {{ data['auditAddress3'] }},
              {{ data['auditAddress4'] }}, 
              {{ data['auditTown'] }}, 
              {{ data['auditPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

        </dl>

        {% endif %}



        {% if data['correspondenceChoice'] == 'no1' or data['correspondenceChoice'] == 'no2' %}

        <h2 class="govuk-heading-m">Acme Org Ltd's correspondence details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['correspondenceAddress1'] or defaults['correspondenceAddress1'] }}, 
              {{ data['correspondenceAddress2']  or defaults['correspondenceAddress2']}}, 
              {{ data['correspondenceAddress3'] }}, 
              {{ data['correspondenceAddressTown'] or defaults['correspondenceAddressTown'] }}, 
              {{ data['correspondenceAddressCounty'] }}, 
              {{ data['correspondenceAddressPostcode'] or defaults['correspondenceAddressPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['correspondencePhone'] or defaults['correspondencePhone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['correspondenceEmail'] or defaults['correspondenceEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

        </dl>

        {% endif %}

        

        {% if data['sub1'] == '1' %}

        <h2 class="govuk-heading-m">Subsidiary details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidiary 1
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub1CompanyName'] or defaults['sub1CompanyName'] }} (01234567)<br />
              11 Long Lane, Leeds, West Yorkshire, LS1 2AB<br />
              {{ data['sub1CompanyPhone'] or defaults['sub1CompanyPhone'] }}<br />
              {{ data['sub1CompanyEmail'] or defaults['sub1CompanyEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="registration-subsidiaries-add">
                Change
              </a>
            </dd>
          </div>

          {% if data['sub2'] == '1' %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidiary 2
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub2CompanyName'] or defaults['sub2CompanyName'] }} (01234568)<br />
                Unit 12, Smith Street, Newcastle, N23 4RE<br />
                {{ data['sub2CompanyPhone'] or defaults['sub2CompanyPhone'] }}<br />
                {{ data['sub2CompanyEmail'] or defaults['sub2CompanyEmail'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="registration-subsidiaries-add">
                Change
              </a>
            </dd>
          </div>
          
          {% endif %}

        </dl>

        {% endif %}


        
        <form method="POST" action="registration-complete">

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>

        
    </div>
</div>

{% endblock %}