{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <!-- Radio button routing in /epr/vN/_routes.js -->
        <form method="POST" action="registration-subsidiaries-add-companies-house-confirm">

            <span class="govuk-caption-xl govuk-!-margin-top-4">Add a subsidiary</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Enter the subsidiary’s company number</h1>

            <p>You can find the company number by searching for the subsidiary on the <a href="https://find-and-update.company-information.service.gov.uk/" target="_blank">Companies House register (opens in new window or tab)</a>.</p>

            {{ govukInput({
              label: {
                text: "Company number"
              },
              classes: "govuk-input--width-10",
              name: "sub1CompaniesHouseNumber"
            }) }}
      
            {{ govukDetails({
              summaryText: "I cannot find the subsidiary on the Companies House register",
              html: '
              <p>If you’ve recently registered the subsidiary, it can take up to 24 hours for its information to show on the register. You should try again later.</p>
              '
            }) }}
      
            {{ govukButton({
              text: "Continue"
            }) }}
      
          </form>
        
    </div>
</div>

{% endblock %}