{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
            Does your organisation own an online marketplace that non-UK businesses can use to sell products in the UK?
        </h1>

        {{ govukDetails({
            summaryText: "What’s an online marketplace?",
            html: '
            <p>An online marketplace is a platform that allows you to sell goods on behalf of a third party over the internet. For example, eBay and Etsy.</p>
            <p>If your organisation has a company website that only sells its own goods, then this is not an online marketplace.</p>
            '
        }) }}

        <!-- Radio button routing in /epr/vN/_routes.js -->
        <form method="POST" action="registration-org-turnover">

            {{ govukRadios({
                name: "orgOnlineMarketplace",
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
            }) }}

            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}