{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Correspondence details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="registration-subsidiaries?lastVisitedURL={{currentURL}}">

            {% call govukFieldset({
                legend: {
                text: "Enter your organisation's correspondence contact details",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
                }
            }) %}
            
                {{ govukInput({
                    label: {
                        text: 'Phone number'
                    },
                    classes: "govuk-!-width-two-thirds",
                    name: "correspondencePhone"
                }) }}
            
                {{ govukInput({
                    label: {
                        text: 'Email address'
                    },
                    classes: "govuk-!-width-two-thirds",
                    name: "correspondenceEmail"
                }) }}
            
            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}