{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Audit address | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}

      {% if data['isCompany'] == 'no' %}
        <h1 class="govuk-heading-l">Does your organisation keep its packaging data at its main address?</h1>
      {% else %}
        <h1 class="govuk-heading-l">Does your organisation keep its packaging data at its registered office address?</h1>
      {% endif %}
      
      <p>
        We need to know the best place to carry out an audit. 
      </p>

      <!-- Radio button routing in /vN/epr/_routes.js -->
      <form method="POST" action="route-check-org-audit?lastVisitedURL={{currentURL}}">

        {{ govukRadios({
          name: "auditChoice",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{govukButton({
            text: "Save and continue"
        })}}

        {% include "includes/save-and-exit.html" %}

      </form>

    </div>
</div>

{% endblock %}