{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Nation of registration | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="registration-check-org-audit?lastVisitedURL={{currentURL}}">

          {% if data['isCompany'] == 'no' %}
            <h1 class="govuk-heading-l">Where is Acme Org Ltd based?</h1>
          {% else %}
            <h1 class="govuk-heading-l">Where is Acme Org Ltd registered?</h1>
          {% endif %}

            {{ govukRadios({
              name: "orgNation",
              items: [
                {
                  value: "England",
                  text: "England"
                },
                {
                  value: "Northern Ireland",
                  text: "Northern Ireland"
                },
                {
                  value: "Scotland",
                  text: "Scotland"
                },
                {
                  value: "Wales",
                  text: "Wales"
                }
              ]
            }) }}
            
            {{govukButton({
                text: "Save and continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}