{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Companies House | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Update your organisation’s registered company details
        </h1>

        <p>You can update the following details with Companies House:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>company name</li>
          <li>registered office address</li>
          <li>SIC code</li>
        </ul>

        <p>Once the organisation’s details are up to date on the Companies House register, you can return and continue with your application. We’ll save the answers you’ve entered so far.</p>

        <a href="https://www.gov.uk/make-changes-to-your-limited-company" class="govuk-button">Continue to Companies House</a>
        
    </div>
</div>

{% endblock %}