{% extends "layout.html" %}

{% block pageTitle %}
Report your organisation's packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Report your organisation's primary packaging for 2022
        </h1>

        <p>
          Primary packaging is what goods are contained in when sold to the end consumer. It’s sometimes called a ‘sales unit’.
        </p>

        {{ govukDetails({
          summaryText: "View examples of primary packaging",
          html: '
          <p><strong>Example A</strong></p>
          <p>A crisp manufacturer sells large cardboard boxes containing individual packets of crisps to a supermarket. The supermarket sells the packets of crisps individually.</p>
          <p>The primary packaging is each individual crisp packet.</p>
          <p><strong>Example B</strong></p>
          <p>A crisp manufacturer sells large cardboard boxes containing individual packets of crisps to a wholesaler. The wholesaler sells full boxes of individual packets of crisps.</p>
          <p>The primary packaging is the cardboard boxes and the individual crisp packets.</p>
          '
        }) }}

        <form method="POST" action="route-reporting-primary">
            
            {{govukButton({
                text: "Continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}