{% extends "layout.html" %}

{% block pageTitle %}
Report your organisation's packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Report your organisation's secondary packaging for 2022
        </h1>

        <p>Secondary packaging is used to group a number of ‘sales units’. Organisations sometimes use it to display goods in shops or sell it to the end consumer along with the goods it contains.</p>

        {{ govukDetails({
          summaryText: "View examples of secondary packaging",
          html: '
          <p><strong>Example A</strong></p>
          <p>An organisation sells individually boxed ink cartridges, grouped in a cardboard tray covered in plastic wrap, to a retail organisation.</p>
          <p>The retail organisation removes the plastic wrap, disposes of it and displays the ink cartridges on shelves in the cardboard trays. It sells the ink cartridges individually.</p>
          <p>The secondary packaging is the cardboard trays and the plastic wrap.</p>
          <p><strong>Example B - not secondary packaging</strong></p>
          <p>An organisation sells individually boxed ink cartridges, grouped in a cardboard tray covered in plastic wrap, to an end consumer.</p>
          <p>In this example, the cardboard tray and plastic wrap are primary packaging, because they’re sold to the end consumer as part of the sales unit.</p>
          '
        }) }}

        <form method="POST" action="route-reporting-secondary">
            
            {{govukButton({
                text: "Continue"
            })}}

            {% include "includes/save-and-exit.html" %}

        </form>

    </div>
</div>

{% endblock %}