{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Upload your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "The selected file must be smaller than 25MB",
                href: "#spreadsheet-upload"
                }
            ]
        }) }}

        <h1 class="govuk-heading-l">
            Upload your packaging data spreadsheet
        </h1>

        <form method="POST" action="report-spreadsheet-check">

            <div class="govuk-form-group govuk-form-group--error" id="spreadsheet-upload">

                <label class="govuk-label" for="file">Upload a file</label>

                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> The selected file must be smaller than 25MB
                </span>

                <input type="file" name="file" class="govuk-file-upload govuk-input--error">

            </div>

            {{govukButton({
                text: "Upload"
            })}}
            
        </form>

    </div>
</div>

{% endblock %}