{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="report-check-details">

            <span class="govuk-caption-l">2022 packaging data</span>

            {% call govukFieldset({
            legend: {
                text: "How much packaging materials did you sell per UK nation?",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            <p class="govuk-hint">You must enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.</p>
            <p class="govuk-hint">Do not include any materials that are less than 500kg.</p>



            <h2 class="govuk-heading-m">England</h2>

                {% if 'aluminium' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumSellerEngland01",
                        name: "aluminiumSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreSellerEngland01",
                        name: "fibreSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassSellerEngland01",
                        name: "glassSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperSellerEngland01",
                        name: "paperSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticSellerEngland01",
                        name: "plasticSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelSellerEngland01",
                        name: "steelSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodSellerEngland01",
                        name: "woodSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherSellerEngland01",
                        name: "otherSellerEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}


                <h2 class="govuk-heading-m">Scotland</h2>

                {% if 'aluminium' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumSellerScotland01",
                        name: "aluminiumSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreSellerScotland01",
                        name: "fibreSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassSellerScotland01",
                        name: "glassSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperSellerScotland01",
                        name: "paperSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticSellerScotland01",
                        name: "plasticSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelSellerScotland01",
                        name: "steelSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodSellerScotland01",
                        name: "woodSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherSellerScotland01",
                        name: "otherSellerScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}


                <h2 class="govuk-heading-m">Wales</h2>

                {% if 'aluminium' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumSellerWales01",
                        name: "aluminiumSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreSellerWales01",
                        name: "fibreSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassSellerWales01",
                        name: "glassSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperSellerWales01",
                        name: "paperSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticSellerWales01",
                        name: "plasticSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelSellerWales01",
                        name: "steelSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodSellerWales01",
                        name: "woodSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherSellerWales01",
                        name: "otherSellerWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}


                <h2 class="govuk-heading-m">Northern Ireland</h2>

                {% if 'aluminium' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumSellerNi01",
                        name: "aluminiumSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreSellerNi01",
                        name: "fibreSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassSellerNi01",
                        name: "glassSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperSellerNi01",
                        name: "paperSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticSellerNi01",
                        name: "plasticSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelSellerNi01",
                        name: "steelSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodSellerNi01",
                        name: "woodSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsSeller'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherSellerNi01",
                        name: "otherSellerNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}



            {% endcall %}

            {{govukButton({
                text: "Continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}