{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="report-check-details">

            <span class="govuk-caption-l">2022 packaging data</span>

            {% call govukFieldset({
            legend: {
                text: "How many tonnes of each material was used to package goods your organisation sold per nation?",
                classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
            }
            }) %}

            <p class="govuk-hint">You must enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.</p>
            <p class="govuk-hint">Do not include any materials that are less than 500kg.</p>

            <h2 class="govuk-heading-m govuk-!-margin-top-4">England</h2>

                {% if 'aluminium' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumNationEngland01",
                        name: "aluminiumNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreNationEngland01",
                        name: "fibreNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassNationEngland01",
                        name: "glassNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperNationEngland01",
                        name: "paperNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticNationEngland01",
                        name: "plasticNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelNationEngland01",
                        name: "steelNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodNationEngland01",
                        name: "woodNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherNationEngland01",
                        name: "otherNationEngland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-m">Scotland</h2>

                {% if 'aluminium' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumNationScotland01",
                        name: "aluminiumNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreNationScotland01",
                        name: "fibreNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassNationScotland01",
                        name: "glassNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperNationScotland01",
                        name: "paperNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticNationScotland01",
                        name: "plasticNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelNationScotland01",
                        name: "steelNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodNationScotland01",
                        name: "woodNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherNationScotland01",
                        name: "otherNationScotland01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-m">Wales</h2>

                {% if 'aluminium' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumNationWales01",
                        name: "aluminiumNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreNationWales01",
                        name: "fibreNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassNationWales01",
                        name: "glassNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperNationWales01",
                        name: "paperNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticNationWales01",
                        name: "plasticNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelNationWales01",
                        name: "steelNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodNationWales01",
                        name: "woodNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherNationWales01",
                        name: "otherNationWales01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <h2 class="govuk-heading-m">Northern Ireland</h2>

                {% if 'aluminium' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumNationNi01",
                        name: "aluminiumNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreNationNi01",
                        name: "fibreNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassNationNi01",
                        name: "glassNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperNationNi01",
                        name: "paperNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticNationNi01",
                        name: "plasticNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelNationNi01",
                        name: "steelNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodNationNi01",
                        name: "woodNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsNation'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherNationNi01",
                        name: "otherNationNi01",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

            {% endcall %}

            <div class="govuk-!-padding-top-6">
                {{govukButton({
                    text: "Continue"
                })}}
            </div>

        </form>
        
    </div>
</div>

{% endblock %}