{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="route-reporting-primary-05">

            <span class="govuk-caption-l">2022 data</span>

            {% call govukFieldset({
            legend: {
                text: "How much reusable primary packaging did you hire or lend out to UK-based organisations?",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            {{ govukWarningText({
                text: "Only include packaging that has not been reported under current or previous packaging regulations.",
                iconFallbackText: "Warning"
            }) }}

            <p class="govuk-hint">You must enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.</p>
            <p class="govuk-hint">Do not include any materials that are less than 500kg.</p>



                {% if 'aluminium' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumPrimary05",
                        name: "aluminiumPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibrePrimary05",
                        name: "fibrePrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassPrimary05",
                        name: "glassPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperPrimary05",
                        name: "paperPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticPrimary05",
                        name: "plasticPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelPrimary05",
                        name: "steelPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodPrimary05",
                        name: "woodPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsPrimary'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherPrimary05",
                        name: "otherPrimary05",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}