{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
Upload your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Have you checked that the data in this file is correct?
      </h1>

      <p>
        You’re about to upload ‘2022_packaging_data.csv’. 
      </p>

      <!-- Radio button routing in /vN/epr/_routes.js -->
      <form method="POST" action="route-report-spreadsheet-check">

        {{ govukRadios({
          name: "spreadsheetChoice",
          items: [
            {
              value: "yes",
              text: "Yes, upload this file"
            },
            {
              value: "no",
              text: "No, I’ll review it and upload later"
            }
          ]
        }) }}

        {{govukButton({
            text: "Continue"
        })}}

      </form>

    </div>
</div>

{% endblock %}