{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Upload your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "report-spreadsheet"
        }) }}

        <h1 class="govuk-heading-l">
          Sorry, your file has not uploaded
        </h1>

        <p>
          There is a problem with the service. Try again later. 
        </p>
        
    </div>
</div>

{% endblock %}