{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="route-reporting-transit-03">

            <span class="govuk-caption-l">2022 packaging data</span>

            {% call govukFieldset({
            legend: {
                text: "How much empty transit packaging did you sell to non-obligated producers?",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            {{ govukDetails({
                summaryText: "What's a non-obligated producer?",
                html: '
                <p>Non-obligated businesses are organisations that either:</p>
                <ul>
                    <li>produce less than 25 tonnes of packaging waste a year</li>
                    <li>have a turnover below £1 million </li>
                </ul>
                '
              }) }}

            <p class="govuk-hint">You must enter your packaging data in whole tonnes. Round any decimals to the nearest whole number.</p>
            <p class="govuk-hint">Do not include any materials that are less than 500kg.</p>



                {% if 'aluminium' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumTransit03",
                        name: "aluminiumTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'fibre' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Fibre-based composite"
                        },
                        classes: "govuk-input--width-5",
                        id: "fibreTransit03",
                        name: "fibreTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'glass' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassTransit03",
                        name: "glassTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'paper' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperTransit03",
                        name: "paperTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'plastic' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticTransit03",
                        name: "plasticTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'steel' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelTransit03",
                        name: "steelTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'wood' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodTransit03",
                        name: "woodTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

                {% if 'other' in data['materialsTransit'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherTransit03",
                        name: "otherTransit03",
                        type: "number",
                        inputmode: "numeric",
                        suffix: {
                            text: "tonnes"
                        }
                    }) }}

                {% endif %}

            {% endcall %}

            {{govukButton({
                text: "Save and continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}