{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Check your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Are you sure you want to remove this material?</h1>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Material
                </dt>
                <dt class="govuk-summary-list__key">
                    Tonnes
                </dt>
            </div>


            <!-- Brand Owner (type 1) -->

            {% if data['remove'] == 'aluminiumBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Aluminium
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['aluminiumBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'fibreBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Fibre-based composite
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['fibreBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'glassBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Glass
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['glassBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'paperBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Paper
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['paperBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'plasticBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Plastic
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['plasticBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'steelBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Steel
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['steelBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'woodBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Wood
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['woodBrandowner'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'otherBrandowner' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Other
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['otherBrandowner'] }}
                    </dd>
                </div>
            {% endif %}


            
            <!-- Importer (type 2) -->

            {% if data['remove'] == 'aluminiumImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Aluminium
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['aluminiumImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'fibreImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Fibre-based composite
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['fibreImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'glassImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Glass
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['glassImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'paperImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Paper
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['paperImporter'] }}
                    </dd>
            </div>
            {% endif %}

            {% if data['remove'] == 'plasticImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Plastic
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['plasticImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'steelImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Steel
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['steelImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'woodImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Wood
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['woodImporter'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'otherImporter' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Other
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['otherImporter'] }}
                    </dd>
                </div>
            {% endif %}



            <!-- Distributor (type 3) -->

            {% if data['remove'] == 'aluminiumDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Aluminium
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['aluminiumDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'fibreDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Fibre-based composite
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['fibreDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'glassDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Glass
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['glassDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'paperDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Paper
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['paperDistributor'] }}
                    </dd>
            </div>
            {% endif %}

            {% if data['remove'] == 'plasticDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Plastic
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['plasticDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'steelDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Steel
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['steelDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'woodDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Wood
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['woodDistributor'] }}
                    </dd>
                </div>
            {% endif %}

            {% if data['remove'] == 'otherDistributor' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        Other
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['otherDistributor'] }}
                    </dd>
                </div>
            {% endif %}

        </dl>

        <form method="POST" action="route-resubmit-remove-material">

            {{ govukRadios({
              name: "removeChoiceMaterial",
              items: [
                {
                  value: "yes",
                  text: "Yes, remove this material now"
                },
                {
                  value: "no",
                  text: "No, do not remove this material"
                }
              ]
            }) }}
    
            {{govukButton({
                text: "Save and continue"
            })}}
    
        </form>
        
    </div>
</div>

{% endblock %}