{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
Upload your packaging data | {{serviceName}} prototype
{% endblock %}

{% block content %}

  <script language="javascript" type="text/javascript">
    window.setTimeout('location.replace("report-spreadsheet-complete")',5000);
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l spinner-text">
        Uploading your spreadsheet.
      <br>
        This may take a few moments...
      </p>
    </div>
  </div>

  <div class="spinner"></div>

{% endblock %}
