{% set serviceName = "Report your organisation’s packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Upload your packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "home"
        }) }}

        <h1 class="govuk-heading-l">
            Upload your packaging data spreadsheet
        </h1>

        <form method="POST" action="report-spreadsheet-check">

            <div class="govuk-form-group" id="spreadsheet-upload">

                <label class="govuk-label" for="file">Upload a file</label>
                <input type="file" name="file" class="govuk-file-upload">

            </div>

            {{govukButton({
                text: "Upload"
            })}}

        </form>

    </div>
</div>

{% endblock %}