{% set serviceName = "Meet your packaging producer obligations" %}
{% extends "layout.html" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Extended producer responsibility</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
            titleText: "We’ve submitted your request"
        }) }}

        <p>We've sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>Your organisation’s Defra account administrator will review your request to get access. We’ll email you the outcome.</p>
 
        <p>You should contact the account administrator directly if there are any issues. </p>

        <p><a href="service-start">Return to GOV.UK</a></p>

    </div>
</div>

{% endblock %}