{% extends "layout-private-beta-research.html" %}

{% set serviceName %}

{% endset%}

{% set serviceName = "Run the fees and payments calculator" %}

{% block pageTitle %}
Run the fees and payments calculator
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body account-info">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div><br> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

        <form action="upload-brand" method="post"> 

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    

                    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Calculation ID: 240008
                          </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                          <h3 class="govuk-notification-banner__heading">
                            Local authority data check  
                          </h3>
                          <p>Classification changed to <strong>Test</strong></p>
                        </div>
                      </div>
<p class="govuk-body">The new classification will show on the dashboard.</p>
</div>

      
<div class="govuk-button-group">
  <a href="dash-small-class" class="govuk-button" type="submit">Return to the dashboard</a>
  
</div>
        </form>

    </div>
</div>

{% endblock %}
