{% set serviceName = "Run the fees and payments calculator" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="govuk-back-link" href="upload-file.html">Back</a>
    </div>

    <div class="govuk-body account-info govuk-grid-column-one-half">
      <div>
          <span class="your-name" id="bannerUserName">Jamie Roberts</span><a class="account-link" href="details" id="signout-link">Sign out</a>
      </div>
    </div>
   </div>
   <br>
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        The CSV must be smaller than 50KB
      </div>
    </div>
  </div>

     <h1 class="govuk-heading-l">Upload new parameters</h1>

     <h2 class="govuk-heading-m">
      <label class="govuk-label govuk-label--m" for="org-details" aria-describedby="organisation-file-hint">
        Before you upload your file
      </label>
    </h2>
      
     <p>Make sure you're using the latest version of the <a href="#" class="govuk-link--no-visited-state"> default parameters spreadsheet template</a></p>

<br>
      
      <form method="POST" action="./fix-errors">
    
          <!-- FILE UPLOAD -->
          <div class="govuk-form-group">
            <h2 class="govuk-heading-m">
              <label class="govuk-label govuk-label--m" for="org-details" aria-describedby="organisation-file-hint">
                Upload a file
              </label>
            </h2>

            <p class="govuk-body">The file must be:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>smaller than 50KB</li>
                  <li>in CSV format</li>
              </ul>
            <p class="govuk-body">It may take a few minutes for your file to upload - do not close the window while the file is uploading.</p>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="file-upload-1">
                Upload a file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The CSV must be smaller than 50KB
              </p>
              <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="fileUpload1" type="file" aria-describedby="file-upload-1-error">
            </div>

            
          </div>
        {{ govukButton({
          text: "Upload file"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
