{% set serviceName = "Report packaging data" %}
 
{% extends "layout.html" %}
 
{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}
{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Subsidiaries</h1>
         
<h1 class="govuk-heading-m">GOOD FOODS LIMITED</h1>
<span class="govuk-caption-l">Organisation ID: AA15559428<br>Companies House number: 10319765</span><br>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsidiary name</th>
              <th scope="col" class="govuk-table__header">Subsidiary ID</th>
              <th scope="col" class="govuk-table__header">Companies House number</th>
              <th scope="col" class="govuk-table__header">Subsidiary type</th>
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  Good Sauces Coventry</h3></td>
                  <td class="govuk-table__cell">15559426</td>
                  <td class="govuk-table__cell">10319765</td>
              <td class="govuk-table__cell">SUB</td>
              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  Good Vegetables Telford</h3></td>
                  <td class="govuk-table__cell">15559426</td>
                  <td class="govuk-table__cell">10319765</td>
              <td class="govuk-table__cell">SUB</td>
              </tr>
              
              

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    Good Pasta Stratford</h3></td>
                    <td class="govuk-table__cell">15559426</td>
                    <td class="govuk-table__cell">10319765</td>
                <td class="govuk-table__cell"><p>HCY</p></td>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                      Good Sauces Banbury</h3></td>
                      <td class="govuk-table__cell">15559426</td>
                      <td class="govuk-table__cell">10319765</td>
                  <td class="govuk-table__cell"><p>HCY</p></td>

                

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                        Good Sauces Exeter</h3></td>
                        <td class="govuk-table__cell">15559426</td>
                        <td class="govuk-table__cell">10319765</td>
                    <td class="govuk-table__cell"><p>HCY</p></td>
                    </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    Good Sauces London</h3></td>
                    <td class="govuk-table__cell">15559426</td>
                    <td class="govuk-table__cell">10319765</td>
                <td class="govuk-table__cell"><p>HCY</p></td>
                </tr>
          </tbody>
        </table><br>
        &nbsp; &nbsp;

        
<h1 class="govuk-heading-m">FRAMES 4 PICTURES LIMITED</h1>
<span class="govuk-caption-l">Organisation ID: BB15559440</span>
        <span class="govuk-caption-l">Companies House number: 15559432</span>
        <br>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsidiary name</th>
              <th scope="col" class="govuk-table__header">Subsidiary ID</th>
              <th scope="col" class="govuk-table__header">Companies House number</th>
              <th scope="col" class="govuk-table__header">Subsidiary type</th>
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  FRAMES FOR ART Coventry</h3></td>
                  <td class="govuk-table__cell">15559426</td>
                  <td class="govuk-table__cell">10319765</td>
              <td class="govuk-table__cell">SUB</td>
              </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                FRAMES FOR ART Telford</h3></td>
                  <td class="govuk-table__cell">15559432</td>
                  <td class="govuk-table__cell">10319765</td>
              <td class="govuk-table__cell">SUB</td>
              </tr>
              
              

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  FRAMES FOR ART Stratford</h3></td>
                    <td class="govuk-table__cell">15559434</td>
                    <td class="govuk-table__cell">10319765</td>
                <td class="govuk-table__cell"><p>HCY</p></td>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    FRAMES FOR ART Banbury</h3></td>
                      <td class="govuk-table__cell">15559436</td>
                      <td class="govuk-table__cell">10319765</td>
                  <td class="govuk-table__cell"><p>HCY</p></td>

                

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                      FRAMES FOR ART Exeter</h3></td>
                        <td class="govuk-table__cell">15559430</td>
                        <td class="govuk-table__cell">10319765</td>
                    <td class="govuk-table__cell"><p>HCY</p></td>
                    </tr>
          </tbody>
        </table>

        
        

        &nbsp; &nbsp;
<div class="govuk-button-group">
 
  <a class="govuk-link" href="landing-page">Return to account home</a>
</div>


        
      </div>
      </div>  
      </div>
    </div>
  </main>
</div>


{% endblock %}