{% set serviceName = "Collection & Packaging Reforms (CPR)" %}
{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Design & Research</span>
            Collection &amp; Packaging Reforms (CPR)
        </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-2">
        Interaction Design: 
        <a href="mailto:joe.horton@kainos.com">Joe Horton</a> / 
        <a href="mailto:.smith2@kainos.com">Ciara Thomas</a>
      </p>
      <p class="govuk-body">
        Content Design: 
        <a href="mailto:caroline.vickers@defra.gov.uk">Caroline Vickers</a> / 
        <a href="mailto:.richard.furlong@kainos.com">Richard Furlong</a>
      </p>
    </div>
  </div>

  <!-- OBLIGATION CHECKER -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation Checker
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-3">
          Check if extended producer responsibility (EPR) for packaging affects your organisation.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 3.1 • Team 1
        </p>
        {{ govukButton({
          text: "Start now",
          href: "/obligation-checker/v5/start-page"
        }) }}
        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Journeys and wireframes
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
          </div>
        </details>
      </div>
    </div>
  </div>


      



{% endblock %}
