{% set serviceName = "Report packaging data" %}
{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes and documents</span>
            Report packaging data
        </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-2">
        Interaction design: 
        <a href="mailto:joe.horton@kainos.com">Joe Horton</a> / 
        <a href="mailto:.smith2@kainos.com">Ciara Smith</a>
      </p>
      <p class="govuk-body">
        Content design: 
        <a href="mailto:caroline.vickers@defra.gov.uk">Caroline Vickers</a> / 
        <a href="mailto:.richard.furlong@kainos.com">Richard Furlong</a>
      </p>
    </div>
  </div>

  <!-- SUMMARY -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          in testing
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Research
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-2">
          Create an account to report packaging data
        </p>

        <p class="govuk-body govuk-!-margin-bottom-6"><a href="./account-creation/v1/general/start-page.html">Go to prototype</a></p>

      </div>
    </div>
  </div>

  <!-- GUIDANCE -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
          outdated
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Guidance
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          How UK organisations can prepare for extended producer responsibility (EPR) for packaging.
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 2 • Joe & Caroline
        </p>

        <!-- LINK TO PROTOTYPE -->        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype",
            href: "/guidance/v2/whitehall-guidance"
          }) }}
        
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/guidance/packaging-waste-prepare-for-extended-producer-responsibility">or view published guidance</a>
        </div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./guidance/v1/whitehall-guidance.html">Version 1</a></p>
            <p class="govuk-body " style="color: #505a5f;">May 2022</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- OBLIGATION CHECKER -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation checker
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Check if you need to report packaging data.
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 5 • Joe and Caroline
        </p>

        <!-- LINK TO PROTOTYPE -->
        {{ govukButton({
          text: "View prototype",
          href: "/obligation-checker/v5/start-page"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=31%3A1574">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=0%3A1">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 4</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v4/start-page.html">View prototype</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 3.1</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v3.1/start-page.html">View prototype</a></p>
            <!-- <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3967582896/Obligation+Checker+-+Version+3.1">Documentation (opens in new tab)</a></p> -->
            
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 3</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v3/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3967582896/Obligation+Checker+-+Version+3">Documentation (opens in new tab)</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 2</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v2/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3933929473/Obligation+Checker+-+Version+2">Documentation (opens in new tab)</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 1</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v1/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3858137130/Obligation+Checker+-+Version+1">Documentation (opens in new tab)</a></p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- ACCOUNT CREATION -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Account creation
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          If your organisation needs to take action under extended producer responsibility (EPR) for packaging, create an account. 
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 1 • Joe and Caroline
        </p>

        <!-- LINK TO PROTOTYPE -->        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype",
            href: "/account-creation/v1/general/start-page.html"
          }) }}
        </div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./account-creation/v2/start-page.html">Version 2</a></p>
              <p class="govuk-body " style="color: #505a5f;">July 2022</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./account-creation/v1/start-page.html">Version 1</a></p>
              <p class="govuk-body " style="color: #505a5f;">May 2022</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- COMPLIANCE SCHEME UPLOAD POM DATA -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Upload placed on the market (PoM) data 
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Upload and validate your packaging data for this year. 
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 2 • Ciara and Richard
        </p>

        <!-- LINK TO PROTOTYPE -->
        {{ govukButton({
          text: "View prototype",
          href: "/compliance-scheme-pom-upload/v2/task-list"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./compliance-scheme-pom-upload/v1/task-list.html">Version 1</a></p>
              <p class="govuk-body " style="color: #505a5f;">November 2022</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Ciara and Richard</p>
      </div>
    </div>
  </div>

  <!-- OLDER PROTOTYPES -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
          outdated
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Older prototypes
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Previous prototypes created before the first alpha assessment (2020/21).
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="old-prototypes.html">View previous work</a>
        </p>

      </div>
    </div>
  </div>

  <!-- REGISTRATION / ENROLMENT -->
  <!-- <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">


        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-1">
          outdated
        </strong>

        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          wip
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Registration / Enrolment
        </h2>


        <p class="govuk-body govuk-!-margin-bottom-3">
          Register for the EPR for packaging online service. Prepare to collect data about the packaging you handle or supply in 2023. 
        </p>


        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 6 • Team 1
        </p>


        {{ govukButton({
          text: "View prototype",
          href: "/v6/epr/index"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">


        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./v5/epr/index">Version 5</a></p>
              <p class="govuk-body govuk-!-margin-bottom-4" style="color: #505a5f;">July 2021</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./v4/epr/index">Version 4</a></p>
              <p class="govuk-body govuk-!-margin-bottom-4" style="color: #505a5f;">May 2021</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./v3/epr/index">Version 3</a></p>
              <p class="govuk-body govuk-!-margin-bottom-4" style="color: #505a5f;">April 2021</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./v2/epr/index">Version 2</a></p>
              <p class="govuk-body govuk-!-margin-bottom-4" style="color: #505a5f;">February 2021</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./v1/epr/index">Version 1</a></p>
              <p class="govuk-body" style="color: #505a5f;">January 2021</p>
          </div>
        </details>


        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Ciara &amp; Richard</p>
      </div>
    </div>
  </div> -->

{% endblock %}
