{% set serviceName = "EPR for packaging" %}
{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Extended Producer Responsibility (EPR) for packaging
        </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-margin-bottom-2">
        Interaction design: 
        <a href="mailto:joe.horton@kainos.com">Joe Horton</a> / 
        <a href="mailto:.smith2@kainos.com">Ciara Smith</a>
      </p>
      <p class="govuk-body">
        Content design: 
        <a href="mailto:caroline.vickers@defra.gov.uk">Caroline Vickers</a> / 
        <a href="mailto:.richard.furlong@kainos.com">Richard Furlong</a>
      </p>
    </div>
  </div>
<!-- RESEARCH -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">

      
      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
        in testing
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Regulators Response PoM dat submissions
      </h2>

      <!-- DESCRIPTION -->
      <p class="govuk-body govuk-!-margin-bottom-2">
        Manage PoM data submissions       
      </p>

      <p class="govuk-body"><a href="./regulator-manage-pom-data/manage-pom-data.html"> Version A</a></p>
      
    </div>
  </div>
</div>
  <!-- RESEARCH -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        
        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
          in testing
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Select Compliance scheme
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-2">
          Selection of compliance scheme        
        </p>

      <p class="govuk-body-l govuk-!-margin-bottom-4">
       Services and workstreams:
      </p>

      <p class="govuk-body-l govuk-!-margin-bottom-3">
        <a href="./report-packaging-data.html">Report packaging data</a>
      </p>
      <p class="govuk-body-l govuk-!-margin-bottom-3">
        <a href="prn-index">PRNs / PERNs</a>
      </p>
      <p class="govuk-body-l govuk-!-margin-bottom-3">
        <a href="./paper-cups/prototypes.html">Takeaway cups</a>
      </p>

    </div>
  </div>

{% endblock %}
