{% set serviceName = "Collection & Packaging Reforms (CPR) prototypes" %}
{% extends "layout.html" %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="index.html">Back to home</a>

{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl"> Collection &amp; Packaging Reforms (CPR)</span>
            Alpha pre-workshop prototypes
        </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-padding-top-4">
        <span class="govuk-caption-m">Extended Producer Responsibility for Packaging (EPR-P)</span>
        Report your organisation’s packaging data
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Sprint(s)</th>
            <th class="govuk-table__header" scope="col">Date created</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v6/epr/index">V6</a>
            </td>
            <td class="govuk-table__cell">
              15 to 19
            </td>
            <td class="govuk-table__cell">
              12th Aug 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v5/epr/index">V5</a>
            </td>
            <td class="govuk-table__cell">
              14 &amp; 15
            </td>
            <td class="govuk-table__cell">
              29th Jul 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v4/epr/index">V4</a>
            </td>
            <td class="govuk-table__cell">
              9 to 13
            </td>
            <td class="govuk-table__cell">
              24th May 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v3/epr/index">V3</a>
            </td>
            <td class="govuk-table__cell">

            </td>
            <td class="govuk-table__cell">
              30th Apr 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/epr/index">V2</a>
            </td>
            <td class="govuk-table__cell">

            </td>
            <td class="govuk-table__cell">
              25th Feb 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/epr/index">V1</a>
            </td>
            <td class="govuk-table__cell">

            </td>
            <td class="govuk-table__cell">
              21st Jan 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
        </tbody>
      </table>


      <h2 class="govuk-heading-m govuk-!-padding-top-8">
        <span class="govuk-caption-m">Extended Producer Responsibility for Packaging (EPR-P)</span>
        End-to-end prototypes
      </h2>

      <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Introduction
          </span>
        </summary>
        <div class="govuk-details__text">
          When starting Alpha the EPR scheme was still in consultation, and there were a number of proposals around how the eventual service model could work.
<br><br>
Our service designer mapped out these different service models, scoring them using Lou Downe's <a href="https://good.services/the-good-services-scale">good service scale</a>, to understand any risk levels.
<br><br>
To test the service models with users, we created lo-fi clickable prototypes using Sketch, starting with what we considered to be the riskiest model.
<br><br>
We went through a number of rounds of testing of these service models, sharing the feedback with policy to help inform their decisions.
        </div>
      </details>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Scenario</th>
            <th class="govuk-table__header" scope="col">Date created</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="e2e/option-1c">Option 1c</a>
            </td>
            <td class="govuk-table__cell">
              Defra / Regulator
            </td>
            <td class="govuk-table__cell">
              August 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="e2e/option-1b">Option 1b</a>
            </td>
            <td class="govuk-table__cell">
              Defra / Scheme Admin / Regulator
            </td>
            <td class="govuk-table__cell">
              June 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="e2e/option-1a">Option 1a</a>
            </td>
            <td class="govuk-table__cell">
              Defra / Scheme Admin / Regulator
            </td>
            <td class="govuk-table__cell">
              April 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="e2e/option-2a">Option 2a</a>
            </td>
            <td class="govuk-table__cell">
              Scheme Admin / Regulator
            </td>
            <td class="govuk-table__cell">

            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                Complete
              </strong>
            </td>
          </tr>
        </tbody>
      </table>




      <h2 class="govuk-heading-m govuk-!-padding-top-8">
        <span class="govuk-caption-m">Deposit Return Scheme (DRS)</span>
        Alpha prototypes
      </h2>

      <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Introduction
          </span>
        </summary>
        <div class="govuk-details__text">
          Deposit Return Scheme (DRS) is another service that will sit under the Collection & Packaging Reforms programme. DRS is expected to launch after EPR-P, but whilst in Alpha we wanted to do some early exploration of the users and requirements of this service.
<br><br>
Working alongside our business analyst and the policy team, we developed some early prototypes based on the business requirements, and utilised the core functionality that had been developed for the EPR-P designs.
<br><br>
No testing has taken place on the DRS designs.
        </div>
      </details>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Scenario</th>
            <th class="govuk-table__header" scope="col">Date created</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              V1
            </td>
            <td class="govuk-table__cell">
              <a href="drs/v1-scenario-a">Scenario A: standard journey</a>
            </td>
            <td class="govuk-table__cell">
              19th May 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              V1
            </td>
            <td class="govuk-table__cell">
              <a href="drs/v1-scenario-b">Scenario B: standard journey</a>
            </td>
            <td class="govuk-table__cell">
              19th May 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              V1
            </td>
            <td class="govuk-table__cell">
              <a href="drs/v1-scenario-c">Scenario C: streamlined journey</a>
            </td>
            <td class="govuk-table__cell">
              19th May 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              V1
            </td>
            <td class="govuk-table__cell">
              <a href="drs/v1-alternative">Alternative designs</a>
            </td>
            <td class="govuk-table__cell">
              19th May 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
        </tbody>
      </table>



      <h2 class="govuk-heading-m govuk-!-padding-top-8">
        Combined approach (EPR &amp; DRS) prototypes
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Option</th>
            <th class="govuk-table__header" scope="col">Description</th>
            <th class="govuk-table__header" scope="col">Date created</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="combined/option-1">Option 1</a>
            </td>
            <td class="govuk-table__cell">
              Basic obligation checker
            </td>
            <td class="govuk-table__cell">
              18th Jun 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="combined/option-2">Option 2</a>
            </td>
            <td class="govuk-table__cell">
              Basic obligation criteria displayed in guidance
            </td>
            <td class="govuk-table__cell">
              18th Jun 2021
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                In progress
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

{#
      <h2 class="govuk-heading-m" style="margin-top:80px;">Pipeline: conceptual end-to-end prototypes</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 20%;">Version</th>
            <th scope="col" class="govuk-table__header" style="width: 20%;">Service model details</th>
            <th scope="col" class="govuk-table__header" style="width: 20%;">Tested on</th>
            <th scope="col" class="govuk-table__header" style="width: 40%;">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p><strong>Option 1c</strong></p><a href="https://www.sketch.com/s/944d7de4-c2fa-4711-8c2d-6a482b0a087c/a/GmxnEZw/play" target="_blank">Clickable end-to-end prototype</a></td>
            <td class="govuk-table__cell">Defra / Regulator</td>
            <td class="govuk-table__cell">w/c 16 August 2021</td>
            <td class="govuk-table__cell"><ul><li>Updated all screens to incorporate latest designs from the working prototypes</li>
<li>All in-service email comms sent by Defra</li>
<li>Review and payment of obligated fees completed within the Gov branded service</li></ul></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p><strong>Option 1b</strong></p><a href="https://www.sketch.com/s/944d7de4-c2fa-4711-8c2d-6a482b0a087c/a/dl1DDkj/play" target="_blank">Clickable end-to-end prototype</a></td>
            <td class="govuk-table__cell">Defra / Scheme Admin / Regulator</td>
            <td class="govuk-table__cell">w/c 7 June 2021</td>
            <td class="govuk-table__cell"><ul><li>Introduced messaging related to the Scheme Admin at the start of the journey, and at key points throughout the journey</li>
<li>Made the Scheme Admin payee for both registration and obligated fees</li>
<li>Update all email comms from the regulator to be from the Scheme Admin</li>
<li>Direct users to the Scheme Admin login page instead of homepage</li></ul></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p><strong>Option 1a</strong></p><a href="https://www.sketch.com/s/944d7de4-c2fa-4711-8c2d-6a482b0a087c/a/DP4eyee/play" target="_blank">Clickable end-to-end prototype</a><br><br><a href="https://defra.sharepoint.com/:i:/t/Team568/EQWb2miyyA5FinqD7cISABYB3NfjCxzZZ4vcEZGRagoadg?e=55NyXa" target="_blank">Prototype blueprint</a></td>
            <td class="govuk-table__cell">Defra / Scheme Admin / Regulator</td>
            <td class="govuk-table__cell">w/c 26 April 2021</td>
            <td class="govuk-table__cell">N/A</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p><strong>Option 2a</strong></p><a href="https://www.sketch.com/s/944d7de4-c2fa-4711-8c2d-6a482b0a087c/a/rbQedPP/play" target="_blank">Clickable end-to-end prototype</a><br><br><a href="https://defra.sharepoint.com/:i:/t/Team568/ES_epZfanzhPgFx599Z-ZvIBoJnyaTmuVelFzDUeu5q0Eg?e=1kTkbb" target="_blank">Prototype blueprint</a></td>
            <td class="govuk-table__cell">Scheme Admin / Regulator</td>
            <td class="govuk-table__cell">No testing planned</td>
            <td class="govuk-table__cell">N/A</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m" style="margin-top:80px;">Deposit return scheme (DRS) prototypes</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version 1.0</th>
            <th scope="col" class="govuk-table__header">Tested on</th>
            <th scope="col" class="govuk-table__header">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">




          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>Scenario A: Standard journey</strong><ul><li>User below EPR turnover threshold</li><li>User has Defra ID account, not registered for EPR</li></ul>
              <ul class="govuk-list govuk-list--bullet">
                <!-- <li class="govuk-!-margin-top-4">
                  <a href="/drs/drs-registration_v1/service-start">Service start page</a>
                  <span class="govuk-hint govuk-!-margin-bottom-0">(User needs to sign in or create an account)</span>
                </li>
                <li class="govuk-!-margin-top-4">
                  Obligation checker tool
                  <ul>
                    <li><a href="/drs/drs-obligation-checker_v1">Am I obligated?</a></li>
                    <li><a href="/drs/drs-obligation-checker_v1/question-activity-brandowner">I'm obligated, how does it affect me?</a></li>
                  </ul>
                </li> -->
                <li class="govuk-!-margin-top-4">
                  DRS obligation checker tool:
                  <ul>
                    <li><a href="/drs/drs-obligation-checker_v1/">Am I obligated?</a></li>
                  </ul>
                </li>
                <li class="govuk-!-margin-top-4">
                  DRS organisation type:
                  <span class="govuk-hint govuk-!-margin-bottom-0">(User type undefined)</span>
                  <ul>
                    <li><a href="/drs/drs-registration_v1/registration-drs-org-type?intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Which description applies to your organisation</a></li>
                  </ul>
                </li>
                <li class="govuk-!-margin-top-4">
                  DRS registration task list:
                  <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                  <ul>
                    <li><a href="/drs/drs-registration_v1/home?intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Introduction and what you'll need</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Privacy policy and declaration</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&reported=no">Add information about your organisation</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=no&registered=no&intro2=no&reported=no">Pay the fee and submit your application</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=no&intro2=no&reported=no">Application being reviewed</a></li>
                  </ul>
                </li>
                <li class="govuk-!-margin-top-4">
                  DRS reporting task list:
                  <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                  <ul>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=no&reported=no">Application approved &amp; report POM data</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=yes&intro2=yes&reported=yes">POM data reported</a></li>
                  </ul>
                </li>
                <!-- <li class="govuk-!-margin-top-4">
                  Service emails
                  <ul>
                    <li><a href="/v3/epr/registration-email-submitted">Application submitted</a></li>
                    <li><a href="/v3/epr/registration-email-complete">Registration approved and complete</a></li>
                  </ul>
                </li> -->
              </ul>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>Scenario B: Standard journey</strong><ul><li>User above EPR turnover threshold</li><li>User has Defra ID account, not registered for EPR</li></ul>
              <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-!-margin-top-4">
                  DRS registration task list:
                  <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                  <ul>
                    <li><a href="/drs/drs-registration_v1/home?thresholdMet=yes&intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&reported=no">Add information about your organisation</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>Scenario C: Streamlined journey</strong><ul><li>User above EPR turnover threshold</li><li>User has Defra ID account, registered for EPR</li></ul>
              <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-!-margin-top-4">
                  DRS registration task list:
                  <span class="govuk-hint govuk-!-margin-bottom-0">(Producer & retailer)</span>
                  <ul>
                    <li><a href="/drs/drs-registration_v1/home?existingEpr=yes&intro1=yes&declared=yes&applied=no&paid=no&registered=no&intro2=no&reported=no">Add information about your organisation</a></li>
                    <!-- <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=no&registered=no&intro2=no&reported=no">Pay the fee and submit your application</a></li>
                    <li><a href="/drs/drs-registration_v1/home?intro1=yes&declared=yes&applied=yes&paid=yes&registered=no&intro2=no&reported=no">Application being reviewed</a></li> -->
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>Alternate designs</strong>
              <ul class="govuk-list govuk-list--bullet">
                <li class="govuk-!-margin-top-4">
                  DRS organisation type: (2 page version)
                  <ul>
                    <li><a href="/drs/drs-registration_v1/registration-drs-org-type?drsOrgTypeV2=yes&intro1=no&declared=no&applied=no&paid=no&registered=no&intro2=no&reported=no">Which description applies to your organisation?</a></li>
                  </ul>
                </li>
                <li class="govuk-!-margin-top-4">
                  Organisation nation - Scotland: (2 page version)
                  <ul>
                    <li><a href="/drs/drs-registration_v1/registration-org-nation?drsNationV2=yes">Where is your organisation registered?</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m" style="margin-top:80px;">Combined approach prototypes</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Obligation checkers</th>
            <th scope="col" class="govuk-table__header">Tested on</th>
            <th scope="col" class="govuk-table__header">Changes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p><strong>Option 1: Basic obligation checker</strong></p>
              <p><a href="/combined/combined-basic-obligation-checker_v1/start-page?obDrsCheckboxes=no" target="_blank">Start page (DRS yes/no)</a></p>
              <p><a href="/combined/combined-basic-obligation-checker_v1/start-page?obDrsCheckboxes=yes" target="_blank">Start page (DRS checkboxes)</a></p>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p><strong>Option 2: Basic obligation criteria displayed in guidance</strong></p>
              <p><a href="/combined/combined-basic-obligation-guidance_v1/obligation" target="_blank">Am I obligated page</a></p>
            </td>
            <td class="govuk-table__cell">
              Awaiting testing
            </td>
            <td class="govuk-table__cell">
            </td>
          </tr>
        </tbody>
      </table>
#}


    </div>
  </div>

{% endblock %}
