{% set serviceName = "PRN/PERNS" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            PRN and PERNS
        </h1>
    </div>


  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card card-overview">
          
          <!--TITLE-->

          
          <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            Latest
        </strong>
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            In progess
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Version 6.3
        </h2>
<p class="govuk-body">* pages and journeys are being iterated on</p>
        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
            This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Re/Ex Accept or reject PRNs or PERNs iterations from user testing round 1</li>
            <li>Re/Ex December waste</li>
        </ul>

        <div class="govuk-button-group">
           <form class="" action="packing-recovery-notes/v6-3/landing-page" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>

                </div>


                <input class="govuk-button" type="submit" value="View prototype"  />

            </form>
            <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>


            

            </form>
        </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

      

        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



    </div>
</div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
<div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card card-overview">


            <!-- TITLE -->


            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
                User testing
            </strong>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 6.2
            </h2>
<p class="govuk-body">* pages and journeys are being iterated on</p>
            <!-- DESCRIPTION -->
            <p class="govuk-body govuk-!-margin-bottom-3">
                This prototype includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Re/Ex Accept or reject PRNs or PERNs iterations from user testing round 1</li>
                <li>Re/Ex December waste</li>
            </ul>

            <div class="govuk-button-group">
               <form class="" action="packing-recovery-notes/v6-2/landing-page" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>

                    </div>


                    <input class="govuk-button" type="submit" value="View prototype"  />

                </form>
                <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>


                

                </form>
            </div>
            <div class="govuk-!-padding-bottom-3">  <hr></div>

          

            <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



        </div>
    </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card card-overview">

            <!-- TITLE -->


            <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
                OUTDATED
            </strong>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 6.1
            </h2>
<p class="govuk-body">* pages and journeys are being iterated on</p>
            <!-- DESCRIPTION -->
            <p class="govuk-body govuk-!-margin-bottom-3">
                This prototype includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Re/Ex Manage your PRNs or PERNs iterations from user testing round 1</li>
                <li>Re/Ex Accreditation</li>
               
            </ul>

            <div class="govuk-button-group">
               <form class="" action="packing-recovery-notes/v6-1/landing-page" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>

                    </div>


                    <input class="govuk-button" type="submit" value="View prototype"  />

                </form>
                <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>


                

                </form>
            </div>
            <div class="govuk-!-padding-bottom-3">  <hr></div>

          

            <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card card-overview">

            <!-- TITLE -->


            <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
                OUTDATED
            </strong>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 6
            </h2>

            <!-- DESCRIPTION -->
            <p class="govuk-body govuk-!-margin-bottom-3">
                This prototype includes:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Re/Ex Record your waste</li>
                <li>Re/Ex Manage your PRNs or PERNs</li>
                <li>Re/Ex Accreditation</li>
            </ul>

            <div class="govuk-button-group">
               <form class="" action="packing-recovery-notes/v6/select-outcome" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>

                    </div>


                    <input class="govuk-button" type="submit" value="View prototype"  />

                </form>
                <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">

                        </div>
                    </div>


                    <input class="govuk-button govuk-button--secondary" type="submit" value="View regulator prototype"  />

                </form>
            </div>
            <div class="govuk-!-padding-bottom-3">  <hr></div>

            <p>  <a href="https://prn-design-history.herokuapp.com" class="govuk-link">Design history</a></p>


            <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



        </div>
    </div>
</div>


  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card card-overview">

        <!-- TITLE -->


          <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
              OUTDATED
          </strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 5
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
          <li>Exporter view</li>
          <li>Regulator view</li>
          <li>Waste reporting</li>
        </ul>

        <div class="govuk-button-group">
            <form class="" action="packing-recovery-notes/v5/manage-accreditations" method="post">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="no-december" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Add December waste balance question
                </label>
                </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="accreditation-limit" type="checkbox" value="true">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Zero accreditation limit left
                      </label>
                      <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                 can still record waste to their excess balance, can't create PRNs.
                      </div>
                    </div>
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="over-usable" type="checkbox" value="true">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Some usable waste balance left
                        </label>
                        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                          can raise a PRN, but only within usable waste balance
                        </div>
                      </div>

                    </div>


            <input class="govuk-button" type="submit" value="View prototype"  />

          </form>
          <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="accreditation-limit" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
              No accreditation limit left
                </label>

                </div>
              </div>


          <input class="govuk-button govuk-button--secondary" type="submit" value="View regulator prototype"  />

            </form>
            </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card ">

        <!-- TITLE -->


        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      OUTDATED
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 4
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
          <li>Exporter view</li>
          <li>Regulator view</li>
          <li>Waste reporting</li>
        </ul>

        <div class="govuk-button-group">
            <form class="" action="packing-recovery-notes/v4/manage-accreditations" method="post">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="no-december" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Remove December waste balance question
                </label>
                </div>
                </div>

            <input class="govuk-button" type="submit" value="View prototype"  />

          </form>
          <form class="" action="packing-recovery-notes/v4/regulator/find-a-company/find-a-company" method="post">

          <input class="govuk-button govuk-button--secondary" type="submit" value="View regulator prototype"  />

            </form>
            </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>

  <!-- RESEARCH -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card ">

        <!-- TITLE -->

        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      OUTDATED
        </strong>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 3.5
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
          <li>Exporter view</li>
          <li>Regulator view</li>
          <li>Waste reporting</li>
        </ul>

        <div class="govuk-button-group">
            <form class="" action="packing-recovery-notes/v3-5/manage-accreditations" method="post">
            <input class="govuk-button" type="submit" value="View prototype"  />

          </form>
          <form class="" action="prn/v3-5/regulator/find-a-company/find-a-company" method="post">

          <input class="govuk-button govuk-button--secondary" type="submit" value="View regulator prototype"  />

            </form>
            </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com/manage-a-prn-waste-data/" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
        OUTDATED
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 3
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
          <li>Exporter view</li>
          <li>Regulator view</li>
          <li>Waste reporting</li>
        </ul>

      <!-- <p>  <a href="prn/v3-5/manage-accreditations" class="govuk-body">alternate version</a></p> -->
        <div class="govuk-button-group">
            <form class="" action="packing-recovery-notes/v3/manage-accreditations" method="post">
            <input class="govuk-button" type="submit" value="View prototype"  />

          </form>
          <form class="" action="packing-recovery-notes/v3/regulator/manage-regulator" method="post">

          <input class="govuk-button govuk-button--secondary" type="submit" value="View regulator prototype"  />

            </form>
            </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com/manage-a-prn-waste-data/" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card ">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
        OUTDATED
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 2
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
          <li>Exporter view</li>
          <li>Waste reporting</li>

</ul>

        <form class="" action="packing-recovery-notes/v2/manage-accreditations" method="post">

        <div class="govuk-form-group">

            <input class="govuk-button" type="submit" value="View prototype"  />
        </div>
                </form>

        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com/manage-a-prn-iterations/" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    OUTDATED
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Version 1
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Manage your PRNs or PERNs</li>
          <li>Record your waste</li>
        </ul>

        <form class="" action="packing-recovery-notes/v1/manage-prn" method="post">

        <div class="govuk-form-group">

            <input class="govuk-button" type="submit" value="View prototype"  />
        </div>
                </form>

        <div class="govuk-!-padding-bottom-3">  <hr></div>

        <p>  <a href="https://prn-design-history.herokuapp.com/manage-a-prn/" class="govuk-link">Design history</a></p>


          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>



      </div>
    </div>
  </div>




  <!-- ACCOUNT CREATION -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Account Creation
        </h2>


        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Create an account</li>

        </ul>



        <!-- LINK TO PROTOTYPE -->
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype",
            href: "/packing-recovery-notes/account-creation/build/azure-b2c/sign-in.html"
          }) }}
        </div>
      <div class="govuk-!-padding-bottom-3">  <hr></div>

      <p>  <a href="https://prn-design-history.herokuapp.com/enrollment/" class="govuk-link">Design history</a></p>


        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Mark and Helen</p>


        <!-- HAVE A QUESTION -->
      </div>
    </div>
  </div>



{% endblock %}
