{% set serviceName = "Registration" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Prototypes</span>
      Registration & Accreditation
    </h1>
  </div>
</div>

<!--START-->


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        User (registration & accreditation)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Regulator registration
      </a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Regulator Accreditation
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="past-day" display="block">
    <h2 class="govuk-heading-l">User Registration & Accreditation</h2>

           
        <!--TITLE-->

          
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          In progress
      </strong>
      <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          Not ready for UR
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Version 1.2.2
      </h2>
<p class="govuk-body"> Accreditation (Exporter) </p>
      <!-- DESCRIPTION -->
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Prototypes</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply for Accreditation</th>
            <td class="govuk-table__cell"><a class="govuk-link" href="./packing-recovery-notes/v6-1/accreditation/exporter/confirmation.html">View prototype</a> </td>
          </tr>
          
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apply for accreditation from Dashboard</th>
            <td class="govuk-table__cell"><a class="govuk-link" href="./packing-recovery-notes/v6-1/full-both.html">View prototype</a></td>
          </tr>
        </tbody>
      </table>

        <!--start new-->





    <!--TITLE-->


    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Ready for UR
    </strong>
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      No changes to be made
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.2
    </h2>
    <p class="govuk-body"> Registration & Accreditation (reprocessor) </p>
    <!-- DESCRIPTION -->

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototypes</th>
          <th scope="col" class="govuk-table__header">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Registration and apply for Accreditation</th>
          <td class="govuk-table__cell"><a class="govuk-link" href="./packing-recovery-notes/v6-1/home.html">View
              prototype</a> </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apply for accreditation from Dashboard</th>
          <td class="govuk-table__cell"><a class="govuk-link"
              href="./packing-recovery-notes/v6-1/home-accredit.html">View prototype</a></td>
        </tr>
      </tbody>
    </table>


    <!--<div class="govuk-button-group">
           <form class="" action="packing-recovery-notes/v6-1/home" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>

                </div>


                <input class="govuk-button" type="submit" value="View prototype"  />

            </form>
            <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>


            

            </form>
        </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>-->





    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>





    <!--END-->


    <!--TITLE-->




  
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Escape loop
    </h2>
    <p class="govuk-body"> Registration (Reprocessor) </p>
    <!-- DESCRIPTION -->
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for Reprocessor</li>
      <li>Accreditation for Reprocessor</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home-escape" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>

<!---END-->

    <!--TITLE-->




    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.1
    </h2>
    <p class="govuk-body"> Registration & Accreditation (Exporter) </p>
    <!-- DESCRIPTION -->
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for Exporter</li>
      <li>Accreditation for Exporter</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home-exporter" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>








    <!--TITLE-->


    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      User Researched
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.0
    </h2>
    <p class="govuk-body"> Registration & Accreditation</p>
    <!-- DESCRIPTION -->
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for reprocessor</li>
      <li>Accreditation for reprocessor</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



    <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>





  </div> <!-- End of User accredition & Accreditation section-->




  <!--END-->


  <!--START -->



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">



    <h2 class="govuk-heading-l">Regulator Registration </h2>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Managing registration (reprocessors and exporters)
    </h2>

    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progress
    </strong>
    <div>

      <br />

      <p class="govuk-body">Reprocessors MLS version</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/new-registration"
            class="govuk-link"> New registration application </a></li>
    
            <li><a
              href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/overdue"
              class="govuk-link"> Determination date overdue </a></li>

              <li><a
                href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/officer-check-answers"
                class="govuk-link"> Assign officer section after officer is assigned </a></li>
                <li><a
                  href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/officer-check-answers1"
                  class="govuk-link"> Assign officer section after officer is assigned but with new registration submitted </a></li>
                  <li><a
                    href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic-queried"
                    class="govuk-link"> Query notes where full payment not received </a></li>
                    <li><a
                      href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/exemptions-check-waste-licences"
                      class="govuk-link"> Exemptions</a></li>

                      <li><a
                        href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/check-site-address2"
                        class="govuk-link"> Section Marked as reviewed</a></li>

                        <li><a
                          href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/check-site-address3"
                          class="govuk-link"> Section Marked as reviewed with query notes</a></li>
                  </ul>
                </ul>
      <p class="govuk-body">Reprocessors version 3</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v3/new-registration"
            class="govuk-link"> New registration application </a></li>
    

      </ul>
      <p class="govuk-body">Reprocessors version 2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v2/new-registration"
            class="govuk-link"> New registration application </a></li>
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v2/plastic/overdue"
            class="govuk-link"> Determination date overdue </a></li>

      </ul>

      <p class="govuk-body">Reprocessors version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations/regulator-home"
            class="govuk-link"> Finding registration application from Regulator homepage </a></li>
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>
      <p class="govuk-body">Exporters version 3</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations-v3/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>
      <p class="govuk-body">Exporters version 2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations-v2/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>
      <p class="govuk-body">Exporters version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>




    </div>
  </div> <!-- End of Regulator Registration section-->


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-m">Regulator Accreditation</h2>



    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
  </strong>
  <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
  </strong>

  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      Version 1.0.0
  </h2>

  <!-- DESCRIPTION -->
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Prototypes</th>
        <th scope="col" class="govuk-table__header">Link</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="font-weight:normal">Accreditation Reprocessors (MLS)</th>
        <td class="govuk-table__cell"><a class="govuk-link" href="/packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/new-accreditation">View prototype</a> </td>
      </tr>
      
    
    </tbody>
  </table>


  <h2 class="govuk-heading-m">Application Backlog</h2>



  <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    Latest
</strong>
<strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    In progess
</strong>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
    Version 1.0.0
</h2>

<!-- DESCRIPTION -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototypes</th>
      <th scope="col" class="govuk-table__header">Link</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Application Backlog Re/Ex (MLS)</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="/packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/regulator-app-backlog.html">View prototype</a> </td>
    </tr>
    
  
  </tbody>
</table>


    <!--

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Managing accreditation (reprocessors) and Application backlog
    </h2>

    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progress
    </strong>
    <div>

      <br />

      <p class="govuk-body">Application backlog version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/new-accreditation"
            class="govuk-link"> Application backlog</a></li>
       

      </ul>
      <p class="govuk-body">Accreditation Reprocessors version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/new-accreditation"
            class="govuk-link"> New accreditation application </a></li>
       

      </ul>

    
  </div> --><!-- End of Regulator Accreditaion section-->


</div>

<!-- Team Blueberry start -->
<div class="govuk-width-container" style="background-color:  #F5F7F5; border: 1px solid #D6DBD4; padding: 0px 30px;">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Team Blueberry</h2>
        <h2 class="govuk-heading-l">Ex/Re Registration</h2>
        <p class="govuk-body">Designing the user journey for calculated fees and payments starting from the page <a
            href="https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-1/accreditation/accreditation-reprocessor/confirmation">https://defra-cpr-prototype.herokuapp.com/packing-recovery-notes/v6-1/accreditation/accreditation-reprocessor/confirmation</a>
        </p>

        <p class="govuk-body">
          <strong>Exporters Fees and Payments - Nations</strong>
        </p>

        <ul class="govuk-list">
          <li><a href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/confirmation-England.html"
              class="govuk-link" rel="noreferrer noopener" target="_blank">England </a></li>
          <li><a href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/confirmation-Scotland.html"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Scotland</a></li>
          <li><a href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/confirmation-Wales.html"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Wales</a></li>
          <li><a
              href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/confirmation-Northern-Ireland.html"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Northern Ireland</a></li>
        </ul>
        <br>
        <hr>
        <br>

        <p class="govuk-body">
          <strong>Emails</strong>
        </p>

        <ul class="govuk-list">
          <li><a
              href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/registration-scenarios/granted/emails/email-details-granted"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Submission
              granted</a></li>
          <li><a
              href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/registration-scenarios/refused/emails/email-details-refused"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Submission
              refused</a></li>
          <li><a
              href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/registration-scenarios/queried/emails/email-details-queried"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Submission
              queried</a></li>
          <li><a
              href="./packing-recovery-notes/v6-1/accreditation/fee-payments-blueberry/registration-scenarios/cancelled/emails/email-details-cancelled"
              class="govuk-link" rel="noreferrer noopener" target="_blank">Submission
              cancelled</a></li>
        </ul>

        <br>
        <hr>
        <br>

        <p class="govuk-body">
          <strong>Reprocessors Fees and Payments - Nations</strong>
        </p>

        <ul class="govuk-list">
          <li><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">England </a></li>
        </ul>


        <h2 class="govuk-heading-l" style="margin-top: 60px;">Ex/Re Accreditation</h2>
        <p class="govuk-body">Accreditation journey for Exporters and Reprocessors<a href="#">...</a>
        </p>

      </div>
    </div>
    <!-- Team Blueberry end -->
  </main>
</div>











<!--END-->


</div>
</div>



{% endblock %}