{% set serviceName = "Reprocessors and exporters - add an organisation" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Reprocessors and exporters service</span>
      Add an organisation
    </h1>
  </div>
</div>

<!--START-->


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Listed on Companies House
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Not listed on Companies House
      </a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        User research
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="past-day" display="block">
    <h2 class="govuk-heading-m">Listed on Companies House</h2>

 
  

        <!--start new-->

        <!--TITLE-->

          
        
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        Jamie adds an organisation and chooses to add an approved person
      </h2>
      

          
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          Not ready
      </strong>
      

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Version 1.0
      </h2>
<p class="govuk-body"> The organisation is listed on Companies House and is not a partnership </p>

<p>This allows the add an approved person to be a separate task - and to belong to the roles and reponsibilities area.

<br>So that we don't need to build two versions.</p>
  
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      First try
    </h2>
    

    <p><a href="enrolment/account-creation/add-without/start/account">View prototype</a></p>            
            

      


      <!--<form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>


      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>


    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.1
    </h2>
    <p class="govuk-body"> Registration & Accreditation (Exporter) </p>
    DESCRIPTION 
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for Exporter</li>
      <li>Accreditation for Exporter</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home-exporter" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



    
   


    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      User Researched
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.0
    </h2>
    <p class="govuk-body"> Registration & Accreditation</p>
  
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for reprocessor</li>
      <li>Accreditation for reprocessor</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



   




  </div> End of User accredition & Accreditation section-->




  <!--END-->


  <!--Second tab-->



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">



    <h2 class="govuk-heading-l">Not listed on Companies House </h2>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Managing registration (reprocessors and exporters)
    </h2>

    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progress
    </strong>
    <div>

      <br />

      <p class="govuk-body">Reprocessors MLS version</p>
      <ul class="govuk-list govuk-list--bullet">

        <li><a
          href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/regulator-home"
          class="govuk-link"> Regulator Homepage </a></li>
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/new-registration"
            class="govuk-link"> New registration application </a></li>
    
            <li><a
              href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/overdue"
              class="govuk-link"> Determination date overdue </a></li>

              <li><a
                href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/officer-check-answers"
                class="govuk-link"> Assign officer section after officer is assigned </a></li>
                <li><a
                  href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/officer-check-answers1"
                  class="govuk-link"> Assign officer section after officer is assigned but with new registration submitted </a></li>
                  <li><a
                    href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic-queried"
                    class="govuk-link"> Query notes where full payment not received </a></li>
                    <li><a
                      href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/plastic/exemptions-check-waste-licences"
                      class="govuk-link"> Exemptions</a></li>

                      <li><a
                        href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/check-site-address2"
                        class="govuk-link"> Section Marked as reviewed</a></li>

                        <li><a
                          href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/check-site-address3"
                          class="govuk-link"> Section Marked as reviewed with query notes</a></li>
                          <li><a
                            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registration-mls/check-payment-answers-online"
                            class="govuk-link"> Check answers for online payment</a></li>
                   
                          
                        </ul>
                </ul>
      <p class="govuk-body">Reprocessors version 3</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v3/new-registration"
            class="govuk-link"> New registration application </a></li>
    

      </ul>
      <p class="govuk-body">Reprocessors version 2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v2/new-registration"
            class="govuk-link"> New registration application </a></li>
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations-v2/plastic/overdue"
            class="govuk-link"> Determination date overdue </a></li>

      </ul>

      <p class="govuk-body">Reprocessors version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations/regulator-home"
            class="govuk-link"> Finding registration application from Regulator homepage </a></li>
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-reprocessors-applications/registrations/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>

      <p class="govuk-body">Exporters MLS version</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registration-mls/new-registration"
            class="govuk-link"> New registration application </a></li>
        <li><a
              href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registration-mls/plastic/plastic-queried-updated"
              class="govuk-link"> User has updated a queried section </a></li>
              <li><a
                href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registration-mls/plastic/update-status-error"
                class="govuk-link"> Regulator trying to grant application with open queries in application </a></li>  
          
             <li><a
                href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registration-mls/plastic/granted-update-status-query"
                class="govuk-link"> Granted application with previous query</a></li>  
            </ul>
  </ul>
      <p class="govuk-body">Exporters version 3</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations-v3/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>
      <p class="govuk-body">Exporters version 2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations-v2/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>
      <p class="govuk-body">Exporters version 1</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a
            href="/packing-recovery-notes/v6-1/regulator/manage-exporters-applications/registrations/new-registration"
            class="govuk-link"> New registration application </a></li>

      </ul>




    </div>
  </div> <!-- End of Regulator Registration section-->





  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
  <h2 class="govuk-heading-m">User research</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Assign officer to new material added</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\assign\officer-check-answers1.html">View prototype</a> </td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Warning error note for granting an application without completing all sections</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\update-status-error.html
">View prototype</a> </td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Section Marked as reviewed</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\plastic\prn-tonnage-authority-reviewed.html">View prototype</a> </td>
    </tr>
  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Section Marked as reviewed with query notes</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\plastic\prn-tonnage-authority-reviewed2.html">View prototype</a> </td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Section Updated</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/status-plasticprntonnageauthority-updated">View prototype</a> </td>
    </tr>
     </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Queried status tag on page after an application update</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\plastic\prn-tonnage-authority-queried3.html
">View prototype</a> </td>
    </tr>
   
  </tbody>
  
</table>



    <h2 class="govuk-heading-m">Regulator Accreditation Reprocessors</h2>



    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
  </strong>
  <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
  </strong>

  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      Version 1.0.0
  </h2>

  <!-- DESCRIPTION -->
  
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Prototypes</th>
        <th scope="col" class="govuk-table__header">Link</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="font-weight:normal">Accreditation Reprocessors (MLS)</th>
        <td class="govuk-table__cell"><a class="govuk-link" href="/packing-recovery-notes/v6-1/regulator-accreditation/reprocessor/new-accreditation">View prototype</a> </td>
      </tr>
      
    
    </tbody>
  </table>


<h2 class="govuk-heading-m"> Regulator Accreditation Exporter</h2>



  <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    Latest
</strong>
<strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    In progess
</strong>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
    Version 1.0.0
</h2>

<!-- DESCRIPTION -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototypes</th>
      <th scope="col" class="govuk-table__header">Link</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Accreditation Exporter (MLS)</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="/packing-recovery-notes/v6-1/regulator-accreditation/exporter/new-accreditation.html">View prototype</a> </td>
    </tr>
    
  
  </tbody>
  
</table>



      
  <h2 class="govuk-heading-m">Application Backlog</h2>



  <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    Latest
</strong>
<strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
    In progess
</strong>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
    Version 1.0.0
</h2>


</div>


  </main>
</div>




</div>
</div>



{% endblock %}