{% set serviceName = "Reprocessors and exporters - add an organisation" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Reprocessors and exporters service</span>
      Add an organisation
    </h1>
  </div>
</div>

<!--START-->


<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Listed on Companies House
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Not listed on Companies House
      </a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        User research
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="past-day" display="block">
    <h2 class="govuk-heading-m">Listed on Companies House</h2>

     
        
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        Jamie adds an organisation and chooses to add an approved person
      </h2>
      

          
        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          Not ready
      </strong>
      

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Version 1.0
      </h2>
<p class="govuk-body"> The organisation is listed on Companies House and is not a partnership </p>

<p>This allows the add an approved person to be a separate task - and to belong to the roles and reponsibilities area.

<br>So that we don't need to build two versions.</p>
  
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    
    

             
            
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">80 percent
      <td class="govuk-table__cell"><a class="govuk-link" href="enrolment/account-creation/add-without/start/account">View prototype</a> </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Limited liability partnership
      <td class="govuk-table__cell"><a class="govuk-link" href="#">View prototype</a> </td>
    </tr>
     
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Partnership adding people</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">View prototype</a> </td>
    </tr>
  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Partnership adding company</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">View prototype</a> </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Partnership adding both</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="#">View prototype</a> </td>
    </tr>
      
   
  </tbody>
  
</table>
      


      
    </div>
    <div class="govuk-!-padding-bottom-3">
     
    </div>


    <!--<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      In progess
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.1
    </h2>
    <p class="govuk-body"> Registration & Accreditation (Exporter) </p>
    DESCRIPTION 
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for Exporter</li>
      <li>Accreditation for Exporter</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home-exporter" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



    
   


    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      Latest
    </strong>
    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2 govuk-!-margin-right-2">
      User Researched
    </strong>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Version 1.0
    </h2>
    <p class="govuk-body"> Registration & Accreditation</p>
  
    <p class="govuk-body govuk-!-margin-bottom-3">
      This prototype includes:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registration for reprocessor</li>
      <li>Accreditation for reprocessor</li>
    </ul>

    <div class="govuk-button-group">
      <form class="" action="packing-recovery-notes/v6-1/home" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>

        </div>


        <input class="govuk-button" type="submit" value="View prototype" />

      </form>
      <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

          </div>
        </div>




      </form>
    </div>
    <div class="govuk-!-padding-bottom-3">
      <hr>
    </div>



   




  </div> End of section-->




  <!--END-->


  <!--Second tab-->



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">



    <h2 class="govuk-heading-m">Not listed on Companies House </h2>


    

      <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Non UK
      <td class="govuk-table__cell"><a class="govuk-link" href="\enrolment\account-creation\separate-non-uk\start\account">View prototype</a> </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Sole trader
      <td class="govuk-table__cell"><a class="govuk-link" href="\enrolment\account-creation\separate-sole-trader\start\account">View prototype</a> </td>
    </tr>
     
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Unincorporated</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\enrolment\account-creation\separate-unincorporated\start\account">View prototype</a> </td>
    </tr>
  <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Partnership</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\enrolment\account-creation\separate-partners\start\account">View prototype</a> </td>
    </tr>
      
   
  </tbody>
  
</table>
    </div>
    <div class="govuk-!-padding-bottom-3">
     
    </div>

 
       <!-- End of not on Companies House section-->





  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
  <h2 class="govuk-heading-m">User research</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="font-weight:normal">Start</th>
      <td class="govuk-table__cell"><a class="govuk-link" href="\packing-recovery-notes\v6-1\regulator-accreditation\reprocessor\assign\officer-check-answers1.html">View prototype</a> </td>
    </tr>
     
      
  
      
   
  </tbody>
  
</table>



    

</div>


  </main>
</div>




</div>
</div>



{% endblock %}