{% set serviceName = "Registration" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Prototypes</span>
            Registration & Accreditation
        </h1>
    </div>


  </div>

  <!--START-->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card card-overview">
          
          
          <!--TITLE-->

          
          <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            Feedback from UR session
        </strong>
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            Updating
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Version 1.2
        </h2>
<p class="govuk-body"> Registration & Accreditation (reprocessor) </p>
        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
            This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Registration for reprocessor</li>
        </ul>

        <div class="govuk-button-group">
           <form class="" action="packing-recovery-notes/v6-1/home" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>

                </div>


                <input class="govuk-button" type="submit" value="View prototype"  />

            </form>
            <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>


            

            </form>
        </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

      

        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



    </div>
</div>
</div>

  <!--END-->


  <!--START-->

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card card-overview">
          
          
          <!--TITLE-->

          
          <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            Latest
        </strong>
        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-right-2">
            In progess
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Version 1.1
        </h2>
<p class="govuk-body"> Registration & Accreditation (Exporter) </p>
        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
            This prototype includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Registration for Exporter</li>
            <li>Accreditation for Exporter</li>
        </ul>

        <div class="govuk-button-group">
           <form class="" action="packing-recovery-notes/v6-1/home-exporter" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>

                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>

                </div>


                <input class="govuk-button" type="submit" value="View prototype"  />

            </form>
            <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">

                    </div>
                </div>


            

            </form>
        </div>
        <div class="govuk-!-padding-bottom-3">  <hr></div>

      

        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>



    </div>
</div>
</div>

  <!--END-->

    <!--START-->
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-column-full card card-overview">
            
            
            <!--TITLE-->
  
            
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
              Latest
          </strong>
          <strong class="govuk-tag govuk-tag--black govuk-!-margin-bottom-2 govuk-!-margin-right-2">
              User Research ongoing
          </strong>
  
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Version 1.0
          </h2>
  <p class="govuk-body"> Registration & Accreditation</p>
          <!-- DESCRIPTION -->
          <p class="govuk-body govuk-!-margin-bottom-3">
              This prototype includes:
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Registration for reprocessor</li>
              <li>Accreditation for reprocessor</li>
          </ul>
  
          <div class="govuk-button-group">
             <form class="" action="packing-recovery-notes/v6-1/home" method="post">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
  
                      </div>
                  </div>
  
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
  
                      </div>
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
  
                      </div>
  
                  </div>
  
  
                  <input class="govuk-button" type="submit" value="View prototype"  />
  
              </form>
              <form class="" action="packing-recovery-notes/v5/regulator/find-a-company/find-a-company" method="post">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
  
                      </div>
                  </div>
  
  
              
  
              </form>
          </div>
          <div class="govuk-!-padding-bottom-3">  <hr></div>
  
        
  
          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Data Submissions UCD Team </p>
  
  
  
      </div>
  </div>
  </div>
  
  <!--END-->


                 </div>
  </div>



{% endblock %}
