{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink ({
      text: "EPR for Packaging",
      href: "/index"
	}) }}
{% endblock %}

{% block pageTitle %}
    {{serviceName}} prototype
{% endblock %}

{% block content %}

  <!-- OVERVIEW AND CONTACTS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">Report packaging data
            <span class="govuk-caption-xl">Prototypes</span>
        </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-top-2">Recent prototypes
        </h2>
    </div>
  </div>

   <!-- Org Details resubmission -->
   <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
         WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Organisation details resubmission
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Organisation details, resubmission. Compliance scheme. Basic and admin user. 
        </p>

        <!-- VERSION • META DATA -->
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>


        <!-- LINK TO PROTOTYPE -->   
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/compliance-scheme/unsuccessful/landing-page.html">Compliance scheme - unsuccessful </a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/compliance-scheme/successful/landing-page.html">Compliance scheme - successful </a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/producer/unsuccessful/landing-page.html">Producer - unsuccessful</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/producer/successful/landing-page.html">Producer - successful</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/compliance-scheme/basic-user/check-status-of-file.html">Compliance scheme basic user - check status</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/compliance-scheme/basic-user/report-changes.html">Compliance scheme basic user - report changes</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/compliance-scheme/basic-user/summary-of-uploads.html">Compliance scheme basic user - summary of uploads</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/producer/basic-user/check-status-of-file.html">Producer basic user - check status</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/producer/basic-user/report-changes.html">Producer basic user - report changes</a></p>
        <p class="govuk-body"><a href="orgdetails-resubmission/v1/producer/basic-user/summary-of-uploads.html">Producer basic user - summary of uploads</a></p>
         
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Amy, Ciara, Gosia & Rahael. Team 6</p>
      </div>
    </div>
  </div>


  <!-- Multi org user account -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Multi organisation user account - round 1
        </h2>

        <!-- DESCRIPTION -->
       
         <!-- VERSION • META DATA -->
         <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 1</h3>
         <p class="govuk-body govuk-!-margin-bottom-5">User is invited to join Division Packing Ltd on RPD service. Emails only.
         </p>
 
         <!-- LINK TO PROTOTYPE -->   
         <p class="govuk-body"><a href="multi-org-user-account/v1/email_scenario1_1.html">Email 1: User receives initial email</a></p>
         <p class="govuk-body"><a href="multi-org-user-account/v1/email_scenario1_2.html">Email 2: User receives an email with delegation action</a></p>

          <!-- VERSION • META DATA -->
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 2</h3>
        <p class="govuk-body govuk-!-margin-bottom-5">User’s permissions are changed to delegated. Email with the link to the service.


        <!-- LINK TO PROTOTYPE -->
        <p class="govuk-body"><a href="multi-org-user-account/v1/email_scenario2.html">Email 3: User receives an email with information about their permission changed.</a></p>   
        <p class="govuk-body"><a href="multi-org-user-account/v1/producer/sign-in.html">Prototype: change organisation (producer)</a></p>

        <!-- VERSION • META DATA -->
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 3</h3>
        <p class="govuk-body govuk-!-margin-bottom-5">User signs in directly into the service and selects organisation or change it after sign in.</p>

        <!-- LINK TO PROTOTYPE -->   
        <p class="govuk-body"><a href="multi-org-user-account/v1/producer/sign-in.html">Prototype: change organisation (producer)</a></p>
        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- TITLE -->
       <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        WIP
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Multi organisation user account - round 2
      </h2>  

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 1</h3>
      <p class="govuk-body"><a href="multi-org-user-account/v2/email_scenario1.html">Email 1: User receives invitation to join an organisation.</a></p>   

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 2</h3>
      <p class="govuk-body"><a href="multi-org-user-account/v2/email_scenario2.html">Email 2: User receives information about being delegated and request to accept</a></p>   

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Scenario 3</h3>
      <p class="govuk-body"><a href="multi-org-user-account/v2/email_scenario3.html">Email 3: User receives confirmation of changed permissions</a></p>   


      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Aga, Gavin and Tom. Team 4</p>
      
      </div>
    </div>
  </div>

   <!-- PoM resubmission -->
   <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            PoM resubmission
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Report packing data, resubmission. Compliance scheme. Basic and admin user. 
        </p>

        <!-- VERSION • META DATA -->
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>


        <!-- LINK TO PROTOTYPE -->   
        <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v1/pom-resubmission-cs/approved/landing-page.html">Compliance scheme - accepted </a></p>
        <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v1/pom-resubmission-cs/rejected/landing-page.html">Compliance scheme - rejected - submission required </a></p>
        <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v1/pom-resubmission-producers/approved/landing-page.html">Producer - accepted</a></p>
        <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v1/pom-resubmission-producers/rejected/landing-page.html">Producer - submission required</a></p>

          <!-- VERSION • META DATA -->
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 2</h3>
  
          <!-- LINK TO PROTOTYPE -->        
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-cs/approved/landing-page.html">Compliance scheme- accepted</a></p>
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-cs/rejected/landing-page.html">Compliance scheme - rejected - no resubmission required</a></p>
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-cs/rejected-noresubmission/landing-page.html">Compliance scheme - rejected - resubmission required</a></p>
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-producers/approved/landing-page.html">Producer - accepted</a></p>
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-producers/rejected/landing-page.html">Producer - rejected - no resubmission required</a></p>
          <p class="govuk-body"><a href="pom-resubmission/pom-resubmission-v2/pom-resubmission-producers/rejected-noresubmission/landing-page.html">Producer - rejected - resubmission required</a></p>
          <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Amy, Ciara, Gosia & Rahael. Team 6</p>
      </div>
    </div>
  </div>

  <!-- PoM soft validation -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
          Tested
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            PoM upload - soft validation
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Report packing data, soft validation. Compliance scheme. Basic and admin user. 
        </p>

        <!-- VERSION • META DATA -->
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version A</h3>
        <p class="govuk-body govuk-!-margin-bottom-5">Sequential validation: hard and then soft. 2 steps, 2 reports.
        </p>

        <!-- LINK TO PROTOTYPE -->   
        <p class="govuk-body"><a href="../report-packaging-data-soft-validation/compliance-scheme/home">Compliance scheme</a></p>
        <p class="govuk-body"><a href="report-packaging-data-soft-validation/producer/home">Producer</a></p>

          <!-- VERSION • META DATA -->
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version B</h3>

          <p class="govuk-body govuk-!-margin-bottom-5">
          Simultianous validation: hard and soft the same time. 1 step, 1 report. 
          </p>
  
          <!-- LINK TO PROTOTYPE -->        
          <p class="govuk-body"><a href="../report-packaging-data-soft-validation/compliance-scheme-b/home">Compliance scheme</a></p>
          <p class="govuk-body"><a href="report-packaging-data-soft-validation/producer-b/home">Producer</a></p>

          <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Aga and Gavin. Team 4</p>
      </div>
    </div>
  </div>

 <!-- Report organisation details -->
 <div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
        Tested
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Report organiation details
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1</h3>
      <p class="govuk-body govuk-!-margin-bottom-2"><a href="./report-organisation-details/producers/version-3/home.html">Producers</a></p>
        <p class="govuk-body"><a href="./report-organisation-details/compliance-schemes/version-3/home.html">Compliance schemes</a></p>
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe, Clare, Richard. Team 2</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Older prototypes
          <span class="govuk-caption-m">Older than September 2023</span>
      </h2>
  </div>
</div>
  <!-- GUIDANCE -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
          outdated
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Guidance
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          How UK organisations can prepare for extended producer responsibility (EPR) for packaging.
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 2 • Team 2
        </p>

        <!-- LINK TO PROTOTYPE -->        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype",
            href: "/guidance/v2/whitehall-guidance"
          }) }}
        
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/guidance/packaging-waste-prepare-for-extended-producer-responsibility">or view published guidance</a>
        </div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./guidance/v1/whitehall-guidance.html">Version 1</a></p>
            <p class="govuk-body " style="color: #505a5f;">May 2022</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- OBLIGATION CHECKER -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Obligation checker
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Check if you need to report packaging data.
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 5 • Team 2
        </p>

        <!-- LINK TO PROTOTYPE -->
        {{ govukButton({
          text: "View prototype",
          href: "/obligation-checker/v5/start-page"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=31%3A1574">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=0%3A1">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 4</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v4/start-page.html">View prototype</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 3.1</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v3.1/start-page.html">View prototype</a></p>
            <!-- <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3967582896/Obligation+Checker+-+Version+3.1">Documentation (opens in new tab)</a></p> -->
            
            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 3</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v3/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3967582896/Obligation+Checker+-+Version+3">Documentation (opens in new tab)</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 2</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v2/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3933929473/Obligation+Checker+-+Version+2">Documentation (opens in new tab)</a></p>

            <p class="govuk-body govuk-!-margin-bottom-2"><strong>Version 1</strong></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./obligation-checker/v1/start-page.html">View prototype</a></p>
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://eaflood.atlassian.net/wiki/spaces/MWR/pages/3858137130/Obligation+Checker+-+Version+1">Documentation (opens in new tab)</a></p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- ACCOUNT CREATION -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Account creation
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Create an account to report packaging data
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Build • Team 2
        </p>

        <!-- LINK TO PROTOTYPE -->        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype",
            href: "/account-creation/build/guidance-report-packaging-data.html"
          }) }}
        </div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./account-creation/v1/start-page.html">Version 1 - Kainos</a></p>
              <p class="govuk-body " style="color: #505a5f;">December 2022</p>


              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./account-creation/old/v2/start-page.html">Version 2 - DEFRA</a></p>
              <p class="govuk-body " style="color: #505a5f;">July 2022</p>

              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./account-creation/old/v1/start-page.html">Version 1 - DEFRA</a></p>
              <p class="govuk-body " style="color: #505a5f;">May 2022</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
      </div>
    </div>
  </div>

  <!-- ADD A COMPLIANCE SCHEME -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2 govuk-!-margin-right-2">
          WIP
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Add a compliance scheme
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Selecting compliance scheme 
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 1 • Team 3
        </p>

        <!-- LINK TO PROTOTYPE -->        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "View prototype version 1",
            href: "/add-compliance-scheme-v2/start.html"
          }) }}
        </div>
        <!-- LINK TO PROTOTYPE -->        
<div class="govuk-button-group">
  {{ govukButton({
    text: "View prototype version 2",
    href: "/add-compliance-scheme/start.html"
  }) }}
</div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Elmer and Joe</p>
      </div>
    </div>
  </div>

  <!-- COMPLIANCE SCHEME UPLOAD POM DATA -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Upload placed on the market (PoM) data to your account 
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Upload and validate your packaging data for this data period.  
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 3 • Team 1
        </p>

        <!-- LINK TO PROTOTYPE -->
        {{ govukButton({
          text: "View prototype",
          href: "/compliance-scheme-pom-upload/v3/task-list"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/NgyEgDBJ6PqV1zmQTsxYBl/EPR-%7C-Manage-my-packaging-%7C-Content-and-interaction-design-space?node-id=1354%3A21443">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./compliance-scheme-pom-upload/v2/task-list.html">Version 2</a></p>
            <p class="govuk-body " style="color: #505a5f;">December 2022</p>
        </div>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./compliance-scheme-pom-upload/v1/task-list.html">Version 1</a></p>
              <p class="govuk-body " style="color: #505a5f;">November 2022</p>
          </div>
         
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Ciara and Richard</p>
      </div>
    </div>
  </div>

  <!-- COMPLIANCE SCHEME UPLOAD REGISTRATION DATA -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
          up to date
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Upload registration data to your account 
        </h2> 

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Upload your organisation details for this data period.
        </p>

        <!-- VERSION • META DATA -->
        <p class="govuk-body govuk-!-margin-bottom-5" style="color: #505a5f;">
          Version 2 • Team 1
        </p>

        <!-- LINK TO PROTOTYPE -->
        {{ govukButton({
          text: "View prototype",
          href: "/compliance-scheme-registration-upload/v1-happypath/organisation-upload"
        }) }}

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <!-- DESIGN DOCUMENTATION -->
        <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Assets
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/crNaqhurE8LOmdiYqizwGI/Design%3A-upload-registration-data?node-id=30%3A3612&t=j22rCRwRGnN8VZLs-1">Wireframes (opens in new tab)</a></p>
            <p class="govuk-body"><a target="blank" class="govuk-link govuk-link--no-visited-state" href="https://www.figma.com/file/crNaqhurE8LOmdiYqizwGI/Design%3A-upload-registration-data?node-id=1%3A2&t=j22rCRwRGnN8VZLs-1">User Journey (opens in new tab)</a></p>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">
              <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="./compliance-scheme-pom-upload/v1/task-list.html">Version 1</a></p>
              <p class="govuk-body " style="color: #505a5f;">January 2023</p>
          </div>
        </details>

        <!-- HAVE A QUESTION -->
        <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Ciara and Richard</p>
      </div>
    </div>
  </div>

    <!-- RESEARCH -->
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-column-full card">
  
          <!-- TITLE -->
          <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
            WIP
          </strong>
  
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Setting up regulator account
          </h2>
  
          <!-- DESCRIPTION -->
          <p class="govuk-body govuk-!-margin-bottom-2">
            Azure B2C screens for first super-users with regulators         
          </p>

          <!-- VERSION • META DATA -->
          <p class="govuk-body govuk-!-margin-bottom-2" style="color: #505a5f;">
            Team 2
          </p>
  
          <p class="govuk-body govuk-!-margin-bottom-4"><a href="./regulators/b2c/option-a/create-account.html">Option A </a>  •  <a href="./regulators/b2c/option-b/create-account.html"> Option B</a></p>


          <!-- HAVE A QUESTION -->
          <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Joe and Caroline</p>
          
        </div>
      </div>
    </div>

  <!-- OLDER PROTOTYPES -->
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-column-full card">

        <!-- TITLE -->
        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
          outdated
        </strong>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Very old prototypes
        </h2>

        <!-- DESCRIPTION -->
        <p class="govuk-body govuk-!-margin-bottom-3">
          Previous prototypes created before the first alpha assessment (2020/21).
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="old-prototypes.html">View previous work</a>
        </p>

      </div>
    </div>
  </div>



{% endblock %}
