{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "Check if EPR for packaging affects you" %}

{% block pageTitle %}
Check if EPR for packaging affects you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Collection and packaging reforms</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register</li>
    </ol>
</div> -->

<a class="govuk-back-link" href="./turnover.html">Back</a>

{% endblock %}



{% block content %}


{{ data["brand-owner-1"] | upper |  log }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">How do you handle and supply packaging?</h1>

      <form action="packaging-activities-change" method="POST" novalidate>

        <!-- ACTIVITY WITH DETAILS -->

        <!-- ACTIVITY 1 -->
        <div class="govuk-form-group govuk-!-margin-top-8 govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you supply goods to the UK market in primary, secondary, or shipment packaging under your own brand?
              </h1>
            </legend>
            
            <!-- DETAILS -->
            <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What does this mean?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">
                  If your organisation makes goods available for purchase in UK shops or online stores under the company’s brand name, you should answer ‘yes’.
                </p>
                <p class="govuk-body">
                  Primary packaging is what goods are contained in when supplied to customers. This is known as a ‘sales unit’.  
                </p>
                <p class="govuk-body">
                  Secondary packaging is used to group several primary packaged ‘sales units’. Organisations may use it to display goods in shops. It can also be used to ship single or multiple items directly to customers. 
                </p>
                <p class="govuk-body">
                  Shipment packaging is a type of secondary packaging that is used to ship single or multiple sales units directly to consumers. This includes carboard boxes and mailing bags. 
                </p>
              </div>
            </details>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-brand-owner-1" name="brand-owner-1" type="radio" value="yes" {{ checked("brand-owner-1", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-brand-owner-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-brand-owner-1" name="brand-owner-1" type="radio" value="no" {{ checked("brand-owner-1", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-brand-owner-1">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <!-- ACTIVITY 2 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset" aria-describedby="activity-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you pay another organisation to pack and place your branded goods on the UK market?
              </h1>
            </legend>
            
            <!-- HINT -->
            <div id="activity-hint" class="govuk-hint">
              You should answer yes if another organisation produces and packs goods for you, which you then sell under your own brand name.
            </div>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-brand-owner-2" name="brand-owner-2" type="radio" value="yes" {{ checked("brand-owner-2", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-brand-owner-2">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-brand-owner-2" name="brand-owner-2" type="radio" value="no" {{ checked("brand-owner-2", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-brand-owner-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>        

        <!-- ACTIVITY 3 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset" aria-describedby="activity-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you import packaging that contains goods into the UK to sell?
              </h1>
            </legend>
            
            <!-- DETAILS -->
            <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What does this mean?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">You should answer yes if your organisation:</p>
                <ol class="govuk-list govuk-list--number">
                  <li>imports products from outside the UK that are in primary and secondary packaging</li>
                  <li>goes on to supply these products to the UK market</li>
                </ol>
                <p class="govuk-body">
                  Secondary packaging includes shipment packaging. Shipment packaging is used to send single or multiple sales units to consumers. This includes things like mail bags and cardboard boxes. 
                </p>
                <p class="govuk-body">
                  You should answer yes even if you discard packaging before selling the goods.  
                </p>
              </div>
            </details>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-importer" name="importer" type="radio" value="yes" {{ checked("importer", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-importer">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-importer" name="importer" type="radio" value="no" {{ checked("importer", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-importer">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <!-- ACTIVITY 4 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you own an online marketplace that allows non-UK businesses to sell packaged products in the UK?
              </h1>
            </legend>
            
            <!-- DETAILS -->
            <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What’s an online marketplace?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">An online marketplace is a website that has been set up to allow non-uk organisations to sell their goods online (for example, Amazon or Etsy).</p>
                <p class="govuk-body">If your organisation owns a website that sells goods from UK organisations only, this is not classed as an online marketplace.</p>
              </div>
            </details>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-online-marketplace" name="online-market-place" type="radio" value="yes" {{ checked("online-market-place", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-online-marketplace">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-online-marketplace" name="online-market-place" type="radio" value="no" {{ checked("online-market-place", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-online-marketplace">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <!-- ACTIVITY 5 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset">
            
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you sell empty packaging to businesses that aren’t obligated under extended producer responsibility for packaging?
              </h1>
            </legend>
            
            <!-- DETAILS -->
            <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to tell if an organisation isn’t obligated
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Some organisations fall under the threshold for the regulations, which means they aren’t legally obligated. This includes organisations that:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>have an annual turnover of less than £2 million a year</li>
                  <li>handle or supply less than 50 tonnes of packaging a year</li>
                </ul>
              </div>
            </details>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-distributor" name="distributor" type="radio" value="yes" {{ checked("distributor", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-distributor">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-distributor" name="distributor" type="radio" value="no" {{ checked("distributor", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-distributor">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <!-- ACTIVITY 6 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset" aria-describedby="activity-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you hire out or lend reusable packaging to UK organisations?
              </h1>
            </legend>

            <!-- HINT -->
            <div id="activity-hint" class="govuk-hint">
              For example, some organisations hire out or lend wooden pallets to other organisations for transporting goods. The wooden pallets are returned after use and loaned out again. 
            </div>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-service-provider" name="service-provider" type="radio" value="yes" {{ checked("service-provider", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-service-provider">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-service-provider" name="service-provider" type="radio" value="no" {{ checked("service-provider", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-service-provider">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <!-- ACTIVITY 7 -->
        <div class="govuk-form-group govuk-!-margin-bottom-8">
          <fieldset class="govuk-fieldset" aria-describedby="activity-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Do you sell empty or filled packaging directly to end consumers?
              </h1>
            </legend>
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-seller" name="seller" type="radio" value="yes" {{ checked("seller", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="yes-seller">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-seller" name="seller" type="radio" value="no" {{ checked("sellerr", "no") }}>
                <label class="govuk-label govuk-radios__label" for="no-seller">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>



    </div>
</div>

{% endblock %}