{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "Check if EPR for packaging affects you" %}

{% block pageTitle %}
Check if EPR for packaging affects you | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}

{% endblock %}


{% block content %}

{{ data | log }}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">The amount of packaging you sold, hired, loaned, gifted or discarded in the UK</h1>

        <p>The ways that you sold, hired, loaned, gifted or discarded packaging in the UK may make you legally obligated under EPR for packaging. These include:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
          {% if data["importer"] == 'yes' %}
          <li>
            import packaging that contains goods into the UK to sell
          </li>
          {% endif %}
          {% if data["online-market-place"] == 'yes' %}
          <li>
            own an online marketplace that allows non-UK businesses to sell packaged products in the UK
          </li>
          {% endif %}
          {% if data["distributor"] == 'yes' %}
          <li>
            sell empty packaging to businesses that aren’t obligated under extended producer responsibility for packaging
          </li>
          {% endif %}
          {% if data["service-provider"] == 'yes' %}
          <li>
            hire out or lend reusable packaging to UK organisations
          </li>
          {% endif %}
          {% if data["seller"] == 'yes' %}
          <li>
            sell empty or filled packaging directly to end consumers
          </li>
          {% endif %}
        </ul>
        
        <form method="POST" action="packaging-nation-tonnage">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

          
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-4">
              <h2 class="govuk-fieldset__heading">
                How much packaging in total did you sell, hire, loan, gift or discard in the UK in these ways, in 2022?              
              </h2>
            </legend>

            <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What do you mean by sell, hire, loan, gift or discard?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">
                  Selling, hiring, gifting, loaning or discarding packaging includes any of the following: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>selling empty or filled packaging on the UK market to end consumers</li>
                  <li>hiring out empty or filled packaging for a fee</li>
                  <li>loaning empty or filled packaging for free</li>
                  <li>exchanging empty or filled packaging for something other than money</li>
                  <li>giving empty or filled packaging as a prize</li>
                  <li>giving empty or filled packaging as a gift</li>
                  <li>importing packaging into the UK and throwing it away before selling it</li>
                </ul>

                <p class="govuk-body">
                  For any packaging you hire or loan out in the UK, you only need to include it in your total if it’s being hired or loaned out for the first time. 
                </p>
              </div>
            </details>

            

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Under 25 tonnes" name="nation-tonnage" type="radio" value="Under 25 tonnes" {{ checked("nation-tonnage", "Under 25 tonnes") }}>
                  <label class="govuk-label govuk-radios__label" for="Under 25 tonnes">
                    Under 25 tonnes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="25 tonnes or more" name="nation-tonnage" type="radio" value="25 tonnes or more" {{ checked("nation-tonnage", "25 tonnes or more") }}>
                  <label class="govuk-label govuk-radios__label" for="25 tonnes or more">
                    25 tonnes or more
                  </label>
                </div>
              </div>

          
            </fieldset>
          </div> 
            {{ govukButton({
                text: "Continue"
            })}}
        </form>
    </div>
</div>

{% endblock %}