{% extends "layout.html" %}

{% set serviceName %}
  Collection and packaging reforms
{% endset%}

{% set serviceName = "Check if your organisation needs to register" %}

{% block pageTitle %}
Check if your organisation needs to register | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Collection and packaging reforms</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Check if your organisation needs to register</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST" action="route-question-2">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">Which of these activities does your business carry out?</h1>

                    </legend>

                    <div class="govuk-hint">
                        Select all that apply.
                    </div>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input1" name="obCombinedDrs" type="checkbox" value="yes">
                            <label class="govuk-label govuk-checkboxes__label" for="input1">
                                Fills drinks containers with its own branded drinks to place on the market in England, Wales or Northern Ireland
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input2" name="obCombinedDrs" type="checkbox" value="yes">
                            <label class="govuk-label govuk-checkboxes__label" for="input2">
                                Imports filled drinks containers from outside of the UK to place on the market in England, Wales or Northern Ireland
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input3" name="obCombinedDrs" type="checkbox" value="yes">
                            <label class="govuk-label govuk-checkboxes__label" for="input3">
                                Sells filled drinks containers to end consumers in England, Wales or Northern Ireland
                            </label>
                        </div>
                        <p>or</p>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="input4" name="obCombinedDrs" type="checkbox" value="no">
                            <label class="govuk-label govuk-checkboxes__label" for="input4">
                                None of these
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{ govukDetails({
                summaryText: "My organisation carries out one or more of these activities in Scotland",
                html: '
                <p>Scotland operates its own deposit return scheme (DRS). You must report any drinks container data for Scotland directly to their scheme administrator.</p>
                <p><a href="https://depositreturnscheme.zerowastescotland.org.uk/" target="_blank">Find out more about reporting data for Scotland on the Zero Waste Scotland website (opens in new tab)</a>.</p>
                '
              }) }}

            {{ govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}