{% extends "layout-private-beta-research.html" %}

{% set serviceName %}
Report packaging data
{% endset%}

{% set serviceName = "Report packaging data" %}

{% block pageTitle %}
Report packaging data
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}

{{ govukHeader({
homepageUrl: "../../../index.html",
serviceName: "Report packaging data",
serviceUrl: "#",
navigation: [
{
href: "landing-page.html",
text: "Home"
},
{
href: "#",
text: "Manage account"
},
{
href: "#",
text: "Sign out"
}
]
}) }}

{{ govukPhaseBanner({
tag: {
text: "prototype"
},
html: 'This is not a live service.',
classes: 'govuk-width-container'
}) }}

{% endblock %}

{% block beforeContent %}


<nav class="defra-language-select" aria-label="Language switcher">
        {{ govukBackLink({
            text: "Back",
            href: "lp-sub-landing-page-s3"
        }) }}

  <ul class="defra-language-select__list">
    <li class="defra-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="defra-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>

  </ul>

</nav>

 
{% endblock %}




{% block content %}

<!-- Responsive Table for Prototype added in to fix the issue where tables with more than 3 columns with long labels dont resize properly on mobile.
Table for Mobile (max-width: 768px). 
The thead is hidden since the table headers will now be shown before the cell content using the data-header attribute.
Each row is displayed as a block, and individual cells are turned into flex containers.
The header for each cell (using data-header) is displayed using the ::before pseudo-element, simulating a label before each cell's content.
Checked and no issues with waze.
-->

<style>
  .govuk-table {
    width: 100%;
    border-collapse: collapse;
  }

  .govuk-table__header,
  .govuk-table__cell {


    text-align: left;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    text-align: right;
  }

  /* Responsive Table */
  @media screen and (max-width: 768px) {
    .govuk-table thead {
      display: none;
    }

    .govuk-table__row {
      display: block;
      margin-bottom: 10px;
    }

    .govuk-table__cell,
    .govuk-table__header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      position: relative;
    }

    .govuk-table__cell::before {
      content: attr(data-header);
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      width: 65%;
      /* Adjust this to control the space for longer header tiles :) */
    }

    .govuk-table__cell--numeric {
      text-align: left;
    }

    .govuk-table__cell {
      display: flex;
      justify-content: space-between;
    }
  }
</style>




<!--aug 24-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds    ">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
     Certificate of Compliance for 2025
    </h1>



  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <h2 class="govuk-heading-m">Your details</h2>
               <p class="govuk-body"><strong>Compliance scheme: </strong>COMPLIANCE LTD (EA)</p>
              <p class="govuk-body"><strong>Organisation ID: </strong>215148</p>
       <p class="govuk-body"><strong>Regulator: </strong>Environment Agency (England)</p>

         <p class="govuk-body"><strong>Date: </strong>14 January 2026</p>
 <p class="govuk-body"><strong>Obligation status:</strong> <strong class="govuk-tag govuk-tag--green">Met</strong></p>




       <h1 class="govuk-heading-l">
                        Declaration              
                    </h1>

                    <p class="govuk-body">By entering your name and submitting this Certificate of Compliance to the regulator, you confirm that: </p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>you are authorised to act on behalf of your organisation</li>
                      <li>the information you are submitting is accurate</li>
                    </ul>
                    
                    
                    <div class="govuk-form-group">
                     <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                       Enter your full name
                     </legend>
                      <input class="govuk-input" id="event-name" name="event-name" type="text">
                    </div>
                    
                    
              




                      {{ govukButton({
                        text: "Confirm and submit",
                        preventDoubleClick: true,
                        href: 'success.html',
                        classes: 'govuk-!-margin-top-4'
                        }) }}


</form>



  </div>
</div>








{% endblock %}