{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Subsidiary
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-2">Compliance schemes</h2>
  </div>
</div>

<!-- Cancel invited user -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
      July 2024
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance schemes adding subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2"></h3>
      <p class="govuk-body govuk-!-margin-bottom-5">
      </p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="compliance-schemes/landing-page">Compliance schemes without subsidiaries</a></p>
      <p class="govuk-body"><a href="compliance-schemes/landing-page-2">Compliance schemes with some subsidiaries</a></p>
      <p class="govuk-body"><a href="compliance-schemes/landing-page-3">Compliance schemes with subsidiaries upload in progress</a></p>
      <p class="govuk-body"><a href="compliance-schemes/landing-page-4">Subsidiaries upload large file error</a></p>
      <p class="govuk-body"><a href="compliance-schemes/fix-warnings">Subsidiaries uploaded but partial error</a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Melody Curtis.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
      July 2024
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producers adding subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->
      

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="#">Producers without subsidiaries</a></p>
      <p class="govuk-body"><a href="#">Producers with some subsidiaries</a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Melody Curtis.</p>
    </div>
  </div>
</div><br><br><br>



{% endblock %}