{% set serviceName = "Report packaging data" %}

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink ({
text: "EPR for Packaging",
href: "/index"
}) }}
{% endblock %}

{% block pageTitle %}
{{serviceName}} prototype
{% endblock %}

{% block content %}

<!-- OVERVIEW AND CONTACTS -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
    <h1 class="govuk-heading-l">Subsidiary
      <span class="govuk-caption-xl">Prototypes</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-top-2">Producers</h2>
  </div>
</div>

<!-- Cancel invited user -->
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
      July 2024
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Producers with no subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2"></h3>
      <p class="govuk-body govuk-!-margin-bottom-5">
      </p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="producers-no/dash">first try</a></p>
      <p class="govuk-body"><a href="#">new try</a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Melody Curtis.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full card">

      <!-- TITLE -->
      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
      July 2024
      </strong>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Compliance scheme staff with no subsidiaries
      </h2>

      <!-- DESCRIPTION -->

      <!-- VERSION • META DATA -->
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Adding </h3>
      <p class="govuk-body govuk-!-margin-bottom-5">check your answers page to change their inputs.
      </p>

      <!-- LINK TO PROTOTYPE -->
      <p class="govuk-body"><a href="#">Adding the parameter values in to the service</a></p>
      <p class="govuk-body"><a href="#">First attempt</a></p>
      
      <!-- HAVE A QUESTION -->
      <p class="govuk-body-s" style="color: #505a5f;">Got a question? Contacts: Melody Curtis.</p>
    </div>
  </div>
</div><br><br><br>



{% endblock %}