{% extends "layout.html" %}

{% block pageTitle %}
    Authorised person | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Declaration
        </h1>

        {{ govukCheckboxes({
            name: "declaration",
            items: [
                {
                value: "accepted",
                text: "By continuing, I confirm that I, John Smith am authorised to act on behalf of Acme Org Ltd."
                }
            ]
        }) }}
        
        {{ govukWarningText({
            text: "You could be prosecuted or have to pay a financial penalty if you are not authorised to act on behalf of Acme Org Ltd.",
            iconFallbackText: "Warning"
        }) }}

        <form method="POST" action="home?declared=yes">

            {{ govukButton({
                text: "Confirm and continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}