{% extends "layout.html" %}

{% block pageTitle %}
    Home | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register as an obligated packaging producer
        </h1>

        {% if data['registered'] == 'yes' %}
            <p class="govuk-!-margin-bottom-8">Your scheme identification number (EPRIN): <strong>0038173</strong></p>
        {% endif %}
        

        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Register for 2023
                </h2>
                {% if data['registered'] != 'yes' %}
                    {{ govukWarningText({
                        text: "Your organisation must be registered before [date].",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}


                {% if data['year'] == '2' %}

                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['obligated'] %}
                                <a href="registration-choice-done">
                                    Obligation declaration
                                </a>
                            {% else %}
                                <a href="registration-choice">
                                    Obligation declaration
                                </a>
                            {% endif %}
                        </span>
                        {% if data['obligated'] %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['obligated'] %}
                                {% if data['obligated'] == 'no' %}
                                    <s>Register your organisation</s>
                                {% endif %}
                                {% if data['obligated'] == 'yes' %}
                                    <a href="registration-start">
                                        Register your organisation
                                    </a>
                                {% endif %}
                            {% else %}
                            Register your organisation
                            {% endif %}

                        </span>

                        {% if data['obligated'] %}
                            {% if data['obligated'] == 'no' %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not required</strong>
                            {% endif %}
                            {% if data['obligated'] == 'yes' and data['applied'] == 'no' %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                            {% endif %}
                            {% if data['obligated'] == 'yes' and data['applied'] == 'yes' %}
                                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}

                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['obligated'] %}
                                {% if data['obligated'] == 'no' %}
                                    <s>Pay your registration fees</s>
                                {% endif %}
                                {% if data['obligated'] == 'yes' and data['applied'] == 'no' %}
                                    Pay your registration fees
                                {% endif %}
                                {% if data['obligated'] == 'yes' and data['applied'] == 'yes' %}
                                    <a href="home?paid=yes">
                                        Pay your registration fees
                                    </a>
                                {% endif %}
                            {% else %}
                                Pay your registration fees
                            {% endif %}


                        </span>

                        {% if data['obligated'] %}
                            {% if data['obligated'] == 'no' %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not required</strong>
                            {% endif %}
                            {% if data['obligated'] == 'yes' and data['applied'] == 'no' and data['paid'] == 'no' %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                            {% endif %}
                            {% if data['obligated'] == 'yes' and data['applied'] == 'yes' and data['paid'] == 'no' %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                            {% endif %}
                            {% if data['obligated'] == 'yes' and data['applied'] == 'yes' and data['paid'] == 'yes' %}
                                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}

                    </li>
                </ul>

                <!-- ##################  Year 1 below  ################## -->
                {% else %}

                <ul class="app-task-list__items">

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['applied'] == 'yes' %}
                                Submit your organisation information
                            {% else %}
                                <a href="registration-start">
                                    Submit your organisation information
                                </a>
                            {% endif %}
                        </span>

                        {% if data['applied'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                                Pay your registration fee
                            {% endif %}

                            {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                                <a href="payment-information">
                                    Pay your registration fee
                                </a>
                            {% endif %}
                                
                            {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                                Pay your registration fee
                            {% endif %}

                        </span>

                        {% if data['applied'] == 'no' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}

                        {% if data['applied'] == 'yes' and data['paid'] == 'no' %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}
                            
                        {% if data['applied'] == 'yes' and data['paid'] == 'yes' %}
                            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% endif %}
                            
                    </li>

                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% if data['applied'] == 'yes' %}
                                <a href="application-status">
                                    Your application status
                                </a>
                            {% else %}
                                Your application status
                            {% endif %}
                        </span>

                        {% if 
                            data['applied'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not submitted</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'no' and 
                            data['registered'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Awaiting payment</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'yes' and 
                            data['registered'] == 'no' 
                        %}
                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">Being reviewed</strong>
                        {% endif %}

                        {% if 
                            data['applied'] == 'yes' and 
                            data['paid'] == 'yes' and 
                            data['registered'] == 'yes' 
                        %}
                            <strong class="govuk-tag govuk-tag--green app-task-list__tag">Approved</strong>
                        {% endif %}
                        
                    </li>

                </ul>

                {% endif %}

            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Report 2022 packaging data
                </h2>

                {% if data['reported'] != 'yes' %}
                    {{ govukWarningText({
                        text: "Your organisation must report 2022 data before [date].",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}

                <ul class="app-task-list__items">
                    <!-- Not required for Producer to complete in year 1
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">
                                Choose how to report your data
                            </a>
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                    </li>-->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">

                            {% if data['applied'] == 'yes' and data['paid'] == 'yes' and data['registered'] == 'yes' %}
                                {% if data['reported'] == 'yes' %}
                                    <a href="#">
                                        Report your data
                                    </a>
                                {% else %}
                                    <a href="report-method">
                                        Report your data
                                    </a>
                                {% endif %}
                            {% else %}
                                Report your data
                            {% endif %}

                        </span>

                        {% if data['applied'] == 'yes' and data['paid'] == 'yes' and data['registered'] == 'yes' %}
                            {% if data['reported'] == 'yes' %}
                                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                            {% endif %}
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                        {% endif %}
                        
                    </li>
                </ul>
            </li>

            
        </ol>
    </div>
</div>

{% endblock %}