{% extends "layout.html" %}

{% block pageTitle %}
  Pay your registration fees | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">
            Pay your registration fee
        </h1>

        <h2 class="govuk-heading-m">Your organisation's registration fee</h2>

        {{ govukDetails({
          summaryText: "See how your fee is calculated",
          html: '
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Annual regulator registration fee
              </dt>
              <dd class="govuk-summary-list__value">
                £536
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Annual regulator compliance fee
              </dt>
              <dd class="govuk-summary-list__value">
                £250
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Annual regulator enforcement fee
              </dt>
              <dd class="govuk-summary-list__value">
                £348
              </dd>
            </div>
          </dl>
          '
        }) }}

        {{ govukSummaryList({
          classes : "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Total amount due"
              },
              value: {
                text: "£1134"
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">How to pay</h2>
        
        <p>&pound;1134 should be paid to the Environment Agency by BACS.</p>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Account name"
              },
              value: {
                text: "Environment Agency"
              }
            },
            {
              key: {
                text: "Sort code"
              },
              value: {
                text: "60 70 80"
              }
            },
            {
              key: {
                text: "Account number"
              },
              value: {
                text: "10010010"
              }
            },
            {
              key: {
                text: "International Bank Account Number (IBAN)"
              },
              value: {
                text: 'GB12 NWBK 345678 10014411'
              }
            },
            {
              key: {
                text: "Payment reference"
              },
              value: {
                text: 'PROD123456'
              }
            }
          ]
        }) }}

        <p><a href="payment-information-send">Send this as an invoice to your accounts person or department</a></p>

        <div class="govuk-!-margin-top-8">

          <form method="POST" action="payment-complete">

            {{ govukCheckboxes({
              idPrefix: "paid",
              name: "paid",
              fieldset: {
                legend: {
                  text: "Confirm payment and complete your application",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "I confirm payment has been made."
                }
              ]
            }) }}
          
            {{govukButton({
                text: "Confirm and complete"
            })}}

          </form>

        </div>
        
    </div>
</div>

{% endblock %}