{% extends "layout.html" %}

{% block pageTitle %}
    Correspondence details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="registration-subsidiaries">

            {% call govukFieldset({
                legend: {
                text: "Review your organisation's correspondence contact details",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
                }
            }) %}
            
                {{ govukInput({
                    label: {
                        html: 'Phone number'
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "correspondencePhone",
                    name: "correspondencePhone",
                    value: "01234 567899"
                }) }}
            
                {{ govukInput({
                    label: {
                        html: 'Email address'
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "correspondenceEmail",
                    name: "correspondenceEmail",
                    value: "info@company.co.uk"
                }) }}
            
            {% endcall %}

            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>
</div>

{% endblock %}