{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-xl govuk-!-margin-top-4">Add a subsidiary</span>
        <h1 class="govuk-heading-xl">Confirm the subsidiary company details</h1>

        <p class="govuk-body">We need to know the registered company details for verification purposes. It is typically the head office.</p>

        <h2 class="govuk-heading-m">Subsidiary One Ltd</h2>

        <p><b>Limited Company</b></p>

        <p>11 Long Lane, Leeds, West Yorkshire, LS1 2AB</p>

        <p>Company number {{ data['sub1CompaniesHouseNumber'] or '01234567' }}.  <a href="registration-subsidiaries-add-companies-house-lookup">Enter a different number</a>.</p>

        {{ govukDetails({
          summaryText: "This is not the correct registered office address",
          html: '<p class="govuk-body">We must use the address that is registered with Companies House. If your address has changed then you must <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">tell Companies House (opens in a new tab)</a>.</p>
          <p class="govuk-body">Once your details have been updated by Companies House you can return and continue your service registration providing it is within 3 days of your last login.</p>'
        }) }}

        <form method="POST" action="registration-subsidiaries-add-contact">
          {{ govukButton({
            text: "Confirm"
          }) }}
        </form>
        
    </div>
</div>

{% endblock %}