{% extends "layout.html" %}

{% block pageTitle %}
    Obligation declaration | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
            Obligation declaration
        </h1>

        <!-- Radio button routing in /epr/vN/_routes.js -->
        <form method="POST" action="registration-choice-choice">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Will your organisation exceed the packaging obligation threshold during the year 2023?
                    </h1>
                </legend>

                {{ govukDetails({
                    summaryText: "How do I know if I'm obligated?",
                    html: '<p>Some helpful info and perhaps a link to the <a href="#" target="_blank">obligation checking tool</a>.</p>'
                }) }}

                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field1" name="regChoice" type="radio" value="yes" {% if data['obligated'] == 'yes' %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="field1">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field2" name="regChoice" type="radio" value="no" {% if data['obligated'] == 'no' %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="field2">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="field3" name="regChoice" type="radio" value="unsure">
                        <label class="govuk-label govuk-radios__label" for="field3">
                            I don't know
                        </label>
                    </div>
                </div>
                </fieldset>
            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>


        
    </div>
</div>

{% endblock %}