{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-xl govuk-!-margin-top-4">Add a subsidiary</span>
        <h1 class="govuk-heading-l">Confirm the subsidiary’s registered details</h1>

        <p>These details are usually for the company’s head office. We need them to help us verify the subsidiary.</p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub1CompanyName'] or 'Subsidiary One Ltd' }} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Limited company
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered office address
            </dt>
            <dd class="govuk-summary-list__value">
              11 Long Lane, Leeds, West Yorkshire, LS1 2AB
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub1CompaniesHouseNumber'] or '01234567' }}
            </dd>
          </div>
        </dl>

        <p>If this is not the correct subsidiary, <a href="registration-subsidiaries-add-companies-house-search">search for a different company</a>.</p>

        {{ govukDetails({
          summaryText: "The registered office address is incorrect",
          html: '
          <p><a href="https://www.gov.uk/make-changes-to-your-limited-company/company-address" target="_blank">Find out how to update the registered office address (opens in new window or tab)</a>.</p>
          <p>Once the address is up to date on the Companies House register, you should come back and search for the company again.</p>
          '
        }) }}

        <form method="POST" action="registration-subsidiaries-add-contact">
          {{ govukButton({
            text: "Confirm"
          }) }}
        </form>
        
    </div>
</div>

{% endblock %}