{% extends "layout.html" %}

{% block pageTitle %}
    Check your contact details | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
          Are these the contact details we should use for {{ data['defraIdFirstName'] or defaults['defraIdFirstName'] }} {{ data['defraIdSurname'] or defaults['defraIdSurname'] }}?
        </h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['defraIdPersonalPhone'] or defaults['defraIdPersonalPhone'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['govGateEmail'] or defaults['govGateEmail'] }}
            </dd>
          </div>
        </dl>
        
        <form method="POST" action="route-check-contact">

            {{ govukRadios({
              idPrefix: "",
              name: "contactChoice",
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No, I need to enter different contact details"
                }
              ]
            }) }}

            {{govukButton({
                text: "Continue"
            })}}

        </form>

        
    </div>
</div>

{% endblock %}