{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-xl">Acme Org Ltd’s subsidiaries</h1>

        {% if data['sub1'] == "1" %}

        <h2 class="govuk-heading-m">Subsidiary 1</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Registered details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub1CompanyName'] or 'Subsidiary One Ltd' }} ({{ data['sub1CompaniesHouseNumber'] or '00876543' }})<br />
              {{ data['sub1CompanyAddress1'] or '11 Long Lane, ' }}
              {{ data['sub1CompanyTown'] or 'Leeds, ' }}
              {{ data['sub1CompanyCounty'] or 'West Yorkshire, ' }}
              {{ data['sub1CompanyCounty'] or 'LS1 2AB' }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Contact details
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['sub1CompanyPhone'] or '0113 0948 333' }}<br />
                {{ data['sub1CompanyEmail'] or 'enquiries@subsidiary.com' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <p class="govuk-!-margin-top-2"><a href="registration-subsidiaries-add-remove?subName={{ data['sub1CompanyName'] or 'Subsidiary One Ltd' }}">Remove this subsidiary</a></p>
          </div>

        </dl>
        {% endif %}




        {% if data['sub2'] == "1" %}
        <h2 class="govuk-heading-m">Subsidiary 2</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Registered details
            </dt>
            <dd class="govuk-summary-list__value">
                Subsidiary Two Ltd ({{ data['sub2CompaniesHouseNumber'] or '00876544' }})<br />
                Unit 12, Smith Street, Newcastle, N23 4RE
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Contact details
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['sub2CompanyPhone'] or '01423 555 787' }}<br />
                {{ data['sub2CompanyEmail'] or 'hello@subsidiary2.com' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <p class="govuk-!-margin-top-2"><a href="registration-subsidiaries-add-remove?subName={{ data['sub2CompanyName'] or 'Subsidiary Two Ltd' }}">Remove this subsidiary</a></p>
          </div>

        </dl>
        {% endif %}


        {% if data['sub1'] == "null" and data['sub2'] == "null" %}

          <p>You have not added any subsidiaries yet.</p>
          <form method="POST" action="registration-subsidiaries-add-companies-house">
              <button class="govuk-button govuk-button">
                Add a subsidiary
              </button>
          </form>

        {% else %}

          <form method="POST" action="registration-subsidiaries-add-companies-house">
              <button class="govuk-button govuk-button--secondary">
                  {% if data['sub1'] %}
                      Add another subsidiary
                  {% else %}
                      Add a subsidiary
                  {% endif %}
              </button>
          </form>

          {% if data['sub1'] %}
          <form method="POST" action="registration-subsidiaries-add-check">
              <button class="govuk-button">
                  Continue
              </button>
          </form>
          {% endif %}

        {% endif %}

    </div>
</div>

{% endblock %}