{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-xl govuk-!-margin-top-4">Add a subsidiary</span>
        <h1 class="govuk-heading-xl">Enter the subsidiary company’s contact details</h1>
        <p>These could be the contact details included on the subsidiary company’s website, or for its head office or management team.</p>

        <form method="POST" action="registration-subsidiaries-add?sub1=1">

        {{ govukInput({
            label: {
            text: "Phone number"
            },
            classes: "govuk-!-width-one-half",
            id: "sub1CompanyPhone",
            name: "sub1CompanyPhone",
            value: data['sub1CompanyPhone'],
            type: "tel"
        }) }}

        {{ govukInput({
            label: {
            text: "Email address"
            },
            classes: "govuk-!-width-three-quarters",
            id: "sub1CompanyEmail",
            name: "sub1CompanyEmail",
            value: data['sub1CompanyEmail'],
            type: "email"
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

        </form>
        
    </div>
</div>

{% endblock %}