{% extends "layout.html" %}

{% block pageTitle %}
    You have submitted your organisation information | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Your organisation information has been added to your application"
      }) }}

      <h2 class="govuk-heading-m">What happens next?</h2>

      <p>You must pay your organisation's registration fees and then your application will be complete.</p>

      <form method="POST" action="home?applied=yes">

          {{govukButton({
              text: "Continue"
          })}}

      </form>
        
    </div>
</div>

{% endblock %}