{% extends "layout.html" %}

{% block pageTitle %}
    Add subsidiaries | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <span class="govuk-caption-xl govuk-!-margin-top-4">Add a subsidiary</span>
        <h1 class="govuk-heading-xl">Confirm the subsidiary’s registered company details</h1>

        <p>These details are usually for the company’s head office. We need them to help us verify the subsidiary.</p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Subsidiary One Ltd
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Limited company
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered address
            </dt>
            <dd class="govuk-summary-list__value">
              11 Long Lane, Leeds, West Yorkshire, LS1 2AB
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sub1CompaniesHouseNumber'] or '01234567' }}
            </dd>
          </div>
        </dl>

        {{ govukDetails({
          summaryText: "The registered address is not correct",
          html: '<p>TBC</p>'
        }) }}

        <p>If this is not the correct subsidiary, you can <a href="registration-subsidiaries-add-companies-house-lookup">enter a different company number</a>.</p>

        <form method="POST" action="registration-subsidiaries-add-contact">
          {{ govukButton({
            text: "Confirm"
          }) }}
        </form>
        
    </div>
</div>

{% endblock %}