{% extends "layout.html" %}

{% block pageTitle %}
    Choose how to report your data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
          text: "Back",
          href: "javascript:history.back()"
      }) }}
        
      <!-- Radio button routing in /vN/epr/_routes.js -->
      <form method="POST" action="route-report-method">

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                      How would you prefer to submit your packaging data?
                  </h1>
              </legend>
              <!--<p class="govuk-hint">If you choose 'Yes' you can enter a different address, phone number or email address</p>-->

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="field2" name="reportMethodChoice" type="radio" value="manual">
                    <label class="govuk-label govuk-radios__label" for="field2">
                        Type data manually
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="field1" name="reportMethodChoice" type="radio" value="spreadsheet">
                    <label class="govuk-label govuk-radios__label" for="field1">
                        Upload a spreadsheet
                    </label>
                </div>
              </div>
              </fieldset>
          </div>

          {{govukButton({
              text: "Continue"
          })}}

      </form>

    </div>
</div>

{% endblock %}