{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="route-reporting-brandowner">
            
            {% call govukFieldset({
            legend: {
                text: "Packaging materials placed on the market as a brand owner",
                classes: "govuk-fieldset__legend--l"
            }
            }) %}

            {{ govukDetails({
                summaryText: "How to complete these fields",
                html: '
                    <p>What to include:</p>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                    <p>What not to include:</p>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                '
            }) }}

                {% if 'paper' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Paper"
                        },
                        classes: "govuk-input--width-5",
                        id: "paperBrandowner",
                        name: "paperBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'glass' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Glass"
                        },
                        classes: "govuk-input--width-5",
                        id: "glassBrandowner",
                        name: "glassBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'aluminium' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Aluminium"
                        },
                        classes: "govuk-input--width-5",
                        id: "aluminiumBrandowner",
                        name: "aluminiumBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'steel' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Steel"
                        },
                        classes: "govuk-input--width-5",
                        id: "steelBrandowner",
                        name: "steelBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'plastic' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Plastic"
                        },
                        classes: "govuk-input--width-5",
                        id: "plasticBrandowner",
                        name: "plasticBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'wood' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Wood"
                        },
                        classes: "govuk-input--width-5",
                        id: "woodBrandowner",
                        name: "woodBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

                {% if 'other' in data['reportBrandowner'] %}

                    {{ govukInput({
                        label: {
                            text: "Other"
                        },
                        classes: "govuk-input--width-5",
                        id: "otherBrandowner",
                        name: "otherBrandowner",
                        suffix: {
                            text: "tonnes"
                        },
                        spellcheck: false
                    }) }}

                {% endif %}

            {% endcall %}

            {{govukButton({
                text: "Continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}