{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <form method="POST" action="report-imported-start-choice">

            {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: "reportExported",
                name: "reportExported",
                fieldset: {
                    legend: {
                    text: "Did you export any packaging during 2022?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                    }
                },
                hint: {
                    text: "Some helpful information."
                },
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
            }) }}

            {{govukButton({
                text: "Continue"
            })}}

        </form>
        
    </div>
</div>

{% endblock %}