{% extends "layout.html" %}

{% block pageTitle %}
    Report packaging data | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  <div id="profile">
    {% include "includes/account-nav-admin-individual.html" %}
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
            text: "Back",
            href: "javascript:history.back()"
        }) }}

        <h1 class="govuk-heading-l">
            Report packaging data
        </h1>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p>This takes around X minutes.</p>
        <p>You will need the following information:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>do something</li>
          <li>update your name, address or other details</li>
          <li>do something else</li>
        </ul>

        {% if data['reported'] == 'no' %}
            <form method="POST" action="report-method?intro2=yes">
                <button class="govuk-button">
                    Continue with this section
                </button>
            </form>

            <p><a href="home?intro2=yes">Come back to this section later</a></p>
        {% endif %}
        
    </div>
</div>

{% endblock %}