{% extends "layout.html" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Manufacturing</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-xl">Packaging waste: producer responsibilities</h1>

        <p class="govuk-body-l">Obligated packaging producers must register and meet their waste packaging recycling and recovery responsibilities.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <nav class="">
            <p>Contents</p>
            <ol class="govuk-list govuk-list--bullet">
                <li >
                <a href="#check-if-youre-an-obligated-packaging-producer">Check if you’re an obligated packaging producer</a>
                </li>
                <li>
                <a href="#register-as-a-packaging-producer">Register as a packaging producer</a>
                </li>
                <li>
                <a href="#packaging-producer-charges">Packaging producer charges</a>
                </li>
                <li>
                <a href="#comply-with-your-registration">Comply with your registration</a>
                </li>
                <li>
                    <a href="#">Penalties</a>
                </li>
                <li>
                    <a href="#">Public register and disclosure</a>
                </li>
                <li>
                    <a href="#">Contact your environmental regulator</a>
                </li>
                <li>
                    <a href="#">Legislation and regulations</a>
                </li>
            </ol>
        </nav>

        <p>Some guidance about the extended producer responsibility.</p>

        <h2 class="govuk-heading-m">Find out if you're obligated</h2>

        <p>Use our fantastic <a href="#">obligation checking tool</a>.</p>

        <h2 class="govuk-heading-m">Register your organisation</h2>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>do something</li>
          <li>update your name, address or other details</li>
          <li>do something else</li>
        </ul>

        <h3 class="govuk-heading-s">First time registration</h3>

        <form method="POST" action="../defra-id/email-address">

            <button class="govuk-button govuk-!-margin-top-2 govuk-button--start">
                Start registration
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </button>

        </form>

        <h3 class="govuk-heading-s">Existing producers</h3>

        <form method="POST" action="../defra-id/login">

            <button class="govuk-button govuk-!-margin-top-2 govuk-button--start">
                Sign in
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </button>

        </form>
        
    </div>
</div>

{% endblock %}