{% extends "layout.html" %}

{% set serviceName = "Extended producer responsibility" %}

{% block pageTitle %}
    Packaging waste: producer responsibilities | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Manufacturing</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Extended producer responsibility</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-l">Recycling obligations for packaging producers</h1>

        <p class="govuk-body-l">Obligated packaging producers must cover the costs of recycling any packaging they place on the UK market. </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <nav class="govuk-!-margin-bottom-8">
            <p>Contents</p>
            <ol class="govuk-list govuk-list--bullet">
                <li >
                    <a href="#">Check if you’re an obligated packaging producer</a>
                </li>
                <li>
                    <strong>Register as a packaging producer</strong>
                </li>
                <li>
                    <a href="#">Packaging producer charges</a>
                </li>
                <li>
                    <a href="#">Comply with your registration</a>
                </li>
                <li>
                    <a href="#">Penalties</a>
                </li>
                <li>
                    <a href="#">Public register and disclosure</a>
                </li>
                <li>
                    <a href="#">Contact your environmental regulator</a>
                </li>
                <li>
                    <a href="#">Legislation and regulations</a>
                </li>
            </ol>
        </nav>

        <h2 class="govuk-heading-l">Register as a packaging producer</h2>

        <p>We'll ask for information like your turnover, contact details and packaging activities.</p>

        <p>You do not need to use a compliance scheme to register or report your data.</p>

        <h3 class="govuk-heading-m">Register for the first time</h3>
        
        <p><a href="service-start-defra">Register as a packaging producer</a>.</p>

        <p>You only need to register once. However, if you’re obligated, you’ll need to do the following annually:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>report your packaging data</li>
            <li>pay the fees</li>
        </ul>

        <h3 class="govuk-heading-m">If you’ve already registered</h3>

        <p><a href="/v2/defra-id/login">Sign in to your existing account</a>.</p>
        
    </div>
</div>

{% endblock %}