
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
        Paycal projects
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      
      <br>
      <h2 class="govuk-heading-m">April 2024</h2>
      <p><strong>Service Administrator Calculator</strong> <a href="/paycal/defra-calculator/signin">Dashboard for Run the Calculator</a></p>
      <p><strong>Registration fee payments</strong> <a href="/paycal/payments/payment-details">for producers and complience scheme staff</a></p>
      
      <br>
      <hr>
    
     <br>
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
