
{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
        Calculator
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <br>
      <br>
      <br>
      <h2 class="govuk-heading-m">March 2025</h2>

      <p><strong>Build for March</strong> <a href="/paycal/final-march/index" style="padding-right: 5px;">Build flow</a>
      </p>
     <br>
     <hr>
     <h2 class="govuk-heading-m">December 2024</h2>

      <p><strong>Build for December</strong> <a href="/paycal/final-december-v2/dash-small-tiles" style="padding-right: 5px;">Build flow</a>
      </p>
     <br>

      
      <h2 class="govuk-heading-m">October 2024</h2>

      <p><strong>To show the flow </strong> <a href="/paycal/final-december-v2/dash-small-tiles" style="padding-right: 5px;">calculator running</a>
      </p>
     <br>
      
      <p><strong>To show the flow </strong> <a href="/paycal/final-december-no-errors/dash-small-tiles" style="padding-right: 5px;">with no errors</a>
  </p>
     <br>
     <p><strong>To show the flow </strong> <a href="/paycal/final-december-no-errors-calc/dash-small-tiles" style="padding-right: 5px;">with calculator run error</a>
     </p>
     <hr>
      <br>

      <br>

      <h2 class="govuk-heading-m">October 2024</h2>
      <p><strong>To show the flow for </strong> <a href="/paycal/final-december/dash-small-tiles">December</a></p>
     <br>
     <hr>
      <br>

      <h2 class="govuk-heading-m">October 2024</h2>
      <p><strong>To show the flow for the </strong> <a href="/paycal/new-ur/dash-small-tiles">service administrator</a></p>
     <br>
     <hr>
      <br>

      <h2 class="govuk-heading-m">September 2024 - Sprint six</h2>
      <p><strong>Final with classification</strong> <a href="/paycal/final/dash-small-tiles">Final for devs</a></p>
     <br>
     <hr>
      <br>
      <h2 class="govuk-heading-m">September 2024 - Sprint six</h2>
      <p><strong>Local authority upload errors</strong> <a href="/paycal/la-errors/dash-small-tiles">All in one place</a></p>
     <br>
     <hr>
     <br>
      <h2 class="govuk-heading-m">Last week of August - Sprint five</h2>
      <p><strong>Run the calculator journey</strong> <a href="/paycal/run-journey/dash-small-tiles">First try</a></p>
     <br>
     <hr>
     <br>
      <h2 class="govuk-heading-m">August 2024</h2>
      <p><strong>Small tiles</strong> <a href="/paycal/lapcap-data/dash-small-tiles">Small tiles</a></p>
      <p>Smaller tiles on the dashboard approved because the others took up too much of the page.</p>
     <br>
      <p><strong>No previous calculations on the dashboard </strong> <a href="/paycal/lapcap-data/dash-no">No runs shown</a></p>
     <br>
      <p><strong>Upload Local Authority disposal costs data </strong> <a href="/paycal/lapcap-data/signin">New tile</a></p>
    <p>Error pages change for size and format. No default parameters and no runs. New tile for uploading LA data.</p>
     <br>
     
      <p><strong>Fees and payments calculator</strong> <a href="/paycal/new-for-devs/signin">New for the developers</a></p>
    <p>Error pages for size, format and data problems. New success page for classification change success.</p>
     <br>
     <hr>
     <br>
      <h2 class="govuk-heading-m">26 July User research</h2>
      <p><strong>Calculator user research</strong> <a href="/paycal/user-research/signin">Session one</a></p>
      <br>
     <hr>
     <br>
      <h2 class="govuk-heading-m">July 2024</h2>
      <p><strong>Calculator December build</strong> <a href="/paycal/december-parameters/signin">Changing the default partameters</a></p>
      <br>
     <hr>
     <br>
      <h2 class="govuk-heading-m">June 2024</h2>
      <p><strong>Calculator</strong> <a href="/paycal/december-build-slim/signin">Making the service smaller</a></p>
      <p>Uploading the default parameter settings and parameters for the runs. Adding more parameters.</p>
      <p><strong>Calculator</strong> <a href="/paycal/december-build2/signin">Changes to the parameter flow</a></p>
      <p>Not forcing the superuser to visit every page and adding a filter to the run list page.</p>
      <p><strong>Calculator</strong> <a href="/paycal/december-build/signin">Build for December</a></p>

      <p><strong>Scheme Administrator - sprint zero</strong> <a href="/paycal/calculator-v1/signin">Run the calculator</a></p>
    <p>Concentrating on creating a journey that sends the final billing file to FFS.</p>
    <br>
    <hr>
    <br>
      <h2 class="govuk-heading-m">April 2024</h2>
      <p><strong>Scheme Administrator</strong> <a href="/paycal/defra-calculator/signin">Dashboard for the calculator</a></p>
      
      <br>
      <hr>

      
      
    </div>
</div>

{% endblock %}
