
{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
        Registration fee payment
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      
      
      <hr>
      <br>
      <h2 class="govuk-heading-m">28 October 2024 - Payment confirmation</h2>
      <p><strong>Registration fee payment</strong> <a href="/paycal/payments-only/payment-success">Success</a></p>
     
      <p><strong>Resubmission of packaging data payment</strong> <a href="/paycal/payments-only/payment-resubmission">Success</a>
      <p><strong>Registration and resubmission fee</strong> <a href="/paycal/payments-only/payment-failed4">Failed</a>  
        <br>
      <br>
      <hr>
      <br>
      <h2 class="govuk-heading-m">October 2024 - Adding the registration changes</h2>
      <p><strong>Latest flow</strong> <a href="/paycal/fees-submit/dashboard">Registration and payment flow</a></p>
     <br>
     <hr>
      
      <br>
      <h2 class="govuk-heading-m">October 2024</h2>
      <p><strong>Show error pages</strong> <a href="/paycal/fees-late/dashboard">Registration flow and payment errors</a></p>
     <br>
     <hr>
      <br>
      <h2 class="govuk-heading-m">September 2024 - Regulator service to change the registration fee costs</h2>
      <p>Note - changing the costs mid year would be a problem for users.</p>
      <p><strong>Flow for uploading a csv file</strong> <a href="/paycal/regulator/upload-file">Upload new fee cost</a></p>
    <!-- <p><strong>Flow for entering the costs in to a field</strong> <a href="/paycal/regulator/dash-cs">Enter</a></p>  -->
      
     <br>
     <hr>
      <br>
      <h2 class="govuk-heading-m">September 2024 - Fees</h2>
      <p><strong>Flow for user research</strong> <a href="/paycal/fees-ur/dashboard">Taken from the registration team</a></p>
     <br>
     <hr>

      
     <br>
     <h2 class="govuk-heading-m">August 2024 - Fees</h2>
     <p><strong>Registration fee payments</strong> <a href="/paycal/fee-payments/dashboard">Error pages</a></p>
    <p>Error pages. Service unavailable.</p>
     <br>
     <hr>
     <br>

     
      <h2 class="govuk-heading-m">April 2024</h2>
      <p><strong>Registration fee payments</strong> <a href="/paycal/payments/landing-page">for producers</a></p>
      
      <br>
      <hr>

      
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
