
{% extends "layout.html" %}

{% block pageTitle %}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
        Sign in fixes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">January 2025</h2>

     <p><strong>Timed out message</strong> <a href="/paycal/sign-in-fix/sign-in" style="padding-right: 5px;">Start</a>
     </p>
    <br>
     
      <h2 class="govuk-heading-m">December 2024</h2>

      <p><strong>Sign in flow</strong> <a href="/paycal/sign-in-fix/sign-in" style="padding-right: 5px;">Start</a>
      </p>
     <br><br>
     <h2 class="govuk-heading-m">January 2025</h2>

     <p><strong>Timed out message</strong> <a href="/paycal/sign-in-fix/sign-in" style="padding-right: 5px;">Start</a>
     </p>
    <br>
      
    </div>
</div>

{% endblock %}
